Localization
{
	ko
	{
		#LOC_DockingCam_1 = KURS 카메라 정보
		#LOC_DockingCam_10 = 요(Yaw)는 두 도킹 포트 사이의 수평 각도입니다
		#LOC_DockingCam_100 = 다양한 목적을 위한 외부 카메라입니다. '온보드', '나를 보기', '나를 따라오기', '대상 카메라' 모드를 제공합니다.
		#LOC_DockingCam_101 = 근거리의 다른 함선으로부터 명령을 수신할 수 있습니다
		#LOC_DockingCam_102 = 강제 종료
		#LOC_DockingCam_103 = 거짓
		#LOC_DockingCam_104 = 전력이 고갈되었습니다
		#LOC_DockingCam_105 = /4
		#LOC_DockingCam_106 = 온라인
		#LOC_DockingCam_107 = 참
		#LOC_DockingCam_108 = 없음
		#LOC_DockingCam_109 = 사진 출처:
		#LOC_DockingCam_11 = 피치(Pitch)는 두 도킹 포트 사이의 전후 각도입니다
		#LOC_DockingCam_110 = UT 기준
		#LOC_DockingCam_111 = 스크린샷 폴더에 사진이 저장되었습니다
		#LOC_DockingCam_112 = 년
		#LOC_DockingCam_113 = 시간
		#LOC_DockingCam_114 = 분
		#LOC_DockingCam_115 = 초
		#LOC_DockingCam_116 = 온보드 카메라
		#LOC_DockingCam_117 = OLDD
		#LOC_DockingCam_118 = 카메라입니다. 그냥 카메라입니다. 몇 가지 다른 시각 모드를 제공할 수 있습니다.
		#LOC_DockingCam_119 = 대상 스캔
		#LOC_DockingCam_12 = \n이 대체 모드는 포럼 사용자 @Dehim(GitHub 사용자 @Dehim1)이 작성하고 기여했습니다\n
		#LOC_DockingCam_120 = 데이터 삭제
		#LOC_DockingCam_121 = 데이터 획득
		#LOC_DockingCam_122 = 대상 스캔 중
		#LOC_DockingCam_123 = 대상으로부터 데이터를 수집하고 기록했습니다. 지구로 가져오십시오.
		#LOC_DockingCam_13 = 닫기
		#LOC_DockingCam_14 = 언로드 위치:
		#LOC_DockingCam_15 = 카메라 범위 내
		#LOC_DockingCam_16 = 도킹 카메라 범위 내
		#LOC_DockingCam_17 = 십자선 표시
		#LOC_DockingCam_18 = 요약 데이터 표시
		#LOC_DockingCam_19 = 상세 데이터 표시
		#LOC_DockingCam_2 = 대체 오버레이 도움말
		#LOC_DockingCam_20 = 회전 다이얼 표시
		#LOC_DockingCam_21 = 대체 오버레이 사용
		#LOC_DockingCam_22 = 일반
		#LOC_DockingCam_23 = 도킹 카메라 KURS 스타일
		#LOC_DockingCam_24 = 방송 신호 범위
		#LOC_DockingCam_25 = 커리어 모드에서 카메라는 처음에 제한된 기능만 가집니다
		#LOC_DockingCam_26 = 도킹 관련 정보를 나타내는 십자선
		#LOC_DockingCam_27 = 창 우측 상단에 거리 및 접근 속도 표시
		#LOC_DockingCam_28 = 창 우측 상단에 도킹 데이터 표시
		#LOC_DockingCam_29 = 창 하단에 다이얼 표시
		#LOC_DockingCam_3 = 선박
		#LOC_DockingCam_30 = 값이 너무 크면 실행 중에 자동으로 조정됩니다
		#LOC_DockingCam_31 = 개발 모드에서 카메라 위치를 조정할 때만 사용됩니다
		#LOC_DockingCam_32 = 오버레이
		#LOC_DockingCam_33 = 대체 오버레이
		#LOC_DockingCam_34 = abc
		#LOC_DockingCam_35 = vY:
		#LOC_DockingCam_36 = ElectricCharge
		#LOC_DockingCam_37 = 줌:
		#LOC_DockingCam_38 = 대상 표시
		#LOC_DockingCam_39 = 없음
		#LOC_DockingCam_4 = 선박들
		#LOC_DockingCam_40 = 방송 송신원:
		#LOC_DockingCam_41 = 십자선: 기본
		#LOC_DockingCam_42 = 십자선: DPAI
		#LOC_DockingCam_43 = 십자선: KURS
		#LOC_DockingCam_44 = 비행 데이터
		#LOC_DockingCam_45 = 회전 장치
		#LOC_DockingCam_46 = 도킹 포트
선택
		#LOC_DockingCam_47 = 노이즈
		#LOC_DockingCam_48 = 사진
		#LOC_DockingCam_49 = 도킹까지 남은 시간:
		#LOC_DockingCam_5 = 다음 필드가 표시됩니다:
		#LOC_DockingCam_50 = 대상:
		#LOC_DockingCam_51 = 대상이
도킹 포트가 아닙니다
		#LOC_DockingCam_52 = 도킹 포트
사용 가능
		#LOC_DockingCam_53 = 도킹 포트 포착됨
		#LOC_DockingCam_54 = 거리:
		#LOC_DockingCam_55 = 속도:
		#LOC_DockingCam_56 = dX:
		#LOC_DockingCam_57 = dY:
		#LOC_DockingCam_58 = dZ:
		#LOC_DockingCam_59 = 요(Yaw):
		#LOC_DockingCam_6 = dX, dY, dZ는 현재 도킹 포트를 기준으로 한 x, y, z 거리입니다.
		#LOC_DockingCam_60 = 피치:
		#LOC_DockingCam_61 = 롤:
		#LOC_DockingCam_62 = x 24
		#LOC_DockingCam_63 = Z축 회전:
		#LOC_DockingCam_64 = Y축 회전:
		#LOC_DockingCam_65 = 대상 광선
		#LOC_DockingCam_66 = 탄환:
		#LOC_DockingCam_67 = 대상
범위
벗어남
		#LOC_DockingCam_68 = 모드:
		#LOC_DockingCam_69 = ( x
		#LOC_DockingCam_7 = vX, vY, vZ는 각 평면에서의 속도입니다.
		#LOC_DockingCam_70 = 스캔할 대상 없음
		#LOC_DockingCam_71 = 탄환 소진됨
		#LOC_DockingCam_72 = 스캔할 전력 부족
		#LOC_DockingCam_73 = 활성 기체에 카메라 없음
		#LOC_DockingCam_74 = 나를 보기
		#LOC_DockingCam_75 = 초점 대상:

		#LOC_DockingCam_76 = 자동 줌
		#LOC_DockingCam_77 = 오프셋 X,Y,Z
		#LOC_DockingCam_78 = 대상 데이터
		#LOC_DockingCam_79 = 대상 오프셋
		#LOC_DockingCam_8 = 빨간색/녹색 십자선은 현재 속도를 나타냅니다. 대상 도킹 포트가 Z축 전방에 있으면 녹색으로, 후방에 있으면 빨간색으로 변합니다.
		#LOC_DockingCam_80 = 선택된
대상 없음
		#LOC_DockingCam_81 = 나를 보기
		#LOC_DockingCam_82 = 나를 따라오기
		#LOC_DockingCam_83 = 대상 카메라
		#LOC_DockingCam_84 = 온보드
		#LOC_DockingCam_85 = 스캔 완료됨
		#LOC_DockingCam_86 = 데이터 없음, 대상
		#LOC_DockingCam_87 = 범위 또는 시야 벗어남
		#LOC_DockingCam_88 = 연결 파트
		#LOC_DockingCam_89 = InFlightMarkerCam::Start
		#LOC_DockingCam_9 = 노란색/자홍색 십자선은 기본적으로 현재 속도를 나타냅니다. Z축 방향으로 전진 중일 때는 노란색으로, 후진 중일 때는 자홍색으로 변합니다. 두 십자선 모두 창 밖으로 나가지 않습니다.
		#LOC_DockingCam_90 = 켬
		#LOC_DockingCam_91 = 끔
		#LOC_DockingCam_92 = 4/4
		#LOC_DockingCam_93 = ElectricCharge.50
		#LOC_DockingCam_94 = CamExt
		#LOC_DockingCam_95 = 케이스
		#LOC_DockingCam_96 = 튜브
		#LOC_DockingCam_97 = 렌즈
		#LOC_DockingCam_98 = 캡
		#LOC_DockingCam_99 = 구체
	}
}
