Localization
{
	ko
	{
		#LOC_HeatControl_Subcategory_staticRadiators = 고정식 방열판
		#LOC_HeatControl_heat-exchanger-125-1_description = 이 중형 열교환기는 엔진과 같이 열을 발생시키는 부품의 열을 축적하는 데 사용할 수 있습니다. 하지만 뛰어난 방열판 역할을 하지는 못하므로, 최적의 냉각을 위해 방열 장치와 함께 사용해야 합니다.
		#LOC_HeatControl_heat-exchanger-125-1_tags = 냉각 교환 열 조절 온도 열 열제어 제어 저장
		#LOC_HeatControl_heat-exchanger-125-1_title = EBR-250 열교환기
		#LOC_HeatControl_heat-exchanger-25-1_description = 이 대형 열교환기는 엔진과 같이 열을 발생시키는 부품의 열을 축적하는 데 사용할 수 있습니다. 하지만 뛰어난 방열판 역할을 하지는 못하므로, 최적의 냉각을 위해 방열 장치와 함께 사용해야 합니다.
		#LOC_HeatControl_heat-exchanger-25-1_tags = 냉각 교환 열 조절 온도 열 열제어 제어 저장
		#LOC_HeatControl_heat-exchanger-25-1_title = EBR-1000 열교환기
		#LOC_HeatControl_manufacturer_kerbkastria_title = Kerb Kastria Inc.
		#LOC_HeatControl_manufacturer_postkerbin_title = Post Kerbin Mining Corporation
		#LOC_HeatControl_radiator-conformal-1_description = 0.625m 동체에 딱 맞게 설계된 아주 작은 컨포멀 방열판입니다.
		#LOC_HeatControl_radiator-conformal-1_tags = 냉각 전개 접기 열 조절 방열판 온도 열 열제어 제어 컨포멀 수납 펼치기
		#LOC_HeatControl_radiator-conformal-1_title = GR-50 고온 방열판
		#LOC_HeatControl_radiator-conformal-2_description = 1.25m 스택을 위해 특별히 설계된 소형 컨포멀 방열판입니다.
		#LOC_HeatControl_radiator-conformal-2_tags = 냉각 전개 접기 열 조절 방열판 온도 열 열제어 제어 컨포멀 수납 펼치기
		#LOC_HeatControl_radiator-conformal-2_title = GR-150 고온 방열판
		#LOC_HeatControl_radiator-conformal-3_description = 2.5m 및 3.75m 스택에 잘 어울리는 중형 컨포멀 방열판입니다. 펼쳤을 때의 물결 모양은 커빈의 해변으로 밀려오는 파도를 연상시키며, 냉각에 도움이 되기를 바랍니다.
		#LOC_HeatControl_radiator-conformal-3_tags = 냉각 전개 접기 열 조절 방열판 온도 열 열제어 제어 컨포멀 수납 펼치기
		#LOC_HeatControl_radiator-conformal-3_title = GR-1500 고온 방열판
		#LOC_HeatControl_radiator-fixed-1_description = 재치 있는 이름의 Beta는 고정식 표면 방열판으로, 전개하지 않아도 효과적으로 냉각합니다.
		#LOC_HeatControl_radiator-fixed-1_tags = 냉각 고정 열 조절 방열판 정적 온도 열 열제어 제어
		#LOC_HeatControl_radiator-fixed-1_title = VF-150 'Beta' 고온 방열판
		#LOC_HeatControl_radiator-fixed-2_description = Alpha 방열판은 매우 작지만, 적은 양의 열 방출이 필요할 때 효과적으로 냉각합니다.
		#LOC_HeatControl_radiator-fixed-2_tags = 냉각 고정 열 조절 방열판 정적 온도 열 열제어 제어
		#LOC_HeatControl_radiator-fixed-2_title = VF-25 'Alpha' 고온 방열 핀
		#LOC_HeatControl_radiator-fixed-3_description = VF-600은 운명의 산의 열기 속에서 단조되었으며, 그 결과 엄청난 양의 열을 방출할 수 있습니다.
		#LOC_HeatControl_radiator-fixed-3_tags = 냉각 고정 열 조절 방열판 정적 온도 열 열제어 제어
		#LOC_HeatControl_radiator-fixed-3_title = VF-600 'Gamma' 고온 방열판
		#LOC_HeatControl_radiator-fixed-4_description = 거대한 VF-2000은 모든 우주 프로그램의 열 관리 무기고에서 강력한 도구입니다.
		#LOC_HeatControl_radiator-fixed-4_tags = 냉각 고정 열 조절 방열판 정적 온도 열 열제어 제어
		#LOC_HeatControl_radiator-fixed-4_title = VF-2000 'Delta' 고온 방열판
		#LOC_HeatControl_radiator-microchannel-1_description = 수백만 개의 미세한 튜브를 통해 냉각수를 강제로 순환시키는 고급 방열판입니다. 성가신 원자로 열을 제거하는 데 탁월합니다. 질량 효율이 매우 높지만 파손되기 쉽습니다. 수납할 수 없습니다.
		#LOC_HeatControl_radiator-microchannel-1_tags = 냉각 전개 접기 열 조절 방열판 온도 열 열제어 제어 펼치기 그래핀 고급
		#LOC_HeatControl_radiator-microchannel-1_title = DF-4K 마이크로채널 그래핀 방열판
		#LOC_HeatControl_radiator-microchannel-2_description = 성가신 원자로 열을 제거하는 데 탁월한 초광폭 마이크로채널 방열판입니다. 질량 효율이 매우 높지만 파손되기 쉽습니다. 수납할 수 없습니다.
		#LOC_HeatControl_radiator-microchannel-2_tags = 냉각 전개 접기 열 조절 방열판 온도 열 열제어 제어 펼치기 그래핀 고급
		#LOC_HeatControl_radiator-microchannel-2_title = DF-8K 마이크로채널 그래핀 방열판
		#LOC_HeatControl_radiator-microchannel-fixed-1_description = 고급형 정적 마이크로채널 방열판입니다. 질량 효율이 매우 높고 파손되기 쉽습니다. 이 모델은 다재다능하여 자체를 포함한 거의 모든 표면에 장착할 수 있습니다. 방열 면적을 조절할 수 있는 여러 변형 모델이 제공됩니다.
		#LOC_HeatControl_radiator-microchannel-fixed-1_tags = 냉각 정적 접기 열 조절 방열판 온도 열 열제어 제어 펼치기 그래핀 고급
		#LOC_HeatControl_radiator-microchannel-fixed-1_title = EF-2K 마이크로채널 그래핀 방열 패널
		#LOC_HeatControl_radiator-microchannel-fixed-2_description = 고급형 정적 마이크로채널 방열판입니다. 이 모델은 뾰족한 미학을 위해 삼각형으로 설계되었으며 거의 모든 표면에 장착할 수 있습니다. 방열 면적을 조절할 수 있는 여러 변형 모델이 제공됩니다.
		#LOC_HeatControl_radiator-microchannel-fixed-2_title = EF-1K 마이크로채널 그래핀 방열판
		#LOC_HeatControl_radiator-surface-125-1_description = YF 시리즈 방열판은 우주선 동체에 매끄럽게 밀착되도록 설계되었습니다. 이를 위해 냉각 성능을 일부 희생했습니다. 이 모델은 1.25m 동체에 적합합니다.
		#LOC_HeatControl_radiator-surface-125-1_tags = 냉각 고정 열 조절 방열판 정적 온도 열 열제어 제어 평면 표면 랩
		#LOC_HeatControl_radiator-surface-125-1_title = YF-25 'Ezikiel' 고온 방열판
		#LOC_HeatControl_radiator-surface-25-1_description = YF 시리즈 방열판은 우주선 동체에 매끄럽게 밀착되도록 설계되었습니다. 이를 위해 냉각 성능을 일부 희생했습니다. 이 모델은 2.5m 동체에 적합합니다.
		#LOC_HeatControl_radiator-surface-25-1_tags = 냉각 고정 열 조절 방열판 정적 온도 열 열제어 제어 평면 표면 랩
		#LOC_HeatControl_radiator-surface-25-1_title = YF-75 'Volta' 고온 방열판
		#LOC_HeatControl_radiator-surface-375-1_description = YF 시리즈 방열판은 우주선 동체에 매끄럽게 밀착되도록 설계되었습니다. 이를 위해 냉각 성능을 일부 희생했습니다. 이 모델은 3.75m 동체에 적합합니다.
		#LOC_HeatControl_radiator-surface-375-1_tags = 냉각 고정 열 조절 방열판 정적 온도 열 열제어 제어 평면 표면 랩
		#LOC_HeatControl_radiator-surface-375-1_title = YF-150 'Amos' 고온 방열판
		#LOC_HeatControl_radiator-universal-1_description = 이 전개형 방열판을 부착하여 열 방출 시스템의 성능을 보강하십시오. 소형 원자로 및 소형 엔진 냉각에 유용합니다.
		#LOC_HeatControl_radiator-universal-1_tags = 냉각 전개 접기 열 조절 방열판 온도 열 열제어 제어 수납 펼치기
		#LOC_HeatControl_radiator-universal-1_title = XR-150 고온 방열판
		#LOC_HeatControl_radiator-universal-2_description = 이 방열판은 크기가 더 커서 소형 방열판보다 더 많은 냉각이 가능합니다. 중형 원자로 또는 고열 엔진 배열을 냉각하는 데 유용합니다.
		#LOC_HeatControl_radiator-universal-2_tags = 냉각 전개 접기 열 조절 방열판 온도 열 열제어 제어 수납 펼치기
		#LOC_HeatControl_radiator-universal-2_title = XR-1000 고온 방열판
		#LOC_HeatControl_radiator-universal-3_description = 이 복합 방열판 모델에 있는 3개의 중형 확장형 패널은 열 방출에 매우 효과적입니다.
		#LOC_HeatControl_radiator-universal-3_tags = 냉각 전개 접기 열 조절 방열판 온도 열 열제어 제어 수납 펼치기
		#LOC_HeatControl_radiator-universal-3_title = XR-1250 고온 방열판
		#LOC_HeatControl_switcher_size_15_detail = <b>핵심 열 냉각</b>: 330 kW
		#LOC_HeatControl_switcher_size_15_summary = 15도 각도
		#LOC_HeatControl_switcher_size_15_title = 15도
		#LOC_HeatControl_switcher_size_22_detail = <b>핵심 열 냉각</b>: 500 kW
		#LOC_HeatControl_switcher_size_22_summary = 22.5도 각도
		#LOC_HeatControl_switcher_size_22_title = 22.5도
		#LOC_HeatControl_switcher_size_30_detail = <b>핵심 열 냉각</b>: 660 kW
		#LOC_HeatControl_switcher_size_30_summary = 30도 각도
		#LOC_HeatControl_switcher_size_30_title = 30도
		#LOC_HeatControl_switcher_size_45_detail = <b>핵심 열 냉각</b>: 1 MW
		#LOC_HeatControl_switcher_size_45_summary = 45도 각도
		#LOC_HeatControl_switcher_size_45_title = 45도
		#LOC_HeatControl_switcher_size_double_detail = <b>핵심 열 냉각</b>: 4 MW
		#LOC_HeatControl_switcher_size_double_summary = 이중 길이 방열판
		#LOC_HeatControl_switcher_size_double_title = 이중
		#LOC_HeatControl_switcher_size_half_detail = <b>핵심 열 냉각</b>: 1 MW
		#LOC_HeatControl_switcher_size_half_summary = 정사각형 방열판
		#LOC_HeatControl_switcher_size_half_title = 절반
		#LOC_HeatControl_switcher_size_square_detail = <b>핵심 열 냉각</b>: 2 MW
		#LOC_HeatControl_switcher_size_square_summary = 정사각형 방열판
		#LOC_HeatControl_switcher_size_square_title = 정사각형
		#LOC_HeatControl_switcher_size_third_detail = <b>핵심 열 냉각</b>: 660 kW
		#LOC_HeatControl_switcher_size_third_summary = 1/3 길이 방열판
		#LOC_HeatControl_switcher_size_third_title = 1/3
		#LOC_HeatControl_switcher_size_title = 구성
		#LOC_HeatControl_switcher_size_twothirds_detail = <b>핵심 열 냉각</b>: 1.3 MW
		#LOC_HeatControl_switcher_size_twothirds_summary = 2/3 길이 방열판
		#LOC_HeatControl_switcher_size_twothirds_title = 2/3
	}
}
