Localization
{
	ko
	{
		#EL_Auger_desc = 확립된 채굴 작업을 위한 대형 오거입니다. 부피가 크지만, 광물을 확실하게 채굴할 수 있습니다.
		#EL_Auger_title = KS-A-66 오거
		#EL_ConverterName_MetalOre = 금속 광물
		#EL_ConverterName_PartProduction = 부품 생산
		#EL_ConverterName_ScrapMetalRemelter = 고철 재용해기
		#EL_ConverterName_Smelter = 제련기
		#EL_ELConstructionDrone_desc = Von Keumann 건설 드론은 KS-WS-10-5 건설 작업장과 동일한 기능을 제공합니다. 생산성은 다소 떨어지지만, 승무원을 고려할 필요가 없어 질량을 절약할 수 있습니다. 더 이상 화장실 갈 일도, 노사 분규도 없습니다!
		#EL_ELConstructionDrone_title = 건설 드론
		#EL_ELFurnace_desc = 오래된 밸브와 파이프라인 고철로 제작된 이 최첨단 진공 제련기는 어떤 환경에서든 광물을 제련할 수 있는 저렴한 솔루션입니다.
		#EL_ELFurnace_title = H.E.A.T 이동식 제련기
		#EL_ELLandingPad_desc = 새로운 우주선이 착륙할 장소를 제공합니다. 우주선 건조에도 사용할 수 있습니다.
		#EL_ELLandingPad_title = KS-LP 착륙 패드
		#EL_ELLaunchpad_desc = 행성 밖에서 로켓을 건조하십시오!
		#EL_ELLaunchpad_title = 발사대
		#EL_ELMallet_desc = 측량 말뚝을 지면에 박을 때 사용합니다. 손가락을 조심하십시오.
		#EL_ELMallet_title = KS 망치
		#EL_ELOrbitalDock_desc = 궤도에서 사용하도록 최적화된 소형 발사대입니다. 작은 크기에도 불구하고 대규모 궤도 건설 프로젝트를 모두 수행할 수 있습니다.
		#EL_ELOrbitalDock_title = KS-OCD 궤도 건설 도크
		#EL_ELRecycleBin_Large_desc = 통에 들어오는 모든 것을 재활용합니다. 놀이터 장비로 사용하지 마십시오.
		#EL_ELRecycleBin_Large_title = KCC 대형 재활용 통
		#EL_ELRecycleBin_desc = 통에 들어오는 모든 것을 재활용합니다. 놀이터 장비로 사용하지 마십시오.
		#EL_ELRecycleBin_title = KCC 재활용 통
		#EL_ELRunway_desc = 행성 밖에서 우주 비행기를 건조하십시오!
		#EL_ELRunway_title = 활주로
		#EL_ELSurveyStake_desc = 지상 건설 프로젝트의 위치를 표시하는 데 사용합니다. 뾰족한 끝을 지면으로 향하게 하십시오. 눈을 찌르지 않도록 주의하십시오.
		#EL_ELSurveyStake_title = KS-BBQ 측량 말뚝
		#EL_ELTankLargeMTL_desc = 정제된 금속을 담는 대형 컨테이너입니다. 저장하기에는 좋지만, 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankLargeMTL_title = MSV-2000 금속 컨테이너
		#EL_ELTankLargeORE_desc = 광물을 담는 대형 컨테이너입니다. 저장하기에는 좋지만, 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankLargeORE_title = MSV-2000 금속 광물 컨테이너
		#EL_ELTankLargeRP_desc = 로켓 부품을 담는 대형 컨테이너입니다. 저장하거나 궤도로 로켓 부품을 보낼 때 유용합니다.
		#EL_ELTankLargeRP_title = MSV-2000 로켓 부품 컨테이너
		#EL_ELTankLargeSCRAP_desc = 고철을 담는 대형 컨테이너입니다. 저장하기에는 좋지만, 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankLargeSCRAP_title = MSV-2000 고철 컨테이너
		#EL_ELTankMedMTL_desc = 정제된 금속을 담는 중형 컨테이너입니다. 저장하기에는 좋지만, 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankMedMTL_title = MSV-1000 금속 컨테이너
		#EL_ELTankMedORE_desc = 광물을 담는 중형 컨테이너입니다. 저장하기에는 좋지만, 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankMedORE_title = MSV-1000 금속 광물 컨테이너
		#EL_ELTankMedRP_desc = 로켓 부품을 담는 중형 컨테이너입니다. 저장하거나 궤도로 로켓 부품을 보낼 때 유용합니다.
		#EL_ELTankMedRP_title = MSV-1000 로켓 부품 컨테이너
		#EL_ELTankMedSCRAP_desc = 고철을 보관하는 중간 크기의 컨테이너입니다. 보관용으로는 좋지만 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankMedSCRAP_title = MSV-1000 고철 컨테이너
		#EL_ELTankSmlMTL_desc = 정제된 금속을 보관하는 소형 컨테이너입니다. 보관용으로는 좋지만 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankSmlMTL_title = MSV-500 금속 컨테이너
		#EL_ELTankSmlORE_desc = 원석 광물을 보관하는 소형 컨테이너입니다. 보관용으로는 좋지만 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankSmlORE_title = MSV-500 광물 컨테이너
		#EL_ELTankSmlRP_desc = 로켓 부품을 보관하는 소형 컨테이너입니다. 보관 및 발사 용도로 적합합니다.
		#EL_ELTankSmlRP_title = MSV-500 로켓 부품 컨테이너
		#EL_ELTankSmlSCRAP_desc = 고철을 보관하는 소형 컨테이너입니다. 보관용으로는 좋지만 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankSmlSCRAP_title = MSV-500 고철 컨테이너
		#EL_ELTankXLargeMTL_desc = 정제된 금속을 보관하는 가장 큰 크기의 컨테이너입니다. 보관용으로는 좋지만 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankXLargeMTL_title = MSV-4000 금속 컨테이너
		#EL_ELTankXLargeORE_desc = 광물을 보관하는 가장 큰 크기의 컨테이너입니다. 보관용으로는 좋지만 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankXLargeORE_title = MSV-4000 광물 컨테이너
		#EL_ELTankXLargeRP_desc = 정제된 금속을 보관하는 가장 큰 크기의 컨테이너입니다. 보관용으로 좋으며 로켓 부품을 궤도로 보내는 데 유용합니다.
		#EL_ELTankXLargeRP_title = MSV-4000 로켓 부품 컨테이너
		#EL_ELTankXLargeSCRAP_desc = 고철을 보관하는 가장 큰 크기의 컨테이너입니다. 보관용으로는 좋지만 발사 효율은 다소 떨어집니다. 그래도 발사는 가능합니다.
		#EL_ELTankXLargeSCRAP_title = MSV-4000 고철 컨테이너
		#EL_ELWorkshop_desc = 커벌들을 모아두면 그들에게서 어느 정도 작업 성과를 얻을 수 있을지도 모릅니다.
		#EL_ELWorkshop_title = KS-WS-10-5 건설 작업장
		#EL_EventGUIName_ClosePad = 발사대 닫기
		#EL_EventGUIName_OpenPad = 발사대 열기
		#EL_EventGUIName_StartAuger = 오거 가동
		#EL_EventGUIName_StartMetalConversion = 금속 변환 시작
		#EL_EventGUIName_StartPartProduction = 부품 생산 시작
		#EL_EventGUIName_StartScrapMetalRemelter = 고철 재용해 시작
		#EL_EventGUIName_StopAuger = 오거 정지
		#EL_EventGUIName_StopMetalConversion = 금속 변환 정지
		#EL_EventGUIName_StopPartProduction = 부품 생산 정지
		#EL_EventGUIName_StopScrapMetalRemelter = 고철 재용해 정지
		#EL_HexCanMetalHuge_desc = 금속을 보관하는 6m 길이의 자원 컨테이너입니다.
		#EL_HexCanMetalHuge_title = HexCan-Metal-Huge
		#EL_HexCanMetalLarge_desc = 금속을 보관하는 3m 길이의 자원 컨테이너입니다.
		#EL_HexCanMetalLarge_title = HexCan-Metal-Large
		#EL_HexCanMetalSmall_desc = 금속을 보관하는 0.75m 길이의 자원 컨테이너입니다.
		#EL_HexCanMetalSmall_title = HexCan-Metal-Small
		#EL_HexCanMetal_desc = 금속을 보관하는 1.5m 길이의 자원 컨테이너입니다.
		#EL_HexCanMetal_title = HexCan-Metal
		#EL_HexCanOreHuge_desc = 광물을 보관하는 6m 길이의 자원 컨테이너입니다.
		#EL_HexCanOreHuge_title = HexCan-MetalOre-Huge
		#EL_HexCanOreLarge_desc = MetalOre를 보관하는 3m 길이의 자원 용기입니다.
		#EL_HexCanOreLarge_title = HexCan-MetalOre-대형
		#EL_HexCanOreSmall_desc = MetalOre를 보관하는 0.75m 길이의 자원 용기입니다.
		#EL_HexCanOreSmall_title = HexCan-MetalOre-소형
		#EL_HexCanOre_desc = MetalOre를 보관하는 1.5m 길이의 자원 용기입니다.
		#EL_HexCanOre_title = HexCan-MetalOre
		#EL_HexCanRocketPartsHuge_desc = RocketParts를 보관하는 6m 길이의 자원 용기입니다.
		#EL_HexCanRocketPartsHuge_title = HexCan-RocketParts-초대형
		#EL_HexCanRocketPartsLarge_desc = RocketParts를 보관하는 3m 길이의 자원 용기입니다.
		#EL_HexCanRocketPartsLarge_title = HexCan-RocketParts-대형
		#EL_HexCanRocketPartsSmall_desc = RocketParts를 보관하는 0.75m 길이의 자원 용기입니다.
		#EL_HexCanRocketPartsSmall_title = HexCan-RocketParts-소형
		#EL_HexCanRocketParts_desc = RocketParts를 보관하는 1.5m 길이의 자원 용기입니다.
		#EL_HexCanRocketParts_title = HexCan-RocketParts
		#EL_Magnetometer_desc = 광물 매장지 주변과 같은 자기장을 감지할 수 있는 유용한 장치입니다. 경고: 자석 근처에 두지 마십시오!
		#EL_Magnetometer_title = BG-MGN 자기계
		#EL_MetalOre_displayName = 금속 광물
		#EL_Metal_displayName = 금속
		#EL_OMD_desc = 커벌 천체물리학자들은 표면 질량의 불규칙성으로 인해 우주선이 서로 멀어지거나 가까워질 수 있다는 사실을 발견하고 당황했습니다. Bagel은 이 기회를 포착하여 광물 매장지로 인한 질량 집중을 감지하는 OMD를 개발했습니다.
		#EL_OMD_title = BG-OMD2 궤도 질량 탐지기
		#EL_RocketBuilder_desc = 작업을 시작할 시간입니다!.. 저 경치를 보십시오!
		#EL_RocketBuilder_title = 커벌 로켓 작업대
		#EL_RocketParts_displayName = 로켓 부품
		#EL_Rocketparts7x_desc = 1.25m 시스템에서 편리하게 사용할 수 있도록 용접된 7개의 로켓 부품 헥스캔입니다.
		#EL_Rocketparts7x_title = 7x 로켓 부품 헥스캔
		#EL_RocketpartsHuge7x_desc = 3.75m 시스템에서 편리하게 사용할 수 있도록 용접된 7개의 초대형 로켓 부품 헥스캔입니다.
		#EL_RocketpartsHuge7x_title = 7x 초대형 로켓 부품 헥스캔
		#EL_RocketpartsLarge7x_desc = 2.5m 시스템에서 편리하게 사용할 수 있도록 용접된 7개의 대형 로켓 부품 헥스캔입니다.
		#EL_RocketpartsLarge7x_title = 7x 대형 로켓 부품 헥스캔
		#EL_RocketpartsSmall7x_desc = 0.625m 시스템에서 편리하게 사용할 수 있도록 용접된 7개의 소형 로켓 부품 헥스캔입니다.
		#EL_RocketpartsSmall7x_title = 7x 소형 로켓 부품 헥스캔
		#EL_ScrapMetal_displayName = 고철
		#EL_SmallAuger_desc = 반이동식 채굴 작업에 적합한 오거입니다.
		#EL_SmallAuger_title = KS-A-33 소형 오거
		#EL_SmallSmelter_desc = 집에서 로켓을 만들면서 화재를 더 쉽게 일으킬 수 있도록 설계된 소형 제련기입니다.
		#EL_SmallSmelter_title = KS-S-05 제련기
		#EL_Smelter_desc = 이 혁신적인 기술은 광물에서 금속을 추출하는 '모닥불' 방식에서 크게 발전한 것으로, Bagel에게 '더 이상 가장 치명적인 부품 제작자가 아님'이라는 영예로운 칭호를 안겨주었습니다.
		#EL_Smelter_title = KS-S-10 제련기
		#EL_TargetName_ConstructionDock = 건설 도크
		#EL_TargetName_RecyclingBin = 재활용 통
		#EL_TinyAuger_desc = 제한된 보급품으로 채굴 작업을 시작하기에 완벽한 오거입니다. 작고 가벼워 현장에서 보급품으로 제작할 수 있으며, 합리적인 시간 내에 더 큰 장치를 제작할 수 있을 만큼 빠릅니다.
		#EL_TinyAuger_title = KS-A-08 소형 오거
		#EL_TinySmelter_desc = 집에서 로켓을 제작하는 동안 화재를 더 쉽게 일으키도록 설계된 소형 제련소입니다.
		#EL_TinySmelter_title = KS-S-01 제련소
		#SimpleConstruction_Metal_abbv = MTL
		#SimpleConstruction_Metal_displayname = 금속
		#SimpleConstruction_RocketParts_abbv = RP
		#SimpleConstruction_RocketParts_displayname = 로켓 부품
	}
}
