Localization
{
	ko
	{
		#LOC_Restock_description-FuelCellArray = 작은 연료 전지 하나로 충분하지 않다면, 큰 연료 전지 세 개를 사용해보는 건 어떨까요? 연료 전지 배열은 대용량의 안정적인 전력이 필요한 상황에 이상적입니다. 작은 연료 전지와 마찬가지로, 이 배열은 연료와 산화제를 에너지로 변환하여 작동합니다.
		#LOC_Restock_scanner_screen_off = 화면 끔
		#LOC_Restock_scanner_screen_on = 화면 켬
		#LOC_Restock_scanner_screen_toggle = 화면 전환
		#LOC_Restock_variant-antenna_axial = 축 방향
		#LOC_Restock_variant-antenna_axial_reverse = 축 방향 (반전)
		#LOC_Restock_variant-antenna_compact = 소형
		#LOC_Restock_variant-antenna_radial = 방사형
		#LOC_Restock_variant-antenna_radial_reverse = 방사형 (반전)
		#LOC_Restock_variant-antenna_size0 = 0.625m
		#LOC_Restock_variant-antenna_size1 = 1.25m
		#LOC_Restock_variant-antenna_truss = 트러스
		#LOC_Restock_variant-decoupler_grey-orange = 주황/회색
		#LOC_Restock_variant-decoupler_metal = 금속
		#LOC_Restock_variant-engine_boattail = 보트테일
		#LOC_Restock_variant-engine_boattail_dark = 보트테일 (어두움)
		#LOC_Restock_variant-engine_boattail_grey-orange = 보트테일 (주황/회색)
		#LOC_Restock_variant-engine_boattail_metal = 보트테일 (금속)
		#LOC_Restock_variant-engine_boattail_orange = 보트테일 (주황)
		#LOC_Restock_variant-engine_boattail_size1 = 보트테일 (1.25m)
		#LOC_Restock_variant-engine_boattail_size1_grey-orange = 보트테일 (1.25m, 주황/회색)
		#LOC_Restock_variant-engine_boattail_size1_white = 보트테일 (1.25m, 흰색)
		#LOC_Restock_variant-engine_boattail_size1p5 = 보트테일 (1.875m)
		#LOC_Restock_variant-engine_boattail_size1p5_grey-orange = 보트테일 (1.875m, 주황/회색)
		#LOC_Restock_variant-engine_boattail_size1p5_white = 보트테일 (1.875m, 흰색)
		#LOC_Restock_variant-engine_boattail_size2_grey-orange = 보트테일 (2.5m, 주황/회색)
		#LOC_Restock_variant-engine_boattail_size2_white = 보트테일 (2.5m, 흰색)
		#LOC_Restock_variant-engine_boattail_size3_grey-orange = 보트테일 (3.75m, 주황/회색)
		#LOC_Restock_variant-engine_boattail_size3_white = 보트테일 (3.75m, 흰색)
		#LOC_Restock_variant-engine_boattail_white = 보트테일 (흰색)
		#LOC_Restock_variant-engine_compact = 소형
		#LOC_Restock_variant-engine_compact_grey-orange = 소형 (주황/회색 덮개)
		#LOC_Restock_variant-engine_compact_white = 소형 (흰색 덮개)
		#LOC_Restock_variant-engine_docking = 도킹 포트
		#LOC_Restock_variant-engine_pod-grey = 포드 (회색)
		#LOC_Restock_variant-engine_pod-orange = 포드 (주황)
		#LOC_Restock_variant-engine_quadbell = 쿼드
		#LOC_Restock_variant-engine_quadbell_compact = 쿼드 소형
		#LOC_Restock_variant-engine_quadbell_compact_grey-orange = 쿼드 소형 (주황/회색 덮개)
		#LOC_Restock_variant-engine_quadbell_compact_white = 쿼드 소형 (흰색 덮개)
		#LOC_Restock_variant-engine_quadbell_grey-orange = 쿼드 (주황/회색 덮개)
		#LOC_Restock_variant-engine_quadbell_white = 쿼드 (흰색 덮개)
		#LOC_Restock_variant-engine_radial = 방사형
		#LOC_Restock_variant-engine_shroud = 덮개형
		#LOC_Restock_variant-engine_shroud_grey-orange = 금속 덮개
		#LOC_Restock_variant-engine_shroud_grey-orange-alt = 주황/회색 덮개
		#LOC_Restock_variant-engine_shroud_white = 흰색 덮개
		#LOC_Restock_variant-engine_shroud_wide = 넓은 덮개형
		#LOC_Restock_variant-engine_singlebell = 싱글
		#LOC_Restock_variant-engine_singlebell_compact = 싱글 컴팩트
		#LOC_Restock_variant-engine_singlebell_compact_grey-orange = 싱글 컴팩트 (주황/회색 덮개)
		#LOC_Restock_variant-engine_singlebell_compact_white = 싱글 컴팩트 (흰색 덮개)
		#LOC_Restock_variant-engine_singlebell_grey-orange = 싱글 (주황/회색 덮개)
		#LOC_Restock_variant-engine_singlebell_white = 싱글 (흰색 덮개)
		#LOC_Restock_variant-engine_size0 = 0.625m
		#LOC_Restock_variant-engine_size0_grey-orange = 0.625m (주황/회색 덮개)
		#LOC_Restock_variant-engine_size0_white = 0.625m (흰색 덮개)
		#LOC_Restock_variant-engine_size1 = 1.25m
		#LOC_Restock_variant-engine_size1_grey-orange = 1.25m (주황/회색 덮개)
		#LOC_Restock_variant-engine_size1_white = 1.25m (흰색 덮개)
		#LOC_Restock_variant-engine_size1p5 = 1.875m
		#LOC_Restock_variant-engine_size1p5_grey-orange = 1.875m (주황/회색 덮개)
		#LOC_Restock_variant-engine_size1p5_white = 1.875m (흰색 덮개)
		#LOC_Restock_variant-engine_size2 = 2.5m
		#LOC_Restock_variant-engine_size2_grey-orange = 2.5m (주황/회색 덮개)
		#LOC_Restock_variant-engine_size2_white = 2.5m (흰색 덮개)
		#LOC_Restock_variant-engine_size3 = 3.75m
		#LOC_Restock_variant-engine_tankbutt_size2_grey-orange = 탱크 버트 (2.5m, 주황/회색)
		#LOC_Restock_variant-engine_tankbutt_size2_white = 탱크 버트 (2.5m, 흰색)
		#LOC_Restock_variant-engine_tankbutt_white = 탱크 버트 (흰색)
		#LOC_Restock_variant-gold-truss = 골드 (장착형)
		#LOC_Restock_variant-heat-shield-black = 검은색
		#LOC_Restock_variant-heat-shield-brown = 클래식
		#LOC_Restock_variant-heat-shield-red = 도색 안 됨
		#LOC_Restock_variant-linear-rcs-bare = 노출형
		#LOC_Restock_variant-linear-rcs-pod = 포드형
		#LOC_Restock_variant-mounting_classic = 클래식
		#LOC_Restock_variant-mounting_classic_grey-orange = 클래식 (주황/회색 덮개)
		#LOC_Restock_variant-mounting_classic_white = 클래식 (흰색 덮개)
		#LOC_Restock_variant-mounting_compact = 컴팩트
		#LOC_Restock_variant-mounting_mounted = 장착형
		#LOC_Restock_variant-mounting_truss = 트러스형
		#LOC_Restock_variant-pod_bare = 기본형
		#LOC_Restock_variant-pod_fabric_beige = 베이지색 패딩
		#LOC_Restock_variant-pod_fabric_green = 녹색 패딩
		#LOC_Restock_variant-pod_fabric_white = 흰색 패딩
		#LOC_Restock_variant-probe-bare = 기본형
		#LOC_Restock_variant-probe-gold = 금색
		#LOC_Restock_variant-probe-silver = 은색
		#LOC_Restock_variant-radiator_basic = 기본형
		#LOC_Restock_variant-radiator_compact = 소형
		#LOC_Restock_variant-radiator_flat = 평면형
		#LOC_Restock_variant-service-bay-hollow = 캡 없음
		#LOC_Restock_variant-service-bay-opaque = 솔리드 캡
		#LOC_Restock_variant-service-bay-open = 개방형
		#LOC_Restock_variant-service-bay-shelves = 선반형
		#LOC_Restock_variant-service-bay-transparent = 트러스 캡
		#LOC_Restock_variant-service-bay-tunnel = 도킹 터널
		#LOC_Restock_variant-silver-truss = 은색 (장착형)
		#LOC_Restock_variant-stayputnik-bare = 미장착형
		#LOC_Restock_variant-stayputnik-pod = 장착형
		#LOC_Restock_variant-strut_classic_metal = 금속
		#LOC_Restock_variant-strut_classic_white = 흰색
		#LOC_Restock_variant-strut_compact_metal = 금속 (소형)
		#LOC_Restock_variant-strut_compact_white = 흰색 (소형)
		#LOC_Restock_variant-surface_basic = 기본형
		#LOC_Restock_variant-surface_black = 검은색
		#LOC_Restock_variant-surface_blue = 파란색
		#LOC_Restock_variant-surface_metal = 금속
		#LOC_Restock_variant-surface_thermalblankets = 단열형
		#LOC_Restock_variant-surface_truss = 트러스형
		#LOC_Restock_variant-surface_warningStripes = 경고 줄무늬
		#LOC_Restock_variant-surface_white = 흰색
		#LOC_Restock_variant-surface_yellow = 노란색
		#LOC_Restock_variant-telescope_bare = 기본형
		#LOC_Restock_variant-telescope_shielded = 차폐형
		#LOC_Restock_variant-tube-length-long = 긴형
		#LOC_Restock_variant-tube-length-long-alt = 긴형 (대체)
		#LOC_Restock_variant-tube-length-med = 중간형
		#LOC_Restock_variant-tube-length-med-alt = 중간형 (대체)
		#LOC_Restock_variant-tube-length-med-long = 중장형
		#LOC_Restock_variant-tube-length-med-long-alt = 중장형 (대체)
		#LOC_Restock_variant-tube-length-med-short = 중단형
		#LOC_Restock_variant-tube-length-med-short-alt = 중단형 (대체)
		#LOC_Restock_variant-tube-length-short = 단형
		#LOC_Restock_variant-tube-length-short-alt = 단형 (대체)
		#LOC_Restock_variant-wheel_bare = 노출형
		#LOC_Restock_variant-wheel_broken = 파손됨
	}
}
