Localization
{
	ko
	{
		#DQS_AutoSave = 자동 저장
		#DQS_AutoSaveEnable = 자동 저장 활성화
		#DQS_AutoSaveFreq = 자동 저장 주기 (분)
		#DQS_AutoSaveOnStart = 장면 불러오기 시 자동 저장
		#DQS_AutoSaveOnStart_t = 장면 불러오기 시 즉시 자동 저장하거나 지정된 시간이 지난 후 저장합니다
		#DQS_MaxAutoSaveCount = 자동 저장 최대 개수
		#DQS_MaxAutoSaveCount_t = 불필요한 저장 파일을 삭제합니다. 음수일 경우 모든 저장 파일을 유지합니다
		#DQS_MaxQuickSaveCount = 빠른 저장 최대 개수
		#DQS_MaxQuickSaveCount_t = 불필요한 저장 파일을 삭제합니다. 음수일 경우 모든 저장 파일을 유지합니다
		#DQS_Note1 = :추가 설정은 GameData/DatedQuickSaves/extra-settings.cfg를 확인하십시오
		#DQS_Note2 = persistent.sfs에 대한 기본 자동 저장의 숨겨진 설정입니다 (settings.cfg에서 찾을 수 있습니다)
		#DQS_QuickSave = 빠른 저장
		#DQS_QuickSaveDelay = 빠른 저장 지연 시간 (밀리초)
		#DQS_QuickSaveDelay_t = F5 키를 누른 후 날짜가 포함된 빠른 저장을 시도하기까지의 지연 시간 (게임 내 밀리초)
		#DQS_QuickSaveEnable = 빠른 저장 활성화
		#DQS_ReloadExtra = extra-settings.cfg 다시 불러오기
		#DQS_ReloadExtra_t = 활성화 후 수락하면 extra-settings.cfg만 다시 불러옵니다 (MM 패치는 무시됩니다)
		#DQS_StockAutosaveInterval = 기본 자동 저장 주기 (분)
		#DQS_StockAutosaveInterval_t = 기본 자동 저장 간격
		#DQS_StockAutosaveShortInterval = 기본 자동 저장 짧은 주기 (초)
		#DQS_StockAutosaveShortInterval_t = 첫 번째 저장 시도가 실패할 경우를 대비한 재시도 시간 간격입니다.
자동 저장이 실패하면 성공할 때까지 이 간격으로 계속 재시도합니다.
		#DQS_StockQuickSaveRename = 기본 빠른 저장 이름 변경
		#DQS_StockQuickSaveRename_t = quicksave.sfs의 이름을 변경하거나 복사합니다
 - "이름 변경"은 더 빠르지만 F9 빠른 불러오기를 사용할 수 없습니다
 - "복사"는 F9 빠른 불러오기를 지원합니다.
	}
}
