Localization
{
	ko
	{
		#KE_ER7500_description = ER-7500은 커벌 엔지니어링 시스템의 근본으로 돌아갑니다. 이 장치는 표준 하드 드라이브보다 최소 1x10^-5배 빠르다는 것이 증명되었습니다... 아무에게도 말하지 마십시오. 사실 이건 그냥 멋진 상자에 반짝이는 조명과 돌아가는 부품을 달아놓은 칩 버전일 뿐입니다.
		#KE_ER7500_manufacturer = CYBUTEK Solutions Ltd.
		#KE_ER7500_tags = ker engi redux compu flight tape
		#KE_ER7500_title = ER-7500 컴퓨터 비행 장치
		#KE_ES_description = 커벌 엔지니어링 시스템은 인상적인 128비트의 솔리드 스테이트 저장 공간과 디지털 시계 3개는 거뜬히 구동할 수 있는 처리 능력을 자랑합니다.
		#KE_ES_manufacturer = CYBUTEK Solutions Ltd.
		#KE_ES_tags = ker engi redux compu flight chip
		#KE_ES_title = 커벌 엔지니어링 시스템
	}
}
