Localization
{
	ko
	{
		#KRASH_Altitude = 고도:
		#KRASH_AtmosphericMultiplier = 대기 배율:
		#KRASH_Button_Accept = 수락
		#KRASH_Button_All = 전체
		#KRASH_Button_Cancel = 취소
		#KRASH_Button_Delete = 삭제
		#KRASH_Button_DisableTestFlight = TestFlight 비활성화
		#KRASH_Button_DisableTestLite = TestLite 비활성화
		#KRASH_Button_Landed = 착륙
		#KRASH_Button_Moons = 위성
		#KRASH_Button_OrbitSelection = 궤도 선택
		#KRASH_Button_Planets = 행성
		#KRASH_Button_Reset = 초기화
		#KRASH_Button_RestartSimulation = <color=orange>시뮬레이션 재시작</color>
		#KRASH_Button_ResumeSimulation = 시뮬레이션 재개
		#KRASH_Button_Save = 저장
		#KRASH_Button_Select = 선택
		#KRASH_Button_Set = 설정
		#KRASH_Button_Settings = 설정
		#KRASH_Button_StartSimulation = 시뮬레이션 시작
		#KRASH_Button_TerminateSimulation = <color=orange>시뮬레이션 종료</color>
		#KRASH_ConfigName = 설정 이름:
		#KRASH_ConfigNameNotGood = <-----> 저장하려면 이름을 변경해야 합니다
		#KRASH_ConfigWindow_title = KRASH 설정 창
		#KRASH_Continuesimifnocash = 자금 부족 시 시뮬레이션 계속
		#KRASH_CostOptions = 비용 옵션
		#KRASH_DefaultMaxSimCost = 기본 최대 시뮬레이션 비용:
		#KRASH_DryMass = 건조 질량:
		#KRASH_EstAtmoSimMinCost = 예상 대기 시뮬레이션 분당 비용:
		#KRASH_EstSimMinCost = 예상 시뮬레이션 분당 비용:
		#KRASH_FlatPer_minuteCosts = 고정 분당 비용:
		#KRASH_FlatSetupCosts = 고정 설정 비용:
		#KRASH_FuelMass = 연료 질량:
		#KRASH_GamePaused = 게임 일시 정지
		#KRASH_HorizontalPosition = 수평 위치:
		#KRASH_Latitude = 위도:
		#KRASH_LaunchSiteSelector_title = 발사장 선택기
		#KRASH_Launchpad = 발사대
		#KRASH_Limit = 제한:
		#KRASH_LimitMaxCosts = 최대 비용 제한
		#KRASH_Longitude = 경도:
		#KRASH_MiscellaneousOptionsGlobal = 기타 옵션 (전역)
		#KRASH_NotCareer = 샌드박스 또는 과학 모드 게임에는 설정이 적용되지 않습니다
		#KRASH_Obeylaunchpadlimits = 발사대 제한 적용
		#KRASH_PartCount = 부품 수:
		#KRASH_PauseAfterVesselLanded = 선박이 착륙했습니다. 계속하려면 확인 버튼을 누르십시오
		#KRASH_PercentagePerminuteCosts = 분당 비용 비율:
		#KRASH_PercentageSetupCosts = 설정 비용 비율:
		#KRASH_PerpartPerminuteCosts = 부품당 분당 비용:
		#KRASH_PerpartSetupCosts = 부품당 설정 비용:
		#KRASH_PertonPerminuteCosts = 톤당 분당 비용:
		#KRASH_PertonSetupCosts = 톤당 설정 비용:
		#KRASH_PreSimulation = 시뮬레이션 준비
		#KRASH_RevertToLaunch = 발사 시점으로 되돌리기(<<1>> 전)
		#KRASH_RevertToTarget = <<1>>(으)로 되돌리기
		#KRASH_RevertingSimulation_Msg = 되돌리면 게임이 이전 상태로 복구됩니다. 계속하시겠습니까?
		#KRASH_RevertingSimulation_title = 시뮬레이션 되돌리기
		#KRASH_Runway = 활주로
		#KRASH_SelectedCFG = 선택된 Cfg
		#KRASH_Settings_Wireframes = 와이어프레임
		#KRASH_Settings_costAdjustment = 비용 조정 (%)
		#KRASH_Settings_costAdjustment_tooltip = 이 값만큼 비용을 조정합니다
		#KRASH_Settings_defaultAtmoStartingAltitude = 시작 궤도 고도 (대기 있음)
		#KRASH_Settings_defaultAtmoStartingAltitude_tooltip = 대기가 있는 행성 및 위성용
		#KRASH_Settings_defaultNoAtmoStartingAltitude = 시작 궤도 고도 (대기 없음)
		#KRASH_Settings_defaultNoAtmoStartingAltitude_tooltip = 대기가 없는 행성 및 위성용
		#KRASH_Settings_noChargeDuringTimewarp = 시간 가속 중 비용 청구 안 함
		#KRASH_Settings_noChargeDuringTimewarp_tooltip = 활성화 시 시간 가속 중에는 자금이 청구되지 않습니다
		#KRASH_ShowRunningSimCosts = 실행 중인 시뮬레이션 비용 표시
		#KRASH_Showallbodiesincareer = 커리어 모드에서 모든 천체 표시
		#KRASH_SimSetupCost = 시뮬레이션 설정 비용:
		#KRASH_SimulateInfo_LockedParts = 선박에 잠긴 부품이 있습니다
		#KRASH_SimulateInfo_NoFundsToSim = 시뮬레이션을 시작할 자금이 부족합니다
		#KRASH_SimulateInfo_ReachPartLimit1 = 부품이 너무 많습니다: <<1>>
		#KRASH_SimulateInfo_ReachPartLimit2 = 부품 제한: <<1>>
		#KRASH_SimulateInfo_ReachlaunchMassLimit1 = 선박이 너무 무겁습니다: <<1>>t
		#KRASH_SimulateInfo_ReachlaunchMassLimit2 = 중량 제한: <<1>>t
		#KRASH_SimulateInfo_ReachlaunchSizeLimit_TooTall1 = 우주선이 너무 높습니다: \n<<1>>m
		#KRASH_SimulateInfo_ReachlaunchSizeLimit_TooTall2 = 높이 제한: <<1>>m
		#KRASH_SimulateInfo_ReachlaunchSizeLimit_TooWide1 = 우주선이 너무 넓습니다: \n<<1>>m x<<2>>m
		#KRASH_SimulateInfo_ReachlaunchSizeLimit_TooWide2 = 폭 제한: <<1>>m
		#KRASH_SimulateInfo_SimCostexceedslimit = 시뮬레이션 비용이 한도를 초과했습니다
		#KRASH_SimulateInfo_VesselNotControllable = 조종 불가능한 기체입니다
		#KRASH_SimulationActive = 시뮬레이션 활성화됨
		#KRASH_SimulationCosts = 시뮬레이션 비용:
		#KRASH_SimulationEnded = 시뮬레이션 종료!
		#KRASH_SimulationResult = 시뮬레이션 결과!
		#KRASH_SimulationSettings = 시뮬레이션 설정
		#KRASH_SimulationTitle = 시뮬레이션 비용:
		#KRASH_SpaceCenter = 우주 센터
		#KRASH_SpaceplaneHangar = 우주왕복선 격납고
		#KRASH_StartLocation = 시작 위치:
		#KRASH_TerminateatAtmo = 대기권 진입 시 종료
		#KRASH_TerminateatLand = 착륙 시 종료
		#KRASH_TerminateatSoi = SOI 진입 시 종료
		#KRASH_TerminatingSimulation_Msg = 종료하면 게임이 이전 상태로 되돌아갑니다. 계속하시겠습니까?
		#KRASH_TerminatingSimulation_title = 시뮬레이션 종료
		#KRASH_TerminationOptions = 종료 옵션 (데이터 없음)
		#KRASH_TotalMass = 총 질량:
		#KRASH_VehicleAssemblyBuilding = 조립동
		#KRASH_VerticalPosition = 수직 위치:
		#KRASH_VesselUnlaunchableReasons = 다음 이유로 기체를 발사할 수 없습니다:
	}
}
