Localization
{
	ko
	{
		#LOC_SEE_Caesium_Abbreviation = Cs
		#LOC_SEE_Caesium_DisplayName = 세슘
		#LOC_SEE_Subcategory_caesium = 세슘 연료
		#LOC_SEE_Subcategory_electrothermalengines = 전열 엔진
		#LOC_SEE_engine_PPT_tags = 추진 효율 엔진 탐사선 추력기 진공 플라즈마
		#LOC_SEE_engine_arcjet_tags = 추진 효율 엔진 탐사선 추력기 진공 아크제트 단일추진제
		#LOC_SEE_engine_fudge_desc = 노즐 앞에 가열 장치가 달린 냉가스 추력기입니다. 원리상 매우 단순하여 마음만 먹으면 오후 한나절 만에 차고에서 조립할 수 있을 정도입니다. 전기 추진 엔진으로서 성능이 뛰어난 편은 아니지만, 매우 작고 저렴합니다.
		#LOC_SEE_engine_fudge_title = KO-R1 "Fudge" 저항 가열식 전기 엔진
		#LOC_SEE_engine_gumdrop_desc = 성능이 약간 더 향상된 대형 아크제트입니다. 소형 모델과 마찬가지로 수명 제한 문제는 여전하지만, 대형 전열 엔진이 필요한 모든 상황에 충분할 것입니다.
		#LOC_SEE_engine_gumdrop_title = KO-A2 "Gumdrop" 아크제트 전기 엔진
		#LOC_SEE_engine_pancake_desc = 이 단순하고 비용 효율적인 전기 추진기는 덕트 테이프와 철물점에서 할인 중이던 잡동사니들을 정성껏 조립해 만들었습니다. Pancake는 기대에 못 미치는 성능을 제공하며, 보충할 수 없는 고체 연료를 소량만 포함하고 있습니다. 하지만 작고 컴팩트한 크기와 매우 저렴한 가격 덕분에 저렴하고 작은 탐사선을 제작하려는 분들에게는 유용한 장비가 될 수 있습니다.
		#LOC_SEE_engine_pancake_title = KO-22 "Pancake" 펄스 플라즈마 추력기
		#LOC_SEE_engine_resistojet_tags = 추진 효율 엔진 탐사선 추력기 진공 저항가열식 단일추진제
		#LOC_SEE_engine_sorbet_desc = 전계 방출 전기 추진(FEEP! 정말 재미있는 약자죠...)입니다. 이 독특한 엔진은 액체 금속(이 경우에는 세슘)을 추진제로 사용합니다. 세슘은 엔진 내부의 작은 바늘 모양 물체들을 따라 흐르며 강한 전기장에 노출되어 이온화됩니다. 이온은 바늘 끝에서 떨어져 나와 매우 빠른 속도로 전기 가속됩니다. 이 엔진은 비추력이 매우 높지만, 추력은 그리 인상적이지 않습니다.
		#LOC_SEE_engine_sorbet_tags = 추진 효율 엔진 탐사선 추력기 진공 세슘
		#LOC_SEE_engine_sorbet_title = KO-F1 "Sorbet" 전계 방출 전기 엔진
		#LOC_SEE_engine_teacake_desc = 이 엔진은 고체 가열 장치 대신 전기 아크를 사용하여 추진제를 가열함으로써 저항 가열식 엔진의 한계를 극복하고자 했습니다. 덕분에 가열 효율이 훨씬 높아져 비추력도 상승했지만, 엔진 내부에서 지속적인 아크 방전이 발생하여 전극이 손상되므로 수명이 제한적입니다.
		#LOC_SEE_engine_teacake_title = KO-A1 "Teacake" 아크제트 전기 엔진
		#LOC_SEE_engine_toffee_desc = 조금 더 크고 최적화된 저항 가열식 엔진입니다. 여전히 엔진으로서 아주 인상적인 성능은 아니지만, 최소한 소형 모델보다는 성능이 한 끗 더 뛰어납니다. 조립하려면 오후 몇 번을 투자하거나, 더 큰 차고가 필요할지도 모릅니다.
		#LOC_SEE_engine_toffee_title = KO-R2 "Toffee" 저항 가열식 전기 엔진
		#LOC_SEE_engine_waffle_desc = Pancake의 대형 버전으로, 더 많은 플라즈마를 분사해야 할 때 사용합니다. 9개의 엔진을 격자 형태로 배열하면 바닥면이 와플 모양과 비슷해지는데, 여기서 이름이 유래했습니다. 형제 격인 Pancake와 마찬가지로 Waffle은 매우 저렴한 가격에 평범한 성능을 제공합니다. 이 엔진 역시 제한된 양의 고체 연료를 포함하고 있지만, 어떤 이유로든 더 많은 델타-V가 필요하다면 엔진을 쉽게 클러스터링할 수 있습니다.
		#LOC_SEE_engine_waffle_title = KO-33 "Waffle" 펄스 플라즈마 추력기
		#LOC_SEE_manufacturer_TAI_title = Triplchii Aerospace Innovations
		#LOC_SEE_rcs_1WayVariant_title = 직교 1-혼
		#LOC_SEE_rcs_2WayVariant_title = 직교 2-혼
		#LOC_SEE_rcs_3aWayVariant_title = 직교 3-혼
		#LOC_SEE_rcs_3bWayVariant_title = 각도 3-혼
		#LOC_SEE_rcs_4WayVariant_title = 직교 4-혼
		#LOC_SEE_rcs_5WayVariant_title = 직교 5-혼
		#LOC_SEE_rcs_rjRCS_desc = 저항 가열식 엔진의 RCS 버전으로, 몇 가지 구성으로 제공됩니다. 탐사선이나 기타 소형 선박에 유용하게 사용할 수 있습니다.
		#LOC_SEE_rcs_rjRCS_title = KO-RR 저항 가열식 RCS 추력기
		#LOC_SEE_switcher_mount_06 = 0.625m
		#LOC_SEE_switcher_mount_06_summary = 0.625m 스택 마운트
		#LOC_SEE_switcher_mount_12 = 1.25m
		#LOC_SEE_switcher_mount_12_summary = 1.25m 스택 마운트
		#LOC_SEE_switcher_mount_boat_detail = 엔진 보호용 공기역학적 덮개입니다. 자동 덮개 기능은 없습니다.
		#LOC_SEE_switcher_mount_boatshroud_detail = 엔진 보호용 공기역학적 덮개입니다. 자동 덮개 기능이 포함되어 있습니다.
		#LOC_SEE_switcher_mount_compact = 콤팩트
		#LOC_SEE_switcher_mount_compact_detail = 클러스터링을 위한 최소 크기 마운트입니다. 자동 덮개 기능이 포함되어 있습니다.
		#LOC_SEE_switcher_mount_compact_noShrouds_detail = 클러스터링을 위한 최소 크기 마운트입니다. 자동 덮개 기능은 없습니다.
		#LOC_SEE_switcher_mount_compact_summary = 콤팩트 마운트
		#LOC_SEE_switcher_mount_std_detail = 표준 크기 마운트입니다. 자동 덮개 기능이 포함되어 있습니다.
		#LOC_SEE_switcher_mount_std_noShrouds_detail = 표준 크기 마운트입니다. 자동 덮개 기능은 없습니다.
		#LOC_SEE_switcher_mount_title = 마운트
		#LOC_SEE_tank_caesium125_desc = 세슘이 더 늘었습니다! 만세! 이 탱크는 각별히 주의하십시오. 작은 건물 하나를 날려버릴 만큼의 세슘이 들어 있습니다. (저희가 직접 겪어보고 알아낸 사실이니 믿으십시오.)
		#LOC_SEE_tank_caesium125_title = CS-125 액체 세슘 탱크
		#LOC_SEE_tank_caesium625_desc = 액체 상태의 세슘을 저장하기 위한 소형 연료 탱크입니다. 세슘의 녹는점은 그리 높지 않지만, 반응성이 매우 높습니다. 주의해서 다루시고, 식수에 닿게 할 생각은 절대 하지 마십시오!
		#LOC_SEE_tank_caesium625_title = CS-0625 액체 세슘 탱크
		#LOC_SEE_tank_caesiumRadial_desc = 방사형 장착식 세슘 연료 탱크입니다. 다시 한번 강조하지만, 식수와 멀리하십시오. 폭발 위험 때문이기도 하지만, 세슘은 결코 저렴한 물질이 아니기 때문입니다.
		#LOC_SEE_tank_caesiumRadial_title = CS-R1 액체 세슘 탱크
		#LOC_SEE_tank_caesiumTank_tags = 연료탱크 추진제 탱크 세슘 feep
	}
}
