Localization
{
	ko
	{
		#LOC_PT_DefaultHasPersistentHeadingEnabled = 기본 지속 방향 활성화
		#LOC_PT_DefaultHasPersistentHeadingEnabledToolTip = 기본 지속 방향 활성화 여부를 설정합니다.
		#LOC_PT_DefaultHasPersistentThrust = 기본 지속 추력
		#LOC_PT_DefaultHasPersistentThrustToolTip = 기본 지속 추력 활성화 여부를 설정합니다.
		#LOC_PT_DefaultManeuverTolerance = 기본 기동 허용 오차
		#LOC_PT_DefaultManeuverToleranceToolTip = 기본 기동 허용 오차를 설정합니다.
		#LOC_PT_DefaultMaximizePersistentIsp = 기본 지속 Isp 최대화
		#LOC_PT_DefaultMaximizePersistentIspToolTip = 기본 지속 Isp 최대화 여부를 설정합니다.
		#LOC_PT_DefaultMaximizePersistentPower = 기본 지속 전력 최대화
		#LOC_PT_DefaultMaximizePersistentPowerToolTip = 기본 지속 전력 최대화 여부를 설정합니다.
		#LOC_PT_HeadingVersusManeuver = 방향 대 기동
		#LOC_PT_ManeuverTolerance = 기동 허용 오차
		#LOC_PT_MaximizePersistentIsp = Isp 최대화
		#LOC_PT_MaximizePersistentPower = 전력 최대화
		#LOC_PT_PersistentHeading = 지속 방향
		#LOC_PT_PersistentThrust = 지속 추력
		#LOC_PT_Settings = 설정
		#LOC_PT_SettingsDev = 개발 설정
		#LOC_PT_Settings_ReturnToRealTime = 키 입력 후 실시간으로 복귀
		#LOC_PT_Settings_ReturnToRealTimeToolTip = 스로틀 조절 키(Ctrl, Shift 또는 Z)를 누르면 실시간으로 복귀합니까?
		#LOC_PT_StoppedDepleted = 추력 워프 중단 - 추진제 고갈
		#LOT_PT_SettingsDev_QueueLength = 큐 길이
		#LOT_PT_SettingsDev_QueueLengthToolTip = 스로틀 및 Isp 큐 길이(프레임 단위)입니다. 시간 가속에서 빠져나올 때 추력이 지속되지 않는 문제가 발생하면 값을 높여 보십시오.
	}
}
