Localization
{
	ko
	{
		#LOC_OPT_defaultElevon = OPT 날개용 조종면입니다.
		#LOC_OPT_defaultStabilizer = 대형 우주왕복선의 측면에 장착하는 비교적 큰 전동식 조종면입니다.
		#LOC_OPT_manufacturerA = OPT Aerospace Division
		#LOC_OPT_manufacturerP = OPT Propulsion Science Division
		#LOC_OPT_mk2_ramIntake_desc = 특정 고속에서 작동을 멈추거나 녹아버리는 흔한 충격 흡입구가 아닙니다. 모든 속도에서 잘 작동하는 걸작입니다. 더 좋은 점은 산소 없이도 작동한다는 것입니다. 이는 WarpJet 엔진을 기반으로 설계된 우주왕복선에 매우 중요합니다.
		#LOC_OPT_mk2_ramIntake_title = OPT Mk2 램 에어 인테이크
		#LOC_OPT_opt_oms_black_desc = OPT의 가장 최신이자 효율적이고 콤팩트하며 공기역학적인 5방향 RCS 블록입니다. 다소 무겁습니다. 추가로 스로틀에 반응하며 두 번째 RCS 모듈을 통해 전방 추력을 제공합니다. 작동하려면 많은 양의 전력이 필요합니다.
		#LOC_OPT_opt_oms_black_title = OPT 공기역학적 OMS
		#LOC_OPT_opt_rcs_black_desc = 매우 강력하고 효율적인 단일 RCS로, 프로파일이 매우 낮습니다. 검은색입니다! 작동하려면 많은 양의 전력이 필요합니다.
		#LOC_OPT_opt_rcs_black_title = OPT RCS 포트
		#LOC_OPT_opt_retro_rcs_desc = J-SL 조종석 레트로 RCS를 위한 프로토타입이었습니다. 사용하는 것이 좋을 것입니다. 작동하려면 많은 양의 전력이 필요합니다.
		#LOC_OPT_opt_retro_rcs_title = OPT 레트로 RCS 포트
		#LOC_OPT_tags_cargo = opt orbit portal 연료 탱크 액체 연료 lf 화물 crg 페이로드 적재함 bay serv drop
		#LOC_OPT_tags_cockpit = opt orbit portal 조종석 포드 명령 cmd sas kerb 승무원
		#LOC_OPT_tags_cockpitintake = opt orbit portal 조종석 포드 명령 cmd sas kerb 승무원 흡입구 공기
		#LOC_OPT_tags_comm = opt orbit portal 항공 안테나 무선 신호 송신 tx
		#LOC_OPT_tags_crew = opt orbit portal 승무원 객실 kerb 거주구
		#LOC_OPT_tags_dock = opt orbit portal 도킹 클램프 노드 결합
		#LOC_OPT_tags_drone = opt orbit portal 드론 탐사선 코어 sas 반작용 휠 토크
		#LOC_OPT_tags_electric = opt orbit portal 전기 전력 연료 전지
		#LOC_OPT_tags_electricGoo = opt orbit portal 전기 전력 퓨즈 융합 반응 dark goo
		#LOC_OPT_tags_engineGoo = opt orbit portal 엔진 추진 추력 배기 dark goo 퓨즈 융합 반응
		#LOC_OPT_tags_engineLiquid = opt orbit portal 엔진 추진 추력 배기 액체 연료 lfo 산화제
		#LOC_OPT_tags_engineLiquidVtol = opt orbit portal 엔진 추진 추력 배기 액체 연료 lfo 산화제 리프트 수직 vtol
		#LOC_OPT_tags_engineNuclear = opt orbit portal 엔진 추진 추력 배기 액체 핵 ntr 원자
		#LOC_OPT_tags_engineWJ = opt orbit portal 엔진 추진 추력 배기 이온 전기 공기 대기 플라즈마 자력 워프 제트 흡입구
		#LOC_OPT_tags_engineWJVtol = opt orbit portal 엔진 추진 추력 배기 이온 전기 공기 대기 플라즈마 자력 워프 제트 흡입구 리프트 수직 vtol
		#LOC_OPT_tags_fuel = opt orbit portal 연료 탱크 액체 연료 lf
		#LOC_OPT_tags_intake = opt orbit portal 흡입구 공기
		#LOC_OPT_tags_lab = opt orbit portal 과학 실험실 실험
		#LOC_OPT_tags_mount = opt orbit portal 연료 탱크 액체 연료 lf 노드 결합 다중 어댑터 마운트
		#LOC_OPT_tags_nose = opt orbit portal 노즈 공기역학 포인트 열 내열 삭마
		#LOC_OPT_tags_rcs = opt orbit portal rcs 반작용 추력
		#LOC_OPT_tags_rcsInline = opt orbit portal rcs 반작용 추력 sas 휠 토크
		#LOC_OPT_tags_structural = opt orbit portal 리프트 공기역학 동체 구조
	}
}
