Localization
{
	ko
	{
		#LOC_BV_ActiveControllers = 활성 컨트롤러
		#LOC_BV_AutoEngageBreaks = 자동 브레이크 체결
		#LOC_BV_AutoEngageBreaks_Tooltip = 우주선으로 다시 전환할 때, 내리막길에서 굴러가지 않도록 자동으로 브레이크를 체결합니다.\n로버에만 작동합니다.
		#LOC_BV_AutomaticDewarp = 자동 시간 가속 해제
		#LOC_BV_AutomaticDewarp_Tooltip = 목표 지점 도착 후 시간 가속을 중단합니다
		#LOC_BV_Autopilot = 자동 조종
		#LOC_BV_AutopilotActive = Bon Voyage 자동 조종이 활성화되었습니다. 이동을 시작하려면 다른 선박이나 장면으로 전환하십시오.
		#LOC_BV_BonVoyage = Bon Voyage!
		#LOC_BV_Close = 닫기
		#LOC_BV_ColumnHeader_Body = 천체
		#LOC_BV_ColumnHeader_Distance = 목표 거리
		#LOC_BV_ColumnHeader_ETA = 도착 예정 시간
		#LOC_BV_ColumnHeader_Name = 이름
		#LOC_BV_ColumnHeader_Speed = 속도
		#LOC_BV_ColumnHeader_Status = 상태
		#LOC_BV_ContextMenu_Activate = Bon Voyage 컨트롤러 활성화
		#LOC_BV_ContextMenu_Panel = Bon Voyage 제어 패널
		#LOC_BV_ContextMenu_RV = 회전 벡터
		#LOC_BV_ContextMenu_RV_Back = 뒤
		#LOC_BV_ContextMenu_RV_Down = 아래
		#LOC_BV_ContextMenu_RV_Forward = 앞
		#LOC_BV_ContextMenu_RV_Left = 왼쪽
		#LOC_BV_ContextMenu_RV_Right = 오른쪽
		#LOC_BV_ContextMenu_RV_Up = 위
		#LOC_BV_ContextMenu_Shutdown = Bon Voyage 컨트롤러 종료
		#LOC_BV_ContextMenu_VT = 자동 조종 유형
		#LOC_BV_ContextMenu_VT_Naval = 해상
		#LOC_BV_ContextMenu_VT_Rover = 육상
		#LOC_BV_Control_AverageSpeed = 평균 속도
		#LOC_BV_Control_Biome = 생태계
		#LOC_BV_Control_Check = 시스템 점검
		#LOC_BV_Control_Check_Tooltip = 시스템 스캔 (이 창이 열릴 때마다 자동으로 수행됨)
		#LOC_BV_Control_CurrenTarget = 현재 목표
		#LOC_BV_Control_CurrentWaypoint = 현재 경유지
		#LOC_BV_Control_Deactivate = 비활성화
		#LOC_BV_Control_Distance = 목표까지의 거리
		#LOC_BV_Control_DriverBonus = 운전자 보너스
		#LOC_BV_Control_ETA = 도착 예정 시간
		#LOC_BV_Control_ETA_Tooltip = <<1>>일 <<2>>시간 <<3>>분 <<4>>초
		#LOC_BV_Control_ElectricPower = 전력;
		#LOC_BV_Control_GeneratedPower = 생성된 전력
		#LOC_BV_Control_GeneratorPower = 발전기 및 원자로
		#LOC_BV_Control_Go = 시작!
		#LOC_BV_Control_Lat = 위도
		#LOC_BV_Control_Lon = 경도
		#LOC_BV_Control_No = 아니요
		#LOC_BV_Control_NotEnoughPower = 전력이 부족합니다!
		#LOC_BV_Control_PickOnMap = 지도에서 선택
		#LOC_BV_Control_PowerPenalty = 전력 부족 페널티
		#LOC_BV_Control_PowerReduced = 전력 부족으로 평균 속도가 다음만큼 감소했습니다:
		#LOC_BV_Control_RequiredPower = 필요 전력
		#LOC_BV_Control_Set = 설정
		#LOC_BV_Control_SetTarget = 목표 설정
		#LOC_BV_Control_SolarPower = 태양광 발전
		#LOC_BV_Control_SpeedAtNight = 야간 속도
		#LOC_BV_Control_SpeedBase = 기본 속도
		#LOC_BV_Control_TargetLat = 목표 위도
		#LOC_BV_Control_TargetLon = 목표 경도
		#LOC_BV_Control_Throttle = 스로틀
		#LOC_BV_Control_Throttle_Tooltip = 스로틀을 낮추면 속도가 줄어들고 이동 시간은 길어지지만, 연료를 절약할 수 있습니다.
		#LOC_BV_Control_UnmannedPenalty = 무인 로버 페널티
		#LOC_BV_Control_UseBatteries = 배터리 사용
		#LOC_BV_Control_UseBatteriesOnly = 배터리만 사용
		#LOC_BV_Control_UseBatteriesOnly_Tooltip = 태양광 발전이나 연료 전지로 재충전되는지 여부와 관계없이 배터리만 사용합니다.
		#LOC_BV_Control_UseBatteriesOnly_Usage = 배터리로만 작동 중
		#LOC_BV_Control_UseBatteries_Tooltip = 태양광 발전이나 연료 전지로 재충전할 수 있는 충분한 전력이 있을 때 배터리를 사용합니다.\n전체 활성화된 배터리 용량의 최대 <<1>>까지 사용합니다.
		#LOC_BV_Control_UseBatteries_Usage = 배터리 사용량
		#LOC_BV_Control_UseFuelCells = 연료 전지 사용
		#LOC_BV_Control_UseFuelCellsTooltip = 연료 전지를 추가 EC 전력원으로 사용합니다
		#LOC_BV_Control_UseSolarPanels = 태양광 패널 사용
		#LOC_BV_Control_UseSolarPanels_Tooltip = 태양광이 충분할 때 태양광 패널을 사용합니다.
		#LOC_BV_Control_UseSolarPanels_Usage = 태양광 패널 사용량
		#LOC_BV_Control_UseableECRatio = 사용 가능한 배터리
		#LOC_BV_Control_UseableECRatio_Tooltip = 배터리 사용 시 차량을 멈추기 전까지 사용할 배터리 비율을 설정합니다.\n전력 고갈로 인한 문제를 방지합니다.\n현재 설정값: <<1>>.
		#LOC_BV_Control_UsedThrust = 사용된 추력
		#LOC_BV_Control_WheelsModifier = 바퀴 수정자
		#LOC_BV_Control_WheelsNotOnline = 바퀴가 작동하지 않습니다!
		#LOC_BV_Control_Yes = 예
		#LOC_BV_DisableRotation = 회전 비활성화
		#LOC_BV_DisableRotation_Tooltip = 목표 지점에 도착한 후나 이동 중에 지형에 수직으로 기체가 회전하는 것을 비활성화합니다
		#LOC_BV_DisabledControllers = 비활성화된 컨트롤러
		#LOC_BV_FindingRoute = 경로 탐색 중...
		#LOC_BV_HeightOffset = 높이 오프셋
		#LOC_BV_HideControl = 제어 패널 숨기기
		#LOC_BV_Part_Description = Automagic Industries에서 새로운 자동 조종 장치를 선보입니다. 주행 사고를 100% 줄여줍니다.
		#LOC_BV_Part_Description_v2 = 자동 조종 장치에 약간의 지능을 추가하여 무인 로버와 함선의 속도 페널티를 60%로 줄였습니다.
		#LOC_BV_Part_Description_v3 = 실험적인 AI에 무슨 문제가 생기겠습니까? 이 업그레이드는 무인 로버와 함선의 속도 페널티를 40%로 줄여줍니다.
		#LOC_BV_Part_Description_v4 = 자동 조종 장치를 KerbNet에 패치하여 무인 로버와 함선의 속도 페널티를 20%로 줄였습니다. 걱정 마십시오, 완전히 안전합니다.
		#LOC_BV_Part_Title = Bon Voyage 자동 조종 장치
		#LOC_BV_Reload = BV 컨트롤러 새로고침
		#LOC_BV_RouteFound = 경로 발견
		#LOC_BV_RouteNotFound = 경로를 찾을 수 없습니다. 다른 목표를 시도하십시오.
		#LOC_BV_Settings = 설정
		#LOC_BV_ShowBiome = 생물군계 표시
		#LOC_BV_ShowBiome_Tooltip = 목표 선택 중 지도에 생물군계 이름 표시
		#LOC_BV_ShowControl = 제어 패널 표시
		#LOC_BV_Status_AwaitingSunlight = 햇빛 대기 중
		#LOC_BV_Status_Current = 현재
		#LOC_BV_Status_Disabled = 비활성화됨
		#LOC_BV_Status_Idle = 대기 중
		#LOC_BV_Status_Moving = 이동 중
		#LOC_BV_Style = 대화창 스타일
		#LOC_BV_Style_KSP = KSP 기본 스킨
		#LOC_BV_Style_Unity = Unity 스킨
		#LOC_BV_SwitchTo = 전환
		#LOC_BV_Title = Bon Voyage
		#LOC_BV_Title_KerbalArrived = 커벌 도착
		#LOC_BV_Title_RoverArrived = 로버 도착
		#LOC_BV_Title_RoverStopped = 로버 정지
		#LOC_BV_Title_ShipArrived = 함선 도착
		#LOC_BV_Title_ShipStopped = 함선 정지
		#LOC_BV_Toolbar = 툴바 버튼
		#LOC_BV_Toolbar_KSP = KSP 툴바
		#LOC_BV_Toolbar_KSP_Tooltip = 모드 버튼을 KSP 툴바에 배치합니다
		#LOC_BV_Toolbar_TC = Toolbar Continued
		#LOC_BV_Toolbar_TC_Tooltip = 모드 버튼을 linuxgurugamer의 Toolbar Continued에 배치합니다
		#LOC_BV_Tooltip = 백그라운드에서 로버와 함선을 주행합니다
		#LOC_BV_VesselArrived = 목적지에 도착했습니다: 
		#LOC_BV_Warning_BatteryOnlyOperation = 로버가 배터리로만 작동 중입니다! <<1>>에서 재충전이 필요합니다.
		#LOC_BV_Warning_CantUseBatteries = 배터리를 사용할 수 없습니다.
		#LOC_BV_Warning_ControllerNotValid = 현재 BonVoyage 컨트롤러가 유효하지 않습니다.
		#LOC_BV_Warning_EnginesNotOnline = 최소 하나의 엔진이 온라인 상태여야 합니다.
		#LOC_BV_Warning_Landed = 기체가 착륙한 상태여야 합니다.
		#LOC_BV_Warning_Landed_Splashed = 커벌은 착륙했거나 식수 위에 있어야 합니다.
		#LOC_BV_Warning_LowPowerRover = 로버의 전력 생산량이 너무 낮습니다.
		#LOC_BV_Warning_LowPowerShip = 우주선의 전력 생산량이 너무 낮습니다.
		#LOC_BV_Warning_NoConnection = 명령을 내리려면 로버의 통신 연결이 활성화되어야 합니다.
		#LOC_BV_Warning_NoRoute = 목표 지점까지의 경로가 없습니다.
		#LOC_BV_Warning_NotEnoughFuel = 연료가 부족합니다.
		#LOC_BV_Warning_Splashed = 기체가 식수 위에 있어야 합니다.
		#LOC_BV_Warning_Stopped = 정지됨
		#LOC_BV_Warning_TargetNotValid = 유효한 목표를 선택하십시오.
		#LOC_BV_Warning_WaypointNotValid = 유효한 경유지를 선택하십시오.
		#LOC_BV_Warning_WheelsNotOnline = 최소 두 개의 바퀴가 온라인 상태여야 합니다.
		#LOC_BV_Warning_WheelsNotOperable = 로버에는 최소 세 개의 작동 가능한 바퀴가 필요합니다.
		#LOC_BV_Warning_WheelsNotTouching = 바퀴가 지면에 닿아 있지 않습니다.
	}
}
