Localization
{
	ko
	{
		#clsloc_001 = Connected Living Space
		#clsloc_002 = 옵션
		#clsloc_003 = 클릭하여 옵션을 보거나 편집합니다
		#clsloc_004 = 거주 공간
		#clsloc_005 = 이름
		#clsloc_006 = 업데이트
		#clsloc_007 = 승무원 수용량
		#clsloc_008 = 승무원
		#clsloc_009 = 현재 기체 없음
		#clsloc_010 = 제한 없는 승무원 이동 허용
		#clsloc_011 = 선택적 통과 가능 파트 활성화
		#clsloc_012 = 기본 툴바 대신 Blizzy's Toolbar 사용
		#clsloc_013 = CLS - 이 모듈은 가득 찼거나 내부적으로 접근할 수 없습니다(서로 다른 공간)
		#clsloc_014 = CLS가 <<1>>의 이동을 차단했습니다. <<2>>와(과) <<3>>은(는) 같은 거주 공간에 있지 않습니다.
		#clsloc_017 = 예
		#clsloc_018 = 아니요
		#clsloc_019 = 전체
		#clsloc_020 = 없음
		#clsloc_021 = 통과 가능
		#clsloc_022 = 승무원 탑승 가능
		#clsloc_023 = 통과 불가 노드
		#clsloc_024 = 통과 가능 노드
		#clsloc_025 = 표면 부착 시 통과
		#clsloc_026 = 표면 부착 파트 통과
		#clsloc_027 = CLS 통과 가능: 아니요
		#clsloc_028 = CLS 통과 가능: 예
		#clsloc_029 = CLS 표면 부착 가능: 아니요
		#clsloc_030 = CLS 표면 부착 가능: 예
		#clsloc_031 = CLS 부착 표면: 아니요
		#clsloc_032 = CLS 부착 표면: 예
		#clsloc_033 = 열림
		#clsloc_034 = 닫힘
		#clsloc_035 = 해치 상태
		#clsloc_036 = 해치 열기
		#clsloc_037 = 해치 닫기
		#clsloc_038 = 해치 보유
		#clsloc_039 = 해치 노드
		#clsloc_040 = 선택된 공간 파트 수
		#clsloc_041 = 파트
		#clsloc_042 = 최대 스크롤 높이
	}
}
