Localization
{
	ko
	{
		#LOC_Labradoodle_labrador-engine_description = Poodle과 Skipper의 성능 사이를 적절히 메우도록 설계된, 상단용 중거리 다중 노즐 엔진입니다.
		#LOC_Labradoodle_labrador-engine_tags = 착륙선 궤도 (labrador 추진 로켓
		#LOC_Labradoodle_labrador-engine_title = RE-L20 "Labrador" 액체 연료 엔진
	}
}
