Localization
{
	ko
	{
		#LOC_CryoEngines_cryoengine-125-1_description = 사용 중단됨
		#LOC_CryoEngines_cryoengine-125-1_tags = 사용 중단됨
		#LOC_CryoEngines_cryoengine-125-1_title = KL-1 'Volcano' 극저온 로켓 엔진
		#LOC_CryoEngines_cryoengine-125-2_description = 사용 중단됨
		#LOC_CryoEngines_cryoengine-125-2_tags = 사용 중단됨
		#LOC_CryoEngines_cryoengine-125-2_title = CT10 'Chelyabinsk' 극저온 로켓 엔진
		#LOC_CryoEngines_cryoengine-25-1_description = 사용 중단됨
		#LOC_CryoEngines_cryoengine-25-1_tags = 사용 중단됨
		#LOC_CryoEngines_cryoengine-25-1_title = KL-21 'Odin' 극저온 로켓 엔진
		#LOC_CryoEngines_cryoengine-25-2_description = 사용 중단됨
		#LOC_CryoEngines_cryoengine-25-2_tags = 궤도 추진 로켓 진공 수소 하이드로록스 극저온 퉁구스카
		#LOC_CryoEngines_cryoengine-25-2_title = CT2X 'Tunguska' 극저온 로켓 엔진
		#LOC_CryoEngines_cryoengine-375-1_description = 사용 중단됨
		#LOC_CryoEngines_cryoengine-375-1_tags = 사용 중단됨
		#LOC_CryoEngines_cryoengine-375-1_title = KL-68 'Mars' 극저온 로켓 엔진
		#LOC_CryoEngines_cryoengine-375-2_description = 사용 중단됨
		#LOC_CryoEngines_cryoengine-375-2_tags = 사용 중단됨
		#LOC_CryoEngines_cryoengine-375-2_title = CT65 'Yucatan' 극저온 로켓 엔진
		#LOC_CryoEngines_cryoengine-allosaur-1_description = 메탄을 연료로 사용하는 여러 엔진 모델을 기괴하게 조합한 Allosaur는 뛰어난 추력을 자랑하지만, 효율은 그저 그렇습니다.
		#LOC_CryoEngines_cryoengine-allosaur-1_tags = cryoengines 추진 로켓 부스터 엔진 메인 메탄 메탈록스 극저온 allosaur stbe
		#LOC_CryoEngines_cryoengine-allosaur-1_title = MR-8 'Allosaur' 액체 메탄 엔진
		#LOC_CryoEngines_cryoengine-buzzard-1_description = 이 엔진에 대한 흥미로운 마케팅 문구는 없습니다. 그냥 꽤 재미있는 소형 진공 메탄 엔진입니다.
		#LOC_CryoEngines_cryoengine-buzzard-1_tags = cryoengines 궤도 추진 로켓 진공 메탄 메탈록스 극저온 m10 buzzard
		#LOC_CryoEngines_cryoengine-buzzard-1_title = MU-10 'Buzzard' 액체 메탄 엔진
		#LOC_CryoEngines_cryoengine-compsognathus-1_description = 매우 작은 크기에 강력한 부스터 스테이지용 메탄 엔진입니다.
		#LOC_CryoEngines_cryoengine-compsognathus-1_tags = cryoengines 추진 로켓 부스터 엔진 메인 메탄 메탈록스 극저온 compsognathus compy prometheus esa arianespace
		#LOC_CryoEngines_cryoengine-compsognathus-1_title = MR-1 'Compsognathus' 액체 메탄 엔진
		#LOC_CryoEngines_cryoengine-deinonychus-1_description = 이 부품은 저명한 네오나치인 일론 머스크와 밀접하게 연관된 기술에서 영감을 받았기에 삭제되었습니다.
		#LOC_CryoEngines_cryoengine-deinonychus-1_tags = cryoengines 추진 로켓 부스터 엔진 메인 메탄 메탈록스 극저온 deinonychus
		#LOC_CryoEngines_cryoengine-deinonychus-1_title = MR-420 'Deinonychus' 액체 메탄 엔진
		#LOC_CryoEngines_cryoengine-eagle-1_description = 이 부품은 저명한 네오나치인 일론 머스크와 밀접하게 연관된 기술에서 영감을 받았기에 삭제되었습니다.
		#LOC_CryoEngines_cryoengine-eagle-1_tags = cryoengines 궤도 추진 로켓 진공 메탄 메탈록스 극저온 eagle raptor vac spacex
		#LOC_CryoEngines_cryoengine-eagle-1_title = MU-421 'Eagle' 액체 메탄 엔진
		#LOC_CryoEngines_cryoengine-erebus-1_description = 불을 뿜는 Erebus는 발사체를 높은 고도까지 밀어 올리지만, 적절한 수의 부스터와 함께 사용할 때만 가능합니다. 왜냐하면 이 엔진은 서스테이너이기 때문입니다.
		#LOC_CryoEngines_cryoengine-erebus-1_tags = 추진 로켓 서스테인 수소 하이드로록스 극저온 erebus buran energ
		#LOC_CryoEngines_cryoengine-erebus-1_title = CR-0120 'Erebus' 액체 수소 엔진
		#LOC_CryoEngines_cryoengine-etna-1_description = 현재 재고 중 가장 큰 수소 연료 엔진입니다. 더 큰 엔진을 주문하려 해도 다들 눈을 굴리며 한숨만 쉽니다. 이 엔진을 사용하면 부스터조차 필요 없을지도 모릅니다...
		#LOC_CryoEngines_cryoengine-etna-1_tags = 추진 로켓 서스테인 수소 하이드로록스 극저온 delta iv
		#LOC_CryoEngines_cryoengine-etna-1_title = CR-68 'Etna' 액체 수소 엔진
		#LOC_CryoEngines_cryoengine-fuji-1_description = 모든 대기 환경에서 합리적인 가격과 효율적인 추력을 제공하도록 설계된 고급 서스테이너 엔진입니다.
		#LOC_CryoEngines_cryoengine-fuji-1_tags = propuls rocket sustain hydrogen hydrolox cryo vesuvius ariane vulcain
		#LOC_CryoEngines_cryoengine-fuji-1_title = CR-9B 'Fuji' 액체 수소 엔진
		#LOC_CryoEngines_cryoengine-harrier-1_description = 이 중형 메탄 엔진은 사실 두 개의 엔진입니다! 한 세트의 펌프가 주 연소실을 구동하여 상당한 충격을 전달합니다. 두 번째 세트는 4개의 고출력 버니어 엔진을 구동하여 효과적인 짐벌 및 롤 제어를 수행합니다. 온 가족이 즐길 수 있습니다!
		#LOC_CryoEngines_cryoengine-harrier-1_tags = cryoengines orbit propuls rocket vacuum methane methalox cryo harrier tq11 tq12 landspace
		#LOC_CryoEngines_cryoengine-harrier-1_title = MU-11 'Harrier' 액체 메탄 엔진
		#LOC_CryoEngines_cryoengine-hawk-1_description = 이 소형 엔진은 화려한 운용 이력을 가지고 있으며, 최근 메탄을 사용하도록 성능이 향상되었습니다. 입문용 진공 엔진으로 훌륭한 선택입니다.
		#LOC_CryoEngines_cryoengine-hawk-1_tags = cryoengines orbit propuls rocket vacuum methane methalox cryo hawk rs18
		#LOC_CryoEngines_cryoengine-hawk-1_title = MU-018 'Hawk' 액체 메탄 엔진
		#LOC_CryoEngines_cryoengine-hecate-1_description = 유서 깊은 주방 가전, 아니 로켓 엔진입니다. 궤도선에서 액체 수소와 산화제를 효율적으로 연소합니다. 수납형 노즐 연장 장치로 부피를 줄일 수 있습니다.
		#LOC_CryoEngines_cryoengine-hecate-1_tags = orbit propuls rocket vacuum hydrogen hydrolox exten cryo rl10
		#LOC_CryoEngines_cryoengine-hecate-1_title = CE-10 'Hecate' 액체 수소 엔진
		#LOC_CryoEngines_cryoengine-iguanodon-1_description = 날개 뒤에 은밀하게 숨겨진 메탄 연료 기반의 Iguanodon은 강력한 추력과 안전한 연소실 압력을 바탕으로 현대 로켓 추진의 주역이 될 준비를 마쳤습니다.
		#LOC_CryoEngines_cryoengine-iguanodon-1_tags = cryoengines propuls rocket booster engine main methane methalox cryo iguanodon blue origin be4
		#LOC_CryoEngines_cryoengine-iguanodon-1_title = MR-4 'Iguanodon' 액체 메탄 엔진
		#LOC_CryoEngines_cryoengine-pavonis-1_description = 산업용 주방 가전입니다! 이전 모델보다 진공 상태에서 더 나은 추력과 뛰어난 비추력을 제공합니다. 수납형 노즐 연장 장치로 부피를 줄일 수 있습니다.
		#LOC_CryoEngines_cryoengine-pavonis-1_tags = orbit propuls rocket vacuum hydrogen hydrolox exten cryo rl60
		#LOC_CryoEngines_cryoengine-pavonis-1_title = CE-60 'Pavonis' 액체 수소 엔진
		#LOC_CryoEngines_cryoengine-stromboli-1_description = 엔진 벨을 줄이고 높은 추진제 유량을 위해 몇 가지 수정을 거친 이 주방 가전은 블로토치 수준의 성능을 내며 효과적인 지속 엔진으로 사용할 수 있습니다.
		#LOC_CryoEngines_cryoengine-stromboli-1_tags = propuls rocket sustain hydrogen hydrolox cryo stromboli dc-x dcx delta clipper
		#LOC_CryoEngines_cryoengine-stromboli-1_title = CR-10A 'Stromboli' 액체 수소 엔진
		#LOC_CryoEngines_cryoengine-tharsis-1_description = 견고한 구조물에 장착된 한 쌍의 엔진이 우주선을 새로운 높이로 밀어 올립니다. 수납형 노즐 연장 장치로 부피를 줄일 수 있습니다.
		#LOC_CryoEngines_cryoengine-tharsis-1_tags = orbit propuls rocket vacuum hydrogen hydrolox exten cryo rl60 clust
		#LOC_CryoEngines_cryoengine-tharsis-1_title = CE-60 'Tharsis' 액체 수소 엔진 클러스터
		#LOC_CryoEngines_cryoengine-tyrannosaur-1_description = T-Rex가 나타났습니다! 볼트론처럼 9개의 Deinonychus가 스스로 조립되어 불을 뿜고 땅을 흔들며 귀를 찢는 괴물 엔진이 됩니다. 이 조합은 안쪽 3개의 엔진만 짐벌이 작동한다는 점이 특징이며, 바깥쪽 엔진들은 그저 거들 뿐입니다.
		#LOC_CryoEngines_cryoengine-tyrannosaur-1_tags = cryoengines propuls rocket booster engine main methane methalox cryo raptor spacex trex tyrannosaur
		#LOC_CryoEngines_cryoengine-tyrannosaur-1_title = MR-420-9 'Tyrannosaur' 액체 메탄 엔진 클러스터
		#LOC_CryoEngines_cryoengine-ulysses-1_description = 'X' 접미사는 이 강력한 진공 엔진이 제공하는 추가적인 효율성을 의미합니다. KADB는 이 엔진을 활용할 수 있게 되어 매우 기뻐하고 있습니다. 그들은 이 엔진을 위해 많은 연구 개발비를 투자했지만, 정작 엔진을 탑재하려던 로켓 계획이 취소되었기 때문입니다.
		#LOC_CryoEngines_cryoengine-ulysses-1_tags = orbit propuls rocket vacuum hydrogen hydrolox cryo j2x constellation
		#LOC_CryoEngines_cryoengine-ulysses-1_title = CE-2X 'Ulysses' 액체 수소 엔진
		#LOC_CryoEngines_cryoengine-vesuvius-1_description = 작은 크기의 고출력 지속 엔진입니다. 대부분의 지속형 극저온 엔진과 마찬가지로 발사 및 중에너지 스테이지 용도로 균형이 잘 잡혀 있습니다.
		#LOC_CryoEngines_cryoengine-vesuvius-1_tags = propuls rocket sustain hydrogen hydrolox cryo vesuvius ariane vulcain
		#LOC_CryoEngines_cryoengine-vesuvius-1_title = CR-2 'Vesuvius' 액체 수소 엔진
		#LOC_CryoEngines_cryoengine-vulture-1_description = 크고 강력하며 꽤 괜찮은 비추력을 가진 Vulture는 사실 Iguanodon에서 진화했습니다. 무시무시하게 커진 엔진 벨은 수납이 가능하여 부피를 줄일 수 있습니다.
		#LOC_CryoEngines_cryoengine-vulture-1_tags = cryoengines orbit propuls rocket vacuum methane methalox cryo vulture be4u vac blue origin exten
		#LOC_CryoEngines_cryoengine-vulture-1_title = MU-4U 'Vulture' 액체 메탄 엔진
		#LOC_CryoEngines_engine_mode_lflh = LF/LH2/O
		#LOC_CryoEngines_engine_mode_lh = LH2/O
		#LOC_CryoEngines_engine_switcher_mount_0625_detail = 표준 크기 마운트입니다. 자동 슈라우드가 포함되어 있습니다.
		#LOC_CryoEngines_engine_switcher_mount_0625_summary = 0.625m 스택 마운트
		#LOC_CryoEngines_engine_switcher_mount_125_detail = 표준 크기 마운트입니다. 자동 슈라우드가 포함되어 있습니다.
		#LOC_CryoEngines_engine_switcher_mount_125_summary = 1.25m 스택 마운트
		#LOC_CryoEngines_engine_switcher_mount_1875_detail = 표준 규격 마운트입니다. 자동 덮개가 포함됩니다.
		#LOC_CryoEngines_engine_switcher_mount_1875_summary = 1.875m 스택 마운트
		#LOC_CryoEngines_engine_switcher_mount_25_detail = 표준 규격 마운트입니다. 자동 덮개가 포함됩니다.
		#LOC_CryoEngines_engine_switcher_mount_25_summary = 2.5m 스택 마운트
		#LOC_CryoEngines_engine_switcher_mount_375_detail = 표준 규격 마운트입니다. 자동 덮개가 포함됩니다.
		#LOC_CryoEngines_engine_switcher_mount_375_summary = 3.75m 스택 마운트
		#LOC_CryoEngines_engine_switcher_mount_boattail_detail = 엔진 보호를 위한 공기역학적 덮개입니다. 자동 덮개는 포함되지 않습니다.
		#LOC_CryoEngines_engine_switcher_mount_boattail_summary = 보트테일 마운트
		#LOC_CryoEngines_engine_switcher_mount_compact_detail = 클러스터링을 위한 최소 규격 마운트입니다. 자동 덮개가 포함됩니다.
		#LOC_CryoEngines_engine_switcher_mount_compact_summary = 콤팩트 마운트
		#LOC_CryoEngines_engine_switcher_mount_title = 마운트
		#LOC_CryoEngines_engine_switcher_mount_variant1 = 0.625m
		#LOC_CryoEngines_engine_switcher_mount_variant2 = 1.25m
		#LOC_CryoEngines_engine_switcher_mount_variant3 = 2.5m
		#LOC_CryoEngines_engine_switcher_mount_variant4 = 3.75m
		#LOC_CryoEngines_engine_switcher_mount_variant5 = 콤팩트
		#LOC_CryoEngines_engine_switcher_mount_variant6 = 보트테일
		#LOC_CryoEngines_engine_switcher_mount_variant7 = 1.875m
		#LOC_CryoEngines_engine_switcher_mount_variant_bare = 기본형
		#LOC_CryoEngines_engine_switcher_mount_variant_bare_detail = 별다른 특징이 없는 보트테일 마운트입니다.
		#LOC_CryoEngines_engine_switcher_mount_variant_bare_summary = 3.75m 보트테일 마운트
		#LOC_CryoEngines_engine_switcher_mount_variant_finned = 핀 장착형
		#LOC_CryoEngines_engine_switcher_mount_variant_finned_detail = 6개의 매력적인 핀이 달린 보트테일 마운트입니다.
		#LOC_CryoEngines_engine_switcher_mount_variant_finned_summary = 3.75m 핀 장착 마운트
		#LOC_CryoEngines_manufacturer_kadb_title = Kerbal Automatics Design Bureau
	}
}
