Localization
{
	ko
	{
		#LOC_VABOSheepdog_Bulkhead_CircuitBoard = PCB
		#LOC_VABOSheepdog_Bulkhead_Container = QTR-C
		#LOC_VABOSheepdog_Bulkhead_PlanetaryBase = KPBS
		#LOC_VABOSheepdog_Bulkhead_PlanetaryBaseGarage = KPBS-G
		#LOC_VABOSheepdog_Bulkhead_Wedge = WEDGE
		#LOC_VABOSheepdog_Bulkhead_size12 = 15m
		#LOC_VABOSheepdog_Bulkhead_size16 = 20m
		#LOC_VABOSheepdog_Bulkhead_size24 = 30m
		#LOC_VABOSheepdog_Bulkhead_size8p8 = 11m
		#LOC_VABOSheepdog_Subcategory_Cores = 코어
		#LOC_VABOSheepdog_Subcategory_DataCoreChips = DataCore 칩
		#LOC_VABOSheepdog_Subcategory_KPBS_Garage = 행성 차고
		#LOC_VABOSheepdog_Subcategory_LifeSupport = 생명 유지 장치
		#LOC_VABOSheepdog_Subcategory_PLC = PLC
		#LOC_VABOSheepdog_Subcategory_ScanAltimetry = 고도 스캐너
		#LOC_VABOSheepdog_Subcategory_ScanMulti = 다중 분광 스캐너
		#LOC_VABOSheepdog_Subcategory_ScanVisual = 시각 스캐너
		#LOC_VABOSheepdog_Subcategory_USI_Logistics = 물류
		#LOC_VABOSheepdog_Subcategory_USI_MKSAtlas = Atlas 시리즈
		#LOC_VABOSheepdog_Subcategory_USI_MKSDuna = Duna 시리즈
		#LOC_VABOSheepdog_Subcategory_USI_MKSRanger = Ranger 시리즈
		#LOC_VABOSheepdog_Subcategory_USI_MKSTundra = Tundra 시리즈
		#LOC_VABOSheepdog_Subcategory_USI_RoverAkita = Akita 로버
		#LOC_VABOSheepdog_Subcategory_USI_RoverKaribou = Karibou 로버
		#LOC_VABOSheepdog_Subcategory_USI_RoverPackRat = PackRat 로버
		#LOC_VABOSheepdog_Subcategory_USI_WOLFHoppers = 호퍼
		#LOC_VABOSheepdog_Subcategory_USI_WOLFModules = 모듈
		#LOC_VABOSheepdog_Subcategory_USI_WOLFTerminals = 터미널
		#LOC_VABOSheepdog_Subcategory_airbagsParachutes = 에어백 및 낙하산
		#LOC_VABOSheepdog_Subcategory_buoyancy = 부력 장치
		#LOC_VABOSheepdog_Subcategory_expanBoards = 확장 보드
		#LOC_VABOSheepdog_Subcategory_fabrication = 제조
		#LOC_VABOSheepdog_Subcategory_fluidContainers = 유체 컨테이너
		#LOC_VABOSheepdog_Subcategory_nosesTails = 노즈 및 테일 콘
		#LOC_VABOSheepdog_Subcategory_resourceUtilization = 자원 활용
		#LOC_VABOSheepdog_Subcategory_roboticArms = 조작 팔
		#LOC_VABOSheepdog_subcategory_baseFrames = 기지 프레임
		#LOC_VABOSheepdog_subcategory_cameras = 카메라
		#LOC_VABOSheepdog_subcategory_crewAdapters = 정거장 어댑터
		#LOC_VABOSheepdog_subcategory_crewHubs = 정거장 허브
		#LOC_VABOSheepdog_subcategory_crewTubes = 정거장 연결부
		#LOC_VABOSheepdog_subcategory_crewUtility = 정거장 유틸리티
		#LOC_VABOSheepdog_subcategory_windmills = 풍차
	}
}
