Localization
{
	ko
	{
		#LOC_DynamicBatteryStorage_AdvancedPanel_AdvancedTitle = 고급
		#LOC_DynamicBatteryStorage_AdvancedPanel_BufferTitle = 버퍼
		#LOC_DynamicBatteryStorage_AdvancedPanel_Buffer_PartTitle = 파트
		#LOC_DynamicBatteryStorage_AdvancedPanel_Buffer_SavedDataTitle = 저장된 데이터
		#LOC_DynamicBatteryStorage_AdvancedPanel_Buffer_SizeTitle = 크기
		#LOC_DynamicBatteryStorage_AdvancedPanel_Constants_Off = 상수 끔
		#LOC_DynamicBatteryStorage_AdvancedPanel_Constants_On = 상수 켬
		#LOC_DynamicBatteryStorage_AdvancedPanel_QuickTogglesTitle = 빠른 전환
		#LOC_DynamicBatteryStorage_AdvancedPanel_UserConsumption = 추가 소비량
		#LOC_DynamicBatteryStorage_AdvancedPanel_UserGeneration = 추가 발전량
		#LOC_DynamicBatteryStorage_AdvancedPanel_Variable_Off = 변수 끔
		#LOC_DynamicBatteryStorage_AdvancedPanel_Variable_On = 변수 켬
		#LOC_DynamicBatteryStorage_AdvancedPanel_VesselTitle = 기체
		#LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SavedDataTitle = 저장된 데이터
		#LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatusTitle = 시스템 상태
		#LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatus_Disabled = 충돌로 인해 비활성화됨
		#LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatus_Enabled = 정상 작동
		#LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatus_NoController = 컨트롤러 없음
		#LOC_DynamicBatteryStorage_AdvancedPanel_Vessel_SystemStatus_Offline = 오프라인: 타임워프 < <<1>>x
		#LOC_DynamicBatteryStorage_DetailPanel_NoConsumers = 감지된 소비 장치가 없습니다!
		#LOC_DynamicBatteryStorage_DetailPanel_NoGenerators = 감지된 발전 장치가 없습니다!
		#LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeCharging = 충전까지
		#LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeDepletion = 방전까지
		#LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeEmpty = 방전됨
		#LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeFull = 완충됨
		#LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeFullCharge = 완충까지
		#LOC_DynamicBatteryStorage_PowerPanel_BatteryTimeStable = -
		#LOC_DynamicBatteryStorage_PowerPanel_PowerConsumedTitle = 전력 소비량
		#LOC_DynamicBatteryStorage_PowerPanel_PowerGeneratedTitle = 전력 발전량
		#LOC_DynamicBatteryStorage_PowerPanel_PowerTitle = 전력
		#LOC_DynamicBatteryStorage_SituationPanel_AltitudeTitle = 기체 궤도 고도
		#LOC_DynamicBatteryStorage_SituationPanel_AltitudeUnits = km
		#LOC_DynamicBatteryStorage_SituationPanel_SituationBody = 궤도 천체
		#LOC_DynamicBatteryStorage_SituationPanel_SituationTitle = 기체 상황
		#LOC_DynamicBatteryStorage_SituationPanel_SolarAltitudeTitle = 천체 태양 고도
		#LOC_DynamicBatteryStorage_SituationPanel_SolarAltitudeUnits = Mm
		#LOC_DynamicBatteryStorage_ToolbarPanel_Title = 시스템 모니터
		#LOC_DynamicBatteryStorage_Tooltips_BatteryInfo = 기체 배터리 충전량
		#LOC_DynamicBatteryStorage_Tooltips_BodyAlt = 현재 행성으로부터의 거리
		#LOC_DynamicBatteryStorage_Tooltips_ChargeTimeInfo = 배터리 방전 또는 충전까지 남은 시간
		#LOC_DynamicBatteryStorage_Tooltips_ConstantOff = 태양광 패널 등 모든 상시 발전기 및 소비 장치를 끕니다.
		#LOC_DynamicBatteryStorage_Tooltips_ConstantOn = 태양광 패널 등 모든 상시 발전기 및 소비 장치를 켭니다.
		#LOC_DynamicBatteryStorage_Tooltips_ConsumptionDetail = 상세 소비 정보를 표시합니다.
		#LOC_DynamicBatteryStorage_Tooltips_EclipseTime = 그늘에 있는 시간
		#LOC_DynamicBatteryStorage_Tooltips_GenerationDetail = 상세 발전 정보를 표시합니다.
		#LOC_DynamicBatteryStorage_Tooltips_PowerFlow = 순수 선박 전력 흐름
		#LOC_DynamicBatteryStorage_Tooltips_SituationBody = 궤도 대상 천체
		#LOC_DynamicBatteryStorage_Tooltips_SolarAlt = 항성까지의 거리
		#LOC_DynamicBatteryStorage_Tooltips_SolarEfficiency = 태양광 패널 효율
		#LOC_DynamicBatteryStorage_Tooltips_UserConsumption = 시뮬레이션에 수동으로 전력 소비를 추가합니다.
		#LOC_DynamicBatteryStorage_Tooltips_UserGeneration = 시뮬레이션에 수동으로 전력 생산을 추가합니다.
		#LOC_DynamicBatteryStorage_Tooltips_VariableOff = 엔진 등 모든 간헐적 발전기 및 소비 장치를 켭니다.
		#LOC_DynamicBatteryStorage_Tooltips_VariableOn = 엔진 등 모든 간헐적 발전기 및 소비 장치를 끕니다.
		#LOC_DynamicBatteryStorage_UI_AdditionalConsumption = 추가 소비
		#LOC_DynamicBatteryStorage_UI_AdditionalGeneration = 추가 생산
		#LOC_DynamicBatteryStorage_UI_BatteryManagerTitle = 배터리 상태
		#LOC_DynamicBatteryStorage_UI_BatteryTimeCharging = 충전까지
		#LOC_DynamicBatteryStorage_UI_BatteryTimeDepletion = 방전까지
		#LOC_DynamicBatteryStorage_UI_BatteryTimeEmpty = 방전됨
		#LOC_DynamicBatteryStorage_UI_BatteryTimeFull = 완충됨
		#LOC_DynamicBatteryStorage_UI_BatteryTimeFullCharge = 완충까지
		#LOC_DynamicBatteryStorage_UI_BatteryTimeStable = -
		#LOC_DynamicBatteryStorage_UI_BodySelectionTitle = 기준 천체
		#LOC_DynamicBatteryStorage_UI_Category_Batteries = 전력 저장
		#LOC_DynamicBatteryStorage_UI_Category_Command = 조종 모듈
		#LOC_DynamicBatteryStorage_UI_Category_Communication = 송신기
		#LOC_DynamicBatteryStorage_UI_Category_Converters = 변환기
		#LOC_DynamicBatteryStorage_UI_Category_Engines = 엔진
		#LOC_DynamicBatteryStorage_UI_Category_FissionReactors = 핵분열 원자로
		#LOC_DynamicBatteryStorage_UI_Category_FuelTanks = 연료 탱크
		#LOC_DynamicBatteryStorage_UI_Category_FusionReactors = 핵융합 원자로
		#LOC_DynamicBatteryStorage_UI_Category_Generators = 발전기
		#LOC_DynamicBatteryStorage_UI_Category_Habitation = 거주 모듈
		#LOC_DynamicBatteryStorage_UI_Category_Harvesters = 채굴기
		#LOC_DynamicBatteryStorage_UI_Category_Lights = 조명
		#LOC_DynamicBatteryStorage_UI_Category_Radiators = 방열판
		#LOC_DynamicBatteryStorage_UI_Category_Reactors = 원자로
		#LOC_DynamicBatteryStorage_UI_Category_Science = 과학 장비
		#LOC_DynamicBatteryStorage_UI_Category_SolarPanels = 태양광 패널
		#LOC_DynamicBatteryStorage_UI_ConstantPanelTitle = 전체
		#LOC_DynamicBatteryStorage_UI_DBSDebugTitle = 내부 데이터
		#LOC_DynamicBatteryStorage_UI_DBSErrorController = 컨트롤러를 감지할 수 없습니다
		#LOC_DynamicBatteryStorage_UI_DBSErrorTimewarp = <<1>>x 미만에서 시스템 오프라인
		#LOC_DynamicBatteryStorage_UI_DBSManagerBufferPart = 영향받는 파트
		#LOC_DynamicBatteryStorage_UI_DBSManagerBufferSize = 필요한 버퍼
		#LOC_DynamicBatteryStorage_UI_DBSManagerTitle = 동적 배터리 조정
		#LOC_DynamicBatteryStorage_UI_DBSNoError = 보상 시스템 활성화됨
		#LOC_DynamicBatteryStorage_UI_DBSPartCachedTitle = 파트 캐시된 Ec
		#LOC_DynamicBatteryStorage_UI_DBSVesselCachedTitle = 선박 캐시된 Ec
		#LOC_DynamicBatteryStorage_UI_DistanceUnits = m
		#LOC_DynamicBatteryStorage_UI_EclipseTimeTitle = 일식 시간
		#LOC_DynamicBatteryStorage_UI_ElectricalFlowUnits = EC/s
		#LOC_DynamicBatteryStorage_UI_ElectricalModeName = 전기
		#LOC_DynamicBatteryStorage_UI_ElectricalUnits = Ec
		#LOC_DynamicBatteryStorage_UI_FlowPanelTitle = 전력 흐름
		#LOC_DynamicBatteryStorage_UI_HeatFlowPanelNotOk = <color=#fd6868> 선박의 방열 성능이 부족하여 파트 코어가 과열될 수 있습니다</color>
		#LOC_DynamicBatteryStorage_UI_HeatFlowPanelOk = 파트 코어에 대한 선박의 방열 성능이 적절합니다.
		#LOC_DynamicBatteryStorage_UI_HeatFlowPanelTitle = 열 흐름
		#LOC_DynamicBatteryStorage_UI_IntermittentOff = 꺼짐
		#LOC_DynamicBatteryStorage_UI_IntermittentOn = 켜짐
		#LOC_DynamicBatteryStorage_UI_IntermittentPanelTitle = 온디맨드
		#LOC_DynamicBatteryStorage_UI_IntermittentToggle = 전환
		#LOC_DynamicBatteryStorage_UI_OrbitAltitudeTitle = 천체 궤도 높이
		#LOC_DynamicBatteryStorage_UI_SimulationPanelTitle = 모니터링 전환
		#LOC_DynamicBatteryStorage_UI_SolarAltitudeTitle = 최대 태양 고도
		#LOC_DynamicBatteryStorage_UI_SolarEfficiencyTitle = 예상 패널 효율
		#LOC_DynamicBatteryStorage_UI_SolarManagerTitle = 태양광 패널 시뮬레이터
		#LOC_DynamicBatteryStorage_UI_ThermalFlowUnits = kW
		#LOC_DynamicBatteryStorage_UI_ThermalModeName = 열
		#LOC_DynamicBatteryStorage_UI_TimeUnits = s
		#LOC_DynamicBatteryStorage_UI_TotalHeatConsumptionTitle = 총 방열량
		#LOC_DynamicBatteryStorage_UI_TotalHeatGenerationTitle = 총 발열량
		#LOC_DynamicBatteryStorage_UI_TotalPowerConsumptionTitle = 총 전력 소비량
		#LOC_DynamicBatteryStorage_UI_TotalPowerGenerationTitle = 총 전력 생산량
	}
}
