Localization
{
	ko
	{
		#LOC_AlcoholicAeronautics_VABOrganizer_Subcategory_EthanolEngines = 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-15-2_description = 이름 그대로인 Double 엔진은 Shot 엔진이 다소 약하다고 생각하는 분들을 만족시킬 것입니다. 여전히 성능은 적당한 수준이지만, 추가적인 추력은 다루기 힘든 극초음속 기체를 우주 경계까지, 혹은 그 너머까지 밀어 올리는 데 도움을 줍니다.
		#LOC_AlcoholicAeronautics_aa-15-2_tags = alco etha ascent main lower propuls aa 15 xlr11 x1 x15 double cluster
		#LOC_AlcoholicAeronautics_aa-15-2_title = AA-15-2 "Double" 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-15_description = 4개의 압력 공급식 연소실로 구성된 소형 Shot 엔진은 단일 추진제가 필요 없습니다. 이 작지만 강한 엔진은 원래 실험용 항공기를 기록적인 속도와 고도로 가속하기 위해 설계되었습니다.
		#LOC_AlcoholicAeronautics_aa-15_tags = alco etha ascent main lower propuls aa 15 xlr11 x1 x15
		#LOC_AlcoholicAeronautics_aa-15_title = AA-15 "Shot" 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-1_description = Rummer는 대량 생산된 최초의 액체 엔진입니다. 에탄올과 산화제를 연소실로 전달하는 터보 펌프는 소량의 단일 추진제 분해를 통해 구동됩니다. 흑연 제트 베인을 사용하여 배기가스 일부를 전환함으로써 원시적인 형태의 추력 편향을 구현할 수 있습니다.
		#LOC_AlcoholicAeronautics_aa-1_tags = alco etha ascent main lower propuls aa 1 a4 rd100 rd101 v2 r1 r2
		#LOC_AlcoholicAeronautics_aa-1_title = AA-1 "Rummer" 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-21_description = Flute는 Highball에서 파생된 고급 에탄올 엔진으로, 추력과 비추력이 향상되었으며 멋진 신형 짐벌 연소실까지 갖추고 있습니다. Highball과 달리 가스 발생기가 연료와 산화제를 사용하므로 엔진 가동에 단일 추진제가 필요하지 않습니다.
		#LOC_AlcoholicAeronautics_aa-21_tags = alco etha ascent main lower propuls aa 21 xlr71 sm64 navaho
		#LOC_AlcoholicAeronautics_aa-21_title = AA-21 "Flute" 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-28-v_description = 진공 최적화 버전인 Teku는 매우 인상적인 터보 기계 장치 없이는 에탄올로 뽑아낼 수 있는 비추력의 한계에 근접합니다. Chalice의 대형 노즐 연장부는 고전적인 삭마 모델과 매끄러운 탄소-탄소 변형 모델 두 가지로 제공됩니다.
		#LOC_AlcoholicAeronautics_aa-28-v_tags = alco etha orbit vac upper propuls aa 28 rs88 cst100 starliner
		#LOC_AlcoholicAeronautics_aa-28-v_title = AA-28-V "Chalice" 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-28_description = Teku는 우아하고 신뢰할 수 있는 설계를 갖춘 현대적인 에탄올 엔진으로, 복잡하기 짝이 없던 이전 세대의 배관과는 차원이 다릅니다. 매우 높은 추력 대 중량비와 완벽한 운용 기록 덕분에 비상 탈출 시스템에 특히 적합하지만, 다른 다양한 용도로도 충분히 활용할 수 있습니다.
		#LOC_AlcoholicAeronautics_aa-28_tags = alco etha ascent main lower propuls aa 28 rs88 cst100 starliner
		#LOC_AlcoholicAeronautics_aa-28_title = AA-28 "Teku" 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-3_description = 단순화된 배관, 더 견고한 터보 기계 장치, 약간 확장된 노즐 덕분에 Charka는 이전 모델보다 더 높은 추력과 비추력을 제공합니다. 혁신적인 토로이달 탱크는 3배 더 많은 단일 추진제를 저장할 수 있어 더 긴 연소 시간과 더 야심 찬 임무를 지원합니다.
		#LOC_AlcoholicAeronautics_aa-3_tags = alco etha ascent main lower propuls aa 3 rd102 rd103 r3 r5
		#LOC_AlcoholicAeronautics_aa-3_title = AA-3 "Charka" 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-6-4_description = 더 고성능인 로켓 연료의 인기에 대응하기 위해, 우리 마케팅 팀은 기존 엔진들을 한데 묶어 판매하자는 아이디어를 냈습니다. 이 구형 유닛들은 재고 정리 중이며, 3개 가격에 4개를 드립니다!
		#LOC_AlcoholicAeronautics_aa-6-4_tags = alco etha ascent main lower propuls aa 6 xlr43 a6 a7 redstone jupiter quad cluster
		#LOC_AlcoholicAeronautics_aa-6-4_title = AA-6-4 "Old Fashioned" 에탄올 엔진
		#LOC_AlcoholicAeronautics_aa-6_description = Highball은 단일 인젝터 플레이트와 원통형 연소실을 특징으로 하는 고전적인 이원 추진제 엔진 구조를 완전히 재설계하여, 향후 모든 액체 로켓 엔진의 길을 열었습니다. 더 휘발성이 강한 추진제에 대한 관심이 높아지고 있음에도 불구하고, 우리 엔지니어들은 안전을 위해 검증된 에탄올을 고수했습니다.
		#LOC_AlcoholicAeronautics_aa-6_tags = alco etha ascent main lower propuls aa 6 xlr43 a6 a7 redstone jupiter
		#LOC_AlcoholicAeronautics_aa-6_title = AA-6 "Highball" 에탄올 엔진
		#LOC_AlcoholicAeronautics_manufacturer_title = Alcoholic Aeronautics
		#LOC_AlcoholicAeronautics_switcher_fuelSwitch_Ethanol = 에탄올
		#LOC_AlcoholicAeronautics_switcher_fuelSwitch_EthanolOxidizer = 에탄올 + 산화제
	}
}
