Localization
{
	ko
	{
		#LOC_BRP_AntimatterDetonationPotential_Abbreviation = 반물질 폭발
		#LOC_BRP_AntimatterDetonationPotential_DisplayName = 반물질 폭발 잠재력
		#LOC_BRP_BRPSystemHeatFlux0_Abbreviation = 열 유속 0
		#LOC_BRP_BRPSystemHeatFlux0_DisplayName = 시스템 열 유속 - 루프 0
		#LOC_BRP_BRPSystemHeatFlux1_Abbreviation = 열 유속 1
		#LOC_BRP_BRPSystemHeatFlux1_DisplayName = 시스템 열 유속 - 루프 1
		#LOC_BRP_BRPSystemHeatFlux2_Abbreviation = 열 유속 2
		#LOC_BRP_BRPSystemHeatFlux2_DisplayName = 시스템 열 유속 - 루프 2
		#LOC_BRP_BRPSystemHeatFlux3_Abbreviation = 열 유속 3
		#LOC_BRP_BRPSystemHeatFlux3_DisplayName = 시스템 열 유속 - 루프 3
		#LOC_BRP_BRPSystemHeatFlux4_Abbreviation = 열 유속 4
		#LOC_BRP_BRPSystemHeatFlux4_DisplayName = 시스템 열 유속 - 루프 4
		#LOC_BRP_BRPSystemHeatFlux5_Abbreviation = 열 유속 5
		#LOC_BRP_BRPSystemHeatFlux5_DisplayName = 시스템 열 유속 - 루프 5
		#LOC_BRP_BRPSystemHeatFlux6_Abbreviation = 열 유속 6
		#LOC_BRP_BRPSystemHeatFlux6_DisplayName = 시스템 열 유속 - 루프 6
		#LOC_BRP_BRPSystemHeatFlux7_Abbreviation = 열 유속 7
		#LOC_BRP_BRPSystemHeatFlux7_DisplayName = 시스템 열 유속 - 루프 7
		#LOC_BRP_BRPSystemHeatFlux8_Abbreviation = 열 유속 8
		#LOC_BRP_BRPSystemHeatFlux8_DisplayName = 시스템 열 유속 - 루프 8
		#LOC_BRP_BRPSystemHeatFlux9_Abbreviation = 열 유속 9
		#LOC_BRP_BRPSystemHeatFlux9_DisplayName = 시스템 열 유속 - 루프 9
		#LOC_BRP_CryoTankBoiloff_Abbreviation = 기화
		#LOC_BRP_CryoTankBoiloff_DisplayName = 극저온 탱크 기화
		#LOC_BRP_DeepFreeze_ThawPotential_Abbreviation = 해동 잠재력
		#LOC_BRP_DeepFreeze_ThawPotential_DisplayName = 해동 잠재력
		#LOC_BRP_DeepFreeze_UnpoweredTime_Abbreviation = 냉동기 무전력 시간
		#LOC_BRP_DeepFreeze_UnpoweredTime_DisplayName = 냉동기 무전력 시간
		#LOC_BRP_EL_WorkHours_Abbreviation = 작업 시간
		#LOC_BRP_EL_WorkHours_DisplayName = 작업 시간
		#LOC_BRP_KSPWarpDrive_EMLossPotential_Abbreviation = EM 손실 잠재력
		#LOC_BRP_KSPWarpDrive_EMLossPotential_DisplayName = 이질적 물질 손실 잠재력
		#LOC_BRP_LoadingScreenText = 백그라운드 모듈 어댑터 로딩 중
		#LOC_BRP_ScienceLabData_Abbreviation = 데이터
		#LOC_BRP_ScienceLabData_DisplayName = 과학 연구실 데이터
		#LOC_BRP_Science_Abbreviation = 과학
		#LOC_BRP_Science_DisplayName = 과학
		#LOC_BRP_SpaceObjectMass_Abbreviation = 질량
		#LOC_BRP_SpaceObjectMass_DisplayName = 우주 물체 질량
	}
}
