Localization
{
	ko
	{
		#Kopernicus_SolarPanelFixer_AutoTrack = [자동] :
		#Kopernicus_SolarPanelFixer_Automatic = 자동
		#Kopernicus_SolarPanelFixer_SelectTrackedstar_msg = 이 태양광 패널로 추적할 항성을 선택하십시오.
		#Kopernicus_SolarPanelFixer_SelectTrackingBody = 추적할 천체 선택
		#Kopernicus_SolarPanelFixer_Selecttrackedstar = 추적할 항성 선택
		#Kopernicus_SolarPanelFixer_Trackedstar = 추적 중인 항성
		#Kopernicus_SolarPanelFixer_badorientation = 잘못된 방향
		#Kopernicus_SolarPanelFixer_broken = 고장남
		#Kopernicus_SolarPanelFixer_eclipse = 천문학적 일식
		#Kopernicus_SolarPanelFixer_energy = 에너지 출력
		#Kopernicus_SolarPanelFixer_exposure = 노출
		#Kopernicus_SolarPanelFixer_extending = 펼치는 중
		#Kopernicus_SolarPanelFixer_failure = 실패
		#Kopernicus_SolarPanelFixer_inshadow = 그림자 속
		#Kopernicus_SolarPanelFixer_invalidstate = 잘못된 상태
		#Kopernicus_SolarPanelFixer_occludedby = <<1>>에 의해 가려짐
		#Kopernicus_SolarPanelFixer_occludedbyenvironment = 환경에 의해 가려짐
		#Kopernicus_SolarPanelFixer_retracted = 접힘
		#Kopernicus_SolarPanelFixer_retracting = 접는 중
		#Kopernicus_SolarPanelFixer_solarPanelStatus = 태양광 패널 상태
		#Kopernicus_SolarPanelFixer_sunDirect = 태양 직사광
		#Kopernicus_SolarPanelFixer_wear = 마모
		#Kopernicus_UI_MissingTextures_Close = 닫기
		#Kopernicus_UI_MissingTextures_Description = 일부 행성 텍스처를 불러오지 못했습니다. 이는 대개 행성 팩의 설정 파일이 손상되었거나 잘못 설치되었음을 의미합니다. 아래 나열된 행성들은 어떤 방식으로든 문제가 발생할 가능성이 높습니다. 텍스처의 중요도에 따라 경미한 문제일 수도 있고 행성 자체가 완전히 깨질 수도 있습니다. 기존 저장 데이터를 불러올 때는 주의하십시오.
		#Kopernicus_UI_MissingTextures_NoBody = <천체 없음>
		#Kopernicus_UI_MissingTextures_Title = Kopernicus - 텍스처 누락
	}
}
