Localization
{
	ko
	{
		#autoLOC_HETTN_01001 = 빈 기술 트리 노드 숨기기
		#autoLOC_HETTN_01101 = 노드 설정
		#autoLOC_HETTN_01102 = 연구 요구 사항
		#autoLOC_HETTN_01103 = 노드 잠금을 해제하는 데 필요한 상위 연구를 설정합니다.
		#autoLOC_HETTN_01104 = 연구 불가능한 노드 숨기기
		#autoLOC_HETTN_01105 = 연구가 가능해질 때까지 노드를 숨기려면 활성화하십시오.
		#autoLOC_HETTN_01106 = 빈 노드 숨기기
		#autoLOC_HETTN_01107 = 부품이나 부품 업그레이드가 없는 노드를 숨기려면 활성화하십시오.
기술 선은 비어 있지 않은 노드에도 연결됩니다.

모든 노드를 보려면 비활성화하십시오.
		#autoLOC_HETTN_01108 = 빈 가로 공간 제거
		#autoLOC_HETTN_01109 = 숨겨진 기술 트리 노드 행으로 인해 생성된 빈 공간을 제거하기 위해 노드를 위/아래로 이동합니다.
		#autoLOC_HETTN_01110 = 빈 세로 공간 제거
		#autoLOC_HETTN_01111 = 숨겨진 기술 트리 노드 열로 인해 생성된 빈 공간을 제거하기 위해 노드를 왼쪽/오른쪽으로 이동합니다.
		#autoLOC_HETTN_01112 = RDNode 설정 사용
		#autoLOC_HETTN_01113 = 빈 노드를 숨길 때 RDNode 모듈의 "hideEmpty" 필드를 사용하려면 활성화하십시오.
ModuleManager를 통해 필드를 편집하십시오.

모든 빈 노드를 자동으로 숨기려면 비활성화하십시오(기본값).
		#autoLOC_HETTN_01114 = 과학 점수 이전
		#autoLOC_HETTN_01115 = 빈 노드의 과학 점수 비용이 하위 노드로 이전되는 방식을 설정합니다.
과학 점수는 5의 배수로 균등하게 이전됩니다.

기본값 (과학 점수 이전 안 함)
과학 장벽 (하위 노드로 이전)
과학 전파 (모든 후손 노드로 이전)
		#autoLOC_HETTN_01201 = 줌 설정
		#autoLOC_HETTN_01202 = 최대 줌 (%)
		#autoLOC_HETTN_01203 = 기술 트리를 볼 때 최대 스크롤 줌을 설정합니다.
		#autoLOC_HETTN_01204 = 최소 줌 (%)
		#autoLOC_HETTN_01205 = 기술 트리를 볼 때 최소 스크롤 줌을 설정합니다.
		#autoLOC_HETTN_01206 = 줌 속도 (%)
		#autoLOC_HETTN_01207 = 기술 트리를 볼 때 줌 스크롤 속도를 설정합니다.
		#autoLOC_HETTN_01301 = 기타 설정
		#autoLOC_HETTN_01302 = 추가 디버그 로깅
		#autoLOC_HETTN_01303 = 문제 보고를 위한 추가 로그 정보를 출력하려면 활성화하십시오.

게임 끊김 현상을 최소화하려면 평소에는 끄십시오.
		#autoLOC_HETTN_01401 = 기본값
		#autoLOC_HETTN_01402 = 아무거나
		#autoLOC_HETTN_01403 = 모두
		#autoLOC_HETTN_01501 = 기본값
		#autoLOC_HETTN_01502 = 과학 장벽
		#autoLOC_HETTN_01503 = 과학 전파
	}
}
