Localization
{
	ko
	{
		#TOOLBAR_UI_ABOUT = Toolbar 플러그인 정보...
		#TOOLBAR_UI_ACTIVATE_AUTO_HIDE = 화면 가장자리 자동 숨기기 활성화
		#TOOLBAR_UI_BUTTON_ICON = 버튼 아이콘:
		#TOOLBAR_UI_BUTTON_TOOLTIP_TEXT = 버튼 툴팁 텍스트:
		#TOOLBAR_UI_CANCEL = 취소
		#TOOLBAR_UI_CLOSE = 닫기
		#TOOLBAR_UI_CONFIGURE_SCALE = 배율 설정...
		#TOOLBAR_UI_CONFIGURE_SCALE_HINT = 버튼 크기 설정
		#TOOLBAR_UI_CONFIGURE_VISIBLE_BUTTONS = 표시할 버튼 설정...
		#TOOLBAR_UI_CONFIGURE_VISIBLE_BUTTONS_HINT = 표시할 Toolbar 버튼 설정
		#TOOLBAR_UI_CONFIG_VISIBLE_BUTTON = 현재 게임 장면에서 표시할 버튼을 설정하십시오.
		#TOOLBAR_UI_CONFIG_VISIBLE_BUTTON_NOTE = 참고: 여기서 버튼을 활성화하더라도 플러그인에 따라 특정 게임 장면에서 버튼을 숨길 수 있습니다.
		#TOOLBAR_UI_CONFIG_VISIBLE_TITLE = Toolbar 버튼 표시 설정
		#TOOLBAR_UI_CREATE_NEW_FOLDER = 새 폴더 만들기...
		#TOOLBAR_UI_CREATE_NEW_TOOLBAR = 새 Toolbar 만들기
		#TOOLBAR_UI_DEACTIVATE_AUTO_HIDE = 화면 가장자리 자동 숨기기 비활성화
		#TOOLBAR_UI_DELETE_FOLDER = 폴더 삭제
		#TOOLBAR_UI_DELETE_FOLDER_HINT = 이 폴더를 삭제하시겠습니까? 폴더 안의 버튼은 메인 Toolbar로 이동합니다.
		#TOOLBAR_UI_DELETE_TOOLBAR = Toolbar 삭제...
		#TOOLBAR_UI_DELETE_TOOLBAR_HINT = 이 Toolbar를 삭제하시겠습니까?
		#TOOLBAR_UI_DELETE_TOOLBAR_TITLE = Toolbar 삭제
		#TOOLBAR_UI_EDIT_FOLDER_SETTINGS = 폴더 설정 편집
		#TOOLBAR_UI_FOLDER_SETTINGS = 폴더 설정
		#TOOLBAR_UI_HIDE_BORDER = 테두리 숨기기
		#TOOLBAR_UI_KSP_SKIN = KSP 스킨 사용
		#TOOLBAR_UI_LOCK_BUTTON_ORDER = 버튼 순서 잠금
		#TOOLBAR_UI_LOCK_POSITION_AND_SIZE = 위치 및 크기 잠금
		#TOOLBAR_UI_NEW_FOLDER = 새 폴더
		#TOOLBAR_UI_OK = 확인
		#TOOLBAR_UI_SCALE_FOLLOW_APP_SCALE = KSP 앱 배율 따르기
		#TOOLBAR_UI_SCALE_FOLLOW_UI_SCALE = KSP UI 배율 따르기
		#TOOLBAR_UI_SCALE_USE_SLIDER = 슬라이더로 배율 조정
		#TOOLBAR_UI_SCALE_VISIBLE_TITLE = 버튼 배율 조정
		#TOOLBAR_UI_SELECT_ICON = 아이콘 선택
		#TOOLBAR_UI_SHOW_BORDER = 테두리 표시
		#TOOLBAR_UI_UNITY_SKIN = Unity 'Smoke' 스킨 사용
		#TOOLBAR_UI_UNLOCK_BUTTON_ORDER = 버튼 순서 잠금 해제
		#TOOLBAR_UI_UNLOCK_POSITION_AND_SIZE = 위치 및 크기 잠금 해제
	}
}
