Localization
{
	ko
	{
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_ConverterName = 연료 전지 [N2H4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_NTO_ConverterName = 연료 전지 [N2H4+N2O4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_NTO_StartActionName = 연료 전지 [N2H4+N2O4] 시작
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_NTO_StopActionName = 연료 전지 [N2H4+N2O4] 정지
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_NTO_ToggleActionName = 연료 전지 [N2H4+N2O4] 전환
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_StartActionName = 연료 전지 [N2H4] 시작
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_StopActionName = 연료 전지 [N2H4] 정지
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_ToggleActionName = 연료 전지 [N2H4] 전환
		#LOC_ChemicalPropulsion_FuelCell_Kerosene_IntakeAir_ConverterName = 연료 전지 [등유]
		#LOC_ChemicalPropulsion_FuelCell_Kerosene_IntakeAir_StartActionName = 연료 전지 [등유] 시작
		#LOC_ChemicalPropulsion_FuelCell_Kerosene_IntakeAir_StopActionName = 연료 전지 [등유] 정지
		#LOC_ChemicalPropulsion_FuelCell_Kerosene_IntakeAir_ToggleActionName = 연료 전지 [등유] 전환
		#LOC_ChemicalPropulsion_FuelCell_LqdHydrogen_LqdOxygen_ConverterName = 연료 전지 [LH2+O2]
		#LOC_ChemicalPropulsion_FuelCell_LqdHydrogen_LqdOxygen_StartActionName = 연료 전지 [LH2+O2] 시작
		#LOC_ChemicalPropulsion_FuelCell_LqdHydrogen_LqdOxygen_StopActionName = 연료 전지 [LH2+O2] 정지
		#LOC_ChemicalPropulsion_FuelCell_LqdHydrogen_LqdOxygen_ToggleActionName = 연료 전지 [LH2+O2] 전환
		#LOC_ChemicalPropulsion_ISRU_HTP_ConverterName = H2O2
		#LOC_ChemicalPropulsion_ISRU_HTP_StartActionName = ISRU [H2O2] 시작
		#LOC_ChemicalPropulsion_ISRU_HTP_StopActionName = ISRU [H2O2] 정지
		#LOC_ChemicalPropulsion_ISRU_Kerosene_ConverterName = 등유
		#LOC_ChemicalPropulsion_ISRU_Kerosene_HTP_ConverterName = 등유+H2O2
		#LOC_ChemicalPropulsion_ISRU_Kerosene_HTP_StartActionName = ISRU [등유+H2O2] 시작
		#LOC_ChemicalPropulsion_ISRU_Kerosene_HTP_StopActionName = ISRU [등유+H2O2] 정지
		#LOC_ChemicalPropulsion_ISRU_Kerosene_LqdOxygen_ConverterName = 등유+LO2
		#LOC_ChemicalPropulsion_ISRU_Kerosene_LqdOxygen_StartActionName = ISRU [등유+LO2] 시작
		#LOC_ChemicalPropulsion_ISRU_Kerosene_LqdOxygen_StopActionName = ISRU [등유+LO2] 정지
		#LOC_ChemicalPropulsion_ISRU_Kerosene_StartActionName = ISRU [등유] 시작
		#LOC_ChemicalPropulsion_ISRU_Kerosene_StopActionName = ISRU [등유] 정지
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_ConverterName = LH2
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_LqdOxygen_ConverterName = LH2+LO2
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_LqdOxygen_StartActionName = ISRU [LH2+LO2] 시작
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_LqdOxygen_StopActionName = ISRU [LH2+LO2] 정지
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_StartActionName = ISRU [LH2] 시작
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_StopActionName = ISRU [LH2] 정지
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_ConverterName = LCH4
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_LqdOxygen_ConverterName = LCH4+LO2
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_LqdOxygen_StartActionName = ISRU [LCH4+LO2] 시작
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_LqdOxygen_StopActionName = ISRU [LCH4+LO2] 정지
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_StartActionName = ISRU [LCH4] 시작
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_StopActionName = ISRU [LCH4] 정지
		#LOC_ChemicalPropulsion_ISRU_LqdOxygen_ConverterName = LO2
		#LOC_ChemicalPropulsion_ISRU_LqdOxygen_StartActionName = ISRU [LO2] 시작
		#LOC_ChemicalPropulsion_ISRU_LqdOxygen_StopActionName = ISRU [LO2] 정지
		#LOC_ChemicalPropulsion_Kerbalism_Anthraquinone_desc = <b>Oxygen</b>과 <b>Hydrogen</b>의 산화 환원 반응을 사용하여 <b>HTP</b>를 합성합니다.
		#LOC_ChemicalPropulsion_Kerbalism_HydrazineOxygenFuelCell_desc = <b>Hydrazine</b>과 <b>Oxygen</b> 가스를 연소시켜 부산물로 <b>식수</b>와 <b>Nitrogen</b> 가스를 생성하는 비상용 연료 전지입니다.
		#LOC_ChemicalPropulsion_Kerbalism_HydrazineOxygenFuelCell_title = Hydrazine+O2 연료 전지
		#LOC_ChemicalPropulsion_Kerbalism_HydrazineProduction_desc = <b>HTP</b>와 <b>Ammonia</b>가 반응하여 <b>Hydrazine</b>, <b>Oxygen</b>, <b>식수</b>를 생성합니다.
		#LOC_ChemicalPropulsion_Kerbalism_MethaneFilter_desc = 대기에서 <b>Methane</b>을 추출합니다.
		#LOC_ChemicalPropulsion_Kerbalism_MethaneFilter_title = Methane 필터
		#LOC_ChemicalPropulsion_Kerbalism_MethanePump_desc = 바다에서 <b>Methane</b>을 추출합니다.
		#LOC_ChemicalPropulsion_Kerbalism_MethanePump_title = Methane 펌프
		#LOC_ChemicalPropulsion_Kerbalism_Methane_title = Methane
		#LOC_ChemicalPropulsion_Kerbalism_NitroHydrazine_desc = <b>HTP</b>와 <b>Ammonia</b>가 <b>Nitrogen</b> 주입과 함께 반응하여 <b>Hydrazine</b>과 <b>Oxygen</b>을 생성합니다.
		#LOC_ChemicalPropulsion_Kerbalism_PressurizedTank_Methane_desc = 250 bar로 가압된 <b>Methane</b> 가스를 저장합니다.
		#LOC_ChemicalPropulsion_Kerbalism_Process_HydrazineOxygenFuelCell = hydrazine 연료 전지
		#LOC_ChemicalPropulsion_Kerbalism_Sabatier_desc = <b>Hydrogen</b>과 <b>CarbonDioxide</b>가 니켈 촉매와 반응하여 <b>식수</b>와 <b>Methane</b>을 생성합니다.
		#LOC_ChemicalPropulsion_Kerbalism_empty_HTP = $VESSEL 탱크에 남은 HTP가 없습니다.
		#LOC_ChemicalPropulsion_Kerbalism_empty_Hydrazine = $VESSEL 탱크에 남은 hydrazine이 없습니다.
		#LOC_ChemicalPropulsion_Kerbalism_empty_Methane = $VESSEL 탱크에 남은 methane이 없습니다.
		#LOC_ChemicalPropulsion_Kerbalism_low_HTP = $VESSEL의 HTP 탱크가 거의 비었습니다.
		#LOC_ChemicalPropulsion_Kerbalism_low_Hydrazine = $VESSEL의 hydrazine 탱크가 거의 비었습니다.
		#LOC_ChemicalPropulsion_Kerbalism_low_Methane = $VESSEL의 methane 탱크가 거의 비었습니다.
		#LOC_ChemicalPropulsion_Kerbalism_refill_HTP = $VESSEL HTP 탱크 재충전 완료
		#LOC_ChemicalPropulsion_Kerbalism_refill_Hydrazine = $VESSEL hydrazine 탱크 재충전 완료
		#LOC_ChemicalPropulsion_Kerbalism_refill_Methane = $VESSEL methane 탱크 재충전 완료
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Ethanol_LqdOxygen = Ethalox 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Hydrazine_LqdOxygen = Hydrazine-LOX 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Hydrazine_NTO = 하이퍼골릭 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_HTP = Keroxide 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_IWFNA = Kerosene-HNO3 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_LqdHydrogen_LqdOxygen = Kerohydrolox 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_LqdOxygen = Kerolox 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_NTO = Kerosene-NTO 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_LqdAmmonia_LqdOxygen = Ammonilox 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_LqdHydrogen_LqdOxygen = Hydrolox 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_LqdMethane_LqdOxygen = Methalox 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_bipropellant = 기타 이원 추진제 엔진
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_rcs_bipropellant = 이원 추진제 RCS
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_rcs_monopropellant = 일원 추진제 RCS
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_aviation = 항공 연료
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_bipropellant = 이원 추진제
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_cryogenic = 극저온 추진제
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_ignitor = 점화제
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_monopropellant = 일원 추진제
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_storable = 저장 가능 추진제
		#LOC_ChemicalPropulsion_fuel_title = 연료
		#LOC_ChemicalPropulsion_fuels_title = 연료
		#LOC_ChemicalPropulsion_ignitor_pyrotechnic_description = 엔진을 단 한 번만 점화할 수 있는 일회용 화공 장치입니다. 추진제 종류와는 무관합니다.
		#LOC_ChemicalPropulsion_ignitor_pyrotechnic_title = 화공 장치
		#LOC_ChemicalPropulsion_ignitor_title = 점화기
		#LOC_ChemicalPropulsion_ignitors_title = 점화기
		#LOC_ChemicalPropulsion_misc_appearance_desc = 외관
		#LOC_ChemicalPropulsion_none_title = 없음
		#LOC_ChemicalPropulsion_oxidizer_title = 산화제
		#LOC_ChemicalPropulsion_oxidizers_title = 산화제
		#LOC_ChemicalPropulsion_propellant_Ethanol_LqdOxygen_title = 에탄올 / 산소
		#LOC_ChemicalPropulsion_propellant_Hydrazine_NTO_title = 하이드라진 / NTO
		#LOC_ChemicalPropulsion_propellant_Kerosene_LqdHydrogen_LqdOxygen_description = 케로신과 액체 수소 사이에서 고민되십니까? 둘 다 사용해 보십시오! 높은 비추력과 그보다 더 높은 공학적 복잡성을 즐길 수 있습니다. 비율은 1:4:3이며, 탱크 구성은 직접 해결하십시오.
		#LOC_ChemicalPropulsion_propellant_Kerosene_LqdHydrogen_LqdOxygen_title = 케로신 / 수소 / 산소
		#LOC_ChemicalPropulsion_propellant_Kerosene_LqdOxygen_title = 케로신 / 산소
		#LOC_ChemicalPropulsion_propellant_LqdAmmonia_LqdOxygen_title = 암모니아 / 산소
		#LOC_ChemicalPropulsion_propellant_LqdHydrogen_LqdOxygen_title = 수소 / 산소
		#LOC_ChemicalPropulsion_propellant_LqdMethane_LqdOxygen_title = 메탄 / 산소
		#LOC_ChemicalPropulsion_propellant_cryogenic_hypergolic_fuel_description = 극저온 자동 점화 연료
		#LOC_ChemicalPropulsion_propellant_cryogenic_hypergolic_oxidizer_description = 극저온 자동 점화 산화제
		#LOC_ChemicalPropulsion_propellant_cryogenic_non-hypergolic_fuel_description = 극저온 비자동 점화 연료
		#LOC_ChemicalPropulsion_propellant_cryogenic_non-hypergolic_oxidizer_description = 극저온 비자동 점화 산화제
		#LOC_ChemicalPropulsion_propellant_cryogenic_propellant_description = 극저온 추진제
		#LOC_ChemicalPropulsion_propellant_storable_hypergolic_fuel_description = 저장 가능 자동 점화 연료
		#LOC_ChemicalPropulsion_propellant_storable_hypergolic_oxidizer_description = 저장 가능 자동 점화 산화제
		#LOC_ChemicalPropulsion_propellant_storable_non-hypergolic_fuel_description = 저장 가능 비자동 점화 연료
		#LOC_ChemicalPropulsion_propellant_storable_non-hypergolic_oxidizer_description = 저장 가능 비자동 점화 산화제
		#LOC_ChemicalPropulsion_propellant_storable_propellant_description = 저장 가능 추진제
		#LOC_ChemicalPropulsion_propellant_title = 추진제
		#LOC_ChemicalPropulsion_propellants_title = 추진제
		#LOC_ChemicalPropulsion_solid_title = 고체 추진제
		#LOC_ChemicalPropulsion_solids_title = 고체 추진제
		#LOC_ChemicalPropulsion_tank_ignitor_1_desc = 다양한 자동 점화용 점화제를 소량 안전하게 저장할 수 있는 소형 방사형 부착 탱크입니다.
		#LOC_ChemicalPropulsion_tank_ignitor_1_title = HIT-02 점화제 탱크
		#LOC_ChemicalPropulsion_tank_ignitor_2_desc = 방사형으로 부착되는 3개 묶음의 자동 점화용 점화제 탱크입니다.
		#LOC_ChemicalPropulsion_tank_ignitor_2_title = HIT-06 점화제 탱크 어셈블리
		#LOC_ChemicalPropulsion_tank_ignitor_3_desc = 이 작은 구형 탱크는 가장 크고 다루기 힘든 엔진이라도 여러 번 시동을 걸 수 있을 만큼 충분한 하이퍼골릭 점화제를 저장할 수 있습니다.
		#LOC_ChemicalPropulsion_tank_ignitor_3_title = HIT-12 점화제 구형 탱크
	}
}
