Localization
{
	ko
	{
		#LOC_SpaceDust_switcher_instrument_h2o = 식수 분광계
		#LOC_SpaceDust_switcher_instrument_h2o_detail = <b>발견:</b> <color=#06ff00>예</color> \n<b>식별:</b> <color=#06ff00>예</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#06ff00>높음</color>
		#LOC_SpaceDust_switcher_instrument_h2o_summary = 천체 주변의 <b>식수</b>를 탐지합니다
		#LOC_SpaceDust_switcher_instrument_hexagen = Hexagen 분광계
		#LOC_SpaceDust_switcher_instrument_hexagen_detail = <b>발견:</b> <color=#06ff00>예</color> \n<b>식별:</b> <color=#06ff00>예</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#f3a000>중간</color>
		#LOC_SpaceDust_switcher_instrument_hexagen_summary = 천체 주변의 <b>Hexagen</b>을 탐지합니다
		#LOC_SpaceDust_switcher_instrument_hydrokerbon = Hydrokerbon 분광계
		#LOC_SpaceDust_switcher_instrument_hydrokerbon_detail = <b>발견:</b> <color=#06ff00>예</color> \n<b>식별:</b> <color=#06ff00>예</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#f3a000>중간</color>
		#LOC_SpaceDust_switcher_instrument_hydrokerbon_summary = 천체 주변의 <b>Hydrokerbon</b>을 탐지합니다
		#LOC_SpaceDust_switcher_instrument_oxium = Oxium 분광계
		#LOC_SpaceDust_switcher_instrument_oxium_detail = <b>발견:</b> <color=#06ff00>예</color> \n<b>식별:</b> <color=#06ff00>예</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#06ff00>높음</color>
		#LOC_SpaceDust_switcher_instrument_oxium_summary = 천체 주변의 <b>Oxium</b>을 탐지합니다
		#LOC_SpaceDust_switcher_instrument_propellium = Propellium 분광계
		#LOC_SpaceDust_switcher_instrument_propellium_detail = <b>발견:</b> <color=#06ff00>예</color> \n<b>식별:</b> <color=#06ff00>예</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#06ff00>높음</color>
		#LOC_SpaceDust_switcher_instrument_propellium_summary = 천체 주변의 <b>Propellium</b>을 탐지합니다
		#LOC_SpaceDust_switcher_instrument_rok = 암석 분광계
		#LOC_SpaceDust_switcher_instrument_rok_detail = <b>발견:</b> <color=#06ff00>예</color> \n<b>식별:</b> <color=#06ff00>예</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#f3a000>낮음</color>
		#LOC_SpaceDust_switcher_instrument_rok_summary = 천체 주변의 <b>암석</b>을 탐지합니다
	}
}
