Localization
{
	ko
	{
		#LOC_KAC_1 = 생성자
		#LOC_KAC_10 = 워프
		#LOC_KAC_100 = 년
		#LOC_KAC_101 = 시간
		#LOC_KAC_102 = 분
		#LOC_KAC_103 = 초
		#LOC_KAC_104 = 유효하지 않은 필드는 0으로 처리됩니다
		#LOC_KAC_105 = 현재 활성 비행 경로에서 다음 SOI 변경을 감지하기 위해 모니터링합니다.
		#LOC_KAC_106 = 초 동안 알람 시간을 유지하며, 해당 시점에 마지막으로 캡처된 변경 시간을 유지합니다.
		#LOC_KAC_107 = 올바른 위상 각도를 위해 활성 전이 알람을 확인하고 재계산합니다. 이 계산은 원형 궤도를 기반으로 하므로 타원 궤도의 경우 시간이 지남에 따라 재계산이 필요합니다.
		#LOC_KAC_1071 = 알람은 다음 범위 내에 들어올 때까지 조정됩니다:
		#LOC_KAC_108 = 초 동안 목표 위상 각도를 유지하며, 해당 시점에 마지막으로 캡처된 각도 시간을 유지합니다.
		#LOC_KAC_1081 = 엄청난 성능 향상이 있지 않는 한 이 기능을 끄는 것을 권장하지 않습니다
		#LOC_KAC_109 = 비행 경로가 변경됨에 따라 활성 궤도 노드 알람을 확인하고 재계산합니다. 알람은 다음 범위 내에 들어올 때까지 조정됩니다:
		#LOC_KAC_11 = (비활성화됨)
		#LOC_KAC_110 = 초 동안 노드를 유지합니다.
		#LOC_KAC_111 = 기동 노드가 선박의 비행 계획에서 감지될 때마다 알람을 생성합니다
		#LOC_KAC_112 = 초 이내라면 알람이 생성되지 않습니다
		#LOC_KAC_113 = 알람
		#LOC_KAC_114 = 주의가 필요한 시간
		#LOC_KAC_115 = 기동 노드 접근 중
		#LOC_KAC_116 = SOI 변경 접근 중
		#LOC_KAC_117 = 원점 접근 중
		#LOC_KAC_118 = 근점 접근 중
		#LOC_KAC_119 = 승교점 접근 중
		#LOC_KAC_12 = (여유=
		#LOC_KAC_120 = 강교점 접근 중
		#LOC_KAC_121 = 발사 랑데부 접근 중
		#LOC_KAC_122 = 최근접점 접근 중
		#LOC_KAC_123 = 목표 거리 접근 중
		#LOC_KAC_124 = 천체 전이 접근 중:
		#LOC_KAC_125 = 출발지:
		#LOC_KAC_126 = 목표:
		#LOC_KAC_127 = 천체 전이 접근 중
		#LOC_KAC_128 = 단순 시간 알람
		#LOC_KAC_129 = 승무원
		#LOC_KAC_13 = KACControlLock
		#LOC_KAC_130 = 승무원 알람
		#LOC_KAC_131 = 이 선박에 탑승한 커벌이 없습니다
		#LOC_KAC_132 = 특정 선박에 고정되지 않음 - 커벌을 따라갑니다
		#LOC_KAC_133 = 계약
		#LOC_KAC_134 = 계약 알람
		#LOC_KAC_135 = 사용 가능한 계약 없음
		#LOC_KAC_136 = 매개변수:
		#LOC_KAC_137 = - 과학 연구실
		#LOC_KAC_138 = - 과학 연구실 알람
		#LOC_KAC_139 = 과학 연구실 내 과학 데이터
		#LOC_KAC_14 = 선박 없음
		#LOC_KAC_140 = 기동 노드
		#LOC_KAC_141 = 원점 / 근점
		#LOC_KAC_142 = 승교점/강교점
		#LOC_KAC_143 = 최근접/목표 거리
		#LOC_KAC_144 = 영향권(SOI) 변경
		#LOC_KAC_145 = 전이 창
		#LOC_KAC_146 = 커벌 승무원
		#LOC_KAC_147 = 과학 연구실
		#LOC_KAC_148 = 추적소 업그레이드 없이는 원점 알람을 설정할 수 없습니다
		#LOC_KAC_149 = 추적소 업그레이드 없이는 근점 알람을 설정할 수 없습니다
		#LOC_KAC_15 = 이전 영향권(SOI):
		#LOC_KAC_150 = 목표가 현재 같은 모체를 공전하고 있지 않습니다
		#LOC_KAC_151 = 궤도 사이에 승교점이 없습니다
		#LOC_KAC_152 = 근원점 유형:
		#LOC_KAC_153 = 원점
		#LOC_KAC_154 = 근점
		#LOC_KAC_155 = 원시 시간 값 입력...
		#LOC_KAC_156 = 시간 유형:
		#LOC_KAC_157 = 날짜
		#LOC_KAC_158 = 시간 간격
		#LOC_KAC_159 = 시간:
		#LOC_KAC_16 = 새 영향권(SOI):
		#LOC_KAC_160 = UT (원시 초 단위):
		#LOC_KAC_161 = 알람 반복
		#LOC_KAC_162 = 모든 텍스트 필드를 날짜로 결합할 수 없습니다
		#LOC_KAC_163 = 승무원 선택...
		#LOC_KAC_164 = 활성 선박 없음
		#LOC_KAC_165 = 커벌 이름
		#LOC_KAC_166 = 추가
		#LOC_KAC_167 = 승무원 알람에 기동 노드/목표 저장
		#LOC_KAC_168 = 시간 값 입력...
		#LOC_KAC_169 = 계약 선택...
		#LOC_KAC_17 = 테스트1:
		#LOC_KAC_170 = Jebediah이(가) 샌드박스 모드를 탐색하고 있지만,
이 게임 모드에서는 계약을 찾을 수 없습니다
		#LOC_KAC_171 = 제안되거나 활성화된 계약 없음
		#LOC_KAC_172 = 알람 존재함
		#LOC_KAC_173 = 활성
		#LOC_KAC_174 = 모든 계약에 이미 알람이 설정됨
		#LOC_KAC_175 = 500
		#LOC_KAC_176 = 활성 기체가 없습니다.
		#LOC_KAC_177 = 과학 연구소 선택...
		#LOC_KAC_178 = 활성 기체에 과학 연구소가 없습니다.
		#LOC_KAC_179 = 선택
		#LOC_KAC_18 = 테스트2:
		#LOC_KAC_180 = 0
		#LOC_KAC_181 = 과학 연구소가 활성화되지 않았습니다.
		#LOC_KAC_182 = 과학 연구소에 데이터가 없습니다.
		#LOC_KAC_183 = 과학자
		#LOC_KAC_184 = 과학 연구소에 과학자가 없습니다.
		#LOC_KAC_185 = 과학 연구소가 이미 가득 찼습니다.
		#LOC_KAC_186 = 목표 과학 수치 선택...
		#LOC_KAC_187 = 목표 과학 수치:
		#LOC_KAC_188 = 유효하지 않은 필드는 최댓값으로 처리됩니다
		#LOC_KAC_189 = 최댓값으로 설정
		#LOC_KAC_19 = 테스트3:
		#LOC_KAC_190 = 선택한 목표에 도달할 수 없습니다. 목표 수치가 변경되었습니다.
		#LOC_KAC_191 = 목표 상세 정보...
		#LOC_KAC_192 = 목표 과학 수치:
		#LOC_KAC_193 = 최종 데이터 수치:
		#LOC_KAC_194 = 최종 데이터 전송률:
		#LOC_KAC_195 = 과학/일
		#LOC_KAC_196 = 알람 반복 옵션...
		#LOC_KAC_197 = 알람이 울릴 때 반복 설정
		#LOC_KAC_198 = 활성화 시 알람이 울리면 기존 알람을 기반으로 새로운 알람이 생성됩니다
		#LOC_KAC_199 = 반복 주기:
		#LOC_KAC_2 = RealSolarSystem.RSSWatchDog
		#LOC_KAC_20 = 테스트4:
		#LOC_KAC_200 = 날짜:
		#LOC_KAC_201 = 남은 시간:
		#LOC_KAC_202 = 알람까지 남은 시간:
		#LOC_KAC_203 = 알람 추가
		#LOC_KAC_204 = 기동 노드를 찾을 수 없습니다
		#LOC_KAC_205 = 커벌 엔지니어 노드 여유 시간
		#LOC_KAC_206 = KER 연소 시간 추가:
		#LOC_KAC_207 = 충분한 Δv:
		#LOC_KAC_208 = 연소:
		#LOC_KAC_21 = dblTest:
		#LOC_KAC_210 = ½ 연소:
		#LOC_KAC_211 = VOID 노드 여유 시간
		#LOC_KAC_212 = VOID 연소 시간 추가:
		#LOC_KAC_213 = 노드 세부 정보...
		#LOC_KAC_214 = 여유 시간(분)을 추가할 수 없습니다
		#LOC_KAC_215 = 향후 기동 노드를 찾을 수 없습니다
		#LOC_KAC_216 = 세부 정보...
		#LOC_KAC_217 = 적도 노드 (유효한 대상 없음)
		#LOC_KAC_218 = 대상 선박:
		#LOC_KAC_219 = 대상 천체:
		#LOC_KAC_22 = Screen.height:
		#LOC_KAC_220 = 대상 지정됨
		#LOC_KAC_221 = 아니요
		#LOC_KAC_222 = 현재 계획에서 지점 발견됨
		#LOC_KAC_223 = 향후 없음
		#LOC_KAC_224 = 지점 발견됨
		#LOC_KAC_225 = RSS 감지됨 - 전이 계획을 위해 Transfer Window Planner 플러그인을 사용하는 것을 권장합니다
		#LOC_KAC_226 = 여기를 클릭하여 TWP 포럼 스레드 열기
		#LOC_KAC_227 = 전이
		#LOC_KAC_228 = 계산 방식:
		#LOC_KAC_229 = 모델
		#LOC_KAC_23 = XFER 추가:
		#LOC_KAC_230 = 공식
		#LOC_KAC_231 = 전이 모체:
		#LOC_KAC_232 = 변경
		#LOC_KAC_233 = 클릭하여 모체 천체 순환
		#LOC_KAC_234 = 전이 출발지:
		#LOC_KAC_235 = 클릭하여 출발지 천체 순환
		#LOC_KAC_236 = 전체 목록 숨기기
		#LOC_KAC_237 = 전이 목적지:
		#LOC_KAC_238 = 클릭하여 목적지 천체 순환
		#LOC_KAC_239 = 전체 목록 표시
		#LOC_KAC_24 = OnGUI 항목
		#LOC_KAC_240 = 현재 위상각:
		#LOC_KAC_242 = 대상 위상각:
		#LOC_KAC_243 = 이 전이(transfer)에 대한 향후 모델 데이터를 사용할 수 없습니다
		#LOC_KAC_244 = 모델 데이터를 확인할 수 없습니다
		#LOC_KAC_245 = 모두 알람 생성
		#LOC_KAC_246 = 나열된 모든 전이에 대한 알람을 생성합니다
		#LOC_KAC_247 = 여유 시간:
		#LOC_KAC_248 = 여유 시간:
		#LOC_KAC_249 = 대상
		#LOC_KAC_25 = 툴팁 작업
		#LOC_KAC_250 = 위상각
		#LOC_KAC_251 = "현재 각도 (대상 각도)"로 표시됩니다
		#LOC_KAC_252 = 전이까지 남은 시간
		#LOC_KAC_253 = 향후 모델 데이터 없음
		#LOC_KAC_254 = 알람 반복
		#LOC_KAC_255 = 이벤트 날짜가 없는 전이가 선택되었습니다
		#LOC_KAC_256 = 알 수 없는 오류가 발생했습니다
		#LOC_KAC_257 = 선박:
		#LOC_KAC_258 = 선박에 부착되지 않음
		#LOC_KAC_259 = 메모:
		#LOC_KAC_26 = 장면별 아이콘 및 창 가져오기
		#LOC_KAC_260 = 노드 유형:
		#LOC_KAC_261 = 발사 랑데부
		#LOC_KAC_262 = 승교점
		#LOC_KAC_263 = 강교점
		#LOC_KAC_264 = 거리 유형:
		#LOC_KAC_265 = 최근접
		#LOC_KAC_266 = 대상 거리
		#LOC_KAC_267 = 유효한 선박 대상이 선택되지 않았습니다
		#LOC_KAC_268 = 검색할 궤도 수:
		#LOC_KAC_269 = 거리:
		#LOC_KAC_27 = 디버그
		#LOC_KAC_271 = 궤도상:
		#LOC_KAC_272 = 향후 최근접 지점을 찾을 수 없습니다
		#LOC_KAC_273 = 대상 선택:
		#LOC_KAC_274 = 거리
		#LOC_KAC_275 = 고도
		#LOC_KAC_276 = (m):
		#LOC_KAC_277 = 가장자리로 설정
		#LOC_KAC_278 = 대상 거리 접근 지점을 찾을 수 없습니다
		#LOC_KAC_279 = - 수동
		#LOC_KAC_28 = Kerbal Alarm Clock Updated -
		#LOC_KAC_280 = - 기동 노드
		#LOC_KAC_281 = - SOI 변경
		#LOC_KAC_282 = - 전이 지점
		#LOC_KAC_283 = - 원점
		#LOC_KAC_284 = - 근점
		#LOC_KAC_285 = - 승교점
		#LOC_KAC_286 = - 하교점
		#LOC_KAC_287 = - 발사 랑데부
		#LOC_KAC_288 = - 최근접점
		#LOC_KAC_289 = - 지구 알람
		#LOC_KAC_29 = 알람 삭제 확인
		#LOC_KAC_290 = - 커벌 알람
		#LOC_KAC_291 = - 계약
		#LOC_KAC_292 = - 과학 연구소
		#LOC_KAC_293 = 알람 시간:
		#LOC_KAC_294 = 게임 일시정지됨
		#LOC_KAC_295 = 알람으로 게임이 일시정지되었으나, 현재는 해제되었습니다
		#LOC_KAC_296 = 시간 가속 중단됨
		#LOC_KAC_297 = 알람 닫기
		#LOC_KAC_298 = 알람 닫기 및 일시정지 해제
		#LOC_KAC_299 = 저장된 함선 ID가 더 이상 존재하지 않습니다
		#LOC_KAC_3 = 코드 업데이트
		#LOC_KAC_30 = 설정 및 전역 변수
		#LOC_KAC_300 = 저장된 커벌을 찾을 수 없습니다. 아마 실종된 것 같습니다 :(
		#LOC_KAC_301 = 알람까지 남은 시간:
		#LOC_KAC_302 = 이벤트까지 남은 시간:
		#LOC_KAC_303 = 이벤트 날짜:
		#LOC_KAC_304 = 알람 상세 정보 닫기
		#LOC_KAC_305 = (?<=위상\s각\:\s+)\S+(?=°)
		#LOC_KAC_306 = (?<=분리\s각\:\s+)\S+(?=°\sprograde\s방향)
		#LOC_KAC_307 = (?<=분리\s각\:\s+)\S+(?=°\sretrograde\s방향)
		#LOC_KAC_308 = 위상 각 표시
		#LOC_KAC_309 = 분리 각 표시
		#LOC_KAC_31 = 새 알람 추가
		#LOC_KAC_310 = 메모에서 TWP 위상 및 분리 각을 해석할 수 없습니다
		#LOC_KAC_311 = 메모에서 TWP 위상 및 분리 각을 찾을 수 없습니다
		#LOC_KAC_312 = 대상 복원
		#LOC_KAC_313 = 대상 교체
		#LOC_KAC_314 = 참고: 이미 대상이 설정되어 있으며, 이 작업으로 변경됩니다
		#LOC_KAC_315 = 참고: 이미 이 대상이 설정된 것으로 보입니다
		#LOC_KAC_316 = 함선으로 이동
		#LOC_KAC_317 = 함선
		#LOC_KAC_318 = 커벌
		#LOC_KAC_319 = 활성 함선으로 설정
		#LOC_KAC_32 = 지구 시간 알람 추가
		#LOC_KAC_320 = 전환 불가 - 세이브 백업 실패
		#LOC_KAC_321 = 전환 불가 - 함선 인덱스를 찾을 수 없음
		#LOC_KAC_322 = 전환 불가 - 새 위치 불러오기 실패
		#LOC_KAC_323 = 백업 실패 메시지
		#LOC_KAC_324 = 초)
		#LOC_KAC_325 = 10
		#LOC_KAC_326 = 20
		#LOC_KAC_327 = 50
		#LOC_KAC_328 = 100
		#LOC_KAC_329 = 사용자 지정 (
		#LOC_KAC_33 = 알람 편집
		#LOC_KAC_330 = 이전
		#LOC_KAC_331 = 다음
		#LOC_KAC_332 = 지구 호출 중...
		#LOC_KAC_333 = 알림 시간 입력...
		#LOC_KAC_334 = 알람 시간 (24시간제):
		#LOC_KAC_335 = 시:분
		#LOC_KAC_336 = 지구 시간을 확인할 수 없습니다
		#LOC_KAC_337 = 일반 알람 (10분)
		#LOC_KAC_338 = 지구 알람 (1시간)
		#LOC_KAC_339 = 빠른 일반 알람
		#LOC_KAC_34 = 빠른 추가
		#LOC_KAC_340 = 빠른 지구 알람
		#LOC_KAC_341 = 빠른 기동 알람 추가됨
		#LOC_KAC_342 = 빠른 SOI 변경 알람 추가됨
		#LOC_KAC_343 = 빠른 원점 알람 추가됨
		#LOC_KAC_344 = 빠른 근점 알람 추가됨
		#LOC_KAC_345 = 빠른 승교점 추가됨
		#LOC_KAC_346 = 빠른 하교점 추가됨
		#LOC_KAC_347 = 일반
		#LOC_KAC_348 = 전역 설정
		#LOC_KAC_349 = 세부 사항
		#LOC_KAC_35 = 세이브 백업 실패
		#LOC_KAC_350 = 알람 유형별 세부 설정
		#LOC_KAC_351 = 오디오
		#LOC_KAC_352 = 오디오 설정
		#LOC_KAC_353 = 가시성
		#LOC_KAC_354 = 장면 및 아이콘 설정
		#LOC_KAC_355 = 달력
		#LOC_KAC_356 = 선택된 달력 및 세부 정보
		#LOC_KAC_357 = 정보
		#LOC_KAC_358 = 모든 알람
		#LOC_KAC_359 = 정보
		#LOC_KAC_36 = 알람 목록
		#LOC_KAC_360 = 알람 유형 선택:
		#LOC_KAC_361 = 플러그인 스타일
		#LOC_KAC_362 = 스타일:
		#LOC_KAC_363 = 앱 버튼:
		#LOC_KAC_364 = 하위 창을 아래에 표시 (측면이 아님)
		#LOC_KAC_365 = 플러그인 환경 설정
		#LOC_KAC_366 = 목록 스크롤 전 최대 알람 수
		#LOC_KAC_367 = 툴팁 자동 숨김 전 최대 시간
		#LOC_KAC_368 = 게임 일시 정지 시 알람 시계 숨기기
		#LOC_KAC_369 = 마우스 오버 시 툴팁 표시
		#LOC_KAC_37 = 현재 기체로 목록 필터링
		#LOC_KAC_370 = 키 입력으로 스로틀 차단 시 시간 가속 중단
		#LOC_KAC_371 = 시간 형식:
		#LOC_KAC_372 = UT
		#LOC_KAC_373 = KSP 시간
		#LOC_KAC_374 = 일반 시간
		#LOC_KAC_375 = 안전 옵션
		#LOC_KAC_376 = 알람 삭제 전 확인
		#LOC_KAC_377 = 우주 센터 및 추적소에서 기체 이동 허용
		#LOC_KAC_378 = 소행성으로 기체 이동 허용
		#LOC_KAC_379 = 세이브 파일 백업
		#LOC_KAC_38 = 자동 계약 활성화
		#LOC_KAC_380 = 이 옵션은 KAC 이동 버튼을 사용하여 기체를 전환하기 전에 persistent 및 quicksave 파일을 저장합니다
		#LOC_KAC_381 = 기체 이동 시 세이브 백업
		#LOC_KAC_382 = 백업 실패 시 이동 취소 (비행 모드 전용)
		#LOC_KAC_383 = 유지할 백업 수:
		#LOC_KAC_384 = 시간 가속/계산 확인
		#LOC_KAC_385 = 초당 확인 횟수:
		#LOC_KAC_386 = 즉시 가속 전환 사용
		#LOC_KAC_387 = 단계 간 전환을 강제로 수행합니다 - 높은 시간 가속 배율에서 문제가 발생할 수 있습니다
		#LOC_KAC_388 = 전환 가중치:
		#LOC_KAC_389 = 전환 기간에 허용할 여유 시간입니다. 이 값이 높을수록 KAC가 더 일찍 시간 가속을 늦춥니다.
		#LOC_KAC_39 = 다음 계약 제안
		#LOC_KAC_390 = 재설정
		#LOC_KAC_391 = 알람 기본값
		#LOC_KAC_392 = 알람 위치:
		#LOC_KAC_393 = 왼쪽
		#LOC_KAC_394 = 중앙
		#LOC_KAC_395 = 오른쪽
		#LOC_KAC_396 = 기본 동작:
		#LOC_KAC_397 = 기본 여유 시간:
		#LOC_KAC_398 = 시간 가속 일반 설정
		#LOC_KAC_399 = 시간 가속 버튼 활성화
		#LOC_KAC_4 = 원점
		#LOC_KAC_40 = 모든 계약 제안
		#LOC_KAC_400 = 비행 노드 근처에 시간 가속 버튼을 추가합니다.
		#LOC_KAC_401 = 시간 가속 시 확인 필요 (두 번 클릭)
		#LOC_KAC_402 = 실수로 시간 가속이 실행되지 않도록 두 번 클릭해야 작동합니다.
		#LOC_KAC_403 = 시간 가속 툴팁 숨기기
		#LOC_KAC_404 = 툴팁 설정과 관계없이 이 레이블을 숨깁니다.
		#LOC_KAC_405 = 기동 노드 조작기 표시 시 모든 시간 가속 버튼 숨기기
		#LOC_KAC_406 = 기동 노드 조작기가 보일 때 모든 시간 가속 관련 요소를 숨깁니다.
		#LOC_KAC_407 = 노드가 X(초) 이내에 있을 경우 기존 알람 재사용
		#LOC_KAC_408 = 최대 시간 가속 제한
		#LOC_KAC_409 = 시간 가속 여유 시간
		#LOC_KAC_41 = 다음 활성 계약
		#LOC_KAC_410 = 기동 노드
		#LOC_KAC_411 = 여유 시간 추가 대상:
		#LOC_KAC_412 = 시간 가속
		#LOC_KAC_413 = 설정된 기본 여유 시간을 추가합니다.
		#LOC_KAC_414 = 시간 가속 시 알람
		#LOC_KAC_415 = 기동 알람
		#LOC_KAC_416 = 기동 노드에 대한 알람 감지 및 추가
		#LOC_KAC_417 = 기동 노드 삭제 시 자동 알람 제거
		#LOC_KAC_418 = 기동 노드가 이 임계값보다 가까우면 새 알람을 추가하지 않습니다.
		#LOC_KAC_419 = 임계값:
		#LOC_KAC_42 = 모든 활성 계약
		#LOC_KAC_420 = 기동 노드 알람 설정
		#LOC_KAC_421 = 알람 발생 시:
		#LOC_KAC_422 = 기동 빠른 알람
		#LOC_KAC_423 = 빠른 동작:
		#LOC_KAC_424 = 빠른 여유 시간:
		#LOC_KAC_425 = 기본 분사 노드 여유 시간 (KER/VOID)
		#LOC_KAC_426 = 분사 시간 추가:
		#LOC_KAC_427 = 영향권(SOI) 알람
		#LOC_KAC_428 = 수동 SOI 알람 자동 재계산
		#LOC_KAC_429 = SOI 변경 감지 및 알람 추가
		#LOC_KAC_43 = 궤도 노드(원점, 근점, 승교점, 강교점) 재계산 활성화됨
		#LOC_KAC_430 = 자동 알람에서 선외 활동(EVA) 커벌 제외
		#LOC_KAC_431 = 선외 활동 중인 커벌이 SOI 경로에 있을 경우 해당 시나리오에 대한 알람을 생성하지 않습니다
		#LOC_KAC_432 = 자동 알람에서 잔해 제외
		#LOC_KAC_433 = 잔해가 SOI 경로에 있을 경우 해당 시나리오에 대한 알람을 생성하지 않습니다
		#LOC_KAC_434 = SOI 알람 설정
		#LOC_KAC_435 = SOI 빠른 알람
		#LOC_KAC_436 = 활성 계약 알람 설정
		#LOC_KAC_437 = 활성 알람 자동 생성:
		#LOC_KAC_438 = 여유 시간 내에 있을 경우 자동 알람 생성 안 함
		#LOC_KAC_439 = 마감 기한 경과 시 계약 알람 삭제
		#LOC_KAC_44 = 전이 재계산 활성화됨
		#LOC_KAC_440 = 제안된 계약 알람 설정
		#LOC_KAC_441 = 제안된 알람 자동 생성:
		#LOC_KAC_442 = 만료 기한 경과 시 계약 알람 삭제
		#LOC_KAC_443 = 승무원 알람
		#LOC_KAC_444 = 궤도 노드 알람 (원점, 근점, 승교점, 강교점)
		#LOC_KAC_445 = 노드 지점 자동 재계산
		#LOC_KAC_446 = 빠른 알람 설정
		#LOC_KAC_447 = 전이 알람
		#LOC_KAC_448 = 전이 지점 자동 재계산
		#LOC_KAC_449 = 볼륨:
		#LOC_KAC_45 = SOI 재계산 활성화됨
		#LOC_KAC_450 = 레벨:
		#LOC_KAC_451 = KSP UI 볼륨 사용
		#LOC_KAC_452 = Raw
		#LOC_KAC_453 = 알람 세부 정보
		#LOC_KAC_454 = 고유한 소리를 선택하려면 활성화하십시오. 그렇지 않으면 Raw 소리가 사용됩니다
		#LOC_KAC_455 = R:
		#LOC_KAC_456 = 반복
		#LOC_KAC_457 = 6+
		#LOC_KAC_458 = 창 복원
		#LOC_KAC_459 = 마지막 열림 상태 기억
		#LOC_KAC_46 = SOI 자동 추가 활성화됨
		#LOC_KAC_460 = 활성화 시, 창의 마지막 열림 상태를 기억합니다.
		#LOC_KAC_461 = 최소 모드
		#LOC_KAC_462 = 표시 항목:
		#LOC_KAC_463 = 다음 알람
		#LOC_KAC_464 = 가장 오래된 알람
		#LOC_KAC_465 = 비행 모드
		#LOC_KAC_466 = 우주 센터
		#LOC_KAC_467 = 추적소
		#LOC_KAC_468 = 편집기
		#LOC_KAC_469 = 알람 시계 표시
		#LOC_KAC_47 = -선외 활동(EVA) 제외
		#LOC_KAC_470 = 이 게임 모드에서 Kerbal Alarm Clock Updated 아이콘 표시
		#LOC_KAC_471 = 아이콘 위치 (기본 버튼용)
		#LOC_KAC_472 = 가로:
		#LOC_KAC_473 = 세로:
		#LOC_KAC_474 = 일반 설정
		#LOC_KAC_475 = 달력:
		#LOC_KAC_476 = 메인 창에 달력 전환 표시
		#LOC_KAC_477 = 지구 설정
		#LOC_KAC_478 = 지구 기원:
		#LOC_KAC_48 = -제외
		#LOC_KAC_480 = 지구 기원 재설정
		#LOC_KAC_481 = 1951-01-01
		#LOC_KAC_482 = 버전 확인
		#LOC_KAC_483 = 매일 버전 확인
		#LOC_KAC_484 = 지금 버전 확인
		#LOC_KAC_485 = 마지막 확인 시도:
		#LOC_KAC_486 = 웹에서 확인된 마지막 버전:
		#LOC_KAC_487 = 확인 중
		#LOC_KAC_488 = 업데이트된 버전 사용 가능 - 여기를 클릭하십시오
		#LOC_KAC_489 = https:
		#LOC_KAC_49 = -잔해 제외
		#LOC_KAC_490 = 문서 및 링크:
		#LOC_KAC_491 = 소스 코드 / 다운로드:
		#LOC_KAC_492 = 포럼 페이지:
		#LOC_KAC_493 = 여기를 클릭하십시오
		#LOC_KAC_494 = 잘못된 순서
		#LOC_KAC_495 = 순서
		#LOC_KAC_496 = OrbitExtensions.GetEccentricAnomalyAtTrueAnomaly: 진근점 이각(True anomaly)이
		#LOC_KAC_497 = 라디안인 경우 이심률을 가진 궤도에서 도달할 수 없습니다
		#LOC_KAC_498 = 텍스처
		#LOC_KAC_499 = 없음
		#LOC_KAC_5 = 근점
		#LOC_KAC_50 = /파편
		#LOC_KAC_501 = 스타일
		#LOC_KAC_502 = 기능
		#LOC_KAC_503 = 데이터
		#LOC_KAC_504 = 기록된 날짜 없음
		#LOC_KAC_505 = 알 수 없음 - 나중에 다시 확인하십시오
		#LOC_KAC_506 = 성공
		#LOC_KAC_507 = 웹 서비스를 구문 분석할 수 없습니다
		#LOC_KAC_508 = 알람1
		#LOC_KAC_509 = 기동
		#LOC_KAC_51 = 기동 노드 자동 추가 활성화
		#LOC_KAC_510 = 원점/근점
		#LOC_KAC_511 = 승교점/강교점
		#LOC_KAC_512 = 랑데부
		#LOC_KAC_513 = 전이
		#LOC_KAC_514 = 과학 연구소
		#LOC_KAC_515 = 지구
		#LOC_KAC_516 = 수탉
		#LOC_KAC_517 = KAC 제어
		#LOC_KAC_518 = 기본 툴바 재정의
		#LOC_KAC_519 = 앱 런처 버튼 토글
		#LOC_KAC_52 = (및 제거)
		#LOC_KAC_520 = 건물 오프셋
		#LOC_KAC_521 = 수학 관련
		#LOC_KAC_522 = 궤도 수학
		#LOC_KAC_523 = 최근접 접근 시간 코드 -
		#LOC_KAC_524 = KAC API 테스터
		#LOC_KAC_525 = 어셈블리:
		#LOC_KAC_526 = 인스턴스:
		#LOC_KAC_527 = API 준비 완료:
		#LOC_KAC_528 = 삭제
		#LOC_KAC_529 = 하나 생성
		#LOC_KAC_53 = 최소화
		#LOC_KAC_530 = 테스트
		#LOC_KAC_531 = FRED FLINTSTONE
		#LOC_KAC_532 = 둘 생성
		#LOC_KAC_533 = 시간 변경
		#LOC_KAC_534 = 아무것도 하지 않음 생성
		#LOC_KAC_535 = KerbalAlarmClock.KerbalAlarmClock
		#LOC_KAC_536 = KerbalAlarmClock.KACAlarm
		#LOC_KAC_537 = API 준비 완료
		#LOC_KAC_538 = 알람
		#LOC_KAC_539 = onAlarmStateChanged
		#LOC_KAC_54 = 최대화
		#LOC_KAC_540 = 알람 생성
		#LOC_KAC_541 = 알람 삭제
		#LOC_KAC_542 = DrawAlarmActionChoiceAPI
		#LOC_KAC_55 = 설정...
		#LOC_KAC_557 = .err-
		#LOC_KAC_56 = 업데이트된 버전 사용 가능 - 설정...
		#LOC_KAC_567 = 0년,
		#LOC_KAC_57 = 새 알람 추가...
		#LOC_KAC_579 = 궤도
		#LOC_KAC_58 = 빠른 추가...
		#LOC_KAC_580 = KerbalEngineer.Flight.Readouts.Orbital.ManoeuvreNode.ManoeuvreProcessor
		#LOC_KAC_581 = 인스턴스
		#LOC_KAC_582 = 분사 시간
		#LOC_KAC_583 = 분사 시간 절반
		#LOC_KAC_584 = Δv 보유
		#LOC_KAC_585 = 업데이트
		#LOC_KAC_586 = 정말로 삭제하시겠습니까?
		#LOC_KAC_587 = 취소
		#LOC_KAC_588 = 툴팁
		#LOC_KAC_59 = 현재 시간:
		#LOC_KAC_6 = SOI
		#LOC_KAC_60 = "지구"라는 행성의 다른 은하계 시간 표시 전환
		#LOC_KAC_61 = 달력 전환
		#LOC_KAC_62 = 클릭하여 시간 형식 순환
		#LOC_KAC_63 = 지구 시간:
		#LOC_KAC_64 = "실제" 시간 표시 숨기기
		#LOC_KAC_65 = 목록에 활성화된 미래 알람 없음
		#LOC_KAC_66 = 목록에 알람 없음
		#LOC_KAC_67 = 활성 함선에 대한 알람 없음
		#LOC_KAC_68 = 필터링할 활성 함선 없음
		#LOC_KAC_69 = 편집 중...
		#LOC_KAC_7 = 기동 노드
		#LOC_KAC_70 = 일시 정지
		#LOC_KAC_71 = 타임워프 중단 및 메시지 표시
		#LOC_KAC_72 = 타임워프만 중단
		#LOC_KAC_73 = 알람 삭제
		#LOC_KAC_74 = 공통 알람 속성
		#LOC_KAC_75 = 알람 이름:
		#LOC_KAC_76 = 메시지:
		#LOC_KAC_77 = 알람 여유 시간:
		#LOC_KAC_78 = 원시 시간
		#LOC_KAC_79 = 알람 - 공통 속성
		#LOC_KAC_8 = AN
		#LOC_KAC_80 = 선택된 기체:
		#LOC_KAC_81 = 선택된 기체 없음
		#LOC_KAC_82 = 알람:
		#LOC_KAC_83 = 세부 정보 표시
		#LOC_KAC_84 = 세부 정보 숨기기
		#LOC_KAC_85 = 활성 기체에 부착
		#LOC_KAC_86 = 여유 시간:
		#LOC_KAC_87 = 소리 테스트
		#LOC_KAC_88 = 재생 중지
		#LOC_KAC_89 = 그리기 제어
		#LOC_KAC_9 = DN
		#LOC_KAC_91 = 연:
		#LOC_KAC_92 = 일:
		#LOC_KAC_93 = 연:
		#LOC_KAC_94 = 월:
		#LOC_KAC_95 = 일:
		#LOC_KAC_96 = 정수 가로 슬라이더
		#LOC_KAC_97 = 워프 선택
		#LOC_KAC_98 = 메시지 선택
		#LOC_KAC_99 = 일시 정지 동작 시 메시지 필수 표시
	}
}
