Localization
{
	ko
	{
		#StageRecovery_CrewOnboard = 탑승 승무원:
		#StageRecovery_CutoffVelocity = 회수 최대 속도: <<1>> m/s
		#StageRecovery_Destroyed = 파괴됨
		#StageRecovery_DistancePercent =     --거리: <<1>>%
		#StageRecovery_Experiments = 실험:
		#StageRecovery_FailureMessages = 스테이지 '<<1>>'이(가) KSC로부터 <<2>> km 거리에서 파괴되었습니다
		#StageRecovery_FailureMessages_AdditionalInformation = 추가 정보:
		#StageRecovery_FailureMessages_MessageTitle = 스테이지 파괴됨
		#StageRecovery_FailureMessages_NoControl = 추진 착륙을 시도했으나 제어 지점을 찾을 수 없습니다. 추진 착륙을 위해서는 조종사나 SAS가 포함된 탐사선 코어를 추가하십시오.
		#StageRecovery_FailureMessages_ParachuteModuleUsed = <<1>> 모듈 사용됨.
		#StageRecovery_FailureMessages_PoweredRecovery = 추진 착륙을 시도했으나 안전한 착륙을 위해 속도를 충분히 줄이지 못했습니다. 자세한 정보는 SR 비행 GUI를 확인하십시오.
		#StageRecovery_FailureMessages_StageBurnedUp = 스테이지가 대기권에서 불타버렸습니다! 당시 속도는 <<1>> m/s였습니다.
		#StageRecovery_FailureMessages_StageContained = 스테이지에 포함된 부품:
		#StageRecovery_FailureMessages_TerminalVelocityForPart = <<1>>의 종단 속도 (<<2>> 미만 필요)
		#StageRecovery_FailureMessages_Totalvalue = 가치:
		#StageRecovery_FundsOriginal = 총 가치: <<1>>
		#StageRecovery_FundsReturned = 총 환급액: <<1>>
		#StageRecovery_GlobalModifier =     --전역: <<1>>%
		#StageRecovery_HighCut = 회수 최대 속도: <<1>> m/s
		#StageRecovery_Highlight = 선체 강조 표시 전환
		#StageRecovery_Highlight2 = 강조 표시
		#StageRecovery_InfoBar_Crew = 승무원
		#StageRecovery_InfoBar_Fuel = 연료
		#StageRecovery_InfoBar_Info = 정보
		#StageRecovery_InfoBar_Parts = 부품
		#StageRecovery_InfoBar_Science = 과학
		#StageRecovery_InstallChecker_OKbutton = 확인
		#StageRecovery_InstallChecker_message = <<1>>이(가) 잘못 설치되어 정상적으로 작동하지 않습니다. 모든 파일은 KSP/GameData/<<2>> 폴더 안에 있어야 합니다. 해당 폴더 내부의 파일은 절대 이동하지 마십시오.\n\n잘못된 경로:\n
		#StageRecovery_InstallChecker_title = <<1>> 설치 오류
		#StageRecovery_KSCDistance = KSC로부터의 거리: <<1>>km
		#StageRecovery_LowCut = 전체 회수 최대 속도: <<1>> m/s
		#StageRecovery_None = 없음
		#StageRecovery_ParachuteModule = 사용된 낙하산 모듈: <<1>>
		#StageRecovery_ParachuteModule_RealChute = RealChute
		#StageRecovery_ParachuteModule_Stock = 기본
		#StageRecovery_PartsonStage = 스테이지 부품
		#StageRecovery_Percentrefunded = 환급 비율: <<1>>%
		#StageRecovery_ReasonForFailure1 = 성공
		#StageRecovery_ReasonForFailure2 = 연소
		#StageRecovery_ReasonForFailure3 = 속도
		#StageRecovery_Recalculate = 재계산
		#StageRecovery_Recovered = 회수됨
		#StageRecovery_RecoveryPercent = \n환급 비율: <<1>>%
		#StageRecovery_RemainingFuel = 잔여 연료:\n
		#StageRecovery_Setting_Add = 추가
		#StageRecovery_Setting_Cancel = 취소
		#StageRecovery_Setting_Close = 닫기
		#StageRecovery_Setting_Remove = 제거
		#StageRecovery_Setting_Save = 저장
		#StageRecovery_Setting_text1 = 설정은 이제 기본 설정 메뉴에 있습니다
		#StageRecovery_Setting_text2 = (기존 설정이 있다면 마이그레이션되지 않았습니다)
		#StageRecovery_SpeedPercent =     --속도: <<1>>%
		#StageRecovery_Stage = 스테이지 <<1>>
		#StageRecovery_Stages = 스테이지:
		#StageRecovery_StagesName = 스테이지 이름: <<1>>
		#StageRecovery_Status = 상태: <<1>>
		#StageRecovery_StockSettings_AutoCalcDelay = VAB 자동 계산 지연
		#StageRecovery_StockSettings_AutoCalcDelay_desc = 기체 업데이트 시 VAB 내 종단 속도 자동 계산을 지연합니다
		#StageRecovery_StockSettings_CutoffVelocity = 고정 비율: 차단 속도
		#StageRecovery_StockSettings_CutoffVelocity_desc = 회수 가능한 최대 속도
		#StageRecovery_StockSettings_DREVelocity2 = DRE 속도 2
		#StageRecovery_StockSettings_DREVelocity2_desc = 0 이상일 경우, 계산 대신 거리 수정자로 사용합니다
		#StageRecovery_StockSettings_DistanceOverride = 거리 재정의 (%)
		#StageRecovery_StockSettings_DistanceOverride_desc = 0 이상일 경우, 계산 대신 거리 수정자로 사용합니다
		#StageRecovery_StockSettings_FlatRateModel = 고정 비율 모델 활성화
		#StageRecovery_StockSettings_FlatRateModel_desc = 비활성화 시 가변 비율 모델을 사용합니다
		#StageRecovery_StockSettings_GlobalModifier = 전역 수정자 (%)
		#StageRecovery_StockSettings_GlobalModifier_desc = 최종 지급액을 이 비율만큼 수정합니다
		#StageRecovery_StockSettings_HighCutoffVelocity = 가변 비율: 상한 차단 속도
		#StageRecovery_StockSettings_HighCutoffVelocity_desc = 회수 가능한 최대 속도
		#StageRecovery_StockSettings_LowCutoffVelocity = 가변 비율: 하한 차단 속도
		#StageRecovery_StockSettings_LowCutoffVelocity_desc = 전액 회수 가능한 최대 속도
		#StageRecovery_StockSettings_ModEnabled = 모드 활성화
		#StageRecovery_StockSettings_PoweredRecovery = 동력 회수 시도
		#StageRecovery_StockSettings_PoweredTWR = 동력 TWR
		#StageRecovery_StockSettings_PoweredTWR_desc = 동력 회수에 필요한 최소 TWR
		#StageRecovery_StockSettings_PreRecover = 기체 사전 회수
		#StageRecovery_StockSettings_PreRecover_desc = 기체가 삭제되기 전에 커벌을 회수합니다
		#StageRecovery_StockSettings_RecoverClamps = 발사대 클램프 회수
		#StageRecovery_StockSettings_RecoveryModifier = 고정 비율: 회수 수정자 (%)
		#StageRecovery_StockSettings_RecoveryModifier_desc = 회수 보상금을 이 백분율만큼 수정합니다.
		#StageRecovery_StockSettings_ShowFailureMessages = 실패 메시지
		#StageRecovery_StockSettings_ShowSuccessMessages = 성공 메시지
		#StageRecovery_StockSettings_TitleGeneral = 일반 설정
		#StageRecovery_StockSettings_TitleRateModel = 비율 모델 설정
		#StageRecovery_StockSettings_UseDREVelocity = DRE 속도 사용
		#StageRecovery_StockSettings_UseDistanceOverride = 거리 재정의 사용
		#StageRecovery_StockSettings_UseDistanceOverride_desc = 거리 재정의를 활성화하여 거리를 계산하는 대신 지정된 값을 거리 수정에 사용합니다.
		#StageRecovery_StockSettings_UseUpgrades = 업그레이드 연동
		#StageRecovery_StockSettings_hideSpaceCenterButton = 우주 센터 버튼 숨기기
		#StageRecovery_StockSettings_hideSpaceCenterButton_desc = 이 버튼은 설정 페이지로 안내하는 창을 열기만 합니다.
		#StageRecovery_SuccessMessages = 스테이지 '<<1>>'이(가) KSC로부터 <<2>> km 떨어진 곳에서 회수되었습니다.
		#StageRecovery_SuccessMessages_AdditionalInformation = 추가 정보:
		#StageRecovery_SuccessMessages_Kerbalsrecovered = 회수된 커벌:
		#StageRecovery_SuccessMessages_MessageTitle = 스테이지 회수됨
		#StageRecovery_SuccessMessages_ParachuteModuleUsed = <<1>> 모듈 사용됨.
		#StageRecovery_SuccessMessages_PoweredRecovery = 추진 착륙. 소모된 추진제 양에 대한 정보는 SR 비행 GUI를 확인하십시오.
		#StageRecovery_SuccessMessages_Recoverypercent = 회수율:
		#StageRecovery_SuccessMessages_RemainingFuel = 남은 연료
		#StageRecovery_SuccessMessages_StagePartContained = 스테이지에 포함된 부품:
		#StageRecovery_SuccessMessages_TerminalVelocityForPart = <<1>>의 종단 속도 (<<2>> 미만 필요)
		#StageRecovery_SuccessMessages_Totalrefunds = 총 환급액:
		#StageRecovery_SuccessMessages_Totalrefunds2 = 부품 총 환급액:
		#StageRecovery_SuccessMessages_Totalrefunds3 = 연료 총 환급액:
		#StageRecovery_SuccessMessages_Totalrefunds4 = 스테이지 가치:
		#StageRecovery_SuccessMessages_distance = 거리
		#StageRecovery_SuccessMessages_globalmodifier = 전역 수정자
		#StageRecovery_SuccessMessages_speed = 속도
		#StageRecovery_TanksDry = 탱크: <<1>>
		#StageRecovery_TanksEmpty = 비어 있음
		#StageRecovery_TanksFull = 가득 참
		#StageRecovery_Terminalvelocity = 종단 속도: <<1>> m/s
		#StageRecovery_TotaPartlvalue = 부품 총 가치: <<1>>
		#StageRecovery_TotalFuelrefunded = 연료 총 환급액: <<1>>
		#StageRecovery_TotalPartsrefunded = \n부품 총 회수 금액: <<1>>
		#StageRecovery_Totalrefunded = 총 환급액: <<1>>
		#StageRecovery_Totalvalue = 총 가치: <<1>>
		#StageRecovery_burnedUp = \n재진입 중 스테이지가 불타버렸습니다!
		#StageRecovery_fuelUsed = <<1>> : <<2>> 유닛
		#StageRecovery_noControl = \n동력 회수를 시도했으나 제어 수단을 찾을 수 없습니다.
		#StageRecovery_noControl2 = 동력 회수를 사용하려면 SAS가 장착된 조종사나 탐사선을 포함하십시오.
		#StageRecovery_poweredRecovery = \n동력 회수를 시도했습니다.
		#StageRecovery_poweredRecovery2 = 소모된 연료:
		#StageRecovery_srfSpeed = 지표 속도: <<1>>
	}
}
