Localization
{
	ko
	{
		#LOC_SpaceDust_Band_Atmosphere = 대기
		#LOC_SpaceDust_Band_Belt = 벨트
		#LOC_SpaceDust_Band_Exosphere = 외기권
		#LOC_SpaceDust_Band_Generic = 대역
		#LOC_SpaceDust_Band_HighAtmosphere = 상층 대기
		#LOC_SpaceDust_Band_HighBelt = 상층 벨트
		#LOC_SpaceDust_Band_HighOrbit = 고궤도
		#LOC_SpaceDust_Band_LowAtmosphere = 하층 대기
		#LOC_SpaceDust_Band_LowBelt = 하층 벨트
		#LOC_SpaceDust_Band_LowOrbit = 저궤도
		#LOC_SpaceDust_Band_Orbit = 궤도
		#LOC_SpaceDust_Band_Ring = 고리
		#LOC_SpaceDust_Message_Discovery = [Space Dust] <<2>> 근처에서 <<1>> 대역을 발견했습니다!
		#LOC_SpaceDust_Message_Identified = [Space Dust] <<2>> 근처에서 <<1>> 대역을 식별했습니다!
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Action_Disable = 채집 중단
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Action_Enable = 채집 시작
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Action_Toggle = 채집 전환
		#LOC_SpaceDust_ModuleSpaceDustHarvester_DisplayName = 우주 먼지 채집기
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Event_DisableScanner = 채집 중단
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Event_EnableScanner = 채집 시작
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_IntakeSpeed = 흡입 유량
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_IntakeSpeed_Normal = <<1>> m³/s
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Resources = 채집기
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Resources_Disabled = 비활성화됨
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Resources_Harvesting = 채집 중
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Resources_NoPower = 전력이 부족합니다!
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Resources_Overheated = 과열됨!
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Scoop = 자원
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Scoop_Blocked = 흡입구 막힘
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Scoop_NeedsAtmo = 진공 상태에서는 채집할 수 없습니다!
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Scoop_NeedsVacuum = 대기 중에서는 채집할 수 없습니다!
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Scoop_Resource = <b><<1>></b>: <<2>> t/s
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Scoop_Resource_None = 채집할 자원 없음
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Thermal = 효율
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Field_Thermal_Running = <<1>>%
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Info_Header = 대기 및 외기권 자원을 채집합니다. \n\n<b>채집기 유형:</b> <<1>>\n<b>정적 흡입 속도:</b> <<2>> m/s\n<b>전력 소모량:</b> <<3>> kW\n\n<b>채집 가능한 자원</b>:\n
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Info_Header_SystemHeat = 대기 및 외기권 자원을 채집합니다. \n\n<b>채집기 유형:</b> <<1>>\n<b>정적 흡입 속도:</b> <<2>> m/s\n<b>전력 소모량:</b> <<3>> kW\n\n<color=#ff730d>열 매개변수:</color>\n<b> - 열 출력:</b> <<4>> kW\n<b> - 배출구 온도:</b> <<5>> K\n<b> - 최대 온도:</b> <<6>> K \n\n<b>채집 가능한 자원</b>:\n
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Info_Resource = - <b><color=#99ff00><<1>></color>: </b><<2>>% 효율\n
		#LOC_SpaceDust_ModuleSpaceDustHarvester_Message_Overheated = 과열됨! 채집기 루프 온도가 <<1>>K를 초과했습니다!
		#LOC_SpaceDust_ModuleSpaceDustScanner_Action_Disable = 스캐너 비활성화
		#LOC_SpaceDust_ModuleSpaceDustScanner_Action_Enable = 스캐너 활성화
		#LOC_SpaceDust_ModuleSpaceDustScanner_Action_Toggle = 스캐너 전환
		#LOC_SpaceDust_ModuleSpaceDustScanner_DisplayName = 우주 먼지 스캐너
		#LOC_SpaceDust_ModuleSpaceDustScanner_Event_DisableScanner = 스캐너 비활성화
		#LOC_SpaceDust_ModuleSpaceDustScanner_Event_EnableScanner = 스캐너 활성화
		#LOC_SpaceDust_ModuleSpaceDustScanner_Field_Disabled = 비활성화됨
		#LOC_SpaceDust_ModuleSpaceDustScanner_Field_Resources = 스캐너
		#LOC_SpaceDust_ModuleSpaceDustScanner_Field_Resources_NoPower = 전력이 부족합니다!
		#LOC_SpaceDust_ModuleSpaceDustScanner_Field_Resources_SingleSample = <b><<1>></b>: <<2>> t/m³
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Discovers_Altitude = - <b>탐지 범위:</b> <<1>> km 이내\n
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Discovers_Local = - <b>탐지 범위:</b> 국소 지역\n
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Discovers_None = 미정
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Discovers_SOI = - <b>탐지 범위:</b> SOI 내 전체\n
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Header = 대기 및 외기권 자원을 스캔합니다. \n\n<b>전력 소모량:</b> <<1>> kW\n\n<b>탐지 가능한 자원</b>:\n
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Identifies_Altitude = - <b>식별 범위:</b> <<1>> km 이내\n
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Identifies_Local = - <b>식별 범위:</b> 국소 지역\n
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Identifies_None = 미정
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Identifies_SOI = - <b>식별 범위:</b> SOI 내 전체\n
		#LOC_SpaceDust_ModuleSpaceDustScanner_Info_Resource = <b><color=#99ff00><<1>></color>:</b>\n
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Action_Disable = 조사 중단
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Action_Enable = 조사 시작
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Action_Toggle = 조사 전환
		#LOC_SpaceDust_ModuleSpaceDustTelescope_DisplayName = 우주 먼지 망원경
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Event_DisableTelescope = 조사 중단
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Event_EnableTelescope = 조사 시작
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Instrument_None = 설치되지 않음
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Instrument_OutOfRange = <<1>> 범위 초과
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Instrument_Progress = 조사 중: <<1>>%
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Instrument_Scanning = <<1>> Mit/s
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Instrument_Title = 장비
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Instrument_Title_Resource = <<1>>
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Modifier_InAtmo = 경로 길이 <<1>>
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Modifier_Title = 대기
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Status_Blocked = <<1>>(으)로 인해 차단됨
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Status_Disabled = 비활성화됨
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Status_NoPower = 전력이 부족합니다!
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Status_NoTarget = 대상 천체 없음
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Status_Observing = <<1>> 관측 중
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Field_Status_Title = 상태
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Info_Header = 먼 행성의 대기 및 외기권 자원을 조사합니다. \n\n<b>전력 소모량:</b> <<1>> kW \n<b>시야각:</b> <<2>>°\n<b>반사경 크기:</b> <<3>> m
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Instrument_DisplayName = 망원경 장비
		#LOC_SpaceDust_ModuleSpaceDustTelescope_Instrument_Info = 장비 슬롯
		#LOC_SpaceDust_UI_BandData = <<1>> t/m³
		#LOC_SpaceDust_UI_NoResources = 발견된 자원이 없습니다!
		#LOC_SpaceDust_UI_PanelTitle = Space Dust
		#LOC_SpaceDust_UI_ResourceAreaHeader = 채취 가능한 자원
		#LOC_SpaceDust_UI_UnknownBand = ? t/m³
		#LOC_SpaceDust_UI_UnknownResource = 알 수 없음
		#LOC_SpaceDust_manufacturer_postkerbin = Post Kerbin Mining Corporation
		#LOC_SpaceDust_spacedust-atmosphere-processor-125-1_description = 현지 대기에서 가스를 걸러내어 저장 및 사용할 수 있도록 침전시키는 소형 처리 장치입니다.
		#LOC_SpaceDust_spacedust-atmosphere-processor-125-1_tags = spacedust isru process resource air cloud harvest extract gas insitu
		#LOC_SpaceDust_spacedust-atmosphere-processor-125-1_title = Sift-O-Tron 125 대기 처리기
		#LOC_SpaceDust_spacedust-atmosphere-processor-25-1_description = 현지 대기에서 가스를 걸러내어 저장 및 사용할 수 있도록 침전시키는 대형 처리 장치입니다. 향상된 추출 속도와 추가로 사용 가능한 자원 덕분에 이 대형 처리기는 매우 유용합니다.
		#LOC_SpaceDust_spacedust-atmosphere-processor-25-1_tags = spacedust isru process resource air cloud harvest extract gas insitu
		#LOC_SpaceDust_spacedust-atmosphere-processor-25-1_title = Sift-O-Tron 250 대기 처리기
		#LOC_SpaceDust_spacedust-gas-analyzer-1_description = 기본적인 대기 탐사 장비입니다. 유입 파이프와 현지 대기의 미량 가스를 샘플링하기 위한 크로마토그래피 기계 장치가 포함되어 있습니다.
		#LOC_SpaceDust_spacedust-gas-analyzer-1_tags = spacedust experiment isru overlay prospect research resource science sensor atmo space insitu huygens gas
		#LOC_SpaceDust_spacedust-gas-analyzer-1_title = PT-SN1-FER 미량 가스 분석기
		#LOC_SpaceDust_spacedust-spectrometer-1_description = 고급 대기 탐사 도구입니다. 광범위한 스펙트럼 필터를 사용하여 원거리에서 대기 및 외기권 영역의 유용한 자원을 조사합니다.
		#LOC_SpaceDust_spacedust-spectrometer-1_tags = spacedust experiment isru overlay prospect research resource science sensor atmo space scanner tgo trace gas insitu
		#LOC_SpaceDust_spacedust-spectrometer-1_title = PT-L00K-ER 분광 가스 스캐너
		#LOC_SpaceDust_spacedust-telescope-1_description = 장거리 대기 탐사 도구입니다. 최대 2개의 서로 다른 장비를 장착하여 다른 행성 주변 영역의 유용한 자원을 스캔할 수 있습니다.
		#LOC_SpaceDust_spacedust-telescope-1_tags = spacedust experiment isru overlay prospect research resource science sensor atmo space scanner hubble edwin gas insitu
		#LOC_SpaceDust_spacedust-telescope-1_title = PT-EDW1N 분광 망원경
		#LOC_SpaceDust_switcher_instrument_ar = 아르곤 분광계
		#LOC_SpaceDust_switcher_instrument_ar_detail = <b>발견:</b> <color=#06ff00>가능</color> \n<b>식별:</b> <color=#06ff00>가능</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#f3a000>보통</color>
		#LOC_SpaceDust_switcher_instrument_ar_summary = 천체 주변의 <b>아르곤</b>을 탐지합니다
		#LOC_SpaceDust_switcher_instrument_de = 중수소 분광계
		#LOC_SpaceDust_switcher_instrument_de_detail = <b>발견:</b> <color=#06ff00>가능</color> \n<b>식별:</b> <color=#06ff00>가능</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#06ff00>높음</color>
		#LOC_SpaceDust_switcher_instrument_de_summary = 천체 주변의 <b>중수소</b>를 탐지합니다
		#LOC_SpaceDust_switcher_instrument_he3 = 헬륨-3 분광계
		#LOC_SpaceDust_switcher_instrument_he3_detail = <b>발견:</b> <color=#06ff00>가능</color> \n<b>식별:</b> <color=#06ff00>가능</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#06ff00>높음</color>
		#LOC_SpaceDust_switcher_instrument_he3_summary = 천체 주변의 <b>헬륨-3</b>를 탐지합니다
		#LOC_SpaceDust_switcher_instrument_lf = 액체 연료 분광계
		#LOC_SpaceDust_switcher_instrument_lf_detail = <b>발견:</b> <color=#06ff00>가능</color> \n<b>식별:</b> <color=#06ff00>가능</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#f3a000>보통</color>
		#LOC_SpaceDust_switcher_instrument_lf_summary = 천체 주변의 기체 상태 <b>액체 연료</b> 전구체를 탐지합니다
		#LOC_SpaceDust_switcher_instrument_lh2 = 수소 분광계
		#LOC_SpaceDust_switcher_instrument_lh2_detail = <b>발견:</b> <color=#06ff00>가능</color> \n<b>식별:</b> <color=#06ff00>가능</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#06ff00>높음</color>
		#LOC_SpaceDust_switcher_instrument_lh2_summary = 천체 주변의 <b>수소</b>를 탐지합니다
		#LOC_SpaceDust_switcher_instrument_none = 없음
		#LOC_SpaceDust_switcher_instrument_none_detail = 없음
		#LOC_SpaceDust_switcher_instrument_none_summary = 이 슬롯에 장착된 장비가 없습니다.
		#LOC_SpaceDust_switcher_instrument_ox = 산화제 분광계
		#LOC_SpaceDust_switcher_instrument_ox_detail = <b>발견:</b> <color=#06ff00>가능</color> \n<b>식별:</b> <color=#06ff00>가능</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#06ff00>높음</color>
		#LOC_SpaceDust_switcher_instrument_ox_summary = 천체 주변의 기체 상태 <b>산화제</b>를 탐지합니다.
		#LOC_SpaceDust_switcher_instrument_slot1_title = 슬롯 1 장비
		#LOC_SpaceDust_switcher_instrument_slot2_title = 슬롯 2 장비
		#LOC_SpaceDust_switcher_instrument_slot3_title = 슬롯 3 장비
		#LOC_SpaceDust_switcher_instrument_slot4_title = 슬롯 4 장비
		#LOC_SpaceDust_switcher_instrument_xe = 제논 분광계
		#LOC_SpaceDust_switcher_instrument_xe_detail = <b>발견:</b> <color=#06ff00>가능</color> \n<b>식별:</b> <color=#06ff00>가능</color> \n<b>파장:</b> 500 nm \n<b>감도:</b> <color=#f3a000>낮음</color>
		#LOC_SpaceDust_switcher_instrument_xe_summary = 천체 주변의 <b>제논</b>을 탐지합니다.
		#LOC_SpaceDust_switcher_mount_compact = 소형
		#LOC_SpaceDust_switcher_mount_compact_detail = 소형 장착부입니다.
		#LOC_SpaceDust_switcher_mount_compact_summary = 소형
		#LOC_SpaceDust_switcher_mount_inline = 직렬형
		#LOC_SpaceDust_switcher_mount_inline_detail = 직렬 장착부입니다.
		#LOC_SpaceDust_switcher_mount_inline_summary = 직렬
		#LOC_SpaceDust_switcher_mount_standard = 표준형
		#LOC_SpaceDust_switcher_mount_standard_detail = 표준 장착부입니다.
		#LOC_SpaceDust_switcher_mount_standard_summary = 표준
		#LOC_SpaceDust_switcher_mount_title = 마운트
	}
}
