Localization
{
	ko
	{
		#FMRS_Local_001 = 임무 시간
		#FMRS_Local_002 = 활성화됨
		#FMRS_Local_003 = 활성화
		#FMRS_Local_004 = 비행
		#FMRS_Local_005 = 플러그인이 초기화됩니다!
		#FMRS_Local_006 = 닫으시겠습니까?
		#FMRS_Local_007 = 예
		#FMRS_Local_008 = 아니요
		#FMRS_Local_009 = 메시지 시스템
		#FMRS_Local_010 = 엔진 자동 차단
		#FMRS_Local_011 = 착륙한 기체 자동 회수
		#FMRS_Local_012 = 스로틀 기록기(작업 중)
		#FMRS_Local_013 = 스테이지 저장 지연
		#FMRS_Local_014 = 분리된 스테이지
		#FMRS_Local_015 = <<1>>에서 분리됨
		#FMRS_Local_016 = 스테이지 <<1>>이(가) <<2>>에 분리됨
		#FMRS_Local_017 = <<1>> 회수됨
		#FMRS_Local_018 = <<1>> 착륙함
		#FMRS_Local_019 = 제어: <<1>>
		#FMRS_Local_020 = 분리 시점으로 돌아가기
		#FMRS_Local_021 = <<1>> 파괴됨
		#FMRS_Local_022 = <<1>> 근접함
		#FMRS_Local_023 = 메인 임무로 돌아가기
		#FMRS_Local_024 = 비행을 되돌리시겠습니까?
		#FMRS_Local_025 = 플러그인 시작 시점으로 되돌리기
		#FMRS_Local_026 = 발사 시점으로 되돌리기
		#FMRS_Local_027 = FMRS 활성화됨
		#FMRS_Local_028 = 발사 시 자동 활성화
		#FMRS_Local_029 = 도킹 해제 이벤트를 스테이지 이벤트로 포함
		#FMRS_Local_030 = 스테이지 기능을 사용할 수 없을 때 유용합니다(예: 두 기체를 도킹한 후 포트를 스테이지로 만들 수 없을 때)
		#FMRS_Local_031 = 스테이지 지연
		#FMRS_Local_032 = 스테이지 분리 후 저장까지 걸리는 시간
		#FMRS_Local_033 = 메시지 시스템
		#FMRS_Local_034 = 엔진 자동 차단
		#FMRS_Local_035 = 착륙한 기체 자동 회수
		#FMRS_Local_036 = 스로틀 기록기(작업 중)
		#FMRS_Local_037 = 낙하산 제어 가능
		#FMRS_Local_038 = 활성화 시, 낙하산이 있는 모든 스테이지는 모드에 의해 제어 가능한 것으로 간주됩니다
		#FMRS_Local_039 = 낙하산만 있는 스테이지는 Stage-Recovery(설치된 경우)로 위임
		#FMRS_Local_040 = Stage Recovery가 설치된 경우, 낙하산만 있는 스테이지는 제어하지 않습니다. RecoveryController를 사용하여 스테이지를 제어할 모드를 지정하면 이 설정보다 우선합니다.
		#FMRS_Local_041 = 제어 불가능한 스테이지를 제어 가능으로 설정
		#FMRS_Local_042 = RecoveryController가 활성화된 경우 무시됩니다. 활성화 시, 제어할 수 없는 스테이지라도 모드에 의해 제어 가능한 것으로 간주됩니다.
	}
}
