Localization
{
	ko
	{
		#LOC_UKS_aeronautics_description = 항공학
		#LOC_UKS_aeronautics_title = 항공학
		#LOC_UKS_basicConstruction_description = 금속과 여러 재료를 사용하여 물건을 제작합니다.
		#LOC_UKS_basicConstruction_title = 기초 건설
		#LOC_UKS_customFuelTanks_description = 맞춤형 연료 탱크
		#LOC_UKS_customFuelTanks_title = 맞춤형 연료 탱크
		#LOC_UKS_earlyAviation_description = 초기 항공 기술입니다.
		#LOC_UKS_earlyAviation_title = 초기 항공
		#LOC_UKS_earlyHeatManagement_description = 초기 열 관리
		#LOC_UKS_earlyHeatManagement_title = 초기 열 관리
		#LOC_UKS_fabrication_description = 금속과 여러 재료를 사용하여 물건을 제작합니다.
		#LOC_UKS_fabrication_title = 제작
		#LOC_UKS_flight1_description = 날개 1
		#LOC_UKS_flight1_title = 날개 1
		#LOC_UKS_flight2_description = 날개 2
		#LOC_UKS_flight2_title = 날개 2
		#LOC_UKS_flight3_description = 날개 3
		#LOC_UKS_flight3_title = 날개 3
		#LOC_UKS_flight4_description = 날개 4
		#LOC_UKS_flight4_title = 날개 4
		#LOC_UKS_gadgets_description = 장치, 도구, 잡동사니들...
		#LOC_UKS_gadgets_title = 장치
		#LOC_UKS_gizmos_description = 윙윙거리는 소리, 딸깍거리는 소리, 번쩍이는 불빛을 내도록 설계된 기발한 장치들입니다. 어쩌면 유용한 용도로 개조할 수 있을지도 모릅니다.
		#LOC_UKS_gizmos_title = 기즈모
		#LOC_UKS_liquidEngineLVT05_description = LV-T05 "Cogswell" 액체 연료 엔진
		#LOC_UKS_liquidEngineLVT05_title = LV-T05 "Cogswell" 액체 연료 엔진
		#LOC_UKS_liquidEngineLVT10_description = LV-T10 "Spacely" 액체 연료 엔진
		#LOC_UKS_liquidEngineLVT10_title = LV-T10 "Spacely" 액체 연료 엔진
		#LOC_UKS_miniaturization_title = 응용 과학
		#LOC_UKS_recycling_title = 생명 유지 장치
		#LOC_UKS_reentryPods1_description = 저렴하고 조잡하지만, 제 역할은 수행합니다... 대부분의 경우에요.
		#LOC_UKS_reentryPods1_title = 소형 재진입 포드
		#LOC_UKS_reentryPods2_description = 저렴하고 조잡하지만, 제 역할은 수행합니다... 대부분의 경우에요.
		#LOC_UKS_reentryPods2_title = 중형 재진입 포드
		#LOC_UKS_reentryPods3_description = 저렴하고 조잡하지만, 제 역할은 수행합니다... 대부분의 경우에요.
		#LOC_UKS_reentryPods3_title = 대형 재진입 포드
		#LOC_UKS_rocketry7_description = 이 로켓들은 정말 매우 무겁습니다. 발사대가 이 무게를 견딜 수 있을까요?
		#LOC_UKS_rocketry7_title = 상당히 무거운 로켓 공학
		#LOC_UKS_solidBoosterRT1_description = RT-1 "Astro" 고체 연료 부스터
		#LOC_UKS_solidBoosterRT1_title = RT-1 "Astro" 고체 연료 부스터
		#LOC_UKS_specializedRocketry10_description = 적절한 제목이 필요합니다...
		#LOC_UKS_specializedRocketry10_title = 특수 로켓 공학 10단계
		#LOC_UKS_specializedRocketry11_description = 적절한 제목이 필요합니다...
		#LOC_UKS_specializedRocketry11_title = 특수 로켓 공학 11단계
		#LOC_UKS_specializedRocketry7_description = 적절한 제목이 필요합니다...
		#LOC_UKS_specializedRocketry7_title = 특수 로켓 공학 7단계
		#LOC_UKS_specializedRocketry8_description = 적절한 제목이 필요합니다...
		#LOC_UKS_specializedRocketry8_title = 특수 로켓 공학 8단계
		#LOC_UKS_specializedRocketry9_description = 적절한 제목이 필요합니다...
		#LOC_UKS_specializedRocketry9_title = 특수 로켓 공학 9단계
		#LOC_UKS_structures0_description = 0.625m 구조 부품입니다.
		#LOC_UKS_structures0_title = 구조물 - 초소형
		#LOC_UKS_structures1_description = 1.25m 구조 부품입니다.
		#LOC_UKS_structures1_title = 구조물 - 소형
		#LOC_UKS_structures1p5_description = 1.875m 구조 부품입니다.
		#LOC_UKS_structures1p5_title = 구조물 - 중형
		#LOC_UKS_structures2_description = 2.5m 구조 부품입니다.
		#LOC_UKS_structures2_title = 구조물 - 대형
		#LOC_UKS_structures3_description = 3.75m 구조 부품입니다.
		#LOC_UKS_structures3_title = 구조물 - 초대형
		#LOC_UKS_structures4_description = 5.0m 구조 부품입니다.
		#LOC_UKS_structures4_title = 구조물 - 거대형
	}
}
