Localization
{
	ko
	{
		#LOC_ChemicalCore_Aniline_description = 아닐린은 기본적인 하이퍼골릭 연료로, 질산과 같은 특정 산화제와 접촉하면 즉시 점화되므로 별도의 점화 장치가 필요하지 않습니다.
		#LOC_ChemicalCore_Aniline_title = 아닐린
		#LOC_ChemicalCore_Diborane_description = 디보레인은 메탄의 이색적인 유사체로 기능하는 극저온 연료이며, 펜타보레인보다 훨씬 높은 비추력을 제공하지만 그만큼 독성도 강합니다.

기체 상태에서는 자연 발화하는 경향이 있으므로 차갑게 유지하는 것이 좋습니다.
		#LOC_ChemicalCore_Diborane_title = 액체 디보레인
		#LOC_ChemicalCore_Ethanol_description = 에탄올은 구하기 쉽고 다루기 간편하며, 첫 로켓을 지상에서 띄우기에 충분한 추진력을 제공합니다.

독립적인 위험 평가 결과, 가장 큰 안전상의 위험 요소는 술에 취한 테스트 엔지니어인 것으로 밝혀졌습니다.
		#LOC_ChemicalCore_Ethanol_title = 에탄올
		#LOC_ChemicalCore_HTPB_description = HTPB(Hydroxyl-terminated polybutadiene)는 PBAN보다 다루기 쉽고 생산 속도가 빠른 현대적인 공중합체 결합제입니다.

이러한 사소한 장점 덕분에 엔지니어들은 고체 로켓 부스터의 출력을 극대화하는 추진제 혼합물을 완성할 수 있었습니다.
		#LOC_ChemicalCore_HTPB_title = HTPB(Hydroxyl-terminated polybutadiene)
		#LOC_ChemicalCore_HTP_description = HTP(High-test peroxide)는 촉매가 존재할 때 증기와 산소의 뜨거운 혼합물로 분해되어 기본적인 로켓 추진제로 충분히 기능합니다.

높은 밀도 덕분에 특정 용도에서는 고성능 산화제보다 유리합니다.
		#LOC_ChemicalCore_HTP_title = HTP(High-test Peroxide)
		#LOC_ChemicalCore_Hydrazine_description = 하이드라진이 암모니아, 질소, 수소로 격렬하게 촉매 분해되면 고성능 단일 추진제이자 더욱 뛰어난 성능의 하이퍼골릭 연료가 됩니다.

다재다능한 추진제이지만 매우 독성이 강하고 가격도 저렴하지 않습니다.
		#LOC_ChemicalCore_Hydrazine_title = 하이드라진
		#LOC_ChemicalCore_IWFNA_description = 질산은 많은 연료와 잘 반응하는 기본적인 산화제이지만, 액체 산소보다는 성능이 떨어집니다.

높은 반응성 덕분에 질산은 하이퍼골릭 산화제로 사용하기에 적합한 후보이며, 함께 사용할 연료만 찾는다면 말입니다.
		#LOC_ChemicalCore_IWFNA_title = 질산
		#LOC_ChemicalCore_Kerosene_description = 어디서나 쓰이는 다목적 연료인 등유는 제트 엔진이나 이원 추진제 로켓에 사용할 수 있습니다.

엔지니어들이 액체 산소와 함께 점화하는 데 어려움을 겪었지만, 성능이 낮은 다양한 산화제와는 아주 잘 연소됩니다.
		#LOC_ChemicalCore_Kerosene_title = 등유
		#LOC_ChemicalCore_LiquidFuel_title = 액체 연료
		#LOC_ChemicalCore_LqdAmmonia_description = 액체 암모니아는 화학 로켓에서 액체 산소와 함께 연소할 수 있지만, 이를 사용하는 로켓을 찾기 어렵고 성능도 상당히 낮습니다.

대안으로 원자력 열 로켓(NTR)의 수소를 암모니아로 교체하면 추력이 크게 향상되고 추진제 취급이 훨씬 간단해지지만, 비추력은 훨씬 낮아집니다.
		#LOC_ChemicalCore_LqdAmmonia_title = 액체 암모니아
		#LOC_ChemicalCore_LqdCO2_description = 이산화탄소는 다른 행성의 대기에 풍부하며 단순 탄화수소 생산의 전구체 화학 물질이 될 수 있어, 현지 자원 활용(ISRU)의 이상적인 목표물입니다.
		#LOC_ChemicalCore_LqdCO2_title = 액체 이산화탄소
		#LOC_ChemicalCore_LqdCO_description = 일산화탄소는 수소와 반응하여 복잡한 액체 탄화수소를 생성할 수 있으며, 이원 추진제 로켓 시스템에서 산화제로 틈새 응용 분야를 찾을 수 있는 강력한 환원제입니다.
		#LOC_ChemicalCore_LqdCO_title = 액체 일산화탄소
		#LOC_ChemicalCore_LqdFluorine_description = 불소는 산소의 성난 형님 격으로, 모든 것과 반응하며 닿는 모든 표면을 부식시킵니다.

액체 불소를 거의 모든 연료와 결합하면 타의 추종을 불허하는 성능을 얻을 수 있지만, 국가적 규모의 사고가 발생할 가능성도 큽니다.
		#LOC_ChemicalCore_LqdFluorine_title = 액체 불소
		#LOC_ChemicalCore_LqdHydrogen_description = 수소는 하이드록스(Hydrolox) 이원 추진제 시스템의 화학 연료로 사용될 수 있으며, 원자력 열 로켓의 불활성 반응 질량으로도 사용됩니다.

높은 비추력이 필요한 경우 가장 먼저 선택하는 추진제이지만, 분자량이 낮아 밀도가 낮으므로 거대한 탱크가 필요합니다.
		#LOC_ChemicalCore_LqdHydrogen_title = 액체 수소
		#LOC_ChemicalCore_LqdMethane_description = 메탄은 적절한 연료 밀도에서 높은 성능을 내는 매력적인 타협안이며, 등유나 하이드라진보다 현지 생산이 훨씬 쉽습니다.

또한 원자력 열 로켓에 주입하면 수소보다 비추력은 낮아지지만 추력은 크게 향상됩니다.
		#LOC_ChemicalCore_LqdMethane_title = 액체 메탄
		#LOC_ChemicalCore_LqdNitrogen_description = 질소는 비활성 기체를 제외하면 가장 불활성인 화학 물질 중 하나이지만, 적절한 조건에서는 수소와 반응하여 암모니아 및 더 복잡한 분자를 형성할 수 있습니다.
		#LOC_ChemicalCore_LqdNitrogen_title = 액체 질소
		#LOC_ChemicalCore_LqdOxygen_description = 액체 산소는 저렴하고 풍부하며 식수의 전기 분해를 통해 행성 밖에서도 쉽게 생산할 수 있지만, 기화 방지를 위해 극저온을 유지해야 합니다.

대부분의 이원 추진제 엔진에서 사용하는 표준 산화제입니다.
		#LOC_ChemicalCore_LqdOxygen_title = 액체 산소
		#LOC_ChemicalCore_MonoPropellant_title = 단일 추진제
		#LOC_ChemicalCore_N2F4_description = 산소와 사산화이질소의 관계처럼 불소와 테트라플루오로하이드라진(N2F4)의 관계도 비슷하지만, 후자는 전자보다 반응성은 낮고 가격은 훨씬 비쌉니다.

그럼에도 이 물질은 만만치 않으며, 제대로 다루기만 한다면 최고의 하이퍼골릭 성능을 얻을 수 있습니다.
		#LOC_ChemicalCore_N2F4_title = 액체 테트라플루오로하이드라진
		#LOC_ChemicalCore_NTO_description = 사산화이질소(NTO)는 다루기 쉽지는 않지만 훌륭한 산화제이며, 하이드라진과 같은 특정 연료와 하이퍼골릭 반응을 일으켜 매우 준수한 성능을 냅니다.

냄새가 아주 고약하다고 합니다.
		#LOC_ChemicalCore_NTO_title = 사산화이질소
		#LOC_ChemicalCore_Oxidizer_title = 산화제
		#LOC_ChemicalCore_PBAN_description = PBAN(Polybutadiene acrylonitrile)은 고체 추진제 결합제로 사용되는 폴리설파이드보다 약간 더 발전된, 따라서 더 비싼 대안입니다.

금속 분말이 포함된 복잡한 추진제 혼합물과 함께 사용하여 더 높은 성능을 내도록 조정할 수 있습니다.
		#LOC_ChemicalCore_PBAN_title = 폴리부타디엔 아크릴로니트릴
		#LOC_ChemicalCore_PSPC_description = 폴리설파이드 추진제 복합체(PSPC)는 과염소산 암모늄과 저렴한 기성품 폴리설파이드 결합제로 구성된 기본적인 고체 추진제 혼합물입니다.

고체 로켓은 고급 액체 이원 추진제 시스템만큼 인상적인 성능을 내지는 못하지만, 빠르게 지면을 박차고 올라갈 수 있게 해줍니다.
		#LOC_ChemicalCore_PSPC_title = 폴리설파이드 추진제 복합체
		#LOC_ChemicalCore_Pentaborane_description = 펜타보레인은 매우 높은 성능을 제공하며, 선호하는 하이퍼골릭 산화제와 쉽게 점화됩니다.

또한 저희가 취급 허가를 받은 물질 중 가장 독성이 강하다고 들었습니다. 대기 중에서 사용하지 말라는 이야기가 있었던 것 같지만, 신경 쓰지 마십시오.
		#LOC_ChemicalCore_Pentaborane_title = 펜타보레인
		#LOC_ChemicalCore_TEATEB_description = TEA-TEB는 트리에틸알루미늄과 트리에틸보레인의 혼합물로, 둘 다 독성이 매우 강하며 다양한 물질과 접촉 시 즉시 점화됩니다.

결정적으로 TEA-TEB는 액체 산소와 하이퍼골릭 반응을 일으키므로, 연소실에 TEA-TEB를 분사하면 연료가 무엇이든, 심지어 다루기 힘든 등유라도 원활하게 점화할 수 있습니다.
		#LOC_ChemicalCore_TEATEB_title = TEA-TEB
		#LOC_ChemicalCore_Water_description = 생명의 근원이며, 적절한 기술이 있다면 전기화학적으로 분리하여 고효율 로켓 추진제로 사용할 수도 있습니다.
		#LOC_ChemicalCore_Water_title = 식수
		#LOC_ChemicalCore_XenonGas_title = 제논 가스
		#LOC_ChemicalCore_basics_manufacturer_title = Saxxon Chemical Group
		#LOC_ChemicalCore_cryogenics_manufacturer_title = Gelid Propulsion Laboratory
		#LOC_ChemicalCore_exotics_manufacturer_title = J.D.C. Hazardous Chemical Emporium
		#LOC_ChemicalCore_hypergolics_manufacturer_title = Kerbal Air Rocket Test Station
		#LOC_ChemicalCore_solids_manufacturer_title = Macroplastics Refinement
	}
}
