Localization
{
	ko
	{
		#AGEXT_UI_IN_TOOLBAR = Action Groups Extended
		#AGEXT_UI_SCREEN_MESSAGE_1 = 시간 가속 중에는 AGX 동작을 활성화할 수 없습니다.
		#AGEXT_UI_SCREEN_MESSAGE_2 = 액션 그룹을 사용할 수 없습니다. 시설 업그레이드가 필요합니다.
		#AGEXT_UI_SCREEN_MESSAGE_3 = AGX 동작이 활성화되지 않았습니다. 비행 중이 아닙니다.
		#AGEXT_UI_SCREEN_MESSAGE_4 = AGX 동작이 확인되지 않았습니다. 비행 중이 아닙니다.
		#AGEXT_UI_SCREEN_MESSAGE_5 = AGX 동작이 활성화되지 않았습니다. RemoteTech가 잘못된 기체를 전달했습니다.
		#AGEXT_UI_SCREEN_MESSAGE_6 = 액션 그룹을 사용할 수 없습니다. 조립동/격납고 시설 업그레이드가 필요합니다.
		#AGEXT_UI_action_group_groups = 액션 그룹 그룹
		#AGEXT_UI_action_name = 설명:
		#AGEXT_UI_action_this_group = 동작 (현재 그룹):
		#AGEXT_UI_actions = 동작
		#AGEXT_UI_agx_settings = AGX 설정
		#AGEXT_UI_button_test = 버튼 테스트:
		#AGEXT_UI_clear_all = 목록 비우기
		#AGEXT_UI_clear_key = 키 지우기
		#AGEXT_UI_close_window = 창 닫기
		#AGEXT_UI_group_1 = 그룹 1:
		#AGEXT_UI_group_2 = 그룹 2:
		#AGEXT_UI_group_3 = 그룹 3:
		#AGEXT_UI_group_4 = 그룹 4:
		#AGEXT_UI_group_5 = 그룹 5:
		#AGEXT_UI_hold = 유지
		#AGEXT_UI_key_sets = 키 세트
		#AGEXT_UI_keybinding = 키 바인딩:
		#AGEXT_UI_keycodes = 키 코드
		#AGEXT_UI_no_actions = 동작 없음
		#AGEXT_UI_select_1 = 선택 1:
		#AGEXT_UI_select_2 = 선택 2:
		#AGEXT_UI_select_3 = 선택 3:
		#AGEXT_UI_select_4 = 선택 4:
		#AGEXT_UI_select_5 = 선택 5:
		#AGEXT_UI_select_mode_no = 대칭? 아니요
		#AGEXT_UI_select_mode_yes = 대칭? 예
		#AGEXT_UI_select_part_hint = 같은 유형의 부품을
선택하십시오
		#AGEXT_UI_selected_parts_numbers_title = AGExt 선택된 부품:
		#AGEXT_UI_setting_auto_hide_groups = 그룹 자동 숨기기
		#AGEXT_UI_setting_bypass_remote_tech = RemoteTech 우회
		#AGEXT_UI_setting_edit_actions = 동작 편집
		#AGEXT_UI_setting_reset_windows = 창 초기화
		#AGEXT_UI_setting_show_key_codes = 키 코드 표시
		#AGEXT_UI_setting_show_remote_tech = RemoteTech 표시
		#AGEXT_UI_show = 표시:
		#AGEXT_UI_show_joy_Sticks = 조이스틱 표시
		#AGEXT_UI_show_list_hint = 모든 파트 목록을
표시하시겠습니까?
		#AGEXT_UI_state_vis_no = 상태 표시:아니요
		#AGEXT_UI_state_vis_yes = 상태 표시:예
		#AGEXT_UI_tap = 탭
		#AGEXT_UI_type_abort = 중단
		#AGEXT_UI_type_brakes = 브레이크
		#AGEXT_UI_type_gear = 랜딩 기어
		#AGEXT_UI_type_lights = 조명
		#AGEXT_UI_type_other = 기타
		#AGEXT_UI_type_rcs = RCS
		#AGEXT_UI_type_sas = SAS
		#AGEXT_UI_type_stage = 스테이지
	}
}
