Localization
{
	ko
	{
		#FreeIVA_AutoPassThrough_Errors_B9PartSwitch = 이 파트에 대한 FreeIva 지원을 위해서는 B9PartSwitch가 필요합니다.
		#FreeIVA_AutoPassThrough_Errors_ConfigurableContainers = 이 파트에 대한 FreeIva 지원은 ConfigurableContainers와 호환되지 않습니다.
		#FreeIVA_AutoPassThrough_Errors_InterstellarFuelSwitch = 이 파트에 대한 FreeIva 지원은 InterstellarFuelSwitch와 호환되지 않습니다.
		#FreeIVA_AutoPassThrough_Errors_ModularFuelTanks = 이 파트에 대한 FreeIva 지원은 ModularFuelTanks와 호환되지 않습니다.
		#FreeIVA_AutoPassThrough_Errors_Reviva = 이 파트에 대한 FreeIva 지원을 위해서는 Reviva가 필요합니다.
		#FreeIVA_AutoPassThrough_Errors_SimpleFuelSwitch = 이 파트에 대한 FreeIva 지원은 SimpleFuelSwitch와 호환되지 않습니다.
		#FreeIVA_Message_Buckled = 안전벨트 착용
		#FreeIVA_Message_CamerSwitchtoKerbal = [<<1>>] <<2>>로 전환
		#FreeIVA_Message_Cameralocked = 카메라 잠김
		#FreeIVA_Message_Cameraunlocked = 카메라 잠금 해제
		#FreeIVA_Message_CloseHatch = 해치 닫기
		#FreeIVA_Message_EnterSeat = 좌석 탑승
		#FreeIVA_Message_GoEVA = 선외 활동(EVA) 시작
		#FreeIVA_Message_Grab = 잡기
		#FreeIVA_Message_GravityDisabled = 중력 비활성화됨
		#FreeIVA_Message_GravityEnabled = 중력 활성화됨
		#FreeIVA_Message_HatchBlocked = 해치가 막혔습니다
		#FreeIVA_Message_HatchLocked = 해치가 잠겼습니다
		#FreeIVA_Message_KermanReturnedSeat = <<1>>이(가) 좌석으로 돌아갔습니다.
		#FreeIVA_Message_NoAirlock = 사용 가능한 에어락이 없습니다
		#FreeIVA_Message_NoKerbal = 활성화된 IVA 커벌이 없습니다
		#FreeIVA_Message_OpenHatch = 해치 열기
		#FreeIVA_Message_PartCannotUnbuckle = 이 파트에서는 안전벨트를 풀 수 없습니다
		#FreeIVA_Message_Unbuckle = 안전벨트 풀기
		#FreeIVA_Message_Unbuckled = 안전벨트 풀림
		#FreeIVA_PartInfo_CanTraverse = 이 파트는 IVA에서 이동할 수 있습니다
		#FreeIVA_PartInfo_CanTraverse_Crew = 이 파트에는 IVA에서 이동 가능한 승무원 이동 변형이 있습니다.
		#FreeIVA_PartInfo_CanTraverse_Penalty = 이 파트는 탱크 용량의 $/FreeIva_AutoPassThrough_VolumePercent$%만큼 페널티를 받고 IVA에서 이동할 수 있습니다.
		#FreeIVA_PartInfo_CanTraverse_Structural = 이 파트에는 IVA에서 이동 가능한 구조 변형이 있습니다.
		#FreeIVA_PartInfo_NotBlockHatch = 이 파트는 EVA 해치를 막지 않습니다
		#FreeIVA_Support_Requires_HabTechProps = 이 파트에 대한 FreeIva 지원을 위해서는 HabTechProps가 필요합니다.
		#FreeIVA_Switcher_Blocked = 막힘
		#FreeIVA_Switcher_Passable = 통과 가능
		#FreeIVA_Tutorial_Backward = 뒤로
		#FreeIVA_Tutorial_Close = 닫기
		#FreeIVA_Tutorial_CloseForever = 게임 재시작 전까지 닫기
		#FreeIVA_Tutorial_Crouch = 웅크리기
		#FreeIVA_Tutorial_Forward = 앞으로
		#FreeIVA_Tutorial_GrabProp = 소품 잡기
		#FreeIVA_Tutorial_Jump = 점프
		#FreeIVA_Tutorial_MouseLook = 마우스 시점 변환
		#FreeIVA_Tutorial_MoveDown = 아래로 이동
		#FreeIVA_Tutorial_MoveUp = 위로 이동
		#FreeIVA_Tutorial_PlaceProp = 소품 배치
		#FreeIVA_Tutorial_ReleaseLadder = 사다리 놓기
		#FreeIVA_Tutorial_ReturnSeat = 좌석 복귀
		#FreeIVA_Tutorial_RollCCW = 반시계 방향 회전
		#FreeIVA_Tutorial_RollCW = 시계 방향 회전
		#FreeIVA_Tutorial_StrafeLeft = 왼쪽으로 이동
		#FreeIVA_Tutorial_StrafeRight = 오른쪽으로 이동
		#FreeIVA_Tutorial_ThrowProp = 소품 던지기
		#FreeIVA_Tutorial_ToggleGravity = 중력 전환
		#FreeIVA_Tutorial_UseProp = 소품 사용
	}
}
