Localization
{
	ko
	{
		#LOC_SpaceTuxLib_1 = v
		#LOC_SpaceTuxLib_10 = 취소
		#LOC_SpaceTuxLib_11 = 수락
		#LOC_SpaceTuxLib_12 = 선택된 색상 -->
		#LOC_SpaceTuxLib_13 = y
		#LOC_SpaceTuxLib_14 = d
		#LOC_SpaceTuxLib_15 = h
		#LOC_SpaceTuxLib_16 = m
		#LOC_SpaceTuxLib_17 = s
		#LOC_SpaceTuxLib_18 = 비어 있음
		#LOC_SpaceTuxLib_2 = 버튼 관리자
		#LOC_SpaceTuxLib_3 = 버튼 선택:
		#LOC_SpaceTuxLib_4 = 선택된 버튼 없음
		#LOC_SpaceTuxLib_5 = 확인
		#LOC_SpaceTuxLib_6 = 활성화 시, 내부 메서드가 실행될 때마다 보고합니다.
		#LOC_SpaceTuxLib_7 = 색상 선택기
		#LOC_SpaceTuxLib_8 = 색상 선택기-텍스처
		#LOC_SpaceTuxLib_9 = 색상 선택기
	}
}
