Localization
{
	ko
	{
		#KAS_CH1_Part_description = 케이블을 걸 수 있는 고리입니다. "물체들을 서로 연결하는" 솔루션의 나머지 절반을 담당합니다.
		#KAS_CH1_Part_manufacturer = KAS Labs, Inc.
		#KAS_CH1_Part_tags = KIS KAS 케이블 로프 연결 cck-kas
		#KAS_CH1_Part_title = CH-1 케이블 고리
		#KAS_GrapplingHook_Part_DetachDartEventText = 그래플링 장치 분리
		#KAS_GrapplingHook_Part_description = 우주에서 물체를 "작살로 찍는" 아이디어는 모두가 좋아했습니다. 하지만 작살은 금속으로 만들어진 우주 정거장 모듈에는 사용할 수 없었습니다. Gene이 해결책을 제시했습니다. 작살 대신 흡착판을 사용하는 것이었죠. 효과는 좋았지만, 더 이상 작살이라고 부를 수는 없게 되었습니다.
		#KAS_GrapplingHook_Part_manufacturer = KAS
		#KAS_GrapplingHook_Part_tags = KIS KAS 고리 작살 부착 윈치 사출 cck-kas
		#KAS_GrapplingHook_Part_title = HG-02 그래플링 훅
		#KAS_Harpoon_Part_DetachDartEventText = 작살 분리
		#KAS_Harpoon_Part_description = 이 아이디어는 Bill이 휴가에서 돌아왔을 때 제안했습니다. 그는 바다에서 작살총으로 사냥을 했었죠. 물론 아무것도 잡지는 못했지만, 무언가를 "작살로 찍고" 싶다는 열망은 남았습니다. 우주에 있는 소행성을 찍어보는 건 어떨까요? 그렇게 이 우주 작살이 탄생했습니다. 참고로, 행성에도 작살을 꽂을 수 있습니다.
		#KAS_Harpoon_Part_manufacturer = KAS
		#KAS_Harpoon_Part_tags = KIS KAS 고리 작살 부착 윈치 사출 cck-kas
		#KAS_Harpoon_Part_title = HP-01 작살
		#KAS_JS1_Part_description = 이 다목적 소켓은 다양한 기능을 제공합니다. 견고한 연결을 가능하게 하며 자원 전송도 지원합니다! 이 소켓을 설치하려면 다년간의 경험을 갖춘 공인 엔지니어가 필요하지만, 일단 부착하고 나면 관리인조차도 이를 사용하여 우주선을 연결할 수 있습니다.
		#KAS_JS1_Part_manufacturer = KAS Labs, Inc.
		#KAS_JS1_Part_tags = KIS KAS 파이프 튜브 cck-kas
		#KAS_JS1_Part_title = JS-1 조인트 소켓
		#KAS_PCB1_Part_LinkBreak = 연결 해제
		#KAS_PCB1_Part_LinkStart = 연결
		#KAS_PCB1_Part_description = 강철 케이블이 감긴 작은 스풀이 포함된 간단한 수동 윈치로, 너무 멀지 않은 거리에 있는 물체들을 연결할 수 있게 해줍니다. 하지만 케이블을 고정할 고리가 상대 우주선에 있어야 하므로, 이 윈치는 문제의 절반만 해결해 줍니다.
		#KAS_PCB1_Part_manufacturer = KAS Labs, Inc.
		#KAS_PCB1_Part_tags = KIS KAS 케이블 로프 연결 cck-kas
		#KAS_PCB1_Part_title = PCB-1 휴대용 케이블 브레이싱
		#KAS_PortPylonPwr_Part_description = 이 파트의 설계는 GP-20에서 영감을 받았습니다. 우리 엔지니어들은 파일런의 내부 공간을 실제로 활용할 수 있는지 궁금해했습니다. 결과는 가능했습니다! 그래서 그들은 Z-100 배터리와 간단한 제어 모듈을 채워 넣기로 했습니다. Jeb이 요청했던 Kerba-Cola 냉장고만큼 멋지지는 않지만, 여전히 매우 실용적입니다. 배터리는 재활용 쓰레기통에서 주워온 것이 아니라 최고 품질의 제품이니 안심하십시오.
		#KAS_PortPylonPwr_Part_manufacturer = KAS Labs, Inc.
		#KAS_PortPylonPwr_Part_tags = KAS 자원 연료 전송 cck-kas
		#KAS_PortPylonPwr_Part_title = BGP-400 강화형 파일런
		#KAS_PortPylon_Part_description = RTS-1 제품군은 큰 성공을 거두었습니다! 하지만 몇 가지 불만이 있었습니다. 파이프가 충분히 길지 않을 때가 있다는 것이었죠! 이 문제를 해결하기 위해 새로운 파트가 개발되었습니다. 파이프 소켓이 내장된 경량 파일런으로, 연장 장치 역할을 할 수 있습니다. 따라서 먼 거리까지 자원 연결을 연쇄적으로 구성할 수 있지만, 이를 위해서는 추가적인 파일런을 건설해야 할 수도 있습니다. Jeb은 속이 빈 내부에 Kerba-Cola 냉장고를 추가하고 싶어 했지만, R&D 부서는 20kg의 엄격한 질량 제한 때문에 그의 제안을 거절해야 했습니다.
		#KAS_PortPylon_Part_manufacturer = KAS Labs, Inc.
		#KAS_PortPylon_Part_tags = KAS 자원 연료 전송 cck-kas
		#KAS_PortPylon_Part_title = GP-20 파일런
		#KAS_RTS1_Part_description = 이 파이프는 우주선 간 자원 전송을 가능하게 합니다. 직경은 그리 인상적이지 않지만, 어느 작은 초록색 친구가 말했듯 "크기는 중요하지 않습니다." 당사의 특허 기술을 통해 암석, 연료, 간식, 심지어 커벌까지 포함한 모든 것을 전송할 수 있습니다. 단, 커벌 전송 시 보증은 무효가 됩니다.
		#KAS_RTS1_Part_manufacturer = KAS Labs, Inc.
		#KAS_RTS1_Part_tags = KIS KAS 자원 연료 전송 cck-kas
		#KAS_RTS1_Part_title = RTS-1 자원 전송 스테이션
		#KAS_TB60_Part_LinkBreak = 우주선 연결 해제
		#KAS_TB60_Part_LinkStart = 우주선에 부착
		#KAS_TB60_Part_Park_Forward = 주차: 전방
		#KAS_TB60_Part_Park_Up = 주차: 상단
		#KAS_TB60_Part_description = 스스로 움직일 수 없는 우주선을 견인하기 위한 간단한 솔루션입니다. 단순한 로프를 사용하면 견인되는 우주선이 제동이나 기동 시 견인하는 우주선과 충돌할 가능성이 높지만, 견인봉을 사용하면 그런 일이 발생하지 않습니다. 또한, 필요하다면 견인되는 우주선의 조향을 도울 수도 있습니다. 배터리 잔량을 항상 확인하십시오. 그렇지 않으면 능동 조향 기능이 작동하지 않습니다.
		#KAS_TB60_Part_manufacturer = KAS Labs, Inc.
		#KAS_TB60_Part_tags = KIS KAS 파이프 튜브 견인 견인바 cck-kas
		#KAS_TB60_Part_title = TB-60 견인바
		#KAS_TJ1_Part_LinkBreak = 선박 연결 해제
		#KAS_TJ1_Part_LinkStart = 선박에 연결
		#KAS_TJ1_Part_Park_Down = 주차: 아래
		#KAS_TJ1_Part_Park_Forward = 주차: 앞
		#KAS_TJ1_Part_Park_Up = 주차: 위
		#KAS_TJ1_Part_description = 이 단순한 신축형 지지대는 두 선박을 단단히 연결할 수 있습니다. 최대 연결 거리는 꽤 짧지만 강도는 충분합니다. 이 설계는 Jeb이 중고품 가게에서 산 셀카봉에서 영감을 받았습니다.
		#KAS_TJ1_Part_manufacturer = KAS Labs, Inc.
		#KAS_TJ1_Part_tags = KIS KAS 파이프 튜브 cck-kas
		#KAS_TJ1_Part_title = TJ-1 고정식 신축 조인트
		#KAS_TJ2_Part_LinkBreak = 선박 연결 해제
		#KAS_TJ2_Part_LinkStart = 선박에 연결
		#KAS_TJ2_Part_Park_Down = 주차: 아래
		#KAS_TJ2_Part_Park_Forward = 주차: 앞
		#KAS_TJ2_Part_Park_Up = 주차: 위
		#KAS_TJ2_Part_description = TJ-1 "셀카봉"과 동일하지만 경첩이 잠겨 있지 않습니다. 연결된 선박들을 서로 분리된 상태로 유지하면서도 움직임을 지나치게 제한하지 않는 최고의 해결책입니다.
		#KAS_TJ2_Part_manufacturer = KAS Labs, Inc.
		#KAS_TJ2_Part_tags = KIS KAS 파이프 튜브 cck-kas
		#KAS_TJ2_Part_title = TJ-2 자유 신축 조인트
		#KAS_W1_Part_description = 고대 현자가 말하길: "적절한 소켓과 윈치만 있다면 커빈이라도 끌어당기겠다". 이 윈치가 그 정도로 강력하진 않지만, 꽤 부피가 큰 선박을 들어 올리거나 견인할 수는 있습니다. 대상 선박에 호환되는 소켓을 부착하는 것을 잊지 마십시오. 또한, 활성 선박에 충분한 전력이 있는지 확인하십시오. 윈치는 전기를 많이 소모합니다!
		#KAS_W1_Part_manufacturer = KAS Labs, Inc.
		#KAS_W1_Part_tags = KIS KAS 윈치 케이블 커넥터 cck-kas
		#KAS_W1_Part_title = W-50 윈치
		#KAS_W2_Part_description = W-50 윈치 모델의 고하중 버전입니다. 케이블이 더 길고 연결 강도가 향상되었습니다. 하지만 여전히 커빈을 끌어당길 수는 없습니다. 참고: 윈치로 마녀(witch)를 윈치(winch)질하는 데 사용하면 보증이 무효화되며, 어떤 윈치나 마녀인지는 중요하지 않습니다.
		#KAS_W2_Part_manufacturer = KAS Labs, Inc.
		#KAS_W2_Part_tags = KIS KAS 윈치 케이블 커넥터 고하중 cck-kas
		#KAS_W2_Part_title = HW-80 윈치
		#kasLOC_00000 = 연결이 너무 짧습니다: <<1>> < <<2>>
		#kasLOC_00001 = 연결이 너무 깁니다: <<1>> > <<2>>
		#kasLOC_00002 = 소스 각도 제한 도달: <<1>> > <<2>>
		#kasLOC_00003 = 대상 각도 제한 도달: <<1>> > <<2>>
		#kasLOC_00004 = 연결 파괴력: <<1>>
		#kasLOC_00005 = 연결 토크력: <<1>>
		#kasLOC_00006 = 최소 연결 길이: <<1>>
		#kasLOC_00007 = 최대 연결 길이: <<1>>
		#kasLOC_00008 = 소스 각도 제한: <<1>>
		#kasLOC_00009 = 대상 각도 제한: <<1>>
		#kasLOC_00010 = KAS 조인트
		#kasLOC_01000 = 클릭하여 연결 (길이 <<1>>)
		#kasLOC_01001 = 호환되는 소켓을 선택하거나 ESC를 누르십시오
		#kasLOC_01002 = 도킹할 수 없습니다: 지원되지 않는 모드입니다
		#kasLOC_02000 = 호환되지 않는 대상 연결 유형
		#kasLOC_02001 = 연결 가능한 소스가 없습니다
		#kasLOC_02002 = 대상이 연결을 허용하지 않습니다
		#kasLOC_02003 = <<1>>에 대한 연결을 복구할 수 없습니다
		#kasLOC_02004 = 소켓 유형 <<1>>으로 연결
		#kasLOC_02005 = KAS 조인트 소스
		#kasLOC_02006 = 연결 모드: 도킹됨
		#kasLOC_02007 = 연결 모드: 도킹 해제됨
		#kasLOC_02008 = 대상을 결합할 수 없습니다
		#kasLOC_02009 = EVA 건설 작업으로 인해 연결 해제 중
		#kasLOC_02010 = EVA 건설 모드에서는 대화형 연결이 허용되지 않습니다
		#kasLOC_03000 = 허용되는 연결 유형: <<1>>
		#kasLOC_03001 = KAS 조인트 대상
		#kasLOC_04000 = <<1>>와(과) 연결이 충돌합니다
		#kasLOC_04001 = 연결이 지면과 충돌합니다
		#kasLOC_04002 = 최대로 연장
		#kasLOC_04003 = 최소로 수축
		#kasLOC_05000 = 견인바 잠금 중: 차이 <<1>>
		#kasLOC_05001 = 견인바 잠금 완료!
		#kasLOC_05002 = 비활성화됨
		#kasLOC_05003 = 활성화됨
		#kasLOC_05004 = 대상이 활성 기체입니다
		#kasLOC_05005 = 대상을 제어할 수 없습니다
		#kasLOC_05006 = 잠금 해제됨
		#kasLOC_05007 = 비활성화됨
		#kasLOC_05008 = 잠금됨
		#kasLOC_05009 = 잠금 중
		#kasLOC_05010 = 잠금 상태
		#kasLOC_05011 = 조향 상태
		#kasLOC_05012 = 조향 민감도
		#kasLOC_05013 = 조향: 방향
		#kasLOC_05014 = 잠금 시작
		#kasLOC_05015 = 조인트 잠금 해제
		#kasLOC_05016 = 능동 조향 활성화
		#kasLOC_05017 = 능동 조향 비활성화
		#kasLOC_05018 = 정방향
		#kasLOC_05019 = 역방향
		#kasLOC_07000 = <<1>>와(과) 연결이 충돌합니다
		#kasLOC_07001 = 링크가 지면과 충돌합니다
		#kasLOC_08000 = 에너지가 부족합니다!
		#kasLOC_08001 = 커넥터를 고정할 수 없습니다: 정렬되지 않음
		#kasLOC_08002 = 커넥터 고정 완료!
		#kasLOC_08003 = 커넥터가 윈치에 도킹되었습니다
		#kasLOC_08004 = 최대 케이블 길이에 도달했습니다: <<1>>
		#kasLOC_08005 = 연장 중지
		#kasLOC_08006 = 케이블 연장
		#kasLOC_08007 = 회수 중지
		#kasLOC_08008 = 케이블 회수
		#kasLOC_08009 = 전개된 케이블 길이
		#kasLOC_08010 = 윈치 GUI 열기
		#kasLOC_08011 = 케이블 분리
		#kasLOC_08012 = 즉시 팽팽하게 하기
		#kasLOC_08013 = KAS 윈치
		#kasLOC_08014 = 최대 모터 속도: <<1>>
		#kasLOC_08015 = 케이블 연장
		#kasLOC_08016 = 케이블 회수
		#kasLOC_08017 = 모터 정지
		#kasLOC_08018 = 케이블 분리
		#kasLOC_08019 = 커넥터 사출력: <<1>>
		#kasLOC_08020 = 커넥터 사출
		#kasLOC_09000 = 스프링 강도: <<1>>
		#kasLOC_09001 = KAS 케이블
		#kasLOC_10000 = 커넥터 집기
		#kasLOC_100001 = 커넥터를 놓으려면 다음 키를 누르십시오: [<<1>>]
		#kasLOC_100002 = [<<1>>]: 커넥터 집기
		#kasLOC_10003 = 커넥터 부착
		#kasLOC_11000 = 윈치 원격 제어 (<<1>>)
		#kasLOC_11001 = 분리
		#kasLOC_11002 = 커넥터를 분리하고 케이블 길이를 최대로 설정합니다
		#kasLOC_11003 = 팽팽하게 하기
		#kasLOC_11004 = 케이블 길이를 실제 거리로 설정합니다
		#kasLOC_11005 = 탈착
		#kasLOC_11006 = 대상 파트에서 케이블을 탈착합니다
		#kasLOC_11007 = 닫기
		#kasLOC_11008 = GUI 닫기
		#kasLOC_11009 = H
		#kasLOC_11010 = 장면에서 윈치 강조 표시
		#kasLOC_11011 = <color=red>오프라인</color>
		#kasLOC_11012 = 윈치에 연결할 수 없습니다. 해당 기체를 제어할 수 있습니까?
		#kasLOC_11013 = <color=red>차단됨</color>
		#kasLOC_11014 = 윈치 부착 노드가 다른 파트에 의해 차단되었습니다
		#kasLOC_11015 = <color=#00ff00>회수됨</color>
		#kasLOC_11016 = 커넥터가 윈치에 고정되었습니다
		#kasLOC_11017 = 케이블 회수 시작
		#kasLOC_11018 = 케이블 연장 시작
		#kasLOC_11019 = 케이블 회수
		#kasLOC_11020 = 케이블 연장
		#kasLOC_11021 = 모터 속도 설정
		#kasLOC_11022 = 케이블의 전개/실제 길이
		#kasLOC_11023 = 현재 모터 속도 / 모터 속도 설정
		#kasLOC_11024 = 장면에 윈치가 없습니다!
		#kasLOC_11025 = <<1>> / <<2>>
		#kasLOC_11026 = <<1>> / <color=magenta><<2>></color>
		#kasLOC_11027 = <<1>> / <<2>>
		#kasLOC_12000 = 자원 전송
		#kasLOC_12001 = <<1>>
		#kasLOC_12002 = <<1>> <<2>>
		#kasLOC_12003 = <<1>> / <<2>>
		#kasLOC_12004 = 현재 전송 속도: 초당 <<1>> 단위
		#kasLOC_12005 = 대화 상자 닫기
		#kasLOC_12006 = 소유자 (왼쪽): <<1>>
		#kasLOC_12007 = 연결됨 (오른쪽): <<1>>
		#kasLOC_12008 = 구성 요소 혼합: <<1>>
		#kasLOC_12009 = 전송 속도 자동 조절
		#kasLOC_12010 = 전송이 <<1>>초 안에 완료되도록 속도가 설정됩니다
		#kasLOC_12011 = 연결된 기체에서 소유 기체로 전송 시작
		#kasLOC_12012 = 연결된 기체에서 소유 기체로 전송
		#kasLOC_12013 = 소유 기체에서 연결된 기체로 전송 시작
		#kasLOC_12014 = 소유 기체에서 연결된 기체로 전송
		#kasLOC_12015 = GUI 열기
		#kasLOC_12016 = 도킹 모드에서는 사용할 수 없습니다
		#kasLOC_12017 = 전송할 자원을 찾을 수 없습니다
		#kasLOC_13000 = 잠김
		#kasLOC_13001 = 전개됨
		#kasLOC_13002 = 연결됨
		#kasLOC_13003 = 도킹됨
		#kasLOC_13004 = 커넥터와 파트 사이의 연결이 끊어졌습니다
		#kasLOC_13005 = <<1>>와(과) 연결할 수 없습니다
		#kasLOC_13006 = 커넥터 상태
		#kasLOC_13007 = 커넥터 잡기
		#kasLOC_13008 = 커넥터 반환
		#kasLOC_13009 = 커넥터 분리
		#kasLOC_13010 = 커넥터 잠금
		#kasLOC_14000 = KAS 다트
		#kasLOC_14001 = 필요 충격력: <<1>>
		#kasLOC_14002 = 표면 부착 강도: <<1>>
		#kasLOC_14003 = 파트에 부착
		#kasLOC_14004 = 표면에 부착
		#kasLOC_14005 = 소행성 또는 혜성에 부착
		#kasLOC_99000 = Pipe-40
		#kasLOC_99001 = Cable-10
		#kasLOC_99002 = Hose-30
		#kasLOC_99003 = Pipe-100
		#kasLOC_99004 = Cable-35
		#kasLOC_99005 = Hose-70
		#kasLOC_99006 = Pipe-150
		#kasLOC_99007 = Cable-60
		#kasLOC_99008 = Hose-100
		#kasLOC_99009 = Kerbal Attachment System
		#kasLOC_99010 = Corridor-1000
		#kasLOC_99011 = Corridor-1500
	}
}
