Localization
{
	ko
	{
		#LOC_VABOrganizer_AdvancedSortTooltip = 고급 정렬
		#LOC_VABOrganizer_BulkheadSortTooltip = 프로필별 정렬
		#LOC_VABOrganizer_Bulkhead_hex = HEX
		#LOC_VABOrganizer_Bulkhead_mk1 = MK1
		#LOC_VABOrganizer_Bulkhead_mk2 = MK2
		#LOC_VABOrganizer_Bulkhead_mk3 = MK3
		#LOC_VABOrganizer_Bulkhead_mk4 = MK4
		#LOC_VABOrganizer_Bulkhead_octo = OCT
		#LOC_VABOrganizer_Bulkhead_procedural = 절차적
		#LOC_VABOrganizer_Bulkhead_size0 = 0.625m
		#LOC_VABOrganizer_Bulkhead_size00 = 0.3125m
		#LOC_VABOrganizer_Bulkhead_size0p5 = 0.9375m
		#LOC_VABOrganizer_Bulkhead_size1 = 1.25m
		#LOC_VABOrganizer_Bulkhead_size1p2 = 1.5m
		#LOC_VABOrganizer_Bulkhead_size1p5 = 1.875m
		#LOC_VABOrganizer_Bulkhead_size1p8 = 2.25m
		#LOC_VABOrganizer_Bulkhead_size2 = 2.5m
		#LOC_VABOrganizer_Bulkhead_size2p5 = 3.125m
		#LOC_VABOrganizer_Bulkhead_size3 = 3.75m
		#LOC_VABOrganizer_Bulkhead_size3p5 = 4.375m
		#LOC_VABOrganizer_Bulkhead_size4 = 5m
		#LOC_VABOrganizer_Bulkhead_size4p5 = 5.625m
		#LOC_VABOrganizer_Bulkhead_size5 = 6.25m
		#LOC_VABOrganizer_Bulkhead_size5p5 = 6.875m
		#LOC_VABOrganizer_Bulkhead_size6 = 7.5m
		#LOC_VABOrganizer_Bulkhead_size6p5 = 8.125m
		#LOC_VABOrganizer_Bulkhead_size7 = 8.75m
		#LOC_VABOrganizer_Bulkhead_size7p5 = 9.375m
		#LOC_VABOrganizer_Bulkhead_size8 = 10m
		#LOC_VABOrganizer_Bulkhead_spinal = SPI
		#LOC_VABOrganizer_Bulkhead_srf = SRF
		#LOC_VABOrganizer_Sorter_AntennaCost = 전송 비용
		#LOC_VABOrganizer_Sorter_AntennaPower = 안테나 강도
		#LOC_VABOrganizer_Sorter_AntennaRate = 전송 속도
		#LOC_VABOrganizer_Sorter_CrewCapacity = 탑승 인원
		#LOC_VABOrganizer_Sorter_EngineGimbalRange = 짐벌 범위
		#LOC_VABOrganizer_Sorter_EngineISPSL = Isp (1 atm)
		#LOC_VABOrganizer_Sorter_EngineISPVac = Isp (진공)
		#LOC_VABOrganizer_Sorter_EngineTWRSL = TWR (1 atm)
		#LOC_VABOrganizer_Sorter_EngineTWRVac = TWR (진공)
		#LOC_VABOrganizer_Sorter_EngineThrustSL = 추력 (1 atm)
		#LOC_VABOrganizer_Sorter_EngineThrustVac = 추력 (진공)
		#LOC_VABOrganizer_Sorter_Experiment = 실험 유형
		#LOC_VABOrganizer_Sorter_ExperimentValue = 실험 가치
		#LOC_VABOrganizer_Sorter_HeatConsumption = 제거된 열
		#LOC_VABOrganizer_Sorter_HeatGeneration = 발생한 열
		#LOC_VABOrganizer_Sorter_InventorySlots = 인벤토리 슬롯
		#LOC_VABOrganizer_Sorter_InventoryVolume = 인벤토리 용량
		#LOC_VABOrganizer_Sorter_MonopropMax = 모노프로펄런트 용량
		#LOC_VABOrganizer_Sorter_PowerConsumption = 소비된 전력
		#LOC_VABOrganizer_Sorter_PowerGeneration = 발생한 전력
		#LOC_VABOrganizer_Sorter_PowerMax = 전력 용량
		#LOC_VABOrganizer_Sorter_RCSIspVac = RCS 비추력 (진공)
		#LOC_VABOrganizer_Sorter_RCSThrustVac = RCS 추력 (진공)
		#LOC_VABOrganizer_Sorter_ReactionWheelTorque = 반작용 휠 토크
		#LOC_VABOrganizer_Sorter_SASLevel = SAS 레벨
		#LOC_VABOrganizer_Subcategory_adapters = 어댑터
		#LOC_VABOrganizer_Subcategory_airAcessories = 나셀
		#LOC_VABOrganizer_Subcategory_airlocks = 에어락
		#LOC_VABOrganizer_Subcategory_argon = 아르곤 연료
		#LOC_VABOrganizer_Subcategory_batteries = 배터리
		#LOC_VABOrganizer_Subcategory_cargoBays = 화물 베이
		#LOC_VABOrganizer_Subcategory_cargoContainers = 화물 컨테이너
		#LOC_VABOrganizer_Subcategory_cargoStorage = 화물 저장소
		#LOC_VABOrganizer_Subcategory_cockpits = 조종석
		#LOC_VABOrganizer_Subcategory_controlSurfaces = 조종면
		#LOC_VABOrganizer_Subcategory_crewHabitation = 거주 구역
		#LOC_VABOrganizer_Subcategory_crewTransport = 커벌 수송
		#LOC_VABOrganizer_Subcategory_cryogenic = 극저온 연료
		#LOC_VABOrganizer_Subcategory_cryogenicEngines = 극저온 엔진
		#LOC_VABOrganizer_Subcategory_decouplers = 분리 장치
		#LOC_VABOrganizer_Subcategory_deployable = 전개형 장치
		#LOC_VABOrganizer_Subcategory_deployableControlSurfaces = 전개형 조종면
		#LOC_VABOrganizer_Subcategory_direct = 안테나
		#LOC_VABOrganizer_Subcategory_dockingPorts = 도킹 포트
		#LOC_VABOrganizer_Subcategory_engineMounts = 엔진 마운트
		#LOC_VABOrganizer_Subcategory_fairings = 페어링
		#LOC_VABOrganizer_Subcategory_fissionReactors = 핵 반응로
		#LOC_VABOrganizer_Subcategory_flags = 깃발
		#LOC_VABOrganizer_Subcategory_fuelcells = 연료 전지
		#LOC_VABOrganizer_Subcategory_fusionReactors = 핵융합로
		#LOC_VABOrganizer_Subcategory_gear = 착륙 장치
		#LOC_VABOrganizer_Subcategory_girders = 거더
		#LOC_VABOrganizer_Subcategory_grapples = 그래플
		#LOC_VABOrganizer_Subcategory_greenhouses = 온실
		#LOC_VABOrganizer_Subcategory_heatShields = 열 차폐막
		#LOC_VABOrganizer_Subcategory_hinges = 경첩 및 서보
		#LOC_VABOrganizer_Subcategory_hubs = 허브
		#LOC_VABOrganizer_Subcategory_instruments = 계측기
		#LOC_VABOrganizer_Subcategory_intakes = 흡입구
		#LOC_VABOrganizer_Subcategory_ionEngines = 이온 엔진
		#LOC_VABOrganizer_Subcategory_jetEngines = 제트 엔진
		#LOC_VABOrganizer_Subcategory_labs = 연구소
		#LOC_VABOrganizer_Subcategory_ladders = 사다리
		#LOC_VABOrganizer_Subcategory_landers = 착륙선
		#LOC_VABOrganizer_Subcategory_legs = 착륙 다리
		#LOC_VABOrganizer_Subcategory_lf = 제트 연료
		#LOC_VABOrganizer_Subcategory_lfo = 로켓 연료
		#LOC_VABOrganizer_Subcategory_lfoEngines = 액체 연료 엔진
		#LOC_VABOrganizer_Subcategory_lights = 조명
		#LOC_VABOrganizer_Subcategory_lithium = 리튬 연료
		#LOC_VABOrganizer_Subcategory_misc = 기타
		#LOC_VABOrganizer_Subcategory_monoEngines = 모노프로펠런트 엔진
		#LOC_VABOrganizer_Subcategory_monoprop = 모노프로펠런트 연료
		#LOC_VABOrganizer_Subcategory_multicouplers = 다중 결합기
		#LOC_VABOrganizer_Subcategory_noses = 노즈콘
		#LOC_VABOrganizer_Subcategory_nuclearEngines = 핵 엔진
		#LOC_VABOrganizer_Subcategory_nuclearFuel = 핵연료
		#LOC_VABOrganizer_Subcategory_parachutes = 낙하산
		#LOC_VABOrganizer_Subcategory_pistons = 피스톤
		#LOC_VABOrganizer_Subcategory_pods = 조종석
		#LOC_VABOrganizer_Subcategory_probes = 탐사선
		#LOC_VABOrganizer_Subcategory_propEngines = 프로펠러 엔진
		#LOC_VABOrganizer_Subcategory_radialAdapters = 방사형 어댑터
		#LOC_VABOrganizer_Subcategory_radiators = 방열판
		#LOC_VABOrganizer_Subcategory_rcs = RCS
		#LOC_VABOrganizer_Subcategory_reactionWheels = 반작용 휠
		#LOC_VABOrganizer_Subcategory_reflector = 반사판
		#LOC_VABOrganizer_Subcategory_relay = 중계기
		#LOC_VABOrganizer_Subcategory_resourceScanners = 자원 스캐너
		#LOC_VABOrganizer_Subcategory_resources = 자원 채취
		#LOC_VABOrganizer_Subcategory_rotorBlades = 로터 블레이드
		#LOC_VABOrganizer_Subcategory_rotors = 로터
		#LOC_VABOrganizer_Subcategory_rtgs = 방사성 동위원소 발전기
		#LOC_VABOrganizer_Subcategory_sas = 자세 제어
		#LOC_VABOrganizer_Subcategory_scienceStorage = 과학 데이터 저장소
		#LOC_VABOrganizer_Subcategory_seats = 조종석 시트
		#LOC_VABOrganizer_Subcategory_separators = 분리 장치
		#LOC_VABOrganizer_Subcategory_serviceBays = 서비스 베이
		#LOC_VABOrganizer_Subcategory_solarPanels = 태양광 패널
		#LOC_VABOrganizer_Subcategory_solidEngines = 고체 연료 엔진
		#LOC_VABOrganizer_Subcategory_stationCores = 정거장 코어
		#LOC_VABOrganizer_Subcategory_truss = 트러스
		#LOC_VABOrganizer_Subcategory_trussAdapters = 트러스 어댑터
		#LOC_VABOrganizer_Subcategory_trussHubs = 트러스 허브
		#LOC_VABOrganizer_Subcategory_tubes = 튜브
		#LOC_VABOrganizer_Subcategory_wheels = 바퀴
		#LOC_VABOrganizer_Subcategory_wings = 날개
		#LOC_VABOrganizer_Subcategory_xenon = 제논 연료
	}
}
