Localization
{
	ko
	{
		#LOC_MunksFixes_HeatShield4_desc = 통합 페어링이 포함된 거대한 구조용 열 차폐막입니다.
		#LOC_MunksFixes_HeatShield4_title = 열 차폐막 (5m)
		#LOC_MunksFixes_HeatShield4_title_CPT = HS-50 열 차폐막
		#LOC_MunksFixes_asteriodHarvester = 소행성 채굴기
		#LOC_MunksFixes_clampExtend = 클램프 확장
		#LOC_MunksFixes_clampRetract = 클램프 축소
		#LOC_MunksFixes_clampToggle = 클램프 전환
		#LOC_MunksFixes_cometHarvester = 혜성 채굴기
		#LOC_MunksFixes_enduranceTag = ENDR
		#LOC_MunksFixes_fairingDisable = 페어링: 스테이징 비활성화
		#LOC_MunksFixes_fairingEnable = 페어링: 스테이징 활성화
		#LOC_MunksFixes_flagFlavorText = 아, 깃발입니다. 우주 프로그램에서 영감의 상징과도 같죠. 과학의 이름으로 새로운 영토를 개척할 때 사용하십시오!
		#LOC_MunksFixes_fuelSwitch = 탱크 유형
		#LOC_MunksFixes_fuelWings = 액체 연료 또는 액체 연료와 산화제 혼합물을 선택적으로 내부에 탑재할 수 있습니다.
		#LOC_MunksFixes_hideTurbine = 터빈 숨기기
		#LOC_MunksFixes_kerbalFlavorText = 이봐요, 이건 커벌입니다! 커벌은 훌륭한 우주비행사가 될 수 있죠.
		#LOC_MunksFixes_lf = 액체 연료
		#LOC_MunksFixes_lfDesc = 2015년부터 이어진 고전입니다!
		#LOC_MunksFixes_lfox = 액체 연료/산화제
		#LOC_MunksFixes_lfoxDesc = 이제 산화제가 100% 더 포함되었습니다.
		#LOC_MunksFixes_monopropCell = 모노프로펠런트 연료 전지
		#LOC_MunksFixes_showTurbine = 터빈 보이기
		#LOC_MunksFixes_subcategory_7xParts = 로켓 부품 (7x HexCans)
		#LOC_MunksFixes_subcategory_EN1 = Endurance 우주선
		#LOC_MunksFixes_subcategory_EN2 = Endurance 엔진
		#LOC_MunksFixes_subcategory_EN3 = Endurance 정거장 부품
		#LOC_MunksFixes_subcategory_EN4 = Endurance 도킹 부품
		#LOC_MunksFixes_subcategory_EN5 = Endurance 화물 부품
		#LOC_MunksFixes_subcategory_b9wings = 절차적 날개
		#LOC_MunksFixes_subcategory_benjee10Dock = Benjee10 도킹 포트
		#LOC_MunksFixes_subcategory_cablesHarpoons = 케이블 및 작살
		#LOC_MunksFixes_subcategory_evaItems = 선외 활동 장비
		#LOC_MunksFixes_subcategory_fanShrouds = 팬 덮개
		#LOC_MunksFixes_subcategory_food = 식량 컨테이너
		#LOC_MunksFixes_subcategory_gps = GNSS
		#LOC_MunksFixes_subcategory_gripPads = 그립 패드
		#LOC_MunksFixes_subcategory_hinges = 경첩
		#LOC_MunksFixes_subcategory_kisContainers = KIS 컨테이너
		#LOC_MunksFixes_subcategory_metal = 금속 컨테이너
		#LOC_MunksFixes_subcategory_metalOre = 금속 광물 컨테이너
		#LOC_MunksFixes_subcategory_oxygen = 산소 컨테이너
		#LOC_MunksFixes_subcategory_partBuilding = 생산 및 재활용
		#LOC_MunksFixes_subcategory_parts = 로켓 부품 컨테이너
		#LOC_MunksFixes_subcategory_pylonsWinches = 파일런 및 윈치
		#LOC_MunksFixes_subcategory_recycleThingys = TAC 재활용 장치
		#LOC_MunksFixes_subcategory_rocketBuilding = 로켓 제작
		#LOC_MunksFixes_subcategory_scrap = 고철 컨테이너
		#LOC_MunksFixes_subcategory_servos = 서보
		#LOC_MunksFixes_subcategory_spaceplane = 우주왕복선 연료
		#LOC_MunksFixes_subcategory_supplies = 보급품 컨테이너
		#LOC_MunksFixes_subcategory_surfaceScience = 지표면 과학
		#LOC_MunksFixes_subcategory_surfaceStuff = 지표면 활동
		#LOC_MunksFixes_subcategory_towBars = 견인 바
		#LOC_MunksFixes_subcategory_turboshafts = 터보샤프트 엔진
		#LOC_MunksFixes_subcategory_waste = 폐기물 컨테이너
		#LOC_MunksFixes_subcategory_water = 식수 컨테이너
		#LOC_MunksFixes_waterfall_defaultHydrolox = 기본 하이드로록스 분사구.
		#LOC_MunksFixes_waterfall_defaultHypergol = 기본 하이퍼골릭 분사구.
		#LOC_MunksFixes_waterfall_defaultKerolox = 기본 케로록스 분사구.
		#LOC_MunksFixes_waterfall_defaultMethalox = 기본 메탈록스 분사구.
		#LOC_MunksFixes_waterfall_defaultMethaloxPoodle = 기본 메탈록스 분사구 (이중/단일 벨).
		#LOC_MunksFixes_waterfall_hydroloxDesc = 수소-산소 연료 배기
		#LOC_MunksFixes_waterfall_hydroloxTitle = 하이드로록스
		#LOC_MunksFixes_waterfall_hypergolDesc = 에어로진 50-사산화이질소 연료 배기
		#LOC_MunksFixes_waterfall_hypergolTitle = 하이퍼골릭
		#LOC_MunksFixes_waterfall_keroloxDesc = 케로신-산소 연료 배기
		#LOC_MunksFixes_waterfall_keroloxTitle = 케로록스
		#LOC_MunksFixes_waterfall_methaloxDesc = 메탄-산소 연료 배기
		#LOC_MunksFixes_waterfall_methaloxTitle = 메탈록스
		#LOC_MunksFixes_waterfall_plumeHydroloxMainsail = 케로록스에 질려 색다른 느낌을 원할 때 사용하는 하이드로록스 분사구입니다. Ariane 5의 Vulcain 엔진을 기반으로 합니다.
		#LOC_MunksFixes_waterfall_plumeHypergolPoodle = 메탈록스가 너무 화려할 때 사용하는 이중 벨 Poodle용 하이퍼골릭 분사구입니다. 단일 벨 분사구에는 영향을 주지 않습니다.
		#LOC_MunksFixes_waterfall_plumeHypergolSpark = Spark용 하이퍼골릭 분사구입니다. LEM의 상승 추진 시스템을 기반으로 합니다.
		#LOC_MunksFixes_waterfall_plumeHypergolTerrier = Terrier용 하이퍼골릭 분사구입니다. LEM의 하강 추진 시스템을 기반으로 합니다.
		#LOC_MunksFixes_waterfall_plumeHypergolTwitch = Twitch를 케로록스 엔진이 아닌 하이퍼골릭 방사형 엔진으로 사용하고 싶을 때를 위한 하이퍼골릭 분사구입니다.
		#LOC_MunksFixes_waterfall_plumeKeroloxThud = Thud를 케로록스 엔진으로 사용하고 싶을 때를 위한 케로록스 분사구입니다. 어차피 하이퍼골릭 엔진도 아닐 겁니다.
		#LOC_MunksFixes_waterfall_plumeKeroloxTwitch = Twitch를 하이퍼골릭 엔진이 아닌 케로록스 버니어 엔진으로 사용하고 싶을 때를 위한 케로록스 분사구입니다.
		#LOC_MunksFixes_waterfall_plumeKeroloxTwitchOld = 이 엔진을 왜 사용하시나요? 13년이나 된 아주 오래된 엔진입니다!
	}
}
