Localization
{
	ko
	{
		#autoLOC_StatSciContract_Blurb = <<2>> 궤도에서 <<1>>을(를) 완료하고, 커빈으로 귀환하여 회수하십시오.
		#autoLOC_StatSciContract_Completed = <<2>> 궤도에서 <<1>>을(를) 성공적으로 수행했습니다.
		#autoLOC_StatSciContract_Title = <<2>> 궤도에서 <<1>> 수행
		#autoLOC_StatSciDoExp_Hash = 실험 수행
		#autoLOC_StatSciDoExp_TitleA = 궤도에서 완료
		#autoLOC_StatSciDoExp_TitleB = <<1>> 궤도에서 완료
		#autoLOC_StatSciNewPod_Notes = 새로운 실험 파트(<<1>>)를 발사하여 <<2>> 궤도에 진입시키고, 실험을 완료한 뒤 결과물을 가지고 커빈으로 귀환하여 회수하십시오.
		#autoLOC_StatSciNewPod_TitleA = 새 실험 포드 발사
		#autoLOC_StatSciNewPod_TitleB = 새 실험 발사
		#autoLOC_StatSciParam_Notes = 새로운 실험 파트(<<1>>)를 발사하여 <<2>> 궤도에 진입시키고, 실험을 완료한 뒤 결과물을 가지고 커빈으로 귀환하여 회수하십시오.
		#autoLOC_StatSciParam_Title = <<2>> 궤도에서 <<1>> 완료
		#autoLOC_StatSciRetParam_Title = 커빈에서 회수
		#autoLOC_StatSci_BioMass = \n완료 시 질량: <<1>> t
		#autoLOC_StatSci_BioReq = 필요한 생체 생산품: <<1>>
		#autoLOC_StatSci_CycReq = \n<color=#DD8800>D-ZZY Cyclotron이(가) 필요합니다</color>
		#autoLOC_StatSci_CycReqM = \n<color=#DD8800>D-ZZY Cyclotron <<1>>대가 필요합니다</color>
		#autoLOC_StatSci_Decay = 붕괴율
		#autoLOC_StatSci_Decayrate = kuarq/s
		#autoLOC_StatSci_EuReq = 필요한 유레카: <<1>>
		#autoLOC_StatSci_KuarkHalf = Kuarq 붕괴 반감기: <<1>> 초
		#autoLOC_StatSci_KuarkProd = 필요한 생산량: <<1>> kuarq/s
		#autoLOC_StatSci_KuarkReq = 필요한 Kuarq: <<1>>
		#autoLOC_StatSci_LabReq = \n<color=#DD8800>TH-NKR Research Lab이(가) 필요합니다</color>
		#autoLOC_StatSci_LightsAuto = 조명: 자동
		#autoLOC_StatSci_LightsOff = 조명: 끔
		#autoLOC_StatSci_LightsOn = 조명: 켬
		#autoLOC_StatSci_ZooReq = \n<color=#DD8800>F-RRY Zoology Bay가(이) 필요합니다</color>
		#autoLOC_StatSci_analyseImp = 향상된 전송 품질: <color=#22DD44><<1>>%</color>
		#autoLOC_StatSci_analyseNothing = 분석할 항목이 없습니다.
		#autoLOC_StatSci_analyseReady = 분석 준비 완료.
		#autoLOC_StatSci_analysing = 분석 중...
		#autoLOC_StatSci_readyTrans = 전송 준비 완료.
		#autoLOC_StatSci_screen_anaComp = 분석이 완료되었으며 전송할 준비가 되었습니다.
		#autoLOC_StatSci_screen_analyseAct = 분석이 진행 중입니다.
		#autoLOC_StatSci_screen_analyseFull = 분석기가 가득 찼습니다. 데이터를 전송하십시오!
		#autoLOC_StatSci_screen_boring = 너무 지루합니다. 우주로 나가십시오!
		#autoLOC_StatSci_screen_detatch = "경고: <<1>>이(가) 완료되지 않은 상태로 정거장에서 분리되었습니다."
		#autoLOC_StatSci_screen_finalized = 이미 완료된 실험입니다.
		#autoLOC_StatSci_screen_locchange = 실험 도중 위치가 변경되었습니다! <<1>>이(가) 망가졌습니다.
		#autoLOC_StatSci_screen_notfinished = 실험이 아직 완료되지 않았습니다!
		#autoLOC_StatSci_screen_started = 실험을 시작했습니다!
		#autoLOC_StatSci_screen_transmitted = 분석 중이던 샘플이 완료되기 전에 전송되었습니다.
		#autoLOC_StatSci_skillReq = \n<color=#DD8800>최소 한 명의 <<1>>이(가) 필요합니다.</color>
		#autoLOC_StatSci_startExp = 실험 시작
		#autoLOC_bioproduct_resource = 생물 제품
		#autoLOC_bioproducts_KerbinInSpace = 동물들도 당신만큼이나 이곳에 온 것을 흥분하는 것 같습니다.
		#autoLOC_bioproducts_MinmusInSpace = 동물들이 유난히 배고파하는 것 같습니다.
		#autoLOC_bioproducts_MinmusSrfLanded = 동물들이 지표면 샘플을 먹으려 하지만, 허락해서는 안 될 것 같습니다.
		#autoLOC_bioproducts_MohoInSpace = 열기 때문에 동물들이 털갈이를 합니다. 무중력 상태에서는 털이 골칫거리입니다.
		#autoLOC_bioproducts_MohoSrfLanded = 동물들이 헐떡이며 무기력하게 앉아 있습니다.
		#autoLOC_bioproducts_MunInSpace = 특정 동물들이 궤도의 특정 지점에서 계속 울부짖습니다.
		#autoLOC_bioproducts_MunSrfLanded = 레골리스가 털에 박혀서 잘 빠지지 않습니다.
		#autoLOC_bioproducts_SunInSpace = 동물들은 당신이 어디로 가는지 알고 있기를 바라고 있습니다.
		#autoLOC_bioproducts_default = 동물들의 행동과 건강 상태를 기록합니다.
		#autoLOC_bioproducts_title = 생물 안락함
		#autoLOC_cyclo_converter = 사이클로트론
		#autoLOC_cyclo_description = 이 모듈은 Kuarq를 생성하고 간식을 데우는 데 유용한 최첨단 소형 입자 가속기를 제공합니다. Kuarq는 많은 실험을 완료하는 데 유용하지만, 붕괴 속도를 따라잡을 만큼 충분히 생성할 수 있는지 확인하십시오.
		#autoLOC_cyclo_start = 사이클로트론 가동
		#autoLOC_cyclo_stop = 사이클로트론 정지
		#autoLOC_cyclo_title = D-ZZY 사이클로트론
		#autoLOC_eccentric_BopInSpace = Kuarq들이 북극 근처의 무언가에 집착하는 것 같습니다.
		#autoLOC_eccentric_DresInSpace = Kuarq들은 이 행성이 분명히 주변 궤도를 정리했음에도 왜 '왜소행성'이라 불리는지 이해하지 못합니다.
		#autoLOC_eccentric_DunaInSpace = Kuarq들은 이곳에서 꽤 만족해합니다.
		#autoLOC_eccentric_EelooInSpace = Kuarq들은 이곳과 Jool 사이에 행성이 더 없다는 것에 실망했습니다.
		#autoLOC_eccentric_EveInSpace = Kuarq들은 아래의 행성이 폭주 온실 효과로 인해 과열되어야 한다고 주장합니다.
		#autoLOC_eccentric_GillyInSpace = Kuarq들은 왜 이 태양계의 '포획된 소행성' 위성 중 역행 궤도를 도는 것이 하나도 없는지 의문을 제기합니다.
		#autoLOC_eccentric_IkeInSpace = Kuarq들은 Ike에 충돌구가 없다는 점이 신뢰하기 어렵다고 생각합니다.
		#autoLOC_eccentric_JoolInSpace = Kuarq들은 계속해서 '대적점'에 대해 묻습니다. 무엇을 말하는지 잘 모르겠습니다.
		#autoLOC_eccentric_KerbinInSpace = Kuarq들은 '자유분방한'이라는 용어를 선호하는 것 같습니다.
		#autoLOC_eccentric_LaytheInSpace = Kuarq들은 이 위성에 대해 논의조차 하려 하지 않습니다.
		#autoLOC_eccentric_MinmusInSpace = Kuarq들은 아래의 위성이 존재할 수 없다고 확신하며 그 존재를 인정하기를 거부합니다.
		#autoLOC_eccentric_MinmusSrfLanded = 착륙하면 Minmus가 존재한다는 것을 납득시킬 수 있을 거라 생각할지 모르지만, 오히려 그 생각에 대한 반대 의지만 굳히는 것 같습니다.
		#autoLOC_eccentric_MohoInSpace = Kuarq들은 아래의 행성이 세차 운동을 해야 한다고 생각하는 것 같습니다. '휘어진 시공간'에 대한 이야기인데, 무슨 헛소리일까요?
		#autoLOC_eccentric_MunInSpace = Kuarq들은 Mun의 완벽한 원형이자 기울어지지 않은 궤도를 의심합니다. 매우 있을 법하지 않은 일이라고 생각합니다.
		#autoLOC_eccentric_MunSrfLanded = Kuarq들은 충돌구의 빈도가 다소 과하다고 생각하는 것 같습니다.
		#autoLOC_eccentric_PolInSpace = Kuarq들은 이 위성의 지형이 매우 비현실적이라고 생각합니다.
		#autoLOC_eccentric_SunInSpace = Kuarq들에 따르면, 태양은 핵융합을 유지하고 이 스펙트럼의 빛을 생성하기에는 질량이 너무 작습니다.
		#autoLOC_eccentric_TyloInSpace = Kuarq들은 계속해서 대기가 어디로 갔는지 묻습니다.
		#autoLOC_eccentric_VallInSpace = Kuarq들은 이곳에 착륙을 시도하지 말라고 말합니다.
		#autoLOC_eccentric_default = Kuarq들이 당신의 특성을 기록합니다.
		#autoLOC_eccentric_title = 편심 Kuarq
		#autoLOC_eurekas_resource = Eureka
		#autoLOC_expBioact_description = Kuarq에 노출되면 동물들의 털이 곱슬거릴까요? 아니면 매끄럽고 윤기가 날까요? 새로운 재주를 배우는 데 도움이 될까요? 이 실험 포드로 확인해 보십시오. Kibbal은 포함되어 있지 않습니다. 참고: 표면으로 회수할 계획이 없다면 스테이션에 직접 부착하지 마십시오.
		#autoLOC_expBioact_title = 실험: Kuarq 생물 활성
		#autoLOC_expCreature_description = 동물학 구역의 동물들이 우주 생활을 얼마나 즐기고 있을까요? 어떤 환상적인 재주를 가르칠 수 있을까요? 이 실험 포드에는 이러한 질문에 답하기 위해 필요한 장난감과 간식이 들어 있습니다. Kibbal은 포함되어 있지 않습니다. 참고: 표면으로 회수할 계획이 없다면 스테이션에 직접 부착하지 마십시오.
		#autoLOC_expCreature_title = 실험: 동물 안락함
		#autoLOC_expEccentric_description = 편심 Kuarq는 매우 불안정하므로 필요한 50개를 얻으려면 D-ZZY 사이클로트론 2대를 가동해야 합니다. 50개를 모두 모으면 안정적인 구조를 형성하게 되며, 실험실의 연구원들이 작업을 시작할 수 있습니다. 참고: 표면으로 회수할 계획이 없다면 스테이션에 직접 부착하지 마십시오.
		#autoLOC_expEccentric_title = 실험: 편심 Kuarq
		#autoLOC_expPrograde_description = 순행 Kuarq는 안정적이므로 D-ZZY 사이클로트론으로 50개를 수집하는 데 아무런 문제가 없을 것입니다. 참고: 표면으로 회수할 계획이 없다면 스테이션에 직접 부착하지 마십시오.
		#autoLOC_expPrograde_title = 실험: 순행 Kuarq
		#autoLOC_expRetrograde_description = 역행 Kuarq는 다소 불안정하므로 D-ZZY 사이클로트론을 거의 최대 용량으로 가동해야 필요한 50개를 얻을 수 있습니다. 50개를 모두 모으면 안정적인 구조를 형성하게 되며, 실험실의 연구원들이 작업을 시작할 수 있습니다. 참고: 표면으로 회수할 계획이 없다면 스테이션에 직접 부착하지 마십시오.
		#autoLOC_expRetrograde_title = 실험: 역행 Kuarq
		#autoLOC_expplant_description = 이 실험 포드에는 다양한 씨앗과 성장 배지가 들어 있습니다. 우주에서 식물은 어떻게 자랄까요? 결과는 분명 흥미로울 것입니다. 참고: 표면으로 회수할 계획이 없다면 스테이션에 직접 부착하지 마십시오.
		#autoLOC_expplant_title = 실험: 식물 성장
		#autoLOC_kibbal_resource = Kibbal
		#autoLOC_kuarq_resource = Kuarq
		#autoLOC_kuarqbio_KerbinInSpace = 동물들이 평소보다 더 활발합니다.
		#autoLOC_kuarqbio_MinmusInSpace = 동물들에게서 민트 향이 납니다.
		#autoLOC_kuarqbio_MinmusSrfLanded = 일부 동물들은 표면의 결정을 대사할 수 있습니다.
		#autoLOC_kuarqbio_MunInSpace = 동물들이 정전기를 많이 발생시키는 것 같습니다.
		#autoLOC_kuarqbio_MunSrfLanded = 이제 동물들의 털이 레골리스를 밀어냅니다.
		#autoLOC_kuarqbio_SunInSpace = 일부 동물들이 광합성을 하는 것으로 보입니다.
		#autoLOC_kuarqbio_default = Kuarq가 동물들에게 미치는 영향을 기록합니다.
		#autoLOC_kuarqbio_title = Kuarq 생물 활성
		#autoLOC_plant_BopSrfLanded = 식물들이 알 수 없는 언어의 단어처럼 보이는 이상한 패턴으로 자랍니다. 무슨 의미일까요?
		#autoLOC_plant_DresSrfLanded = 이곳의 얼음을 녹여 식물에게 줄 식수를 만들 수 있습니다.
		#autoLOC_plant_EelooSrfLanded = 식물 몇 개가 자라기에 충분한 햇빛밖에 없습니다.
		#autoLOC_plant_EveSrfLanded = 꽃이 보라색 잎과 녹색 꽃잎으로 자랍니다.
		#autoLOC_plant_IkeSrfLanded = 식물들도 Ike를 좋아하는 것 같습니다.
		#autoLOC_plant_InSpace = 무중력 환경에서 식물들이 뒤틀린 패턴으로 자랍니다.
		#autoLOC_plant_JoolInSpace = 식물은 녹색입니다. Jool도 녹색입니다. 당신도 녹색입니다. 우연일까요? 아마도 그렇겠죠.
		#autoLOC_plant_KerbinInSpace = 식물들이 창문을 향해 자라며, 아래에 있는 고향을 그리워하는 듯합니다.
		#autoLOC_plant_LaytheSrfLanded = 이곳의 바다가 무엇으로 이루어져 있든, 식물에게 물을 주는 데는 적합하지 않습니다.
		#autoLOC_plant_MinmusInSpace = 식물에서 희미하게 민트 향이 납니다.
		#autoLOC_plant_MinmusSrfLanded = 식물에서 민트 맛이 납니다.
		#autoLOC_plant_MohoSrfLanded = 식물들이 열기에 시들어 버립니다.
		#autoLOC_plant_MunInSpace = 표면에서 반사되는 눈부심 때문에 식물들이 혼란스러워하는 것 같습니다.
		#autoLOC_plant_MunSrfLanded = Mun의 레골리스는 비옥하지 않은 것 같습니다.
		#autoLOC_plant_PolSrfLanded = 이곳의 먼지로 식물을 수분시키려 시도했지만, 효과가 없는 것 같습니다.
		#autoLOC_plant_TyloSrfLanded = 식물들이 지면 가까이 낮게 자랍니다.
		#autoLOC_plant_VallSrfLanded = 지표면 아래에서 뿜어져 나오는 가스가 식물에 이상한 영향을 미칩니다.
		#autoLOC_plant_default = 식물의 성장 패턴을 기록합니다.
		#autoLOC_plant_title = 식물 성장
		#autoLOC_prograde_BopInSpace = 쿠아크들이 잠시 당황합니다.
		#autoLOC_prograde_DresInSpace = 쿠아크들은 이곳에 있는 것을 개의치 않습니다.
		#autoLOC_prograde_DunaInSpace = 쿠아크 중 하나가 붕괴한 것 같지만, 나머지는 아무 말도 하지 않습니다.
		#autoLOC_prograde_EelooInSpace = 쿠아크들이 차가운 태도를 보입니다.
		#autoLOC_prograde_EveInSpace = 쿠아크들이 불안해하는 것 같습니다.
		#autoLOC_prograde_GillyInSpace = 쿠아크들이 조용한 자신감을 내뿜습니다.
		#autoLOC_prograde_IkeInSpace = 쿠아크들은 Ike에 대해 거부감이 없습니다.
		#autoLOC_prograde_JoolInSpace = 쿠아크들이 약간 감명받은 듯합니다.
		#autoLOC_prograde_KerbinInSpace = 이 쿠아크들은 안정적인 것처럼 보이지만, 겉치레일 뿐이라는 생각이 들기 시작합니다.
		#autoLOC_prograde_LaytheInSpace = 쿠아크들이 약간 젖은 상태입니다.
		#autoLOC_prograde_MinmusInSpace = 쿠아크들이 조용히 어리둥절해하는 것 같습니다.
		#autoLOC_prograde_MohoInSpace = 쿠아크들이 평소보다 약간 더 뜨겁습니다.
		#autoLOC_prograde_MunInSpace = 쿠아크들이 침착함을 유지합니다.
		#autoLOC_prograde_MunSrfLanded = 쿠아크들이 약간 반짝이는 것 같습니다.
		#autoLOC_prograde_PolInSpace = 쿠아크 하나가 재채기를 합니다.
		#autoLOC_prograde_SunInSpace = 쿠아크들이 지루해하는 것 같습니다.
		#autoLOC_prograde_TyloInSpace = 쿠아크들이 상황의 중대함을 이해하고 있습니다.
		#autoLOC_prograde_VallInSpace = 쿠아크들이 평소보다 약간 더 차갑습니다.
		#autoLOC_prograde_default = 순행 쿠아크의 특성을 기록합니다.
		#autoLOC_prograde_title = 순행 쿠아크
		#autoLOC_retrograde_BopInSpace = 아래에 있는 무언가가 쿠아크들을 겁먹게 합니다. 웬일인지 식욕을 잃은 것 같습니다.
		#autoLOC_retrograde_DresInSpace = 쿠아크들이 차를 마시고 싶어 하는 것 같습니다. 여기서 찻주전자를 어디서 구해야 할지 고민입니다.
		#autoLOC_retrograde_DunaInSpace = 쿠아크들은 당신이 토마토 주위를 궤도 비행하고 있다고 생각하는 것 같습니다.
		#autoLOC_retrograde_EelooInSpace = 쿠아크들이 모두 아이스크림을 외치고 있습니다.
		#autoLOC_retrograde_EveInSpace = 쿠아크들은 이곳의 바다가 블루베리 시럽이라고 확신하는 것 같습니다.
		#autoLOC_retrograde_GillyInSpace = 당신조차도 쿠아크들의 감자 가설을 진지하게 고려해야 할 지경입니다.
		#autoLOC_retrograde_IkeInSpace = 쿠아크들은 Ike 주변의 극궤도에 올리브가 있다고 생각하는 것 같습니다.
		#autoLOC_retrograde_JoolInSpace = 여기서 내려다보니 쿠아크들은 자신이 정말 작게 느껴집니다.
		#autoLOC_retrograde_KerbinInSpace = 이 쿠아크들은 순행 쿠아크와 함께 일반 물질의 주요 구성 요소로 보이지만, 불안정합니다. 이것이 모든 폭발의 원인일지도 모릅니다.
		#autoLOC_retrograde_LaytheInSpace = 쿠아크들이 아래 해변에서 피나 콜라다를 마시고 싶어 하는 것 같습니다.
		#autoLOC_retrograde_MinmusInSpace = 쿠아크들이 배고픈 것 같지만, 무엇을 먹여야 할지 확실하지 않습니다.
		#autoLOC_retrograde_MinmusSrfLanded = 쿠아크들은 민무스가 먹을 수 있는 것이 아니라는 사실에 실망한 것 같습니다.
		#autoLOC_retrograde_MohoInSpace = 쿠아크들이 목말라하는 것 같습니다.
		#autoLOC_retrograde_MunInSpace = 쿠아크들은 문이 치즈로 만들어졌다고 생각하는 것 같습니다. 틀린 생각인 게 분명합니다.
		#autoLOC_retrograde_MunSrfLanded = 쿠아크들이 자신의 실수를 인정하는 것 같습니다.
		#autoLOC_retrograde_PolInSpace = 쿠아크들은 이곳에 별로 관심이 없는 것 같습니다.
		#autoLOC_retrograde_SunInSpace = 이 쿠아크들은 오래가지 못하지만, 매 순간을 소중히 여기는 것 같습니다. 우리도 그들에게서 많은 것을 배울 수 있을 것입니다.
		#autoLOC_retrograde_TyloInSpace = 쿠아크(kuarq)들은 저 아래로 내려가는 것에 별다른 의미를 느끼지 못하는 것 같습니다.
		#autoLOC_retrograde_VallInSpace = 쿠아크들은 이 위성이 샤베트로 만들어졌다고 생각하는 모양입니다.
		#autoLOC_retrograde_default = 역행 쿠아크의 특성을 기록합니다.
		#autoLOC_retrograde_title = 역행 쿠아크
		#autoLOC_scilab_converter = 연구소
		#autoLOC_scilab_description = 이 모듈은 커벌 연구원들이 우주가 얼마나 매혹적인지 알아내는 데 필요한 모든 장비, 컴퓨터, 간식을 제공합니다. 연구원들이 할 일을 주려면 정거장에 실험 모듈이 있어야 합니다.
		#autoLOC_scilab_title = TH-NKR 연구소
		#autoLOC_spectro_description = 이 장치는 과학 실험 결과에 쿠아크를 쏘아 보내 전송에 적합한 매우 상세한 분석 데이터를 생성합니다. 분석 후 데이터를 지구로 전송하면 직접 회수하여 복구하는 것 대비 90%의 가치를 얻을 수 있습니다.
		#autoLOC_spectro_review = 분석 결과 검토
		#autoLOC_spectro_title = WT-SIT 분광계
		#autoLOC_statsci_collect = 결과 수집
		#autoLOC_statsci_finalize = 결과 확정
		#autoLOC_statsci_manufacturer = Station Science Directorate
		#autoLOC_statsci_reset = 결과 폐기
		#autoLOC_statsci_startResearch = 연구 시작
		#autoLOC_statsci_stopResearch = 연구 중단
		#autoLOC_stnSciKibJr_description = 기존 Kibbal 저장소의 모든 기능을 갖춘, 앙증맞은 크기의 저장소입니다!
		#autoLOC_stnSciKibJr_title = N-BBL Kibbal 저장소 Jr
		#autoLOC_stnSciKib_description = 모든 Kibbal 저장 및 운송 요구를 충족합니다. 신선도 보장, 불만족 시 환불해 드립니다!
		#autoLOC_stnSciKib_title = S-NRF Kibbal 저장소
		#autoLOC_zoobay_converter = 동물학 연구실
		#autoLOC_zoobay_description = 우주에서는 외로움을 느낄 수 있는데, 이 모듈의 털복숭이 생물들은 커벌의 하루를 밝게 해줄 것입니다. 또한 이들을 관찰하면 새로운 과학적 통찰을 얻을 수 있습니다. 생물들은 'Kibbal'을 먹으며, 이들이 생성하는 '생물학적 부산물'은 다양한 실험을 완료하는 데 사용될 수 있습니다.
		#autoLOC_zoobay_title = F-RRY 동물학 베이
		#autoLOC_zoology_default = 시간을 두고 동물들을 관찰하며 많은 것을 배웠습니다.
		#autoLOC_zoology_title = 동물학 베이 과학
	}
}
