Localization
{
	ko
	{
		#LOC_CryoTanks_LFConverterEfficiency = <CryoTanks> LF 질량 변환 효율
		#LOC_CryoTanks_LFLFOConverterEfficiency = <CryoTanks> LF 및 LFO 질량 변환 효율
		#LOC_CryoTanks_LFOConverterEfficiency = <CryoTanks> LFO 질량 변환 효율
		#LOC_CryoTanks_ModuleCryoTank_Action_DisableAction = 냉각 비활성화
		#LOC_CryoTanks_ModuleCryoTank_Action_EnableAction = 냉각 활성화
		#LOC_CryoTanks_ModuleCryoTank_Action_ToggleAction = 냉각 전환
		#LOC_CryoTanks_ModuleCryoTank_Event_Disable = 냉각 비활성화
		#LOC_CryoTanks_ModuleCryoTank_Event_Enable = 냉각 활성화
		#LOC_CryoTanks_ModuleCryoTank_Field_BoiloffStatus = 증발
		#LOC_CryoTanks_ModuleCryoTank_Field_BoiloffStatus_Boiloff = <<1>> u/<<2>> 손실 중
		#LOC_CryoTanks_ModuleCryoTank_Field_BoiloffStatus_Insulated = 단열됨
		#LOC_CryoTanks_ModuleCryoTank_Field_BoiloffStatus_NoFuel = 연료 없음
		#LOC_CryoTanks_ModuleCryoTank_Field_CoolingStatus = 단열
		#LOC_CryoTanks_ModuleCryoTank_Field_CoolingStatus_Cooling = <<1>> EC/s 사용 중
		#LOC_CryoTanks_ModuleCryoTank_Field_CoolingStatus_Disabled = 비활성화됨
		#LOC_CryoTanks_ModuleCryoTank_Field_CoolingStatus_Editor = 비용 <<1>> EC/s
		#LOC_CryoTanks_ModuleCryoTank_Field_CoolingStatus_NoFuel = 연료 없음
		#LOC_CryoTanks_ModuleCryoTank_Field_CoolingStatus_Uncooled = 냉각되지 않음
		#LOC_CryoTanks_ModuleCryoTank_ModuleName = 극저온 탱크
		#LOC_CryoTanks_ModuleCryoTank_PartInfoBoiloff = \n<color=#99ff00><b><<1>>:</b></color>\n 속도: -<<2>>%/hr\n 냉각 비용: -<<3>>EC/s (1000 유닛당)\n
		#LOC_CryoTanks_ModuleCryoTank_PartInfoBoiloffOutput = \n- 생성 <color=#99ff00><b><<1>>:</b></color> +<<2>>%/hr
		#LOC_CryoTanks_ModuleCryoTank_PartInfoCooled = 극저온 연료는 냉각되지 않으면 시간이 지남에 따라 증발합니다<<1>>
		#LOC_CryoTanks_ModuleCryoTank_PartInfoUncooled = 극저온 연료는 시간이 지남에 따라 증발합니다\n
		#LOC_CryoTanks_ModuleCryoTank_TimeInterval_Hour_Abbrev = 시간
		#LOC_CryoTanks_ModuleCryoTank_TimeInterval_Minute_Abbrev = 분
		#LOC_CryoTanks_ModuleCryoTank_TimeInterval_Second_Abbrev = 초
		#LOC_CryoTanks_hydrogen-10-1_description = Argyle Hydroponics에서 제공하는 가장 큰 극저온 탱크로, 엄청난 용량을 자랑하지만 크기에 비해 상당히 가볍습니다. 단열재와 고급 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-10-1_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-10-1_title = H1000-1152 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-125-1_description = KSC에 새 제품으로 배송되었음에도 불구하고, 이 탱크의 거의 새것 같은 외관은 다소 의심스럽습니다. 단열재와 고급 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-125-1_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-125-1_title = H125-8 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-125-2_description = 극저온 연료 저장을 위한 가장 작은 적재형 탱크이지만, 가장 인기 있는 탱크는 아닙니다. 단열재와 고급 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-125-2_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-125-2_title = H125-4 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-25-1_description = Argyle의 중형 탱크 라인업은 특별할 것이 없습니다. 사실, 눈길을 끄는 이름조차 붙지 않았습니다! 단열재와 고급 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-25-1_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-25-1_title = H250-64 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-25-2_description = 평범한 크기, 평범한 용량, 평범한 가격, 심지어 길 한복판에서 발견되었습니다! 단열재와 고급 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-25-2_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-25-2_title = H250-32 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-25-3_description = 적당한 지름과 짧은 높이로 인해 HI-M-5는 실망스러울 정도로 낮은 용량을 가집니다. 하지만! 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였으니, 그것으로 위안을 삼으십시오.
		#LOC_CryoTanks_hydrogen-25-3_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-25-3_title = H250-16 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-375-1_description = Argyle의 Mondo 극저온 연료 탱크 라인업은 이름에서 알 수 있듯이 거대합니다. 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-375-1_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-375-1_title = H375-144 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-375-2_description = 절반 크기의 Mondo 탱크에 대한 수요가 많아 Mondo-30이 제작되었습니다. 높이가 약간 낮습니다. 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-375-2_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-375-2_title = H375-72 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-375-3_description = Mondo 라인업 중 가장 작은 모델은 약간 찌그러져 보이지만, 완벽하게 제 기능을 수행합니다. 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-375-3_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-375-3_title = H375-36 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-5-1_description = 극저온 연료를 저장할 수 있는 엄청나게 큰 극저온 탱크입니다. 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-5-1_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-5-1_title = H500-576 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-5-2_description = 극저온 연료를 저장할 수 있는 매우 거대한 극저온 탱크입니다. 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-5-2_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-5-2_title = H500-288 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-5-3_description = 극저온 연료를 저장할 수 있는 꽤 큰 극저온 탱크입니다. 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-5-3_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-5-3_title = H500-144 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-radial-125-1_description = KSC 직원들 사이에서 '생일 축하 탱크'라는 애칭으로 불립니다. 한 엔지니어가 가득 찬 탱크를 케이크(양초 포함)로 사용하려다 57명의 부상자를 낸 주범입니다. 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-radial-125-1_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-radial-125-1_title = HR-1 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-radial-25-1_description = 대형 극저온 탱크입니다. 아주 견고하지는 않지만, 비평가들은 "놀랍다", "거대하다", "샌다"는 표현을 썼습니다. 잠깐, 제가 그런 말을 했나요? 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-radial-25-1_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-radial-25-1_title = HR-18 극저온 연료 탱크
		#LOC_CryoTanks_hydrogen-radial-375-1_description = 이 탱크는 Argyle의 수석 엔지니어가 실수로 HB-8 설계도의 반지름을 두 배로 늘리면서 구상되었습니다. 수십 개가 제작되어 비평가들의 찬사를 받은 후 대량 생산이 결정되었습니다. 단열재와 첨단 소재를 사용하여 탱크 냉각에 필요한 전력을 줄였습니다.
		#LOC_CryoTanks_hydrogen-radial-375-1_tags = 연료탱크 산화제 추진제 로켓 수소 메탄 극저온
		#LOC_CryoTanks_hydrogen-radial-375-1_title = HR-64 극저온 연료 탱크
		#LOC_CryoTanks_isru_LCH4Ox_StartAction = ISRU [LCH4+산화제] 시작
		#LOC_CryoTanks_isru_LCH4Ox_StopAction = ISRU [LCH4+산화제] 정지
		#LOC_CryoTanks_isru_LCH4Ox_ToggleAction = ISRU [LCH4+산화제] 전환
		#LOC_CryoTanks_isru_LCH4Ox_name = LCH4+산화제
		#LOC_CryoTanks_isru_LCH4_StartAction = ISRU [LCH4] 시작
		#LOC_CryoTanks_isru_LCH4_StopAction = ISRU [LCH4] 정지
		#LOC_CryoTanks_isru_LCH4_ToggleAction = ISRU [LCH4] 전환
		#LOC_CryoTanks_isru_LCH4_name = LCH4
		#LOC_CryoTanks_isru_LH2Ox_StartAction = ISRU [LH2+산화제] 시작
		#LOC_CryoTanks_isru_LH2Ox_StopAction = ISRU [LH2+Ox] 정지
		#LOC_CryoTanks_isru_LH2Ox_ToggleAction = ISRU [LH2+Ox] 전환
		#LOC_CryoTanks_isru_LH2Ox_name = LH2+Ox
		#LOC_CryoTanks_isru_LH2_StartAction = ISRU [LH2] 시작
		#LOC_CryoTanks_isru_LH2_StopAction = ISRU [LH2] 정지
		#LOC_CryoTanks_isru_LH2_ToggleAction = ISRU [LH2] 전환
		#LOC_CryoTanks_isru_LH2_name = LH2
		#LOC_CryoTanks_manufacturer_argylehydro_title = Argyle Hydroponics Ltd.
		#LOC_CryoTanks_switcher_fuel_lf = LF
		#LOC_CryoTanks_switcher_fuel_lfox = LF/Ox
		#LOC_CryoTanks_switcher_fuel_lh2 = LH2
		#LOC_CryoTanks_switcher_fuel_lh2ox = LH2/Ox
		#LOC_CryoTanks_switcher_fuel_methalox = LCH4/Ox
		#LOC_CryoTanks_switcher_fuel_methane = LCH4
		#LOC_CryoTanks_switcher_fuel_ox = Ox
		#LOC_CryoTanks_switcher_fuel_title = 탱크 유형
		#LOC_CryoTanks_switcher_tankappearance_title = 외관
		#LOC_CryoTanks_switcher_tankappearance_variant1 = 호일
		#LOC_CryoTanks_switcher_tankappearance_variant2 = 아이소헤드럴
		#LOC_CryoTanks_switcher_tankappearance_variant3 = 호일 [기본]
		#LOC_CryoTanks_switcher_tankappearance_variant4 = 아이소헤드럴 [기본]
		#LOC_CryoTanks_switcher_tankappearance_variant5 = 호일 [컴팩트]
		#LOC_CryoTanks_switcher_tankappearance_variant6 = 아이소헤드럴 [컴팩트]
	}
}
