Localization
{
	ko
	{
		#autoLOC_DF_00001 = <<1>>이(가) 비상 해동에서 회복되어 정상 임무에 복귀했습니다.
		#autoLOC_DF_00002 = <<1>>이(가) 비상 해동되었으며 <<2>>분 동안 임무를 수행할 수 없습니다.
		#autoLOC_DF_00003 = DeepFreeze
		#autoLOC_DF_00004 = DeepFreeze 함선 전환
		#autoLOC_DF_00005 = DeepFreeze 함선 전환 실패
		#autoLOC_DF_00006 = DeepFreeze 커벌
		#autoLOC_DF_00007 = DeepFreeze 알람
		#autoLOC_DF_00008 = 창 닫기
		#autoLOC_DF_00009 = 함선
		#autoLOC_DF_00010 = 함선 이름
		#autoLOC_DF_00011 = 부품
		#autoLOC_DF_00012 = 부품 이름
		#autoLOC_DF_00013 = 온도
		#autoLOC_DF_00014 = 부품 온도 상태
		#autoLOC_DF_00015 = EC
		#autoLOC_DF_00016 = 전력 상태
		#autoLOC_DF_00017 = R.T
		#autoLOC_DF_00018 = Remote Tech 상태
		#autoLOC_DF_00019 = 알람
		#autoLOC_DF_00020 = 이 부품에 할당된 Kerbal Alarm Clock 알람을 보려면 버튼을 누르십시오.
		#autoLOC_DF_00021 = 최근 업데이트
		#autoLOC_DF_00022 = 부품이 마지막으로 업데이트된 시간
		#autoLOC_DF_00023 = 남은 시간
		#autoLOC_DF_00024 = 전력이 소진되기까지 남은 예상 시간
		#autoLOC_DF_00025 = 함선 <<1>>이(가) 과열되고 있습니다.
		#autoLOC_DF_00026 = 꺼짐
		#autoLOC_DF_00027 = 대기
		#autoLOC_DF_00028 = 소진
		#autoLOC_DF_00029 = 함선 <<1>>의 전력이 소진되었습니다.\n 상황이 위급합니다.
		#autoLOC_DF_00030 = 경고
		#autoLOC_DF_00031 = 함선 <<1>>의 전력이 거의 소진되었습니다.
		#autoLOC_DF_00032 = 낮음
		#autoLOC_DF_00033 = 정상
		#autoLOC_DF_00034 = 연결 안 됨
		#autoLOC_DF_00035 = 알람
		#autoLOC_DF_00036 = 알람으로 이동
		#autoLOC_DF_00037 = 현재 냉동된 커벌이 없습니다.
		#autoLOC_DF_00038 = 커벌 이름
		#autoLOC_DF_00039 = 직업
		#autoLOC_DF_00040 = 해동
		#autoLOC_DF_00041 = 이 커벌 해동
		#autoLOC_DF_00042 = KSC에서 <<1>>을(를) 해동할 수 없습니다. 선박이 <<3>>에 <<2>>(으)로 존재합니다.
		#autoLOC_DF_00043 = 냉동
		#autoLOC_DF_00044 = 이 커벌 냉동
		#autoLOC_DF_00045 = KAC 알람
		#autoLOC_DF_00046 = 창 크기 조절
		#autoLOC_DF_00047 = <<1>>K
		#autoLOC_DF_00048 = <<2>>C
		#autoLOC_DF_00049 = <<1>>이(가) KSC에 냉동 보관되었습니다.
		#autoLOC_DF_00050 = 현재 <<1>>을(를) 해동할 자금이 부족합니다.
		#autoLOC_DF_00051 = <<1>>이(가) 발견되어 해동되었습니다.
		#autoLOC_DF_00052 = <<1>>이(가) 발견되어 해동되었습니다. 계좌에서 <<2>> 자금이 차감되었습니다.
		#autoLOC_DF_00053 = <<1>>을(를) 해동할 수 없습니다. 선박이 <<3>>에 <<2>>(으)로 존재합니다.
		#autoLOC_DF_00054 = 냉동기 용량
		#autoLOC_DF_00055 = 총 냉동 커벌 수
		#autoLOC_DF_00056 = 냉동기 공간
		#autoLOC_DF_00057 = 부품이 가득 찼습니까?
		#autoLOC_DF_00058 = R/T 연결
		#autoLOC_DF_00059 = 냉동기 온도
		#autoLOC_DF_00060 = 객실 온도
		#autoLOC_DF_00061 = K
		#autoLOC_DF_00062 = DeepFreeze 메뉴
		#autoLOC_DF_00063 = 커벌당 작동 EC
		#autoLOC_DF_00064 =  분당
		#autoLOC_DF_00065 = 현재 EC 사용량
		#autoLOC_DF_00066 =  초당
		#autoLOC_DF_00067 = 냉동에 필요한 Glykerol
		#autoLOC_DF_00068 = 커벌당 냉동/해동 EC
		#autoLOC_DF_00069 = \n냉동 포드: <<1>>
		#autoLOC_DF_00070 = C
		#autoLOC_DF_00071 = 포드: <<1>>
		#autoLOC_DF_00072 = 냉동 커벌을 모니터링할 전력이 부족합니다.
		#autoLOC_DF_00073 =  냉동기 EC 부족 : <<1>>초 내 시스템 임계 상태 도달
		#autoLOC_DF_00074 = <<1>>이(가) 극저온 장치 가동을 위한 전력 부족으로 사망했습니다.
		#autoLOC_DF_00075 = 온도를 확인하십시오. 냉동기가 뜨거워지고 있습니다.
		#autoLOC_DF_00076 = 경고!! 즉시 온도를 확인하십시오. 냉동기가 매우 뜨거워지고 있습니다.
		#autoLOC_DF_00077 = 온도가 너무 높아 커벌을 냉동 상태로 유지할 수 없습니다.
		#autoLOC_DF_00078 = 냉동기 과열 : <<1>>초 내 시스템 임계 상태 도달
		#autoLOC_DF_00079 = <<1>>이(가) 과열로 사망했습니다. 냉동 상태를 유지할 수 없습니다.
		#autoLOC_DF_00080 = 과열 - 비상 해동 진행 중.
		#autoLOC_DF_00081 = 커벌을 냉동하기 위한 전력이 부족합니다.
		#autoLOC_DF_00082 =  냉동 포드 - 충전 중: <<1>>
		#autoLOC_DF_00083 = 커벌을 냉동하기 위한 Glykerol이 부족합니다.
		#autoLOC_DF_00084 = 온도가 <<1>>보다 높을 때는 냉동할 수 없습니다.
		#autoLOC_DF_00085 = 승무원 이동이 진행 중일 때는 냉동할 수 없습니다.
		#autoLOC_DF_00086 = 한 번에 한 명의 커벌만 냉동 과정을 진행할 수 있습니다.
		#autoLOC_DF_00087 = RemoteTech가 감지되었습니다. 마지막으로 활성화된 커벌을 냉동하려면 냉동 버튼을 다시 누르십시오.
		#autoLOC_DF_00088 = 해동 과정을 시작하려면 기체 내에 활성 연결 또는 활성 커벌이 필요합니다.
		#autoLOC_DF_00089 = 커벌을 냉동할 수 없습니다. 냉동기가 가득 찼습니다.
		#autoLOC_DF_00090 = 현재 커벌을 냉동할 수 없습니다.
		#autoLOC_DF_00091 = 냉동 과정을 시작합니다.
		#autoLOC_DF_00092 = 냉동이 중단되었습니다.
		#autoLOC_DF_00093 = <<1>> 냉동됨
		#autoLOC_DF_00094 = 커벌을 해동하기 위한 전력이 부족합니다.
		#autoLOC_DF_00095 =  냉동 포드 - 충전 중:<<1>>
		#autoLOC_DF_00096 = <<1>>을(를) 해동할 수 없습니다. 파트가 가득 찼습니다.
		#autoLOC_DF_00097 = 승무원 이동이 진행 중일 때는 해동할 수 없습니다.
		#autoLOC_DF_00098 = 한 번에 한 명의 커벌만 해동 과정을 진행할 수 있습니다.
		#autoLOC_DF_00099 = 현재 커벌을 해동할 수 없습니다.
		#autoLOC_DF_00100 = 코드 오류: 현재 커벌을 해동할 수 없습니다. 로그를 확인하십시오.
		#autoLOC_DF_00101 = 해동이 중단되었습니다.
		#autoLOC_DF_00102 = <<1>> 해동 완료
		#autoLOC_DF_00103 = 냉동 장치를 가동할 전력이 부족하여 <<1>>이(가) 해동되었습니다.
		#autoLOC_DF_00104 = DeepFreezer 기계적 결함
		#autoLOC_DF_00105 = 기체가 변경될 예정입니다. 해동 과정을 중단합니다.
		#autoLOC_DF_00106 = 기체가 변경될 예정입니다. 냉동 과정을 중단합니다.
		#autoLOC_DF_00107 = DeepFreeze 항목
		#autoLOC_DF_00108 = DeepFreeze 냉동기를 위한 Glykerol이 기체 내에 5단위 미만으로 남아 있습니다.
		#autoLOC_DF_00109 = DeepFreeze 알람 이벤트가 발생했습니다. 실행하려면 <<1>>(으)로 전환하십시오.
		#autoLOC_DF_00110 = DeepFreeze 알람 처리가 완료되었습니다.
		#autoLOC_DF_00111 = 이름
		#autoLOC_DF_00112 = 알람 이름
		#autoLOC_DF_00113 = 알람 유형
		#autoLOC_DF_00114 = KAC 알람 유형
		#autoLOC_DF_00115 = 남은 시간
		#autoLOC_DF_00116 = 알람이 울리기까지 남은 시간
		#autoLOC_DF_00117 = 현재 DeepFreeze 기체와 연결된 KAC 알람이 없습니다.
		#autoLOC_DF_00118 = 삭제
		#autoLOC_DF_00119 = 이 KAC 알람을 완전히 삭제합니다.
		#autoLOC_DF_00120 = 수정
		#autoLOC_DF_00121 = 이 알람 수정
		#autoLOC_DF_00122 = 저장
		#autoLOC_DF_00123 = 알람 변경 사항 저장
		#autoLOC_DF_00124 = 알람을 저장할 수 없습니다. 기체와의 R/Tech 연결이 없습니다.
		#autoLOC_DF_00125 = DeepFreeze 알람 변경 사항이 저장되었습니다.
		#autoLOC_DF_00126 = DeepFreeze 알람 변경 사항을 저장할 수 없습니다. 시간이 초과되었습니다.
		#autoLOC_DF_00127 = 취소
		#autoLOC_DF_00128 = 변경 사항 취소
		#autoLOC_DF_00129 = 이름
		#autoLOC_DF_00130 = 커벌의 이름
		#autoLOC_DF_00131 = 특성
		#autoLOC_DF_00132 = 커벌의 직업
		#autoLOC_DF_00133 = 해동
		#autoLOC_DF_00134 = 알람 활성화 시 이 커벌을 해동
		#autoLOC_DF_00135 = 냉동
		#autoLOC_DF_00136 = 알람 활성화 시 이 커벌을 냉동
		#autoLOC_DF_00137 = 수정
		#autoLOC_DF_00138 = 이 알람 설정 수정
		#autoLOC_DF_00139 = 기체로 전환
		#autoLOC_DF_00140 = 나중에
		#autoLOC_DF_00141 = 지금 기체를 전환하지 않음
		#autoLOC_DF_00142 = 우주선으로의 자동 전환에 실패했습니다.\n즉시 수동으로 우주선을 전환하십시오.
		#autoLOC_DF_00143 = DeepFreeze 기체로 전환 필요
		#autoLOC_DF_00144 = DeepFreeze 옵션
		#autoLOC_DF_00145 = 냉동기 작동에 ElectricCharge 필요
		#autoLOC_DF_00146 = 켜짐 상태일 때, 냉동기 작동에 EC가 필요합니다.
		#autoLOC_DF_00147 = 치명적 EC/열 옵션
		#autoLOC_DF_00148 = 켜짐 상태일 때, EC가 고갈되거나 너무 뜨거워지면 커벌이 사망합니다.
		#autoLOC_DF_00149 = 비치명적 혼수상태 시간(초)
		#autoLOC_DF_00150 = 치명적인 EC/열 옵션이 꺼져 있을 때\n커벌이 혼수상태에 빠지는 시간(초)
		#autoLOC_DF_00151 = KSC에서 냉동 커벌 자동 회수
		#autoLOC_DF_00152 = 활성화 시, 커벌 우주센터에서 냉동된 커벌을 자동으로 회수하고\n자금에서 비용을 차감합니다.
		#autoLOC_DF_00153 = KSC에서 커벌 해동 비용
		#autoLOC_DF_00154 = KSC에서 커벌을 냉동하는 데 필요한 통화량
		#autoLOC_DF_00155 = 커벌 냉동/해동에 필요한 EC
		#autoLOC_DF_00156 = 커벌 냉동/해동에 필요한 ElectricCharge 양입니다.
		#autoLOC_DF_00157 = 커벌 냉동에 필요한 Glykerol
		#autoLOC_DF_00158 = 커벌을 냉동하는 데 사용되는 Glykerol의 양이며,\n파트 값을 재정의합니다.
		#autoLOC_DF_00159 = DeepFreeze 온도
		#autoLOC_DF_00160 = 계산기를 준비하십시오.
		#autoLOC_DF_00161 = 온도는 켈빈(K) 단위입니다. (K) = (C)elcius + 273.15. (K) = ((F)arenheit + 459.67) × 5/9. 계산기를 준비하십시오.
		#autoLOC_DF_00162 = 온도 조절 필요
		#autoLOC_DF_00163 = 활성화 시, 설정된 온도가 커벌을 냉동하고 유지하는 데 적용됩니다.
		#autoLOC_DF_00164 = 냉동기 작동 최소 온도(K)
		#autoLOC_DF_00165 = 냉동 장치가 커벌을 냉동할 수 있는 최소 온도(Kelvin)입니다.
		#autoLOC_DF_00166 = 냉동 상태 유지 최대 온도(K)
		#autoLOC_DF_00167 = 냉동 장치가 커벌의 냉동 상태를 유지할 수 있는 최대 온도(Kelvin)입니다.
		#autoLOC_DF_00168 = 커벌당 생성 열량(kW/분)
		#autoLOC_DF_00169 = 냉동된 커벌 1인당 분당 장비에서 발생하는 열량(kW)입니다.
		#autoLOC_DF_00170 = 냉동 과정 생성 열량(kW)
		#autoLOC_DF_00171 = 해동 또는 냉동 과정마다 발생하는 열량(kW)입니다.
		#autoLOC_DF_00172 = 부품 온도를 켈빈으로 표시
		#autoLOC_DF_00173 = 활성화 시 파트 우클릭 메뉴에 온도가 Kelvin으로 표시되며, 비활성화 시 Celsius로 표시됩니다.
		#autoLOC_DF_00174 = DeepFreeze 기타 설정
		#autoLOC_DF_00175 = 냉동기 내부 조명 켜기
		#autoLOC_DF_00176 = 냉동기 내부 조명을 사용하지 않으려면 끄십시오.
		#autoLOC_DF_00177 = 툴팁 켜기
		#autoLOC_DF_00178 = 툴팁 표시 여부를 설정합니다.
		#autoLOC_DF_00179 = 에디터 필터
		#autoLOC_DF_00180 = DeepFreeze 에디터 필터 카테고리 표시 여부를 설정합니다.
		#autoLOC_DF_00181 = 기본 앱 런처 아이콘 사용
		#autoLOC_DF_00182 = 활성화 시 기본 애플리케이션 런처를 사용하며, 비활성화 시 설치된 경우 Blizzy Toolbar를 사용합니다.
		#autoLOC_DF_00183 = 추가 디버그 로그 기록
		#autoLOC_DF_00184 = 문제 보고를 위해 KSP 로그에 추가적인 정보를 기록하려면 이 설정을 켜십시오.
		#autoLOC_DF_00185 = CRY-0300 냉동 챔버
		#autoLOC_DF_00186 = REPOSoftTech
		#autoLOC_DF_00187 = 커벌 1명을 장기 보관하도록 설계되었습니다. CRY-0300은 Glykerol과 ElectricCharge를 사용하여 커벌 1명을 냉동하거나 해동합니다. 함선에 충분한 ElectricCharge 용량이 있는지 확인하십시오. CRY-0300에는 Glykerol 10단위가 기본으로 들어 있습니다. 주의: CRY-0300은 모니터링 시스템을 유지하기 위해 커벌 1명당 분당 ElectricCharge를 소모합니다. 이 ElectricCharge를 공급받지 못하면 냉동된 커벌이 사망할 위험이 있습니다.
		#autoLOC_DF_00188 = deepfreeze 극저온 냉동기
		#autoLOC_DF_00189 = CRY-0300R 냉동 챔버
		#autoLOC_DF_00190 = 커벌 1명을 장기 보관하도록 설계되었습니다. CRY-0300R은 Glykerol과 ElectricCharge를 사용하여 커벌 1명을 냉동하거나 해동합니다. 함선에 충분한 ElectricCharge 용량이 있는지 확인하십시오. CRY-0300R에는 Glykerol 10단위가 기본으로 들어 있습니다. 주의: CRY-0300R은 모니터링 시스템을 유지하기 위해 커벌 1명당 분당 ElectricCharge를 소모합니다. 이 ElectricCharge를 공급받지 못하면 냉동된 커벌이 사망할 위험이 있습니다.
		#autoLOC_DF_00191 = CRY-1300 냉동 챔버
		#autoLOC_DF_00192 = 최대 커벌 3명을 장기 보관하도록 설계되었습니다. CRY-1300은 Glykerol과 ElectricCharge를 사용하여 커벌 1명을 냉동하거나 해동합니다. 함선에 충분한 ElectricCharge 용량이 있는지 확인하십시오. CRY-1300에는 Glykerol 15단위가 기본으로 들어 있습니다. 주의: CRY-1300은 모니터링 시스템을 유지하기 위해 커벌 1명당 분당 ElectricCharge를 소모합니다. 이 ElectricCharge를 공급받지 못하면 냉동된 커벌이 사망할 위험이 있습니다.
		#autoLOC_DF_00193 = CRY-2300 냉동 챔버
		#autoLOC_DF_00194 = 최대 10명의 커벌을 장기 보관하도록 설계되었습니다. CRY-2300은 Glykerol과 ElectricCharge를 사용하여 커벌 1명을 냉동하거나 해동합니다. 함선에 충분한 ElectricCharge 용량이 있는지 확인하십시오. CRY-2300에는 50단위의 Glykerol이 기본으로 들어 있습니다. 주의: CRY-2300은 모니터링 시스템을 유지하기 위해 커벌 1명당 분당 ElectricCharge를 소모합니다. 이 ElectricCharge를 공급받지 못하면 냉동된 커벌이 사망할 위험이 있습니다.
		#autoLOC_DF_00195 = RS-X20R 글리케롤 컨테이너
		#autoLOC_DF_00196 = RS-X20R은 커벌 냉동 및 해동에 필요한 모든 글리케롤을 보관하는 소형 방사형 컨테이너입니다. REPOSoftTech에서 제공합니다. 글리케롤을 채우면 보증이 무효화됩니다.
		#autoLOC_DF_00197 = deepfreeze 극저온 냉동기 글리케롤 탱크
		#autoLOC_DF_00198 = 극저온 공학, 인체공학 및 전기 장비 분야의 전문가인 REPOSoftTech의 커벌들은 모든 우주 비행 커벌들의 생존과 임무 성공을 위해 노력하고 있습니다.
		#autoLOC_DF_00199 = <<1>> 냉동
		#autoLOC_DF_00200 = <<1>> 해동
		#autoLOC_DF_00201 = 비활성 함선 처리
		#autoLOC_DF_00202 = 활성화 시 DeepFreeze가 비활성 함선의 자원을 처리합니다. 비활성화 시 처리하지 않으며 추정치 계산 방식을 사용합니다.
		#autoLOC_DF_00203 = 비프음 켜기
		#autoLOC_DF_00204 = 활성화 시 냉동된 커벌이 있는 냉동기 부품 내부에서 비프음이 들립니다.
		#autoLOC_DF_00205 = 기타 소리 켬
		#autoLOC_DF_00206 = 활성화 시 모든 DeepFreeze 관련 소리가 재생됩니다.
	}
}
