Localization
{
	ko
	{
		#LOC_CameraTools_Activate = 활성화
		#LOC_CameraTools_Apply = 적용
		#LOC_CameraTools_AudioEffects = 오디오 효과 사용
		#LOC_CameraTools_AudioEffects.tip = 바람이나 소닉 붐과 같은 대기 중 오디오 효과를 활성화합니다.
		#LOC_CameraTools_AutoEnableForBDA = BDArmory용 자동 활성화
		#LOC_CameraTools_AutoEnableForBDA.tip = BDA가 대회를 시작할 때 CameraTools를 자동으로 활성화합니다.
		#LOC_CameraTools_AutoFlybyPos = 자동 플라이바이 위치
		#LOC_CameraTools_AutoFlybyPos.tip = 플라이바이 촬영을 위한 위치를 자동으로 선택합니다.
		#LOC_CameraTools_AutoLandingPos = 자동 착륙 위치
		#LOC_CameraTools_AutoLandingPos.tip = 멋진 착륙 장면 촬영을 위한 위치를 자동으로 선택합니다.
		#LOC_CameraTools_Autozoom = 자동 줌
		#LOC_CameraTools_Autozoom.tip = 줌을 자동으로 조정합니다.
		#LOC_CameraTools_AutozoomMargin = 자동 줌 여백:
		#LOC_CameraTools_AutozoomMargin.tip = 줌을 자동으로 조정할 정도를 설정합니다.
		#LOC_CameraTools_BDAAutoTarget = BDA AI 자동 타겟팅
		#LOC_CameraTools_BDAAutoTarget.tip = BDArmory가 보조 타겟을 결정하도록 합니다.
		#LOC_CameraTools_Back = 뒤로
		#LOC_CameraTools_BindKey = 키 바인딩
		#LOC_CameraTools_CameraInertia = 카메라 관성:
		#LOC_CameraTools_CameraInertia.tip = 관성 추적 모드에서 카메라가 얼마나 느슨하게 움직일지 설정합니다.
		#LOC_CameraTools_CameraPosition = 카메라 위치:
		#LOC_CameraTools_CameraShake = 카메라 흔들림:
		#LOC_CameraTools_CameraShake.tip = 근처 기체로 인해 카메라가 흔들릴 정도를 설정합니다.
		#LOC_CameraTools_CameraTarget = 카메라 타겟:
		#LOC_CameraTools_Cancel = 취소
		#LOC_CameraTools_Centroid = 중심점
		#LOC_CameraTools_ChasePlaneMode = 추적기 모드
		#LOC_CameraTools_ChasePlaneMode.tip = 추적기 위치에서 타겟 기체를 바라보는 모드입니다.
		#LOC_CameraTools_ChasePlaneTarget = 타겟:
		#LOC_CameraTools_ChasePlaneTarget.tip = 클릭하여 특정 파트를 타겟으로 지정하십시오.
다른 곳을 클릭하면 질량 중심(CoM)으로 초기화됩니다.
		#LOC_CameraTools_Clear = 지우기
		#LOC_CameraTools_ClearPosition = 위치 초기화
		#LOC_CameraTools_ClearTarget = 타겟 초기화
		#LOC_CameraTools_ControlMode = 제어 모드
		#LOC_CameraTools_ControlMode.tip = 위치 기반 이동과 속도 기반 이동 사이를 전환합니다.
		#LOC_CameraTools_Delete = 삭제
		#LOC_CameraTools_DeletePath = 경로 삭제
		#LOC_CameraTools_Distance = 거리:
		#LOC_CameraTools_DogfightOffsetMode = 오프셋 모드
		#LOC_CameraTools_DogfightOffsetMode.tip = 오프셋에 사용할 기준 좌표계를 설정합니다.
		#LOC_CameraTools_Down = 아래
		#LOC_CameraTools_EditKeybindings = 키 바인딩 편집
		#LOC_CameraTools_Forward = 앞
		#LOC_CameraTools_FreeLookThr = 자유 시점 임계값:
		#LOC_CameraTools_FreeLookThr.tip = 자유 시점 모드를 활성화하기 전 마우스 이동 임계값
(마우스 오른쪽 버튼을 누른 상태에서).
		#LOC_CameraTools_FreeMoveMode = FM 모드
		#LOC_CameraTools_FwdPos = 전방:
		#LOC_CameraTools_GeoSpatialPath = 지리 공간 경로
		#LOC_CameraTools_GeoSpatialPath.tip = 위치는 GPS 좌표이며 회전은 전역 기준입니다.
		#LOC_CameraTools_InGameTime = 게임 내 시간
		#LOC_CameraTools_InGameTime.tip = 경로 카메라를 업데이트할 때 스케일링된 게임 내 시간을 사용합니다.
		#LOC_CameraTools_InertialChaseMode = 관성 추적 모드
		#LOC_CameraTools_InertialChaseMode.tip = 카메라에 관성이 있는 것처럼 더 느슨하게 따라가는 모드입니다.
		#LOC_CameraTools_KeyframeNum = 키프레임 번호
		#LOC_CameraTools_KeypadControl = 키패드 제어
		#LOC_CameraTools_KeypadControl.tip = 키 바인딩을 통한 카메라 제어 전환
(기본값은 키패드).
		#LOC_CameraTools_Left = 왼쪽
		#LOC_CameraTools_Lerp = 선형 보간:
		#LOC_CameraTools_Lerp.tip = 카메라가 대상 기체를 따라가는 속도입니다.
		#LOC_CameraTools_MaintainSpeed = 속도 유지
		#LOC_CameraTools_MaintainSpeed.tip = 마지막 프레임과 (대략) 동일한 속도를 유지하도록
현재 프레임의 타이밍을 조정합니다.
		#LOC_CameraTools_MaintainVel = 속도 유지
		#LOC_CameraTools_MaintainVel.tip = 카메라가 시작할 때의 속도를 유지합니다.
		#LOC_CameraTools_ManualFlybyPos = 수동 플라이바이 위치
		#LOC_CameraTools_ManualFlybyPos.tip = 플라이바이 촬영을 위해 수동으로 지정된 오프셋을 사용합니다.
		#LOC_CameraTools_MaxRelVel = 최대 상대 속도:
		#LOC_CameraTools_MaxRelVel.tip = 활성 기체에 대한 카메라의 최대 허용 상대 속도입니다.
		#LOC_CameraTools_Menu = 메뉴
		#LOC_CameraTools_MinimumInterval = 최소 간격
		#LOC_CameraTools_MinimumInterval.tip = BDArmory가 새로운 보조 대상을 선택하기 전 최소 간격
(대상이 파괴되지 않은 경우).
		#LOC_CameraTools_MinimumIntervalMissiles = 최소 미사일 간격
		#LOC_CameraTools_MinimumIntervalMissiles.tip = 미사일 보조 대상 전환을 위한 최소 간격
(대상이 파괴되지 않은 경우).
		#LOC_CameraTools_Modifier = 수정자
		#LOC_CameraTools_MoveSpeed = 이동 속도
		#LOC_CameraTools_NewKey = 새 키
		#LOC_CameraTools_NewKey.tip = 새 키프레임을 추가합니다.
		#LOC_CameraTools_NewPath = 새 경로
		#LOC_CameraTools_NextMode = >
		#LOC_CameraTools_NextMode.tip = 다음 카메라 모드입니다.
		#LOC_CameraTools_NoPath = 경로: 없음
		#LOC_CameraTools_None = 없음
		#LOC_CameraTools_Offset = 오프셋:
		#LOC_CameraTools_OpenPath = 경로 열기
		#LOC_CameraTools_Path = 경로:
		#LOC_CameraTools_PathTimescale = 경로 시간 척도:
		#LOC_CameraTools_PivotMode = 피벗 모드
		#LOC_CameraTools_PivotMode.tip = 카메라 위치와 대상 위치(유효한 경우) 사이에서 피벗 지점을 전환합니다.
		#LOC_CameraTools_PositionInterpolation = 위치:
		#LOC_CameraTools_PressAKey = 키를 누르십시오
		#LOC_CameraTools_PrevMode = <
		#LOC_CameraTools_PrevMode.tip = 이전 카메라 모드입니다.
		#LOC_CameraTools_RandomMode = 무작위 모드
		#LOC_CameraTools_RandomMode.tip = 기체를 전환할 때 새로운 모드를 무작위로 선택합니다.
		#LOC_CameraTools_RealTime = 실시간
		#LOC_CameraTools_RealTime.tip = 스케일되지 않은 실시간을 사용하여 경로 카메라를 업데이트합니다.
		#LOC_CameraTools_Reload = 새로 고침
		#LOC_CameraTools_Reload.tip = GameData/CameraTools/PluginData/settings.cfg에서 설정을 다시 불러옵니다.
		#LOC_CameraTools_ResetRoll = 롤 초기화
		#LOC_CameraTools_ResetRoll.tip = 카메라 롤을 로컬 위쪽 방향으로 초기화합니다.
		#LOC_CameraTools_Revert = 되돌리기
		#LOC_CameraTools_RevertPos = 위치 되돌리기
		#LOC_CameraTools_RevertPos.tip = 현재 키프레임의 위치로 되돌립니다.
		#LOC_CameraTools_Right = 오른쪽
		#LOC_CameraTools_RightPos = 오른쪽:
		#LOC_CameraTools_Roll = 롤:
		#LOC_CameraTools_Roll.tip = 대상 기체의 롤을 기준으로 카메라를 기울일 정도입니다.
		#LOC_CameraTools_RotationInterpolation = 회전:
		#LOC_CameraTools_Save = 저장
		#LOC_CameraTools_Save.tip = 설정을 GameData/CameraTools/PluginData/settings.cfg에 저장합니다.
		#LOC_CameraTools_SaveRotation = 회전 저장
		#LOC_CameraTools_SaveRotation.tip = 고정 카메라가 다음에 활성화될 때 재사용할 수 있도록 되돌리기 시 카메라의 회전 상태를 저장합니다.
		#LOC_CameraTools_Saved = 저장됨.
		#LOC_CameraTools_Saving = 저장 중...
		#LOC_CameraTools_SecondarySmoothing = 보조 부드럽게 처리:
		#LOC_CameraTools_SecondarySmoothing.tip = 경로 재생 시 추가적인 부드럽게 처리(lerp/slerp) 정도입니다.
		#LOC_CameraTools_SecondaryTarget = 보조 대상:
		#LOC_CameraTools_SecondaryTargetDeathSwitchDelay = 대상 소멸 지연
		#LOC_CameraTools_SecondaryTargetDeathSwitchDelay.tip = 미사일이 아닌 보조 대상이 소멸한 후 보조 대상을 전환하기까지의 지연 시간입니다.
		#LOC_CameraTools_SetPositionClick = 클릭으로 위치 설정
		#LOC_CameraTools_SetTargetClick = 클릭으로 대상 설정
		#LOC_CameraTools_ShowTooltips = ?
		#LOC_CameraTools_ShowTooltips.tip = 툴팁을 켭니다/끕니다.
		#LOC_CameraTools_StandardPath = 표준 경로
		#LOC_CameraTools_StandardPath.tip = 위치와 회전은 활성 기체를 기준으로 합니다.
		#LOC_CameraTools_TargetDogfightCentroid = 도그파이트 중심점 조준
		#LOC_CameraTools_TargetDogfightCentroid.tip = 개별 기체 대신 도그파이트 중심점을 보조
대상으로 사용합니다.
		#LOC_CameraTools_TargetIncomingMissiles = 날아오는 미사일 조준
		#LOC_CameraTools_TargetIncomingMissiles.tip = 날아오는 미사일을 보조 대상으로 우선시합니다.
		#LOC_CameraTools_TargetSelf = 자신 조준
		#LOC_CameraTools_Time = 시간:
		#LOC_CameraTools_Title = 카메라 도구
		#LOC_CameraTools_ToStationaryCamera = 고정 카메라로 전환
		#LOC_CameraTools_ToStationaryCamera.tip = 카메라 시점을 유지하면서 고정 카메라로 전환합니다.
		#LOC_CameraTools_ToggleTextFields = #
		#LOC_CameraTools_ToggleTextFields.tip = 텍스트 필드를 켭니다/끕니다.
		#LOC_CameraTools_Tool = 도구:
		#LOC_CameraTools_UIScale = UI 크기:
		#LOC_CameraTools_UIScaleFollowsStock = 기본 설정 따름
		#LOC_CameraTools_Up = 위
		#LOC_CameraTools_UpPos = 위:
		#LOC_CameraTools_UseOrbital = 궤도 속도 사용
		#LOC_CameraTools_UseOrbital.tip = 속도 유지 시 월드 공간 속도 대신 궤도 속도를 사용합니다.
		#LOC_CameraTools_Version = 버전:
		#LOC_CameraTools_VesselCoM = 대상 기체 질량 중심
		#LOC_CameraTools_VisualEffects = 시각 효과 활성화
		#LOC_CameraTools_VisualEffects.tip = 기본 공기역학/재진입 시각 효과를 활성화합니다.
		#LOC_CameraTools_Waiting = 대기 중...
		#LOC_CameraTools_X = X:
		#LOC_CameraTools_Y = Y:
		#LOC_CameraTools_ZoomIn = 확대
		#LOC_CameraTools_ZoomOut = 축소
		#LOC_CameraTools_ZoomSpeed = 확대/축소 속도
	}
}
