Localization
{
	ko
	{
		#LOC_NearFutureAero_atomic-jet-25-1_description = 차폐가 부실한 원자로로 주변 지역을 방사능으로 오염시킬 위험을 감수할 수 있다면, 대기권 추진의 끝판왕이라 할 수 있습니다. 산소 존재 여부와 관계없이 모든 대기에서 작동하며 연료가 필요하지 않습니다. 다만 상당히 무겁고 반응 속도가 느린 편입니다.
		#LOC_NearFutureAero_atomic-jet-25-1_tags = aircraft jet plane propuls jet atom nuclear pluto nearfuture
		#LOC_NearFutureAero_atomic-jet-25-1_title = J-N160 'Fireflash' 공기 흡입식 핵 엔진
		#LOC_NearFutureAero_atomic-multimode-25-1_description = SSTO의 한계를 11까지 끌어올리십시오. 대기가 충분하면 대기를 반응 질량으로 사용하고, 우주에 도달하면 추진제를 원자로 노심에 직접 분사합니다.
		#LOC_NearFutureAero_atomic-multimode-25-1_tags = ascent closed cycle dual fuel hybrid jet liquid main mode plane propuls eeloo heavy aero rocket ssto atom nuclear pluto nearfuture
		#LOC_NearFutureAero_atomic-multimode-25-1_title = J-N500 'Project Eeloo' 다중 모드 핵 엔진
		#LOC_NearFutureAero_enginecooler-25-1_description = 이 대형 프리쿨러는 소형 제품보다 대형 공기 흡입식 엔진을 냉각하는 데 더 효과적입니다.
		#LOC_NearFutureAero_enginecooler-25-1_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic supersonic suck tank nearfuture cool pipes hypersonic
		#LOC_NearFutureAero_enginecooler-25-1_title = 대형 엔진 프리쿨러
		#LOC_NearFutureAero_enginenacelle-25-1_description = 대형 항공기를 위한 대형 엔진 나셀입니다. 공기 흡입식 엔진에 사용할 연료와 공기를 일부 저장합니다.
		#LOC_NearFutureAero_enginenacelle-25-1_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic sub subsonic suck tank nearfuture
		#LOC_NearFutureAero_enginenacelle-25-1_title = 대형 확장형 엔진 나셀
		#LOC_NearFutureAero_enginenacelle-25-2_description = 공기 흡입식 엔진을 특수한 용도로 사용하기 위한 납작한 엔진 나셀입니다.
		#LOC_NearFutureAero_enginenacelle-25-2_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic sub subsonic suck tank nearfuture
		#LOC_NearFutureAero_enginenacelle-25-2_title = 대형 엔진 나셀
		#LOC_NearFutureAero_enginepod-large-1_description = 엔진과 흡입구를 장착하기 위한 대형 포드 솔루션입니다. 2.5m 엔진 2개와 흡입구 2개에 최적화되어 있습니다.
		#LOC_NearFutureAero_enginepod-large-1_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic supersonic suck tank nearfuture fireflash thunderbird
		#LOC_NearFutureAero_enginepod-large-1_title = AVX-20 대형 엔진 포드
		#LOC_NearFutureAero_fueltank-25-1_description = 항공기용으로 제작된 넓고 긴 연료 탱크입니다. 제트 연료나 로켓 연료를 채우도록 설정할 수 있습니다. 아니면 비워둘 수도 있죠!
		#LOC_NearFutureAero_fueltank-25-1_tags = aircraft airplane fueltank jet plane propellant tank nearfuture
		#LOC_NearFutureAero_fueltank-25-1_title = Mk2A 800X 항공 연료 탱크
		#LOC_NearFutureAero_fueltank-25-2_description = 항공기용 대형 연료 탱크입니다. 제트 연료나 로켓 연료를 채우도록 설정할 수 있습니다. 아니면 비워둘 수도 있죠!
		#LOC_NearFutureAero_fueltank-25-2_tags = aircraft airplane fueltank jet plane propellant tank nearfuture
		#LOC_NearFutureAero_fueltank-25-2_title = Mk2A 400X 항공 연료 탱크
		#LOC_NearFutureAero_fueltank-25-3_description = 항공기용으로 제작된 넓고 뭉툭한 연료 탱크입니다. 제트 연료나 로켓 연료를 채우도록 설정할 수 있습니다. 아니면 비워둘 수도 있죠!
		#LOC_NearFutureAero_fueltank-25-3_tags = aircraft airplane fueltank jet plane propellant tank nearfuture
		#LOC_NearFutureAero_fueltank-25-3_title = Mk2A 200X 항공 연료 탱크
		#LOC_NearFutureAero_fueltank-25-4_description = 항공기용으로 제작된 넓고 짧은 연료 탱크입니다. 제트 연료나 로켓 연료를 채우도록 설정할 수 있습니다. 아니면 비워둘 수도 있죠!
		#LOC_NearFutureAero_fueltank-25-4_tags = aircraft airplane fueltank jet plane propellant tank nearfuture
		#LOC_NearFutureAero_fueltank-25-4_title = Mk2A 100X 항공 연료 탱크
		#LOC_NearFutureAero_intake-largecircular-1_description = 어지러울 정도로 회전하는 압축기 날개 배열 덕분에 이 흡입구는 주변의 모든 것에게 실질적인 위험 요소가 됩니다. 저속에서는 다량의 공기와 거위, 닭까지 빨아들일 수 있습니다.
		#LOC_NearFutureAero_intake-largecircular-1_tags = nearfuture aero (air aircraft breathe cone fligh inlet jet oxygen plane suck liner subsonic compress spin
		#LOC_NearFutureAero_intake-largecircular-1_title = 고바이패스 팬 흡입구
		#LOC_NearFutureAero_intake-largeram-1_description = 이중 대칭 구조로 엔진에 사용할 상당한 양의 공기를 빨아들일 수 있습니다.
		#LOC_NearFutureAero_intake-largeram-1_tags = nearfuture aero (air aircraft breathe cone fligh inlet jet oxygen plane suck supersonic
		#LOC_NearFutureAero_intake-largeram-1_title = 고급 램 흡입구
		#LOC_NearFutureAero_intake-largeshock-1_description = 매우 뾰족한 이 흡입구는 고속 및 고고도에서 뛰어난 성능을 발휘합니다. 비행 중에 흡입구를 반복적으로 여닫는 것은 재미있긴 하지만 권장하지 않습니다.
		#LOC_NearFutureAero_intake-largeshock-1_tags = nearfuture aero (air aircraft breathe cone fligh inlet jet oxygen plane suck supersonic hypersonic
		#LOC_NearFutureAero_intake-largeshock-1_title = 고급 쇼크 흡입구
		#LOC_NearFutureAero_intake-radial-1_description = 측면 부착이 가능한 지나치게 큰 흡입구입니다.
		#LOC_NearFutureAero_intake-radial-1_tags = nearfuture aero (공기 항공기 호흡 원뿔 비행 흡입구 제트 산소 비행기 빨아들임 초음속 극초음속 램프
		#LOC_NearFutureAero_intake-radial-1_title = 헤비 램 흡입구
		#LOC_NearFutureAero_intake-radial-2_description = 아이러니하게도 OHSA 발표 중에 만들어진 이 흡입구는, 폭주하는 원형 톱이 K.V. Roe 조립 홀을 굴러 지나갈 때 발명되었습니다.
		#LOC_NearFutureAero_intake-radial-2_tags = nearfuture aero (공기 항공기 호흡 원뿔 비행 흡입구 제트 산소 비행기 빨아들임 초음속 극초음속 램프
		#LOC_NearFutureAero_intake-radial-2_title = 헤비 램 흡입구 마운트
		#LOC_NearFutureAero_liftfan-10-1_description = 가장 무거운 HVR 시리즈 리프트 팬으로, 두 개의 반전식 리프트 팬을 포함하며 연료/공기 혼합물 또는 전기 전류로 직접 구동할 수 있습니다. 다만 전자의 경우 추력이 약간 낮아집니다.
		#LOC_NearFutureAero_liftfan-10-1_tags = 팬 호버 프로펠러 항공기 쉴드 헬기 캐리어 비행기 추진 터보 전기 nearfuture
		#LOC_NearFutureAero_liftfan-10-1_title = HVR-ONE 초중량 리프트 팬
		#LOC_NearFutureAero_liftfan-25-1_description = HVR 시리즈의 경량 모델로, 좁은 영역에서 상당한 추력을 생성할 수 있습니다. 다목적 프로펠러 어셈블리는 연료/공기 혼합물 또는 전기 전류로 직접 구동할 수 있으며, 후자의 경우 추력이 약간 낮아집니다.
		#LOC_NearFutureAero_liftfan-25-1_tags = 팬 호버 프로펠러 항공기 아바타 비행기 추진 터보 전기 헬기 nearfuture
		#LOC_NearFutureAero_liftfan-25-1_title = HVR-THREE 리프트 팬
		#LOC_NearFutureAero_liftfan-375-1_description = HVR 시리즈의 중형 모델로, 추력을 약간 희생하는 대신 효율을 높였습니다. 반전식 팬 어셈블리는 연료/공기 혼합물 또는 전기 전류로 직접 구동할 수 있으며, 후자의 경우 추력이 약간 낮아집니다.
		#LOC_NearFutureAero_liftfan-375-1_tags = 팬 호버 프로펠러 항공기 퀸 제트 비행기 추진 터보 전기 헬기 nearfuture
		#LOC_NearFutureAero_liftfan-375-1_title = HVR-TWO 헤비 리프트 팬
		#LOC_NearFutureAero_liftfan_mode_electric_title = 전기 구동
		#LOC_NearFutureAero_liftfan_mode_lf_title = 공기 흡입
		#LOC_NearFutureAero_manufacturer_KVRoe = K.V. Roe and Company
		#LOC_NearFutureAero_multimodal-125-1_description = 검에서 유래한(라이선스 문제로) 이름에 실제 의미를 부여할 필요가 없는 SCIMITAR는 강력한 이중 모드 엔진입니다. 육각형 셀 설계로 더 슬림한 사촌 모델보다 대기 중 효율이 향상되었습니다.
		#LOC_NearFutureAero_multimodal-125-1_tags = 항공기 상승 폐쇄 사이클 이중 연료 하이브리드 제트 액체 메인 모드 비행기 추진 scimitar 헤비 에어로 로켓 ssto nearfuture
		#LOC_NearFutureAero_multimodal-125-1_title = AE-2B S.C.I.M.I.T.A.R. 엔진
		#LOC_NearFutureAero_multimodal-25-1_description = Broadsword는 거대하고 공포스럽습니다. 사실 너무 공포스러워서, 우리 엔지니어들은 이 엔진이 지면을 너무 깊게 겁주어 행성 전체가 도망치려 하게 함으로써 작동한다고 가정했습니다.
		#LOC_NearFutureAero_multimodal-25-1_tags = 항공기 상승 폐쇄 사이클 이중 연료 하이브리드 제트 액체 메인 모드 비행기 추진 broadsword 스파이크 에어로 로켓 ssto nearfuture
		#LOC_NearFutureAero_multimodal-25-1_title = AE-1 B.R.O.A.D.S.W.O.R.D. 엔진
		#LOC_NearFutureAero_multimodal-25-2_description = 스워시버클러의 휘두르는 컷틀러스에서 영감을 받아 제작된 우아한 다중 모드 엔진입니다. 연료 효율을 높이기 위해 추력을 약간 희생합니다.
		#LOC_NearFutureAero_multimodal-25-2_tags = 항공기 상승 폐쇄 사이클 이중 연료 하이브리드 제트 액체 메인 모드 비행기 추진 cutlass 궤도 효율 sabre 로켓 ssto nearfuture
		#LOC_NearFutureAero_multimodal-25-2_title = AE-2 C.U.T.L.A.S.S. 엔진
		#LOC_NearFutureAero_multimodal_mode_lf_title = 공기 흡입
		#LOC_NearFutureAero_multimodal_mode_lfo_title = 폐쇄 사이클
		#LOC_NearFutureAero_pod-1_description = 엔진과 흡입구를 장착하기 위한 포드 솔루션입니다. 두 개의 엔진과 두 개의 흡입구에 최적화되어 있습니다. 소량의 연료와 다수의 압축기가 포함되어 있습니다.
		#LOC_NearFutureAero_pod-1_tags = 에어로 (공기 항공기 호흡 원뿔 비행 연료 흡입구 흡입 제트 산소 비행기 음속 초음속 빨아들임 탱크 nearfuture rtl thunderbird
		#LOC_NearFutureAero_pod-1_title = AV-1-2 듀얼 엔진 포드
		#LOC_NearFutureAero_pod-2_description = 방사형으로 부착 가능한 엔진 마운트 포드입니다. 6개의 부착 지점은 3개의 소형 엔진과 3개의 흡입구에 최적화되어 있습니다. 소량의 연료와 아주 많은 압축기가 포함되어 있습니다.
		#LOC_NearFutureAero_pod-2_tags = 에어로 (공기 항공기 호흡 원뿔 비행 연료 흡입구 흡입 제트 산소 비행기 음속 초음속 빨아들임 탱크 nearfuture rtl thunderbird
		#LOC_NearFutureAero_pod-2_title = AV-1-3 트리플 엔진 포드
		#LOC_NearFutureAero_propfan-125-1_description = Corkscrew는 다중 프로펠러 공학의 경이로움입니다. 약간 더 작은 반전식 블레이드 세트를 사용하여 더 높은 비추력으로 더 높은 최대 속도를 달성할 수 있습니다. 하지만 추력은 더 낮습니다.
		#LOC_NearFutureAero_propfan-125-1_tags = 항공기 추진 블레이드 회전 팬 로터 톱 엔진 비행기 라이너 화물 이중 역회전
		#LOC_NearFutureAero_propfan-125-1_title = AP27 'Corkscrew' 프롭팬 엔진
		#LOC_NearFutureAero_rcsblister-1_description = 이 고급 제어 블리스터에 포함된 헤비 반작용 제어 제트는 대기 중과 어둡고 텅 빈 우주 공간 모두에서 우주선의 기동을 돕는 데 탁월합니다.
		#LOC_NearFutureAero_rcsblister-1_tags = nearfuture 클러스터 제어 도킹 기동 조종 반작용 랑데부 회전 안정 조향 병진 헤비 쉴드
		#LOC_NearFutureAero_rcsblister-1_title = ARV-100-8 헤비 RCS 블리스터
		#LOC_NearFutureAero_switcher_fuel_lf = LF
		#LOC_NearFutureAero_switcher_fuel_lf-mp = LF/MP
		#LOC_NearFutureAero_switcher_fuel_lfo = LF/O
		#LOC_NearFutureAero_switcher_fuel_lfo-mp = LF/O/MP
		#LOC_NearFutureAero_switcher_fuel_lh2 = LH2
		#LOC_NearFutureAero_switcher_fuel_lh2-mp = LH2/MP
		#LOC_NearFutureAero_switcher_fuel_lh2o = LH2/O
		#LOC_NearFutureAero_switcher_fuel_lh2o-mp = LH2/O/MP
		#LOC_NearFutureAero_switcher_fuel_mp = Monoprop
		#LOC_NearFutureAero_switcher_fuel_title = 내용물
		#LOC_NearFutureAero_switcher_wings_bl_title = 좌측 하단 날개
		#LOC_NearFutureAero_switcher_wings_br_title = 우측 하단 날개
		#LOC_NearFutureAero_switcher_wings_ul_title = 좌측 상단 날개
		#LOC_NearFutureAero_switcher_wings_ur_title = 우측 상단 날개
		#LOC_NearFutureAero_switcher_wings_variant_bl = 날개
		#LOC_NearFutureAero_switcher_wings_variant_br = 날개
		#LOC_NearFutureAero_switcher_wings_variant_none = 없음
		#LOC_NearFutureAero_switcher_wings_variant_ul = 날개
		#LOC_NearFutureAero_switcher_wings_variant_ur = 날개
		#LOC_NearFutureAero_turbofan-25-1_description = 시끄럽고 인상적인 공기 흡입식 엔진입니다. 소형 Wheasley와 유사하게 중고도에서 고고도까지 탁월한 성능을 발휘하지만, 고속에서는 성능이 저하됩니다.
		#LOC_NearFutureAero_turbofan-25-1_tags = aircraft liner cargo subsonic slow big jet plane propuls reverse nearfuture
		#LOC_NearFutureAero_turbofan-25-1_title = J-90 'Dudley' 대형 터보팬 엔진
		#LOC_NearFutureAero_turbofan-25-2_description = 대부분의 속도에서 잘 작동하는 강력한 공기 흡입식 엔진입니다. 급정지와 짧은(또는 긴) 하강을 가능하게 하는 추력 역전 배플이 장착되어 있습니다.
		#LOC_NearFutureAero_turbofan-25-2_tags = aircraft jet plane propuls jet concorde revers nearfuture
		#LOC_NearFutureAero_turbofan-25-2_title = J-593 'Arcadia' 터보팬 엔진
		#LOC_NearFutureAero_turbofan_mode_cruise_title = 순항
		#LOC_NearFutureAero_turbofan_mode_reverse_title = 역추력
		#LOC_NearFutureAero_turbojet-25-1_description = 고속 및 고고도에서의 빠른 비행에 최적화된 강력한 공기 흡입식 엔진입니다.
		#LOC_NearFutureAero_turbojet-25-1_tags = aircraft jet plane propuls jet sst boeing nearfuture
		#LOC_NearFutureAero_turbojet-25-1_title = JE-X4 'Valkyrie' 터보 램제트 엔진
		#LOC_NearFutureAero_turboprop-125-1_description = 현대식 터보프롭의 기울어지고 곡선진 블레이드는 더 높은 회전 속도를 달성하여 효율성을 유지하면서 프로펠러의 최고 속도를 높여줍니다.
		#LOC_NearFutureAero_turboprop-125-1_tags = aircraft propel turbo blade spin rotor saw engine plane liner cargo nearfuture
		#LOC_NearFutureAero_turboprop-125-1_title = AP4000 "Buzzsaw" 터보프롭 엔진
		#LOC_NearFutureAero_vtol-0625-1_description = 이 제트 엔진은 고추력, 저속, 저고도 운용에 최적화되어 있습니다. 대부분의 제트 엔진보다 반응이 빠르지만, 기체나 활주로, 심지어 Jeb의 바지까지 과열시킬 위험이 있습니다... 무슨 뜻인지 아실 겁니다.
		#LOC_NearFutureAero_vtol-0625-1_tags = aircraft buzz vtol stvol short harrier jump hop verti ascend nearfuture
		#LOC_NearFutureAero_vtol-0625-1_title = JL-16 'Yellowjacket' VTOL 엔진
		#LOC_NearFutureAero_vtol-125-1_description = Yellowjacket으로 부족할 때, Hornet이 제격일 것입니다. 이중 벡터링 노즐과 빠른 반응의 압축기는 필요할 때 필요한 곳으로 추진력을 전달해 줍니다.
		#LOC_NearFutureAero_vtol-125-1_tags = aircraft buzz vtol stvol short harrier jump hop verti ascend nearfuture
		#LOC_NearFutureAero_vtol-125-1_title = JL-40 'Hornet' VTOL 엔진
	}
}
