Localization
{
	ko
	{
		#LOC_NFSpacecraft_Action_ConverterHabName = 거주구
		#LOC_NFSpacecraft_Action_ConverterName = 생명 유지 장치
		#LOC_NFSpacecraft_Action_StartUSIHab = 거주구 가동
		#LOC_NFSpacecraft_Action_StartUSILS = 생명 유지 장치 가동
		#LOC_NFSpacecraft_Action_StopUSIHab = 거주구 정지
		#LOC_NFSpacecraft_Action_StopUSILS = 생명 유지 장치 정지
		#LOC_NFSpacecraft_Action_ToggleUSIHab = 거주구 전환
		#LOC_NFSpacecraft_Action_ToggleUSILS = 생명 유지 장치 전환
		#LOC_NFSpacecraft_CabinLights_Off = 객실 조명 끄기
		#LOC_NFSpacecraft_CabinLights_On = 객실 조명 켜기
		#LOC_NFSpacecraft_CabinLights_Toggle = 객실 조명 전환
		#LOC_NFSpacecraft_Hatch_Close = 해치 닫기
		#LOC_NFSpacecraft_Hatch_Open = 해치 열기
		#LOC_NFSpacecraft_Hatch_Toggle = 해치 전환
		#LOC_NFSpacecraft_Snacks_SoilRecycler_ConverterName = 토양 재활용 장치
		#LOC_NFSpacecraft_Snacks_SoilRecycler_StartActionName = 토양 재활용 장치 가동
		#LOC_NFSpacecraft_Snacks_SoilRecycler_StopActionName = 토양 재활용 장치 정지
		#LOC_NFSpacecraft_command-125-1_description = 기존 Mk1 포드에 적절한 반작용 제어 시스템을 추가하여 현대적인 수준으로 끌어올렸습니다. 좌석이 하나 더 추가되어 장기 임무 시 조종사의 동료가 탑승할 수 있습니다.
		#LOC_NFSpacecraft_command-125-1_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture adv
		#LOC_NFSpacecraft_command-125-1_title = Mk1-TMA 'Proteus' 고급 사령 포드
		#LOC_NFSpacecraft_command-125-landing-1_description = 이 부품은 신나치주의자로 알려진 일론 머스크와 밀접하게 연관된 기술에서 영감을 받았기에 삭제되었습니다.
		#LOC_NFSpacecraft_command-125-landing-1_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture landing mini
		#LOC_NFSpacecraft_command-125-landing-1_title = Mk1-L 'Nereid' 특수 사령 포드
		#LOC_NFSpacecraft_command-125-orbit-1_description = 궤도 운용에 최적화된 소형 포드인 Mk1-X는 창문이 많아 상황 인식에 탁월하며, 자동화 시스템을 갖추어 승무원 한 명만으로도 완전한 탐사선 제어 지점 역할을 수행할 수 있습니다. 다른 포드에 비해 내구성이 부족하므로 주의해서 다루어야 합니다. 통합형 RCS 분사기가 포드의 완성도를 높여줍니다.
		#LOC_NFSpacecraft_command-125-orbit-1_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture orbital view adv
		#LOC_NFSpacecraft_command-125-orbit-1_title = Mk1-X 'Phoebe' 궤도 사령 포드
		#LOC_NFSpacecraft_command-25-1_description = 다목적 사령 포드인 Pandora는 4인승이며 강력한 RCS 추진기를 장착하고 있습니다. 안타깝게도 그 외의 부분은 평범합니다.
		#LOC_NFSpacecraft_command-25-1_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture adv
		#LOC_NFSpacecraft_command-25-1_title = Mk3B 'Pandora' 고급 사령 포드
		#LOC_NFSpacecraft_command-25-landing-1_description = 이 부품은 신나치주의자로 알려진 일론 머스크와 밀접하게 연관된 기술에서 영감을 받았기에 삭제되었습니다.
		#LOC_NFSpacecraft_command-25-landing-1_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture landing
		#LOC_NFSpacecraft_command-25-landing-1_title = Mk3 'Tethys' 특수 사령 포드
		#LOC_NFSpacecraft_command-375-biconic-1_description = 뛰어난 범용성과 6명의 승무원 탑승 공간, 새로운 재진입 패러다임을 자랑하는 Elara는 가장 진보된 포드 중 하나입니다. 전체 RCS가 우주선 뒤의 특수 '트렁크'를 보완하며, 이 트렁크는 다양한 추가 액세서리를 보관하는 데 사용할 수 있습니다.
		#LOC_NFSpacecraft_command-375-biconic-1_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture biconic reenter advanced blue origin
		#LOC_NFSpacecraft_command-375-biconic-1_title = Mk4-B 'Elara' 이원추형 사령 모듈
		#LOC_NFSpacecraft_command-mk3-9_description = 이 새로운 사령 조종석은 궤도 운용에 최적화되어 있습니다. 내구성을 일부 희생하는 대신 신뢰할 수 있는 RCS 배열과 강력한 반작용 휠 같은 하드웨어를 갖추었습니다. 광범위한 플라이 바이 와이어 및 탐사선 제어 시스템을 탑재하여 승무원 없이도 조종이 가능합니다! 다만 전력이 고갈되지 않도록 주의하십시오...
		#LOC_NFSpacecraft_command-mk3-9_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture orbital auto drone command
		#LOC_NFSpacecraft_command-mk3-9_title = Mk3-9 'Rhea' 궤도 사령 포드
		#LOC_NFSpacecraft_command-mk4-1_description = 웅장한 Mark Four Dash One 사령 모듈은 커벌 공학의 정수입니다. 최대 7명까지 탑승할 수 있으며 다양한 상황에서 뛰어난 성능을 발휘합니다. 더 높은 범용성을 위해 여러 변형 모델이 제공됩니다. 5m 크기로 확장되는 모델, 내열 하부 쉘이 추가된 모델, Hummingbird 로켓 팩을 위한 특수 공간이 통합된 모델 등이 있습니다.
		#LOC_NFSpacecraft_command-mk4-1_switcher_title = 덮개
		#LOC_NFSpacecraft_command-mk4-1_switcher_variant1 = 없음
		#LOC_NFSpacecraft_command-mk4-1_switcher_variant2 = 3.75m
		#LOC_NFSpacecraft_command-mk4-1_switcher_variant3 = 착륙선
		#LOC_NFSpacecraft_command-mk4-1_switcher_variant4 = 5m
		#LOC_NFSpacecraft_command-mk4-1_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture duna mev excursion dev landing
		#LOC_NFSpacecraft_command-mk4-1_title = Mk4-1 'Amalthea' 특수 사령 모듈
		#LOC_NFSpacecraft_command-nereid_switcher_title = 엔진 포드
		#LOC_NFSpacecraft_command-nereid_switcher_variant1 = 통합형
		#LOC_NFSpacecraft_command-nereid_switcher_variant2 = 없음
		#LOC_NFSpacecraft_command-ppd-1_description = 이 대형 사령 모듈은 Kerlington의 PPD 제품군과 함께 사용하도록 설계되었습니다. 조종사 2명과 승객 4명이 탑승할 수 있습니다. 강력한 반작용 휠, 고성능 RCS 제트, 자원 저장 공간을 갖추어 대형 우주선에 탁월한 선택입니다.
		#LOC_NFSpacecraft_command-ppd-1_tags = capsule cmg control ?eva fly gyro ?iva moment pilot react rocket space stab steer torque nearfuture inline orbital command
		#LOC_NFSpacecraft_command-ppd-1_title = PPD-1 'Callisto' 중형 궤도 사령 모듈
		#LOC_NFSpacecraft_engine-pod-1_description = 포커스 그룹 테스트 결과, 많은 우주 프로그램이 방사형으로 부착된 엔진이 "멋져 보이고" 속도감을 준다는 점을 선호한다는 사실이 밝혀졌습니다. 이에 Rockomax는 솔직히 말해 외관을 위한 SD 시리즈 엔진 포드를 고안했습니다.
		#LOC_NFSpacecraft_engine-pod-1_tags = aero abort pod engine side super drag fligh nearfuture
		#LOC_NFSpacecraft_engine-pod-1_title = SD-01 방사형 엔진 포드
		#LOC_NFSpacecraft_engine-pod-2_description = 이번에는 두 개의 엔진 부착 지점을 수용합니다. Rockomax 엔지니어들이 정말 대단한 일을 해냈습니다.
		#LOC_NFSpacecraft_engine-pod-2_tags = aero abort pod engine side super drag fligh nearfuture
		#LOC_NFSpacecraft_engine-pod-2_title = SD-02 방사형 엔진 포드
		#LOC_NFSpacecraft_engine-rocket-pack-1_description = Nereid 및 Tethys 사령 포드의 발사 탈출 및 착륙 시스템으로 사용되지만, 기술적으로는 다른 곳에서도 사용할 수 있습니다. Chickadee는 높은 추력과 높은 피치를 제공하지만 효율성 면에서는 확실히 떨어집니다. 포드형 버전도 제공됩니다.
		#LOC_NFSpacecraft_engine-rocket-pack-1_tags = land propuls rocket nearfuture nereid mono
		#LOC_NFSpacecraft_engine-rocket-pack-1_title = 64-8S 'Chickadee' 착륙 엔진
		#LOC_NFSpacecraft_engine-rocket-pack-2_description = Amalthea 포드의 착륙 문제를 해결하기 위한 특수 플러그 앤 플레이 솔루션입니다. 캡슐 하부 선체에 적절한 구멍을 조심스럽게 뚫으면 4개의 Hummingbird 어셈블리를 장착할 수 있어 다양한 행성에서의 착륙이 용이해집니다.
		#LOC_NFSpacecraft_engine-rocket-pack-2_tags = land propuls rocket nearfuture mono amalthea
		#LOC_NFSpacecraft_engine-rocket-pack-2_title = 96-8S 'Hummingbird' 착륙 엔진
		#LOC_NFSpacecraft_landing-engine_switcher_mount_title = 덮개
		#LOC_NFSpacecraft_landing-engine_switcher_mount_variant0 = 없음
		#LOC_NFSpacecraft_landing-engine_switcher_mount_variant1 = 포드형
		#LOC_NFSpacecraft_landingleg-pod-1_description = LT-POD 착륙 어셈블리는 세련된 공기역학적 포드 내부에 접이식 다리를 보호합니다.
		#LOC_NFSpacecraft_landingleg-pod-1_tags = ground land leg support shielded nearfuture
		#LOC_NFSpacecraft_landingleg-pod-1_title = LT-POD 착륙 어셈블리
		#LOC_NFSpacecraft_monoprop-tank-125-1_description = 사용 중단됨.
		#LOC_NFSpacecraft_monoprop-tank-125-1_tags = deprecated
		#LOC_NFSpacecraft_monoprop-tank-125-1_title = FL-R-A750 단일 추진제 탱크
		#LOC_NFSpacecraft_monoprop-tank-125-2_description = 사용 중단됨.
		#LOC_NFSpacecraft_monoprop-tank-125-2_tags = deprecated
		#LOC_NFSpacecraft_monoprop-tank-125-2_title = FL-R-A375 단일 추진제 탱크
		#LOC_NFSpacecraft_monoprop-tank-125-3_description = 사용 중단됨.
		#LOC_NFSpacecraft_monoprop-tank-125-3_tags = deprecated
		#LOC_NFSpacecraft_monoprop-tank-125-3_title = FL-R-A185 단일 추진제 탱크
		#LOC_NFSpacecraft_monoprop-tank-25-1_description = 사용 중단됨.
		#LOC_NFSpacecraft_monoprop-tank-25-1_tags = 사용되지 않음
		#LOC_NFSpacecraft_monoprop-tank-25-1_title = FL-R-B3000 모노프로펠런트 탱크
		#LOC_NFSpacecraft_monoprop-tank-25-2_description = 사용되지 않습니다.
		#LOC_NFSpacecraft_monoprop-tank-25-2_tags = 사용되지 않음
		#LOC_NFSpacecraft_monoprop-tank-25-2_title = FL-R-B1500 모노프로펠런트 탱크
		#LOC_NFSpacecraft_monoprop-tank-25-3_description = 사용되지 않습니다.
		#LOC_NFSpacecraft_monoprop-tank-25-3_tags = 사용되지 않음
		#LOC_NFSpacecraft_monoprop-tank-25-3_title = FL-R-B750 모노프로펠런트 탱크
		#LOC_NFSpacecraft_monoprop-tank-375-1_description = 사용되지 않습니다.
		#LOC_NFSpacecraft_monoprop-tank-375-1_tags = 사용되지 않음
		#LOC_NFSpacecraft_monoprop-tank-375-1_title = FL-R-C6000 모노프로펠런트 탱크
		#LOC_NFSpacecraft_monoprop-tank-375-2_description = 사용되지 않습니다.
		#LOC_NFSpacecraft_monoprop-tank-375-2_tags = 사용되지 않음
		#LOC_NFSpacecraft_monoprop-tank-375-2_title = FL-R-C3000 모노프로펠런트 탱크
		#LOC_NFSpacecraft_monoprop-tank-375-3_description = 사용되지 않습니다.
		#LOC_NFSpacecraft_monoprop-tank-375-3_tags = 사용되지 않음
		#LOC_NFSpacecraft_monoprop-tank-375-3_title = FL-R-C1500 모노프로펠런트 탱크
		#LOC_NFSpacecraft_nosecone-0625-1_description = 표준 노즈 콘의 뭉툭한 버전입니다.
		#LOC_NFSpacecraft_nosecone-0625-1_tags = aero aircraft )cap drag fligh missile plane speed stab stream
		#LOC_NFSpacecraft_nosecone-0625-1_title = 소형 뭉툭한 노즈 콘
		#LOC_NFSpacecraft_nosecone-0625-docking-1_description = 소형 Junior 도킹 포트의 덮개형 버전입니다.
		#LOC_NFSpacecraft_nosecone-0625-docking-1_tags = berth capture connect couple dock fasten join moor shield socket
		#LOC_NFSpacecraft_nosecone-0625-docking-1_title = 덮개형 Clamp-O-Tron Jr. 도킹 포트
		#LOC_NFSpacecraft_orbital-engine-0625_description = 효율적인 LV-95 엔진은 모노프로펠런트를 연료원으로 사용하여 다양한 용도로 활용할 수 있습니다. 마운트형과 소형 버전이 있습니다.
		#LOC_NFSpacecraft_orbital-engine-0625_tags = lander orbit propuls rocket vacuum nearfuture mono
		#LOC_NFSpacecraft_orbital-engine-0625_title = LV-95 궤도 기동 엔진
		#LOC_NFSpacecraft_orbital-engine-125_description = 고효율 LV-601 모노프로펠런트 엔진은 균형 잡힌 다목적 엔진으로 다양한 우주선에 널리 사용됩니다. 표준형, 소형, 덮개형 변형이 있습니다.
		#LOC_NFSpacecraft_orbital-engine-125_tags = lander orbit propuls rocket vacuum nearfuture mono
		#LOC_NFSpacecraft_orbital-engine-125_title = LV-601 궤도 기동 엔진
		#LOC_NFSpacecraft_orbital-engine-25_description = 이 조립체는 승무원 이동 튜브를 둘러싼 6개의 LV-95 엔진으로 구성됩니다. 엔진 구성 요소를 통합하여 기본 단일 엔진 모델보다 추력 대 중량비(TWR)가 향상되었습니다. 통합 연료 탱크를 선택적으로 구성할 수 있습니다.
		#LOC_NFSpacecraft_orbital-engine-25_tags = lander orbit propuls rocket vacuum nearfuture mono cluster tube crew dock transfer
		#LOC_NFSpacecraft_orbital-engine-25_title = LV-95-6 궤도 기동 엔진 클러스터
		#LOC_NFSpacecraft_orbital-engine-375_description = 4개의 LV-601 엔진을 결합하여 강력한 클러스터를 구성했습니다. 마운트형, 덮개형, 소형 등 여러 변형을 사용할 수 있습니다. 소형 연료 탱크 세트를 추가할 수도 있습니다.
		#LOC_NFSpacecraft_orbital-engine-375_tags = lander orbit propuls rocket vacuum nearfuture mono cluster
		#LOC_NFSpacecraft_orbital-engine-375_title = LV-601-4 궤도 기동 엔진 클러스터
		#LOC_NFSpacecraft_orbital-engine_switcher_mount_title = 마운트
		#LOC_NFSpacecraft_orbital-engine_switcher_mount_variant0 = 0.625m
		#LOC_NFSpacecraft_orbital-engine_switcher_mount_variant1 = 1.25m
		#LOC_NFSpacecraft_orbital-engine_switcher_mount_variant2 = 2.5m
		#LOC_NFSpacecraft_orbital-engine_switcher_mount_variant3 = 3.75m
		#LOC_NFSpacecraft_orbital-engine_switcher_mount_variant4 = 보트테일
		#LOC_NFSpacecraft_orbital-engine_switcher_mount_variant5 = 컴팩트
		#LOC_NFSpacecraft_orbital-engine_switcher_tanks_title = 연료 탱크
		#LOC_NFSpacecraft_orbital-engine_switcher_tanks_variant1 = 없음
		#LOC_NFSpacecraft_orbital-engine_switcher_tanks_variant2 = 통합형
		#LOC_NFSpacecraft_rcsblock-aero-5way-1_description = 공기역학적으로 보호된 이 추력 블록은 기동성 향상을 위해 다섯 번째 노즐을 갖추고 있습니다. 그 대가로 전체 추력이 약간 낮아집니다.
		#LOC_NFSpacecraft_rcsblock-aero-5way-1_tags = 클러스터 제어 도킹 기동 조종 반응 랑데부 회전 안정 조향 병진 보호 nearfuture
		#LOC_NFSpacecraft_rcsblock-aero-5way-1_title = RV-105x5 RCS 추력 블록
		#LOC_NFSpacecraft_rcsblock-orbital-2way-45-1_description = STEADLER의 RX 시리즈 블록은 대기권 내 성능을 희생하는 대신 우주 공간에서 높은 효율을 발휘합니다. -15 모델은 45도 각도로 배치된 두 개의 노즐을 포함합니다.
		#LOC_NFSpacecraft_rcsblock-orbital-2way-45-1_tags = 클러스터 제어 도킹 기동 조종 반응 랑데부 회전 안정 조향 병진 orion nearfuture
		#LOC_NFSpacecraft_rcsblock-orbital-2way-45-1_title = RX-15 양방향 RCS 추력 블록
		#LOC_NFSpacecraft_rcsblock-orbital-2way-45-2_description = STEADLER의 RX 시리즈 블록은 대기권 내 성능을 희생하는 대신 우주 공간에서 높은 효율을 발휘합니다. -30 모델은 쌍을 이룬 노즐로 추력을 강화한 변형 모델입니다.
		#LOC_NFSpacecraft_rcsblock-orbital-2way-45-2_tags = 클러스터 제어 도킹 기동 조종 반응 랑데부 회전 안정 조향 병진 orion nearfuture
		#LOC_NFSpacecraft_rcsblock-orbital-2way-45-2_title = RX-30 양방향 RCS 추력 블록
		#LOC_NFSpacecraft_rcsblock-orbital-3way-1_description = STEADLER의 RX 시리즈 블록은 대기권 내 성능을 희생하는 대신 우주 공간에서 높은 효율을 발휘합니다. 광범위한 연구 끝에 엔지니어들은 매우 특수한 구성을 가진 3노즐 모델이 가장 효율적인 블록 형태라고 판단했습니다.
		#LOC_NFSpacecraft_rcsblock-orbital-3way-1_tags = 클러스터 제어 도킹 기동 조종 반응 랑데부 회전 안정 조향 병진 orion nearfuture
		#LOC_NFSpacecraft_rcsblock-orbital-3way-1_title = RX-15T 3방향 RCS 블록
		#LOC_NFSpacecraft_rcsblock-orbital-4way-1_description = STEADLER의 RX 시리즈 블록은 대기권 내 성능을 희생하는 대신 우주 공간에서 높은 효율을 발휘합니다. -45 모델은 4방향 추력을 제공하는 표준형 모델입니다.
		#LOC_NFSpacecraft_rcsblock-orbital-4way-1_tags = 클러스터 제어 도킹 기동 조종 반응 랑데부 회전 안정 조향 병진 orion nearfuture
		#LOC_NFSpacecraft_rcsblock-orbital-4way-1_title = RX-45 고급 RCS 블록
		#LOC_NFSpacecraft_rcsblock-orbital-5way-1_description = STEADLER의 RX 시리즈 블록은 대기권 내 성능을 희생하는 대신 우주 공간에서 높은 효율을 발휘합니다. 이 블록은 5개의 노즐을 통해 5방향으로 추력을 낼 수 있는 다재다능한 모델입니다.
		#LOC_NFSpacecraft_rcsblock-orbital-5way-1_tags = 클러스터 제어 도킹 기동 조종 반응 랑데부 회전 안정 조향 병진 orion nearfuture
		#LOC_NFSpacecraft_rcsblock-orbital-5way-1_title = RX-55 고급 RCS 블록
		#LOC_NFSpacecraft_rcsblock-orbital-linear-1_description = 단일 RX 시리즈 노즐로 한 방향으로의 병진 이동이 가능합니다. 여러 개를 잘 배치하면, 세상 모든 것을 마음대로 다룰 수 있을 것입니다.
		#LOC_NFSpacecraft_rcsblock-orbital-linear-1_tags = 제어 도킹 기동 조종 반응 랑데부 회전 안정 조향 병진 orion nearfuture
		#LOC_NFSpacecraft_rcsblock-orbital-linear-1_title = RX-1 선형 RCS 추력기
		#LOC_NFSpacecraft_service-tank-25_description = 이 다기능 연료 탱크는 상당한 양의 로켓 연료와 모노프로펄런트를 저장하며, 간식이나 기타 잡동사니를 보관할 수 있는 화물칸도 포함되어 있습니다.
		#LOC_NFSpacecraft_service-tank-25_tags = 연료탱크 ?lfo 액체 산화제 로켓 모노 모노프로펄런트 추진제 버스 격납 열 중공 보호 (stor therm nearfuture
		#LOC_NFSpacecraft_service-tank-25_title = FL-T6000 서비스 탱크
		#LOC_NFSpacecraft_service-tank-375_description = 이 탱크는 매우 낮은 프로파일을 가지고 있는데... 잠깐, 탱크가 내부 공간의 절반 정도밖에 차지하지 않네요! 이 서비스 베이에 불이 붙지 않을 만한 다른 물건들을 충분히 넣을 수 있겠습니다!
		#LOC_NFSpacecraft_service-tank-375_tags = 연료탱크 ?lfo 액체 산화제 로켓 모노 모노프로펄런트 추진제 버스 격납 열 중공 보호 (stor therm nearfuture
		#LOC_NFSpacecraft_service-tank-375_title = FL-T9000 서비스 탱크
		#LOC_NFSpacecraft_utility-pod-25_description = Itinerant는 심우주 임무에 유용한 서비스 구획입니다. 2명의 커벌이 탑승할 수 있으며, 내장된 전기 저장 장치와 소형 방사성 동위원소 발전기가 포함되어 있습니다.
		#LOC_NFSpacecraft_utility-pod-25_tags = 기지 객실 (can 전초기지 승객 정거장 투어 tuna rtg 핵 전지 충전 e/c 전기 팩 전력 볼트 와트 활성 원자 에너지 발전 동위원소 핵 radio rtg 열 nearfuture nft
		#LOC_NFSpacecraft_utility-pod-25_title = RPD-12 Itinerant 서비스 구획
	}
}
