Localization
{
	ko
	{
		#LOC_SmartParts_10 = 스테이지
		#LOC_SmartParts_100 = 선체가 지정된 속도에 도달하면 이벤트를 실행합니다.
		#LOC_SmartParts_101 = 속도 제어
		#LOC_SmartParts_102 = AGT-Timer 시간 기반 액션 그룹 트리거
		#LOC_SmartParts_103 = 지정된 시간이 경과하면 이벤트를 실행합니다. 액션 그룹으로 이 장치를 활성화하십시오.
		#LOC_SmartParts_104 = 시간 제어
		#LOC_SmartParts_105 = V1 밸브
		#LOC_SmartParts_106 = 재진입 전 남은 연료를 배출할 때 사용합니다. 이 밸브는 부착된 탱크에 포함된 자원을 배출합니다.
		#LOC_SmartParts_107 = 연료 배출 밸브 제어
		#LOC_SmartParts_108 = V2 직선형 밸브
		#LOC_SmartParts_109 = 재진입 전 남은 연료를 배출할 때 사용합니다. 직선형 연료 배출 장치입니다. 이 밸브는 부착된 탱크에 포함된 자원을 배출합니다.
		#LOC_SmartParts_11 = 사용자 지정 01
		#LOC_SmartParts_110 = 스마트 연료 제어
		#LOC_SmartParts_111 = 스마트 고도 제어
		#LOC_SmartParts_112 = 스마트 통신 제어
		#LOC_SmartParts_113 = 스마트 탱크 배터리 자원 제어
		#LOC_SmartParts_114 = OBT-Pro 궤도 및 액션 그룹 트리거
		#LOC_SmartParts_115 = 선체가 지정된 궤도 요소에 도달하면 이벤트를 실행합니다.
		#LOC_SmartParts_116 = 스마트 궤도 제어
		#LOC_SmartParts_117 = 스마트 근접 제어
		#LOC_SmartParts_118 = 스마트 무선 제어
		#LOC_SmartParts_119 = 스마트 탱크 자원 제어
		#LOC_SmartParts_12 = 사용자 지정 02
		#LOC_SmartParts_120 = 스마트 속도 제어
		#LOC_SmartParts_121 = SRB 모니터
		#LOC_SmartParts_122 = 부착된 SRB의 추력이 질량 이하로 떨어지면 이벤트를 실행합니다.
		#LOC_SmartParts_123 = 스마트 SRB 제어
		#LOC_SmartParts_124 = 스마트 시간 제어
		#LOC_SmartParts_125 = 스마트 연료 배출 밸브 제어
		#LOC_SmartParts_13 = 사용자 지정 03
		#LOC_SmartParts_14 = 사용자 지정 04
		#LOC_SmartParts_15 = 사용자 지정 05
		#LOC_SmartParts_16 = 사용자 지정 06
		#LOC_SmartParts_17 = 사용자 지정 07
		#LOC_SmartParts_18 = 사용자 지정 08
		#LOC_SmartParts_19 = 사용자 지정 09
		#LOC_SmartParts_20 = 사용자 지정 10
		#LOC_SmartParts_21 = 조명
		#LOC_SmartParts_22 = RCS
		#LOC_SmartParts_23 = SAS
		#LOC_SmartParts_24 = 브레이크
		#LOC_SmartParts_25 = 중단
		#LOC_SmartParts_26 = 랜딩 기어
		#LOC_SmartParts_27 = 비프음
		#LOC_SmartParts_28 = 둘 다
		#LOC_SmartParts_29 = 접근
		#LOC_SmartParts_30 = 이탈
		#LOC_SmartParts_31 = 비활성화됨
		#LOC_SmartParts_32 = 활성화됨
		#LOC_SmartParts_33 = 진행 표시등
		#LOC_SmartParts_34 = 원점
		#LOC_SmartParts_35 = 근점
		#LOC_SmartParts_36 = 증가
		#LOC_SmartParts_37 = 감소
		#LOC_SmartParts_38 = SmartOrbit
		#LOC_SmartParts_39 = 액션 그룹 1
		#LOC_SmartParts_4 = 거짓
		#LOC_SmartParts_40 = 액션 그룹 2
		#LOC_SmartParts_41 = 액션 그룹 3
		#LOC_SmartParts_42 = 액션 그룹 4
		#LOC_SmartParts_43 = 액션 그룹 5
		#LOC_SmartParts_44 = 액션 그룹 6
		#LOC_SmartParts_45 = 액션 그룹 7
		#LOC_SmartParts_46 = 액션 그룹 8
		#LOC_SmartParts_47 = 액션 그룹 9
		#LOC_SmartParts_48 = 액션 그룹 10
		#LOC_SmartParts_49 = 조명
		#LOC_SmartParts_5 = 참
		#LOC_SmartParts_50 = 액션 그룹:
		#LOC_SmartParts_51 = 발광
		#LOC_SmartParts_52 = 자동 초기화
		#LOC_SmartParts_53 = 무장됨
		#LOC_SmartParts_54 = SmartSRB는 고체 로켓 부스터(SRB)에서만 작동합니다
		#LOC_SmartParts_55 = Smart SRB
		#LOC_SmartParts_56 = 표면
		#LOC_SmartParts_57 = 수평
		#LOC_SmartParts_58 = 수직
		#LOC_SmartParts_59 = 궤도
		#LOC_SmartParts_6 = KSC 손실
		#LOC_SmartParts_60 = 최대 속도 전환 (현재:
		#LOC_SmartParts_61 = KM 속도계
		#LOC_SmartParts_62 = 비어 있음
		#LOC_SmartParts_63 = 단일 파트
		#LOC_SmartParts_64 = KM 스테이지 트리거
		#LOC_SmartParts_65 = 현재 스테이지
		#LOC_SmartParts_66 = 전체 기체
		#LOC_SmartParts_67 = 내장형 자동 스테이지 스마트 파트입니다.
		#LOC_SmartParts_68 = 감소 시 트리거
		#LOC_SmartParts_69 = 증가 시 트리거
		#LOC_SmartParts_7 = 전체 손실
		#LOC_SmartParts_70 = ElectricCharge
		#LOC_SmartParts_71 = 연료 흐름 차단기 1.25m
		#LOC_SmartParts_72 = 궤도 지능형 제어기
		#LOC_SmartParts_73 = 두 탱크 사이 또는 탱크와 엔진 사이의 연료 흐름을 차단하거나 활성화합니다. 액션 그룹이나 컨텍스트 메뉴로 제어하십시오. 무게 중심(CoM)을 제어하는 데 사용합니다.
		#LOC_SmartParts_74 = 연료 제어
		#LOC_SmartParts_75 = 연료 흐름 차단기 1.875m
		#LOC_SmartParts_76 = 연료 흐름 차단기 2.5m
		#LOC_SmartParts_77 = 연료 흐름 차단기 3.75m
		#LOC_SmartParts_78 = KM 연료 제어기
		#LOC_SmartParts_79 = 연료 라인의 연료 흐름을 제어하는 데 사용합니다. 원본 탱크에 부착하고 연료 라인을 연결하십시오. 우클릭 메뉴나 액션 그룹을 통해 켜고 끌 수 있습니다. 기본값은 꺼짐입니다.
		#LOC_SmartParts_8 = 초기화됨
		#LOC_SmartParts_80 = ALT-Pro 고도계 및 액션 그룹 트리거
		#LOC_SmartParts_81 = 기체가 지정된 고도에 도달하면 이벤트를 발생시킵니다.
		#LOC_SmartParts_82 = 고도 제어
		#LOC_SmartParts_83 = Comm-Pro 통신망 액션 그룹 트리거
		#LOC_SmartParts_84 = 기체가 Commnet 연결을 잃거나 얻으면 이벤트를 발생시킵니다.
		#LOC_SmartParts_85 = 통신 제어
		#LOC_SmartParts_86 = EC 잔량 감지기
		#LOC_SmartParts_87 = 기체 전체의 전기량이 설정된 임계값 아래로 떨어지거나 위로 올라가면 이벤트를 발생시킵니다.
		#LOC_SmartParts_88 = 탱크 배터리 자원 제어
		#LOC_SmartParts_89 = Drainex 1 - 연료 센서 및 액션 그룹 트리거
		#LOC_SmartParts_9 = 내장형 데이터 패킷 손실 감지 스마트 파트입니다.
		#LOC_SmartParts_90 = 부착된 탱크나 배터리가 비워지면 이벤트를 발생시킵니다. 모든 자원에 작동합니다.
		#LOC_SmartParts_91 = PROX-Pro 근접 센서
		#LOC_SmartParts_92 = 센서가 같은 채널의 근접 센서를 장착한 다른 기체를 감지하면 이벤트를 발생시킵니다.
		#LOC_SmartParts_93 = Radio-GAGA - 액션 그룹용 무전기
		#LOC_SmartParts_94 = 렌더링 범위(약 2000m) 내의 모든 기체에 대해 같은 채널의 무전기 간에 명령을 송수신합니다. 수신 기체의 기수를 활성 기체의 기수로 설정할 수 있습니다. 또한 기수를 동기화(Sync. Head.)할 수도 있습니다.
		#LOC_SmartParts_95 = 무전 제어
		#LOC_SmartParts_96 = 자원 잔량 감지기
		#LOC_SmartParts_97 = 기체 전체의 지정된 자원이 설정된 임계값 아래로 떨어지면 이벤트를 발생시킵니다. 또한 지정된 자원이 설정된 임계값 이상으로 채워질 때 이벤트를 발생시키도록 설정할 수도 있습니다.
		#LOC_SmartParts_98 = 연료 탱크 자원 제어
		#LOC_SmartParts_99 = Speed-Pro 속도계 및 액션 그룹 트리거
		#LOC_SmartParts_All = 전체
		#LOC_SmartParts_Ascent = 상승
		#LOC_SmartParts_Descent = 하강
	}
}
