Localization
{
	ko
	{
		#LOC_VABOrganizer_Subcategory_ht2_cupolas = 관측 모듈
		#LOC_VABOrganizer_Subcategory_ht2_logistics = 물류 모듈
		#LOC_VABOrganizer_Subcategory_ht2_scienceRack = 과학 랙
		#LOC_VABOrganizer_Subcategory_ht2_scienceSample = 과학 랙 샘플
		#LOC_VABOrganizer_Subcategory_ht2_trussDock = 비가압 부착 장치
		#LOC_VABOrganizer_Subcategory_ht2_utilityRack = 유틸리티 랙
	}
}
