Localization
{
	ko
	{
		#LOC_PR_BodyGUI = 천체 선택
		#LOC_PR_BodyGUI_Button = 설정
		#LOC_PR_BodyGUI_Button1 = 설정 해제
		#LOC_PR_BodyGUI_Button2 = 동적
		#LOC_PR_BodyGUI_GUILabel = 지도에서 기준 천체를 선택하여
설정하십시오
		#LOC_PR_Button1 = 회전
		#LOC_PR_Button2 = 운동량
		#LOC_PR_ConfigGUI = 설정
		#LOC_PR_ConfigGUI_Button1 = 항상 표시
		#LOC_PR_ConfigGUI_Button2 = 툴바
		#LOC_PR_ConfigGUI_Button3 = Blizzy's Toolbar
		#LOC_PR_ConfigGUI_Button4 = 없음
		#LOC_PR_ConfigGUI_Button5 = 동적
		#LOC_PR_ConfigGUI_GUILabel = GUI 표시 모드
		#LOC_PR_ConfigGUI_GUILabel2 = 기본 기준 천체
		#LOC_PR_MODE1_Button = 상대 회전
		#LOC_PR_MODE1_Label = 기준: 동적 (
		#LOC_PR_MODE1_Label1 = 기준:
		#LOC_PR_MODE1_Label2 = 기준: 없음
		#LOC_PR_MODE1_text = 활성화
		#LOC_PR_MODE1_text1 = 비활성화
		#LOC_PR_MODE2_GUILabel1 = RPM 덮어쓰기:
		#LOC_PR_MODE2_GUILabel2 = RPM
		#LOC_PR_MODE2_GUILabel3 = 조종할 수 없는 기체입니다.
		#LOC_PR_MODE2_text1 = 활성화
		#LOC_PR_MODE2_text2 = 비활성화
		#LOC_PR_MainGUI = PersistentRotation
	}
}
