Localization
{
	ko
	{
		#LOC_OPT_AAengine_desc = ARI 엔진은 독특한 소형 프로파일 엔진입니다. OPT의 S.C.O.O.P. 기술을 사용하여 대기권 내에서 높은 효율을 달성합니다. 동시에 우주에서는 일반적인 화학 추진 엔진으로 작동합니다.
		#LOC_OPT_AAengine_title = OPT-E ARI-75b S.C.O.O.P. 로켓
		#LOC_OPT_engine_darkDrive_desc = 수십 년간의 Mystery Goo에 대한 일급비밀 연구 끝에, 커벌 과학자들은 마침내 'Dark Goo'라고 불리는 물질을 발견하거나 생산해냈습니다. 이 돌파구 이후, 그들은 이 물질을 격리, 촉매 공정 및 연소에 활용하는 방법을 찾기 시작했으며, 이를 통해 Dark Drive라는 흥미롭고 새로운 궁극의 엔진을 생산할 수 있게 되었습니다.
		#LOC_OPT_engine_darkDrive_title = OPT-E BH-S3 "Dark Drive"
		#LOC_OPT_h_2m_em_desc = H 동체를 위한 중심이 벗어난 이중 커플러입니다.
		#LOC_OPT_h_2m_em_fm_title = OPT H 동체 이중 커플러
		#LOC_OPT_h_2m_em_mm_title = OPT H 장착형 이중 커플러
		#LOC_OPT_h_2m_nose_desc = 4m 변형 모델로 수행했던 독특한 충돌 테스트를 재현했습니다. 표준 규격에 맞게 다시 도색되었습니다.
		#LOC_OPT_h_2m_nose_fm_title = OPT H 동체 노즈 2m
		#LOC_OPT_h_2m_nose_mm_title = OPT H 장착형 노즈 2m
		#LOC_OPT_h_3m_crew_desc = H 동체를 위한 4인승 셀프 서비스 승무원 모듈입니다.
		#LOC_OPT_h_3m_crew_fm_title = OPT H 동체 승무원 구획
		#LOC_OPT_h_3m_crew_mm_title = OPT H 장착형 승무원 구획
		#LOC_OPT_h_3m_fuel_desc = H 동체를 위한 표준 OPT 연료 탱크입니다.
		#LOC_OPT_h_3m_fuel_fm_title = OPT H 동체 연료 탱크
		#LOC_OPT_h_3m_fuel_mm_title = OPT H 장착형 연료 탱크
		#LOC_OPT_h_4m_nose_desc = H 동체를 위한 표준 노즈 콘입니다. 연료 탱크가 포함되어 있습니다!
		#LOC_OPT_h_4m_nose_fm_title = OPT H 동체 노즈 4m
		#LOC_OPT_h_4m_nose_mm_title = OPT H 장착형 노즈 4m
		#LOC_OPT_h_drone_desc = 8개의 구형 자이로스코프와 충분한 전력을 갖추고 있습니다!
		#LOC_OPT_h_drone_fm_title = OPT H 동체 드론 코어
		#LOC_OPT_h_drone_mm_title = OPT H 장착형 드론 코어
		#LOC_OPT_i_4m_cockpit_isp_desc = 2.5m 직경 동체에 맞게 OPT가 개발한 3인승 셔틀 조종석인 ISP 조종석은 공기역학적이며, 제작진이 보장하건대 거의 완벽하게 안전한 우주왕복선 사령선입니다.
		#LOC_OPT_i_4m_cockpit_isp_title = OPT 2.5m ISP 셔틀 조종석
		#LOC_OPT_i_4m_tail_desc = 2.5m 동체 꼬리 날개입니다.
		#LOC_OPT_i_4m_tail_title = OPT 2.5m 공기역학적 꼬리 날개
		#LOC_OPT_ij_4m_adaptor_variant_desc = 2.5m에서 J 동체로 연결되는 매끄러운 어댑터입니다.
		#LOC_OPT_ij_4m_adaptor_variant_title = OPT 2.5m-J 커넥터 변형
		#LOC_OPT_ij_adaptor_desc = 2.5m에서 J 동체로 연결되는 조금 더 흥미로운 어댑터입니다.
		#LOC_OPT_ij_adaptor_title = OPT 2.5m-J 커넥터
		#LOC_OPT_ils_cockpitv2_desc = ILS 조종석은 우주 비행 초기 시절 OPT가 제작한 실험용 조종석입니다. 조종사 1명과 승객 2명을 태울 수 있습니다. 제작 당시 가장 공기역학적이고 보기 좋은 조종석이었습니다.
		#LOC_OPT_ils_cockpitv2_title = OPT 2.5m I-LS AA 조종석
		#LOC_OPT_j_2m_bicoupler_desc = J 동체를 두 개의 2.5m 구조물로 연결하는 보기 좋은 어댑터입니다.
		#LOC_OPT_j_2m_bicoupler_title = OPT J 이중 커플러
		#LOC_OPT_j_2m_inlineBoardingRamp_desc = 탑승용 경사로에 대한 아이디어는 수세기 전부터 있었는데, 왜 지금까지 만들어지지 않았는지 모르겠습니다.
		#LOC_OPT_j_2m_inlineBoardingRamp_title = OPT J 인라인 탑승용 경사로
		#LOC_OPT_j_2m_tanks_desc = J 동체를 위한 표준 OPT 연료 탱크입니다.
		#LOC_OPT_j_2m_tanks_title = OPT J 연료 탱크 2m
		#LOC_OPT_j_3m_rearHatch_desc = 우주선에서 내린 후 다시 돌아가지 못하는 커벌들의 불만이 많아 OPT가 제작했습니다.
		#LOC_OPT_j_3m_rearHatch_title = OPT J 후방 해치 엔진 마운트
		#LOC_OPT_j_4m_cargo_desc = 빛나는 막대로 보강되었으며 연료 탱크가 포함된 표준 OPT 화물칸입니다!
		#LOC_OPT_j_4m_cargo_title = OPT J 화물칸
		#LOC_OPT_j_4m_crew_desc = 8명의 커벌을 수용할 수 있으며 연료도 일부 포함되어 있습니다! 이 비즈니스 클래스 객실은 커벌들에게 훌륭한 개인 공간을 제공합니다! 그들이 신경이나 쓸지는 모르겠지만요.
		#LOC_OPT_j_4m_crew_title = OPT J 승무원 구획
		#LOC_OPT_j_4m_droneRCS_desc = 6개의 강력한 RCS 포트가 장착된 J 동체 드론 코어입니다.
		#LOC_OPT_j_4m_droneRCS_title = RCS 포함 OPT J 드론 코어
		#LOC_OPT_j_4m_drone_desc = J 동체용으로 제작된 표준 OPT 드론입니다.
		#LOC_OPT_j_4m_drone_title = OPT J 드론 코어
		#LOC_OPT_j_4m_lab_desc = J 동체용으로 제작된 최첨단 OPT 이동식 실험실입니다. 더 큰 대의를 위해 5명의 근면한 과학자가 탑승하여 쉼 없이 과학 데이터를 수집할 수 있습니다.
		#LOC_OPT_j_4m_lab_title = OPT J 이동식 실험실 LP3
		#LOC_OPT_j_4m_service_desc = 화물칸이 왜 위아래로 모두 열릴 수 없는지 항상 궁금해하던 OPT 엔지니어들의 독특한 아이디어입니다. 하지만 원래 프로토타입을 분실했다가 길가에 버려진 것을 누군가 주웠다고 주장하는 바람에 OPT는 특허권을 잃고 말았습니다.
		#LOC_OPT_j_4m_service_title = OPT J 정비창
		#LOC_OPT_j_4m_tanks_desc = J 동체용 표준 OPT 연료 탱크입니다.
		#LOC_OPT_j_4m_tanks_title = OPT J 연료 탱크 4m
		#LOC_OPT_j_5m_nose_desc = 이 노즈 콘은 고속 재진입을 위해 특별히 설계되었습니다. 경고: 그렇다고 해서 우주선의 다른 부품들이 폭발하지 않는다는 의미는 아닙니다.
		#LOC_OPT_j_5m_nose_title = OPT J 내열 노즈 콘
		#LOC_OPT_j_5m_tail_desc = 광고대로 공기역학적으로 보입니다.
		#LOC_OPT_j_5m_tail_title = OPT J 공기역학적 테일
		#LOC_OPT_j_6m_cockpit_desc = J-HT v.0390은 2인승 조종석으로, 2개의 램 흡입구와 대형 조종석 창문을 통한 매우 훌륭한 시야각을 제공합니다. 일반적인 삽 모양의 노즈 대신 수직으로 된 노즈를 채택한 것이 대부분의 커벌이 생각했던 것보다 더 효과적인 것으로 판명되었습니다!
		#LOC_OPT_j_6m_cockpit_title = OPT J-HT 조종석
		#LOC_OPT_j_cockpit_qs_desc = J-QS형 조종석은 원래 일급비밀인 초고고도 준궤도 정찰 우주비행기를 위해 설계되었습니다. 하지만 정찰할 대상이 없다는 것을 깨달은 후 프로젝트는 폐기되었고, 이 조종석은 판매용으로 전환되었습니다. 이 모델은 2개의 램 흡입구를 갖추고 있습니다!
		#LOC_OPT_j_cockpit_qs_no_intake_desc = J-QS형 조종석은 원래 일급비밀인 초고고도 준궤도 정찰 우주비행기를 위해 설계되었습니다. 하지만 정찰할 대상이 없다는 것을 깨달은 후 프로젝트는 폐기되었고, 이 조종석은 판매용으로 전환되었습니다.
		#LOC_OPT_j_cockpit_qs_no_intake_title = OPT J QS02 조종석 A
		#LOC_OPT_j_cockpit_qs_title = OPT J QS02 조종석 B
		#LOC_OPT_j_cockpitv2_desc = J-SL형 조종석은 여러 번의 개조를 거쳤습니다. 최신 버전인 Mk3는 우주비행기에 필요한 모든 것을 갖추고 있습니다. 뛰어난 외관, 완벽한 공기역학, 완벽한 시야각, 보급품을 갖춘 6명의 승무원 수용 능력, 그리고 한 쌍의 역추진 로켓까지. 더 무엇을 바라겠습니까?
		#LOC_OPT_j_cockpitv2_title = OPT J-SL Mk III 조종석
		#LOC_OPT_j_deploymentBay_desc = 이 독특한 화물칸은 수직 부착 지점을 갖추고 있어 VTOL 로켓, 통신 배열 및 중형 위성을 수용하기에 완벽합니다.
		#LOC_OPT_j_deploymentBay_title = OPT J 전개 화물칸
		#LOC_OPT_j_docking_port_desc = J 동체 내부에 장착되는 표준 크기의 도킹 포트입니다.
		#LOC_OPT_j_docking_port_title = OPT J 인라인 도킹 포트
		#LOC_OPT_j_engineMount_4_desc = 1.25m 엔진 4개를 장착할 수 있는 J 동체 엔진 마운트입니다. 모든 것을 일렬로 배치하는 것은 좋은 일이죠!
		#LOC_OPT_j_engineMount_4_title = OPT J 엔진 마운트
		#LOC_OPT_j_large_docking_port_desc = J 동체 내부에 장착되는 대형 도킹 포트입니다.
		#LOC_OPT_j_large_docking_port_title = OPT J 인라인 대형 도킹 포트
		#LOC_OPT_j_linear_aerospike_desc = 이 선형 에어로스파이크 엔진은 J 동체용으로 제작되었습니다. 크기에 비해 확실히 강력한 성능을 발휘합니다.
		#LOC_OPT_j_linear_aerospike_title = OPT-E J 선형 에어로스파이크 엔진
		#LOC_OPT_j_sas_desc = 이 RCS 시스템을 설계한 엔지니어는 동체 밖으로 무언가 튀어나오는 것을 극도로 싫어하는 강박증이 있습니다.
		#LOC_OPT_j_sas_title = OPT J 인라인 RCS 유닛
		#LOC_OPT_jk_3m_adaptor_desc = J 동체에서 K 동체로 연결하는 어댑터의 긴 버전 중 짧은 버전입니다.
		#LOC_OPT_jk_3m_adaptor_title = OPT J-K 어댑터 3m
		#LOC_OPT_jk_7m_adaptor_desc = J 동체와 K 동체를 연결하는 어댑터의 짧은 버전의 긴 버전입니다.
		#LOC_OPT_jk_7m_adaptor_title = OPT J-K 어댑터 7m
		#LOC_OPT_k_10m_cockpit_custom_desc = 출처를 알 수 없는 맞춤형 뾰족한 우주왕복선 조종석입니다. 쐐기형 코가 항력을 줄이는 데 도움이 될 수도 있고 아닐 수도 있지만, 아직 확인되거나 부정된 바는 없습니다.
		#LOC_OPT_k_10m_cockpit_custom_title = OPT K Avatar Ouelette 맞춤형 조종석
		#LOC_OPT_k_10m_cockpit_desc = 이 거대한 조종석은 성공적인 J-SL 조종석을 기반으로 제작되었습니다. 훌륭한 우주왕복선 조종석일 뿐만 아니라, 장기 원정을 위한 완벽한 생활 공간을 갖추고 있습니다. 10명의 커벌이 탑승할 수 있으며, 누가 편안한 우주 침대에서 잘지를 두고 다툴 것입니다.
		#LOC_OPT_k_10m_cockpit_legacy_title = OPT K TAV 셔틀 조종석
		#LOC_OPT_k_10m_cockpit_title = OPT K 우주왕복선 조종석
		#LOC_OPT_k_2m_bicoupler_desc = 옛날 옛적에 OPT는 많은 자금을 벌어들였습니다. 하지만 우리는 그 모든 돈을 두 개의 거대한 Dark Drive로 구동되는 거대한 우주왕복선에 쏟아부었습니다. 우주왕복선은 추락했고, Dark Drive는 사라졌으며, OPT는 파산했지만, 이 거대한 이중 커플러는 살아남았습니다. 다행스러운 일이죠.
		#LOC_OPT_k_2m_bicoupler_title = OPT K 이중 커플러
		#LOC_OPT_k_3m_crew_desc = 이 꽤 큰 객실은 배치 방식이나 개별 커벌이 어떻게 느끼느냐에 따라 비좁게 느껴질 수도, 넓게 느껴질 수도 있습니다. 어쨌든 6명의 커벌을 비교적 편안하게 수용할 수 있다는 점이 중요합니다.
		#LOC_OPT_k_3m_crew_title = OPT K 3m 승무원 거주구
		#LOC_OPT_k_3m_droneRCS_desc = 이 설계를 제안한 엔지니어는 매우 효율적이거나 매우 게으른 사람이었습니다. 아직 어느 쪽인지 확인하지 못했습니다.
		#LOC_OPT_k_3m_droneRCS_title = OPT K RCS 포함 드론 코어
		#LOC_OPT_k_3m_fuelTank_desc = K 동체용 대형 연료 탱크입니다.
		#LOC_OPT_k_3m_fuelTank_title = OPT K 연료 탱크 3m
		#LOC_OPT_k_3m_fuselage_desc = 속이 빈 K 동체입니다. 내부에 많은 물건을 넣을 수 있을 것 같습니다.
		#LOC_OPT_k_3m_fuselage_title = OPT K 중공 동체 3m
		#LOC_OPT_k_3m_lab_desc = K 동체에 맞게 제작된 최첨단 OPT 이동식 실험실입니다. 6명의 근면한 과학자가 탑승하여 인류의 더 큰 이익을 위해 쉼 없이 과학 데이터를 수집할 수 있습니다.
		#LOC_OPT_k_3m_lab_title = OPT K 이동식 실험실 LP4
		#LOC_OPT_k_3m_tricoupler_desc = 이제 우주왕복선에 3개의 Mainsail 엔진을 장착할 수 있습니다! 하지만 궤도에 도달할 수 있을지는 의문입니다.
		#LOC_OPT_k_3m_tricoupler_title = OPT K 삼중 커플러
		#LOC_OPT_k_6m_cargo_desc = K 동체용 표준 OPT 화물칸입니다. 넓고 직사각형인 화물 공간은 크고 평평한 화물을 싣기에 완벽합니다.
		#LOC_OPT_k_6m_cargo_title = OPT K 화물칸 6m
		#LOC_OPT_k_6m_fuelTank_desc = K 동체용 매우 큰 연료 탱크입니다.
		#LOC_OPT_k_6m_fuelTank_title = OPT K 연료 탱크 6m
		#LOC_OPT_k_6m_fuselage_desc = 속이 빈 K 동체입니다. 내부에 많은 물건을 넣을 수 있을 것 같습니다.
		#LOC_OPT_k_6m_fuselage_title = OPT K 중공 동체
		#LOC_OPT_k_7m_cargoTail_desc = 이 거대한 화물 램프는 측면에 두 개의 Mk2 구조물을 장착할 수 있도록 설계되었습니다.
		#LOC_OPT_k_7m_cargoTail_title = OPT K 후방 화물 램프
		#LOC_OPT_k_7m_cargoTail_variant_desc = 이 K 화물 램프 변형 모델은 Mk2 부착 지점이 연료 탱크로 교체되었습니다.
		#LOC_OPT_k_7m_cargoTail_variant_title = OPT K 후방 화물 램프 변형
		#LOC_OPT_k_oms_desc = OPT의 일부 엔지니어들은 오랫동안 이 부품이 시장에 나오기를 고대했습니다. 불행히도 그들이 직접 개념 부품을 조립하기로 결정한 직후, 공기역학적 추진기 블록이 생산 라인에서 쏟아져 나오기 시작했습니다. 엔지니어들은 타협안으로 탱크와 토크 휠만 탑재한 유틸리티 부품으로 프로젝트를 제출했습니다. 다행히 그들의 반항은 해고나 그보다 더 나쁜 결과를 초래할 정도는 아니었습니다.
		#LOC_OPT_k_oms_hollow_title = OPT K 인라인 SAS 유닛 (중공형)
		#LOC_OPT_k_oms_title = OPT K 인라인 SAS 유닛
		#LOC_OPT_kh_3m_cargo_desc = K 동체와 비슷하지만, 추가 화물 적재를 위한 돌출부가 있습니다!
		#LOC_OPT_kh_3m_cargo_title = OPT KH 화물칸 3m
		#LOC_OPT_kh_3m_fuselage_desc = Wernher von Kerman은 우리가 워프 기술을 갖게 되면 이 거대한 부품을 워프 게이트로 사용할 수 있을 것이라고 지적했습니다.
		#LOC_OPT_kh_3m_fuselage_title = OPT KH 중공 동체 3m
		#LOC_OPT_kh_6m_cargo_desc = K 동체와 비슷하지만, 추가 화물 적재를 위한 돌출부가 있습니다!
		#LOC_OPT_kh_6m_cargo_title = OPT KH 화물칸
		#LOC_OPT_kh_6m_fuselage_desc = 어떤 회사가 이 부품을 차고로 구매하여 대형 트럭을 안에 주차했다고 합니다.
		#LOC_OPT_kh_6m_fuselage_title = OPT KH 중공 동체
		#LOC_OPT_kh_7m_cargoTail_desc = K 동체 대응 부품에 추가된 돌출부입니다.
		#LOC_OPT_kh_7m_cargoTail_title = OPT KH 꼬리 화물 램프
		#LOC_OPT_kh_7m_cargoTail_variant_desc = 파티를 열기에 완벽합니다.
		#LOC_OPT_kh_7m_cargoTail_variant_title = OPT KH 꼬리 화물 램프 변형
		#LOC_OPT_kh_oms_hollow_title = OPT KH 인라인 SAS 유닛 중공형
		#LOC_OPT_mk2_cockpitv2_desc = Mk2 동체를 위한 멋진 조종석입니다.
		#LOC_OPT_mk2_cockpitv2_title = OPT Mk2 조종석
		#LOC_OPT_mk2_nose_opt_desc = Mk2 동체용 노즈 콘입니다.
		#LOC_OPT_mk2_nose_opt_title = OPT Mk2 노즈
		#LOC_OPT_mk2j_adaptor_desc = Mk2 동체와 J 동체를 연결하는 비대칭 어댑터입니다. 유용하게 쓰일지도 모릅니다.
		#LOC_OPT_mk2j_adaptor_title = OPT Mk2-J 어댑터
		#LOC_OPT_opt_mk2_engine_short_desc = 희박한 대기에서 뛰어난 추력을 제공하는 신비로운 대기 엔진입니다.
		#LOC_OPT_opt_mk2_engine_short_title = OPT-E HAE-02 고고도 터보램제트
		#LOC_OPT_opt_nebula_engine_desc = Nebula 엔진은 SSTO를 달성하기 위한 궁극의 엔진입니다. 거대한 Super Condensation Optimized Output Propulsion 유닛을 장착한 스크램제트 엔진입니다. 대기 중의 다양한 비활성 기체를 흡입합니다. 최적의 속도와 고도에 도달하면 엔진이 챔버 내의 기체를 이온화하고 초고온으로 가열하며, 생성된 플라즈마는 스크램제트의 뜨거운 가스와 함께 배출됩니다. 그 결과로 나타나는 찬란한 푸른색 플라즈마 '애프터버너'는 어떤 우주 왕복선이라도 강력하게 우주로 밀어 올릴 것입니다.
		#LOC_OPT_opt_nebula_engine_title = OPT-E J-92 "Nebula" 스크램제트
		#LOC_OPT_opt_pylon_a_desc = 매우 큰 양력과 연료 용량을 제공하는 거대한 구조물입니다.
		#LOC_OPT_opt_pylon_a_title = OPT-W 대형 파일런
		#LOC_OPT_opt_pylon_b_desc = 큰 양력과 연료 용량을 제공하는 대형 구조물입니다.
		#LOC_OPT_opt_pylon_b_title = OPT-W 중형 파일런
		#LOC_OPT_opt_s2intake_desc = 공기 흡입식 엔진을 설계하는 것은 비교적 쉽습니다. 그중에서도 궁극의 엔진을 설계하는 것은 꽤 어려운 일이었습니다. 하지만 J-92 Shcramjet 엔진에 맞는 나셀을 설계하는 것은 OPT의 가장 뛰어난 인재들도 책상에 머리를 찧게 만들었습니다. 그러다 누군가 내부 부품을 적절하게 구획하는 방법을 발견했습니다. 서랍에 물건을 무작위로 쑤셔 넣었다가 나중에 모든 것이 어떻게든 깔끔하게 정리된 것을 발견한 덕분이었습니다.
		#LOC_OPT_opt_s2intake_title = OPT 2.5m Nebula 충격 흡수 흡입구
		#LOC_OPT_opt_stabilizer_a_title = OPT-W 안정익 A형
		#LOC_OPT_opt_stabilizer_b_title = OPT-W 안정익 B형
		#LOC_OPT_opt_vtol_jumpa1_desc = OPT의 엔지니어들은 호버 드라이브 개념 프로그램의 중후반 단계에서, 수직 및 전진 작동 모드를 자유롭게 전환할 수 있는 엔진이 너무 적다는 것을 깨달았습니다. 특히 K 클래스와 같은 대형 비행기가 이 모델의 목표이지만, 더 작은 비행기를 만드는 것도 어렵지 않을 것입니다...
		#LOC_OPT_opt_vtol_jumpa1_title = OPT-E VT "Valkyrie" 틸트 엔진
		#LOC_OPT_opt_vtol_jumpa2_desc = K 틸트 엔진의 WarpJet 형태가 필요했다는 것은 말할 필요도 없습니다. 그래서 M.A.R.G.E.(모듈식 축 호흡 가우스 엔진)가 탄생했습니다. S.U.R.G.E.와 마찬가지로, 이 엔진은 두꺼운 대기에서 매우 잘 작동하지만 S.A.G.E.처럼 진공 상태에서도 작동할 수 있습니다.
		#LOC_OPT_opt_vtol_jumpa2_title = OPT-E WarpJet M.A.R.G.E.
		#LOC_OPT_opt_vtol_wrapj1_desc = 이 강력한 액세서리인 동체 수직 추력기는 동체 측면에 장착되며, 재진입 시의 화염으로부터 내부를 보호하기 위해 작동하는 흡입구 및 배기 셔터가 포함되어 있습니다. 배기 셔터가 닫힌 상태에서 엔진을 점화하지 않도록 주의하십시오!
		#LOC_OPT_opt_vtol_wrapj1_title = OPT-E FVT-J
		#LOC_OPT_opt_vtol_wrapj2_desc = 이 강력한 액세서리인 동체 수직 추력기는 동체 측면에 장착되며, 재진입 시의 화염으로부터 내부를 보호하기 위해 작동하는 흡입구 및 배기 셔터가 포함되어 있습니다. 배기 셔터가 닫힌 상태에서 엔진을 점화하지 않도록 주의하십시오!
		#LOC_OPT_opt_vtol_wrapj2_title = OPT-E WarpJet FVT-J
		#LOC_OPT_opt_vtol_wrapk1_title = OPT-E FVT-K
		#LOC_OPT_opt_vtol_wrapk2_title = OPT-E WarpJet FVT-K
		#LOC_OPT_opt_wing_a_desc = 사다리꼴 모양의 우주왕복선 날개입니다.
		#LOC_OPT_opt_wing_a_elevon_title = OPT-W 주 날개 A형 엘리본
		#LOC_OPT_opt_wing_a_title = OPT-W 주 날개 A형
		#LOC_OPT_opt_wing_b_desc = 후퇴익 형태의 우주왕복선 날개입니다.
		#LOC_OPT_opt_wing_b_elevon_title = OPT-W 주 날개 B형 엘리본
		#LOC_OPT_opt_wing_b_title = OPT-W 주 날개 B형
		#LOC_OPT_opt_wing_c_desc = 매우 우아한 후퇴익 형태의 우주왕복선 날개입니다.
		#LOC_OPT_opt_wing_c_elevon1_title = OPT-W 주 날개 C형 주 엘리본
		#LOC_OPT_opt_wing_c_elevon2_title = OPT-W C형 주익 보조 엘레본
		#LOC_OPT_opt_wing_c_title = OPT-W C형 주익
		#LOC_OPT_opt_winglet_a_elevon_title = OPT-W A형 윙렛 엘레본
		#LOC_OPT_opt_winglet_a_title = OPT-W A형 윙렛
		#LOC_OPT_opt_winglet_b_elevon_title = OPT-W B형 윙렛 엘레본
		#LOC_OPT_opt_winglet_b_title = OPT-W B형 윙렛
		#LOC_OPT_opt_winglet_c_elevon_title = OPT-W C형 윙렛 엘레본
		#LOC_OPT_opt_winglet_c_title = OPT-W C형 윙렛
		#LOC_OPT_opt_winglet_desc = 대형 비행기용 윙렛이며, 소형 비행기에서는 주익으로도 사용할 수 있습니다.
		#LOC_OPT_phoenix_cockpit_desc = Phoenix 컨셉 조종석은 진정으로 독특한 디자인을 자랑합니다. 아름다움뿐만 아니라 거의 360도에 달하는 시야각과 독특한 좌석 배치를 갖추어 커벌이 마치 함장이 된 듯한 기분을 느끼게 합니다.
		#LOC_OPT_phoenix_cockpit_title = OPT 2.5m Phoenix 컨셉 조종석
	}
}
